/* Icon per-widget styles */
.km-detail .km-icon,
.km-button .km-icon,
.km-list .km-icon,
.km-ios .km-button .km-icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
  margin-left: -0.3em;
  margin-right: 0.3em;
  vertical-align: baseline;
  display: inline-block;
  background-size: auto 100%;
}
html .km-widget .km-view .km-notext {
  margin-left: 0;
  margin-right: 0;
}
.km-buttongroup .km-button .km-icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
  margin: .05em .16em 0 0;
}
.km-tabstrip .km-button .km-icon {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
}
.km-tabstrip .km-image,
.km-tabstrip .km-button .km-icon {
  margin: 0 auto .1em;
  display: inline-block;
}
.km-tabstrip .km-text {
  display: block;
}
.km-phone .km-tabstrip .km-icon {
  height: 2.2rem;
  width: 2.2rem;
  font-size: 2.2rem;
}
.km-phone .km-horizontal .km-tabstrip .km-icon {
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
}
/* Icons */
@font-face {
  font-family: "Kendo UI";
  src: url("images/kendoui.woff?v=1.1") format("woff"), url("images/kendoui.ttf?v=1.1") format("truetype"), url("images/kendoui.svg#kendoui") format("svg");
}
body:before {
  font-family: "Kendo UI";
  content: "\a0";
  font-size: 0;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}
.km-root .km-pane .km-view .km-icon {
  -webkit-background-clip: text;
  background-size: 0 0;
}
.km-icon {
  position: relative;
}
.km-icon:after,
.km-icon:before,
.km-contactadd:after,
.km-contactadd:before,
.km-rowdelete:after,
.km-rowdelete:before,
.km-rowinsert:after,
.km-rowinsert:before,
.km-detaildisclose:after,
.km-detaildisclose:before,
.km-loading:after,
.km-filter-wrap:before {
  position: relative;
  content: "\a0";
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: middle;
  background-size: auto;
  font: 1em/1em "Kendo UI";
}
.km-icon:before,
.km-contactadd:before,
.km-rowdelete:before,
.km-rowinsert:before,
.km-detaildisclose:before {
  position: absolute;
  margin-top: 1px;
  color: rgba(0, 0, 0, 0.7);
  display: none;
}
.km-state-active .km-icon:before,
.km-state-active .km-contactadd:before,
.km-state-active .km-rowdelete:before,
.km-state-active .km-rowinsert:before,
.km-state-active .km-detaildisclose:before {
  display: block;
}
.km-ios7 .km-detaildisclose:after {
  font-family: serif;
}
.km-ios7 .km-icon:before,
.km-ios7 .km-contactadd:before,
.km-ios7 .km-rowdelete:before,
.km-ios7 .km-rowinsert:before,
.km-ios7 .km-detaildisclose:before {
  display: none;
}
.k-webkit .km-ios:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after,
.k-webkit .km-blackberry:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after,
.k-safari .km-ios:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after,
.k-safari .km-blackberry:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after {
  background-image: inherit;
  background-repeat: inherit;
  background-position: inherit;
  background-color: currentcolor;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.km-root .km-pane.km-on-blackberry.km-blackberry6 .km-view .km-icon:after,
.km-root .km-pane.km-on-blackberry.km-blackberry7 .km-view .km-icon:after,
.km-root .km-pane.km-pane.km-on-android .km-view .km-icon:after,
.km-root .km-pane.km-pane.km-on-meego .km-view .km-icon:after {
  background: none;
  -webkit-text-fill-color: inherit;
}
.km-contactadd:after,
.km-contactadd:before,
.km-rowinsert:after,
.km-rowinsert:before {
  content: "\E039";
}
.km-rowdelete:after,
.km-rowdelete:before {
  content: "\E03a";
}
.km-detaildisclose:after,
.km-detaildisclose:before {
  content: "\E0E2";
}
.km-action:after,
.km-action:before {
  content: "\e0ca";
}
.km-add:after,
.km-add:before {
  content: "\e0cb";
}
.km-battery:after,
.km-battery:before {
  content: "\e0ce";
}
.km-bookmarks:after,
.km-bookmarks:before {
  content: "\e0cf";
}
.km-camera:after,
.km-camera:before {
  content: "\e0d0";
}
.km-cart:after,
.km-cart:before {
  content: "\e0d1";
}
.km-edit:after,
.km-compose:after,
.km-edit:before,
.km-compose:before {
  content: "\e0d5";
}
.km-contacts:after,
.km-contacts:before {
  content: "\e0e4";
}
.km-trash:after,
.km-delete:after,
.km-trash:before,
.km-delete:before {
  content: "\e0ec";
}
.km-details:after,
.km-details:before {
  content: "\e0e2";
}
.km-download:after,
.km-downloads:after,
.km-download:before,
.km-downloads:before {
  content: "\e0d4";
}
.km-fastforward:after,
.km-fastforward:before {
  content: "\e0d9";
}
.km-toprated:after,
.km-favorites:after,
.km-toprated:before,
.km-favorites:before {
  content: "\e0d7";
}
.km-featured:after,
.km-featured:before {
  content: "\e0d8";
}
.km-globe:after,
.km-globe:before {
  content: "\e0dc";
}
.km-history:after,
.km-history:before {
  content: "\e0e7";
}
.km-home:after,
.km-home:before {
  content: "\e0dd";
}
.km-info:after,
.km-about:after,
.km-info:before,
.km-about:before {
  content: "\e0de";
}
.km-more:after,
.km-more:before {
  content: "\e0e0";
}
.km-mostrecent:after,
.km-mostrecent:before {
  content: "\e0cc";
}
.km-mostviewed:after,
.km-mostviewed:before {
  content: "\e0d6";
}
.km-organize:after,
.km-organize:before {
  content: "\e0eb";
}
.km-pause:after,
.km-pause:before {
  content: "\e0e3";
}
.km-play:after,
.km-play:before {
  content: "\e0e5";
}
.km-recents:after,
.km-recents:before {
  content: "\e0d2";
}
.km-refresh:after,
.km-refresh:before {
  content: "\e0e6";
}
.km-reply:after,
.km-reply:before {
  content: "\e0ed";
}
.km-rewind:after,
.km-rewind:before {
  content: "\e0e8";
}
.km-search:after,
.km-search:before {
  content: "\e0e9";
}
.km-settings:after,
.km-settings:before {
  content: "\e0da";
}
.km-share:after,
.km-share:before {
  content: "\e0df";
}
.km-sounds:after,
.km-volume:after,
.km-sounds:before,
.km-volume:before {
  content: "\e0ef";
}
.km-stop:after,
.km-stop:before {
  content: "\e0ea";
}
.km-wifi:after,
.km-wifi:before {
  content: "\e0f0";
}
.km-root .km-pane .km-icon.km-check {
  -webkit-background-clip: initial;
}
.km-root .km-pane .km-check:checked:after,
.km-widget .km-check:checked:after {
  content: "\e227";
}
.km-android .km-more:after,
.km-android .km-more:before {
  content: "\e0e1";
}
.km-meego .km-more:after,
.km-meego .km-more:before {
  content: "\e0f1";
}
.km-wp .km-loading:after,
.km-wp .km-load-more .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
}
.km-meego .km-loading:after,
.km-meego .km-load-more .km-icon:after,
.km-meego .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
}
.km-root .km-android .km-loading:after,
.km-android .km-load-more .km-icon:after,
.km-root .km-android .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
}
.km-scroller-pull .km-icon:after {
  content: "\e0f2";
}
.km-icon.km-phone:after,
.km-ios7 .km-state-active .km-phone:after {
  content: "\e326";
}
.km-ios7 .km-detaildisclose:after {
  content: "i";
}
.km-ios7 .km-action:after {
  content: "\e1ff";
}
.km-ios7 .km-add:after {
  content: "\e200";
}
.km-ios7 .km-mostrecent:after {
  content: "\e201";
}
.km-ios7 .km-battery:after {
  content: "\e203";
}
.km-ios7 .km-bookmarks:after {
  content: "\e204";
}
.km-ios7 .km-camera:after {
  content: "\e205";
}
.km-ios7 .km-cart:after {
  content: "\e206";
}
.km-ios7 .km-recents:after {
  content: "\e207";
}
.km-ios7 .km-download:after,
.km-ios7 .km-downloads:after {
  content: "\e209";
}
.km-ios7 .km-edit:after {
  content: "\e20a";
}
.km-ios7 .km-mostviewed:after {
  content: "\e20b";
}
.km-ios7 .km-toprated:after,
.km-ios7 .km-favorites:after {
  content: "\e20c";
}
.km-ios7 .km-featured:after {
  content: "\e20d";
}
.km-ios7 .km-fastforward:after {
  content: "\e20e";
}
.km-ios7 .km-settings:after {
  content: "\e20f";
}
.km-ios7 .km-globe:after {
  content: "\e211";
}
.km-ios7 .km-home:after {
  content: "\e212";
}
.km-ios7 .km-info:after,
.km-ios7 .km-about:after {
  content: "\e213";
}
.km-ios7 .km-share:after {
  content: "\e214";
}
.km-ios7 .km-more:after {
  content: "\e215";
}
.km-ios7 .km-details:after {
  content: "\e217";
}
.km-ios7 .km-pause:after {
  content: "\e218";
}
.km-ios7 .km-contacts:after {
  content: "\e219";
}
.km-ios7 .km-play:after {
  content: "\e21a";
}
.km-ios7 .km-refresh:after {
  content: "\e21b";
}
.km-ios7 .km-history:after {
  content: "\e21c";
}
.km-ios7 .km-rewind:after {
  content: "\e21d";
}
.km-ios7 .km-search:after {
  content: "\e21e";
}
.km-ios7 .km-stop:after {
  content: "\e21f";
}
.km-ios7 .km-organize:after {
  content: "\e220";
}
.km-ios7 .km-trash:after,
.km-ios7 .km-delete:after {
  content: "\e221";
}
.km-ios7 .km-reply:after {
  content: "\e222";
}
.km-ios7 .km-forward:after {
  content: "\e223";
}
.km-ios7 .km-sounds:after,
.km-ios7 .km-volume:after {
  content: "\e224";
}
.km-ios7 .km-wifi:after {
  content: "\e225";
}
.km-ios7 .km-phone:after {
  content: "\e226";
}
.km-ios7 .km-state-active .km-action:after {
  content: "\e2ff";
}
.km-ios7 .km-state-active .km-add:after {
  content: "\e300";
}
.km-ios7 .km-state-active .km-mostrecent:after {
  content: "\e301";
}
.km-ios7 .km-state-active .km-battery:after {
  content: "\e303";
}
.km-ios7 .km-state-active .km-bookmarks:after {
  content: "\e304";
}
.km-ios7 .km-state-active .km-camera:after {
  content: "\e305";
}
.km-ios7 .km-state-active .km-cart:after {
  content: "\e306";
}
.km-ios7 .km-state-active .km-recents:after {
  content: "\e307";
}
.km-ios7 .km-state-active .km-download:after,
.km-ios7 .km-state-active .km-downloads:after {
  content: "\e309";
}
.km-ios7 .km-state-active .km-edit:after {
  content: "\e30a";
}
.km-ios7 .km-state-active .km-mostviewed:after {
  content: "\e30b";
}
.km-ios7 .km-state-active .km-toprated:after,
.km-ios7 .km-state-active .km-favorites:after {
  content: "\e30c";
}
.km-ios7 .km-state-active .km-featured:after {
  content: "\e30d";
}
.km-ios7 .km-state-active .km-fastforward:after {
  content: "\e30e";
}
.km-ios7 .km-state-active .km-settings:after {
  content: "\e30f";
}
.km-ios7 .km-state-active .km-globe:after {
  content: "\e311";
}
.km-ios7 .km-state-active .km-home:after {
  content: "\e312";
}
.km-ios7 .km-state-active .km-info:after,
.km-ios7 .km-state-active .km-about:after {
  content: "\e313";
}
.km-ios7 .km-state-active .km-share:after {
  content: "\e314";
}
.km-ios7 .km-state-active .km-more:after {
  content: "\e315";
}
.km-ios7 .km-state-active .km-details:after {
  content: "\e317";
}
.km-ios7 .km-state-active .km-pause:after {
  content: "\e318";
}
.km-ios7 .km-state-active .km-contacts:after {
  content: "\e319";
}
.km-ios7 .km-state-active .km-play:after {
  content: "\e31a";
}
.km-ios7 .km-state-active .km-refresh:after {
  content: "\e31b";
}
.km-ios7 .km-state-active .km-history:after {
  content: "\e31c";
}
.km-ios7 .km-state-active .km-rewind:after {
  content: "\e31d";
}
.km-ios7 .km-state-active .km-search:after {
  content: "\e31e";
}
.km-ios7 .km-state-active .km-stop:after {
  content: "\e31f";
}
.km-ios7 .km-state-active .km-organize:after {
  content: "\e320";
}
.km-ios7 .km-state-active .km-trash:after,
.km-ios7 .km-state-active .km-delete:after {
  content: "\e321";
}
.km-ios7 .km-state-active .km-reply:after {
  content: "\e322";
}
.km-ios7 .km-state-active .km-forward:after {
  content: "\e323";
}
.km-ios7 .km-state-active .km-sounds:after,
.km-ios7 .km-state-active .km-volume:after {
  content: "\e324";
}
.km-ios7 .km-state-active .km-wifi:after {
  content: "\e325";
}
.km-arrowdown:after,
.km-arrowdown:before {
  content: "\e002";
}
.km-wp .km-scroller-pull .km-icon:after {
  content: "\E0D4";
}
.km-on-wp.km-app .km-icon:after,
.km-on-wp.km-app .km-filter-wrap:before,
.km-on-wp.km-app .km-state-active .km-icon:after {
  color: transparent;
  background-image: url("images/wp8_icons.png");
  background-size: auto 100%;
  height: 1em;
  margin-top: 0;
  vertical-align: middle;
}
.km-wp-light.km-app .km-icon:after,
.km-wp-light.km-app .km-filter-wrap:before {
  background-image: url("images/wp8_inverseicons.png");
}
.km-on-wp.km-app .km-icon {
  line-height: 1em;
}
.km-on-wp.km-app .km-icon:before {
  display: none;
}
.km-on-wp.km-app .km-action:after {
  background-position-x: 20%;
}
.km-on-wp.km-app .km-add:after,
.km-on-wp.km-app .km-filter-reset .km-clear:after {
  background-position-x: 22%;
}
.km-on-wp.km-app .km-battery:after {
  background-position-x: 24%;
}
.km-on-wp.km-app .km-bookmarks:after {
  background-position-x: 26%;
}
.km-on-wp.km-app .km-camera:after {
  background-position-x: 28%;
}
.km-on-wp.km-app .km-cart:after {
  background-position-x: 30%;
}
.km-on-wp.km-app .km-edit:after,
.km-on-wp.km-app .km-compose:after {
  background-position-x: 32%;
}
.km-on-wp.km-app .km-contacts:after {
  background-position-x: 34%;
}
.km-on-wp.km-app .km-trash:after,
.km-on-wp.km-app .km-delete:after {
  background-position-x: 36%;
}
.km-on-wp.km-app .km-details:after {
  background-position-x: 38%;
}
.km-on-wp.km-app .km-download:after,
.km-on-wp.km-app .km-downloads:after {
  background-position-x: 40%;
}
.km-on-wp.km-app .km-fastforward:after {
  background-position-x: 42%;
}
.km-on-wp.km-app .km-toprated:after,
.km-on-wp.km-app .km-favorites:after {
  background-position-x: 44%;
}
.km-on-wp.km-app .km-featured:after {
  background-position-x: 46%;
}
.km-on-wp.km-app .km-globe:after {
  background-position-x: 48%;
}
.km-on-wp.km-app .km-history:after {
  background-position-x: 50%;
}
.km-on-wp.km-app .km-home:after {
  background-position-x: 52%;
}
.km-on-wp.km-app .km-info:after,
.km-on-wp.km-app .km-about:after {
  background-position-x: 54%;
}
.km-on-wp.km-app .km-more:after {
  background-position-x: 56%;
}
.km-on-wp.km-app .km-mostrecent:after {
  background-position-x: 58%;
}
.km-on-wp.km-app .km-mostviewed:after {
  background-position-x: 60%;
}
.km-on-wp.km-app .km-organize:after {
  background-position-x: 62%;
}
.km-on-wp.km-app .km-pause:after {
  background-position-x: 64%;
}
.km-on-wp.km-app .km-play:after {
  background-position-x: 66%;
}
.km-on-wp.km-app .km-recents:after {
  background-position-x: 68%;
}
.km-on-wp.km-app .km-refresh:after {
  background-position-x: 70%;
}
.km-on-wp.km-app .km-reply:after {
  background-position-x: 72%;
}
.km-on-wp.km-app .km-rewind:after {
  background-position-x: 74%;
}
.km-on-wp.km-app .km-search:after,
.km-on-wp.km-app .km-filter-wrap:before {
  background-position-x: 76%;
}
.km-on-wp.km-app .km-settings:after {
  background-position-x: 78%;
}
.km-on-wp.km-app .km-share:after {
  background-position-x: 80%;
}
.km-on-wp.km-app .km-sounds:after,
.km-on-wp.km-app .km-volume:after {
  background-position-x: 82%;
}
.km-on-wp.km-app .km-stop:after {
  background-position-x: 84%;
}
.km-on-wp.km-app .km-wifi:after {
  background-position-x: 86%;
}
.km-on-wp.km-app.km-android .km-more:after {
  background-position-x: 88%;
}
.km-on-wp.km-app.km-meego .km-more:after {
  background-position-x: 90%;
}
.km-on-wp.km-app.km-meego .km-loading:after,
.km-on-wp.km-app.km-meego .km-load-more .km-icon:after,
.km-on-wp.km-app.km-meego .km-scroller-refresh .km-icon:after {
  background-position-x: 94%;
}
.km-on-wp.km-app .km-scroller-pull .km-icon:after {
  background-position-x: 100%;
}
.km-on-wp.km-app .km-filter-wrap:before {
  display: inline-block;
  content: "\a0";
}
.km-on-wp.km-app .km-filter-reset .km-clear:after {
  transform: rotate(45deg);
}
.km-listview-link:after {
  width: .5rem;
  height: .5rem;
  content: "\a0";
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.2rem;
  border-style: solid;
  border-width: .24rem .24rem 0 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.km-listview-wrapper > ul:not(.km-listview) {
  margin: 0 auto;
}
.km-list,
.km-listview {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.km-listinset,
.km-listgroupinset {
  margin: 1em;
}
.k-ff .km-listinset:after,
.k-ff .km-listgroupinset:after {
  display: block;
  height: 0;
  content: "\a0";
}
.km-listinset,
.km-listgroupinset .km-list {
  overflow: hidden;
}
.km-listview .km-switch {
  margin-top: -0.95rem;
  position: absolute;
  right: .8rem;
  top: 50%;
}
.km-listview .km-list {
  text-indent: 0;
}
.km-list > li,
.km-widget .km-listview-link,
.km-widget .km-listview-label {
  margin: 0;
  display: block;
  position: relative;
  list-style-type: none;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em .7em;
}
.km-list > li {
  line-height: 1.6em;
  overflow: hidden;
}
.km-virtual-list {
  position: relative;
  width: 100%;
  -webkit-transform: translateZ(0);
}
.km-virtual-list > li {
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-transform: translateZ(0);
}
.km-widget.km-list .km-load-more,
.km-widget .km-list .km-load-more {
  border-bottom: 0;
}
.km-list > li > * {
  line-height: normal;
}
.km-group-title {
  display: block;
  font-weight: bold;
  padding: .2em 0;
  text-indent: .8em;
}
.km-listgroupinset .km-group-title {
  margin-top: .65em;
  line-height: 2em;
}
.km-list:not(.km-virtual-list) > li:first-child {
  border-top-width: 0;
}
.km-list:not(.km-virtual-list) > li:last-child {
  border-bottom-width: 0;
}
.km-widget .km-listview-link,
.km-widget .km-listview-label {
  line-height: inherit;
  text-decoration: none;
  margin: -0.5em -0.7em;
}
.km-listview-link:after,
.km-listview-label:after {
  border-color: #777;
  content: "\a0";
  display: block;
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -0.32rem;
}
/* Filtering */
.km-filter-form {
  width: 100%;
  padding: .5em 0;
  border: 1px solid transparent;
  border-width: 1px 0;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.km-filter-wrap {
  position: relative;
  margin: 0 .7em;
  padding: .2em .4em;
  border: 1px solid transparent;
}
.km-widget .km-filter-wrap:before {
  display: inline-block;
  vertical-align: middle;
  content: "\e0e9";
  font-size: 1.6em;
  width: 1em;
  height: 1em;
  margin-right: -1em;
  color: inherit;
}
.km-tablet .km-filter-wrap {
  max-width: 24em;
  margin: 0 auto;
}
.km-filter-wrap > input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.km-filter-wrap input {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  vertical-align: middle;
  padding: 0 1.4em;
}
.km-filter-reset {
  display: inline-block;
  margin-left: -1.6em;
  vertical-align: middle;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  height: 100%;
}
.km-filter-reset .km-clear {
  font-size: 1.6em;
  width: 1em;
  height: 1em;
  display: block;
}
.km-filter-reset > .km-text {
  position: absolute;
  top: -3333px;
  left: -3333px;
}
/* Load more */
.km-load-more {
  display: block;
  padding: .3em 0 1.2em;
  height: 3.2em;
  text-align: center;
}
/* Common Platform CSS */
@-ms-viewport {
  width: device-width;
  user-zoom: fixed;
  max-zoom: 1;
  min-zoom: 1;
}
@media (orientation: landscape) {
  .km-tablet .km-on-ios.km-horizontal.km-web:not(.km-ios-chrome) {
    position: fixed;
    bottom: 0;
  }
}
.km-root {
  font-size: .92em;
}
.km-root a {
  color: inherit;
}
.km-tablet {
  font-size: 1em;
}
.km-root *:focus {
  outline-width: 0;
}
.km-root,
.km-pane,
.km-pane-wrapper {
  width: 100%;
  height: 100%;
  -ms-touch-action: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  overflow-x: hidden;
}
.km-pane-wrapper {
  position: absolute;
}
.km-pane,
.km-shim {
  font-family: sans-serif;
}
.km-pane {
  overflow-x: hidden;
  position: relative;
}
.km-vertical .km-collapsible-pane {
  position: absolute;
  z-index: 2 !important;
  -webkit-transition: -webkit-transform 350ms ease-out;
  -ms-transition: -ms-transform 350ms ease-out;
  -webkit-transform: translatex(-100%);
  -moz-transform: translatex(-100%);
  -ms-transform: translatex(-100%);
  -o-transform: translatex(-100%);
  transform: translatex(-100%);
}
.km-vertical .km-expanded-splitview .km-collapsible-pane {
  -webkit-transform: translatex(0);
  -moz-transform: translatex(0);
  -ms-transform: translatex(0);
  -o-transform: translatex(0);
  transform: translatex(0);
}
.km-expanded-pane-shim {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.km-expanded-splitview .km-expanded-pane-shim {
  display: block;
  z-index: 1;
}
.km-root > * {
  margin: 0;
  padding: 0;
}
.km-root * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.km-content {
  display: block;
}
.km-view,
.km-split-content {
  top: 0;
  left: 0;
  position: absolute;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  vertical-align: top;
}
.k-ff .km-view,
.k-ff .km-pane {
  overflow: hidden;
}
.k-ff18 .km-view,
.k-ff18 .km-pane,
.k-ff19 .km-view,
.k-ff19 .km-pane,
.k-ff20 .km-view,
.k-ff20 .km-pane,
.k-ff21 .km-view,
.k-ff21 .km-pane {
  position: relative;
}
.k-ff .km-view {
  display: -moz-inline-box;
  display: inline-flex;
}
.km-content {
  min-height: 1px;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  flex-align: stretch;
  width: auto;
  overflow: hidden;
  position: relative;
}
.km-content p,
.km-content h1,
.km-content h2,
.km-content h3,
.km-content h4,
.km-content h5,
.km-content h6 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.km-header,
.km-footer {
  display: block;
  display: -moz-box;
  -moz-box-orient: vertical;
  width: 100%;
}
.km-header {
  padding: 0;
}
.km-footer {
  background: #1a1a1a;
}
[data-role="layout"] {
  display: none;
}
[data-role="view"],
[data-role="drawer"] {
  visibility: hidden;
}
.km-view {
  visibility: visible;
}
.km-header,
.km-footer {
  position: relative;
  z-index: 1;
}
@media all and (-webkit-min-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0) {
  .km-view {
    display: table;
  }
  .km-header,
  .km-footer,
  .km-content {
    display: table-row;
  }
  .km-header,
  .km-footer {
    height: 1px;
  }
}
.km-root .k-toolbar,
.km-navbar,
.km-button,
.km-buttongroup,
.km-tabstrip,
.km-blackberry li.km-actionsheet-cancel > a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-origin: border-box;
  position: relative;
  display: inline-block;
  padding: .4em .7em;
  margin: .1rem;
  overflow: visible;
  text-decoration: none;
}
.km-tabstrip,
.km-root .k-toolbar,
.km-navbar {
  display: block;
  padding: .8em;
  margin: 0;
  width: 100%;
  border-width: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-native-scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: pan-x pan-y;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-scroll-snap-type: proximity;
}
.km-default-content {
  padding: 1em;
}
.km-shim {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10001;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-root .km-shim {
  position: absolute;
}
.km-shim:before {
  content: "\a0";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.km-shim .k-animation-container {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
  width: auto;
}
/* Loader */
.km-loader {
  top: 50%;
  left: 50%;
  width: 180px;
  height: 130px;
  z-index: 100000;
  padding: 30px 30px;
  position: absolute;
  margin-top: -70px;
  margin-left: -90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}
.km-loader h1 {
  font-size: 1rem;
  color: white;
  text-align: center;
  vertical-align: middle;
}
.km-loader .km-loading,
.km-load-more .km-icon,
.km-scroller-refresh .km-icon {
  animation: km-spin 1s infinite linear;
  -moz-animation: km-spin 1s infinite linear;
  -webkit-animation: km-spin 1s infinite linear;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  font-size: 35px;
}
.km-loader .km-loading:after,
.km-load-more .km-icon:after {
  color: #ccc;
}
.km-loading-left,
.km-loading-right {
  display: none;
}
@-webkit-keyframes km-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes km-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes km-spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes km-spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes km-ios-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes km-ios-spin1 {
  from {
    -webkit-transform: rotate(-135deg);
  }
  to {
    -webkit-transform: rotate(225deg);
  }
}
@-moz-keyframes km-ios-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-moz-keyframes km-ios-spin1 {
  from {
    -moz-transform: rotate(-135deg);
  }
  to {
    -moz-transform: rotate(225deg);
  }
}
@keyframes km-ios-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes km-ios-spin1 {
  from {
    transform: rotate(-135deg);
  }
  to {
    transform: rotate(225deg);
  }
}
/* Stretched View */
.km-stretched-view {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.km-stretched-view > * {
  width: 100%;
}
.km-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 100000;
}
.km-root.km-native-scrolling,
.km-root.km-native-scrolling .km-view,
.km-root.km-native-scrolling .km-splitview .km-pane {
  min-height: 100%;
  height: auto;
  -webkit-transform: none;
  overflow-x: visible;
}
.km-native-scrolling .km-pane,
.km-native-scrolling .km-view {
  -ms-touch-action: auto;
  display: block;
}
.km-native-scrolling .km-content {
  -ms-flex: auto;
}
.km-native-scrolling .km-blackberry .km-content {
  min-height: auto;
}
/* Restore position:absolute during animation */
.km-native-scrolling .km-splitview {
  position: absolute;
}
.km-native-scrolling .km-header {
  position: fixed;
  top: 0;
}
.km-native-scrolling .km-android .km-header {
  top: auto;
  bottom: 0;
}
.km-native-scrolling .km-footer {
  position: fixed;
  bottom: 0;
}
.km-native-scrolling .km-android .km-footer {
  top: 0;
  bottom: auto;
}
.km-native-scrolling .km-badge {
  z-index: auto;
}
.km-native-scrolling .km-splitview .km-header,
.km-native-scrolling .km-splitview .km-footer,
.km-native-scrolling .km-popup.km-pane .km-header,
.km-native-scrolling .km-popup.km-pane .km-footer {
  position: absolute;
}
.km-native-scrolling .km-modalview .km-header,
.km-native-scrolling .km-modalview .km-footer {
  position: relative;
}
.km-native-scrolling .km-content {
  width: 100%;
}
.km-native-scrolling .km-shim,
.km-native-scrolling .km-popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  height: auto !important;
}
.km-native-scrolling .km-drawer {
  position: fixed;
  top: 0;
  height: 100% !important;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
}
.km-native-scrolling > .km-pane > .km-loader {
  position: fixed;
  top: 50%;
  margin-top: -2em;
}
.km-native-scrolling .km-header,
.km-native-scrolling .km-footer {
  z-index: 2;
}
/* Disabled states */
.km-state-disabled {
  opacity: 0.5;
}
.km-android {
  font-size: .9em;
  font-weight: bold;
  font-family: Roboto, HelveticaNeue, sans-serif;
}
.km-android .km-view {
  -moz-box-direction: reverse;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.km-root .km-android .km-tabstrip .km-button {
  background: transparent;
}
.km-android .km-view > *,
.km-android .km-modalview,
.km-android .km-popover-root .km-view,
.km-android .km-splitview .km-view,
.km-android .km-pane-wrapper .km-view {
  -moz-box-direction: normal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
html .km-android .km-stretched-view {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.km-android .km-view {
  overflow: hidden;
}
.km-android .km-tabstrip .km-button {
  height: auto;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.km-android .km-navbar,
.km-android .k-toolbar,
.km-android .km-button,
.km-android .km-switch,
.km-android .km-buttongroup,
.km-android .km-tabstrip {
  text-shadow: none;
}
.km-android .km-navbar [class*=item] .km-text,
.km-android .km-tabstrip .km-text {
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 100%;
  height: 2.2em;
  margin-top: -2.5em;
  border: 1em solid transparent;
  border-right-width: 1px;
  border-left: 0;
  text-indent: -9999px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-android .km-navbar .km-button:last-child .km-text,
.km-android .k-toolbar .km-button:last-child .km-text,
.km-android .km-tabstrip .km-button:last-child .km-text {
  border-right: 0;
}
/* Icons */
.km-android .km-icon,
.km-android .k-button-icontext .km-icon {
  text-indent: 0;
  z-index: 1;
}
.km-android .km-notext,
.km-android .k-buttonicon .km-icon {
  margin-left: 0;
  margin-right: 0;
}
.km-android .km-navbar .km-icon {
  margin-left: .5rem;
  margin-right: -0.3rem;
  font-size: 1.4em;
}
html .km-android .km-navbar .km-notext {
  margin-left: 1em;
  margin-right: 1em;
}
.km-android .km-tabstrip .km-icon {
  position: relative;
  left: 0;
  margin-bottom: .3rem;
  z-index: 2;
  color: #555;
}
.km-android.km-horizontal .km-tabstrip .km-icon {
  margin-bottom: 0;
}
/* Loading */
.km-android .km-loader {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: auto;
  bottom: 0;
  left: 0;
  opacity: 1;
  border-radius: 0;
}
.km-android .km-loader h1 {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 1em;
  left: 50%;
  height: 1.2em;
  bottom: 0;
  font-size: 1rem;
  margin-left: -0.5em;
}
.km-android .km-loading {
  width: 1em;
  height: 1em;
  font-size: 1.8rem;
  line-height: 1em;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -0.9rem;
  bottom: .4rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-android .km-loading:before,
.km-android .km-loading:after {
  display: none;
}
/* PopUp */
.km-android .km-popup {
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.km-android .km-popup .k-list-container {
  position: static !important;
  margin-left: 10% !important;
  width: 80% !important;
  display: inline-block !important;
}
.km-android .km-actionsheet,
.km-android .km-popup .k-list-container {
  position: static;
  margin-left: 5%;
  width: 90%;
  display: inline-block;
  border: 0;
  padding: 0;
  vertical-align: middle;
  border-radius: 0;
}
.km-phone .km-android .km-popup .k-list-container {
  max-height: 80%;
}
.km-android .km-popup .k-list-container .km-scroll-container {
  padding: 0;
}
.km-android .km-popup:not(.km-pane):before,
.km-android .km-actionsheet-wrapper:before {
  content: "\a0";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.km-android li.km-actionsheet-title,
.km-android .km-popup .k-item,
.km-android .km-actionsheet > li > a {
  font-size: 1.1em;
  font-weight: normal;
  display: block;
  line-height: 3rem;
  border-width: 0 0 1px;
  padding: 0 1em;
  border-radius: 0;
  text-decoration: none;
  border-style: solid;
}
.km-android .km-popup-wrapper {
  padding: 7px 7px 13px;
}
.km-android .km-actionsheet-root .km-popup-wrapper {
  padding: 15px;
}
/* Color Template */
/* Colors */
.km-android,
.km-android .km-header,
.km-android .km-footer,
.km-android .km-content,
.km-android .km-pane,
.km-android .km-scroll-header .km-group-title,
.km-android input[type=password],
.km-android input[type=search],
.km-android input[type=number],
.km-android input[type=tel],
.km-android input[type=url],
.km-android input[type=email],
.km-android input[type=text]:not(.k-input),
.km-root .km-android textarea {
  background: #000000;
  outline-color: #000000;
}
.km-android-light,
.km-android-light .km-header,
.km-android-light .km-footer,
.km-android-light .km-content,
.km-android-light .km-pane,
.km-android-light .km-scroll-header .km-group-title,
.km-android-light input[type=password],
.km-android-light input[type=search],
.km-android-light input[type=number],
.km-android-light input[type=tel],
.km-android-light input[type=url],
.km-android-light input[type=email],
.km-android-light input[type=text]:not(.k-input),
.km-root .km-android-light textarea {
  background: #fcfcfc;
  outline-color: #fcfcfc;
}
.km-android .km-navbar,
.km-android .k-toolbar,
.km-android .km-button,
.km-android .km-switch,
.km-android .km-buttongroup,
.km-android .km-popup .k-item,
.km-android .km-actionsheet > li > a,
.km-android select:not([multiple]):focus option {
  color: #ffffff;
  border-color: rgba(153, 153, 153, 0.7);
  background-color: #000000;
}
.km-android-light .km-navbar,
.km-android-light .k-toolbar,
.km-android-light .km-button,
.km-android-light .km-switch,
.km-android-light .km-buttongroup,
.km-android-light .km-tabstrip,
.km-android-light .km-popup .k-item,
.km-android-light .km-actionsheet > li > a,
.km-android-light select:not([multiple]):focus option {
  color: #222222;
  background-color: #fcfcfc;
}
.km-android-light .km-navbar,
.km-android-light .k-toolbar,
.km-android-light .km-switch,
.km-android-light .km-tabstrip,
.km-android-light .km-popup .k-item,
.km-android-light .km-actionsheet > li > a {
  background-color: #e9e9e9;
}
.km-android input,
.km-android select,
.km-android textarea,
.km-android .km-widget {
  color: #ffffff;
  border-color: rgba(153, 153, 153, 0.7);
}
.km-android-light input,
.km-android-light select,
.km-android-light textarea,
.km-android-light .km-widget {
  color: #222222;
}
.km-android .km-navbar,
.km-android .k-toolbar,
.km-android .km-tabstrip {
  box-shadow: 0 0 1px #999999, 0 0 4px #999999;
  -webkit-box-shadow: 0 0 1px #999999, 0 0 4px #999999;
}
/* Button */
.km-android .km-button,
.km-android .km-switch-handle,
.km-android .km-buttongroup .km-button,
.km-android .km-navbar .km-buttongroup .km-button {
  border-color: rgba(204, 204, 204, 0.5) rgba(102, 102, 102, 0.5) rgba(102, 102, 102, 0.5) rgba(204, 204, 204, 0.5);
  background: rgba(153, 153, 153, 0.5);
}
/* Switch */
.km-android .km-switch-container {
  background: #222222;
}
.km-android-light .km-switch-container {
  background: #dadada;
}
/* Badges & Details */
.km-android .km-badge {
  box-shadow: 0 2px 2px rgba(102, 102, 102, 0.5);
  -webkit-box-shadow: 0 2px 2px rgba(102, 102, 102, 0.5);
}
.km-android .km-badge,
.km-android .km-detail,
.km-android .km-rowdelete {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  border-color: #ffffff;
  background-color: #B01B1A;
}
.km-android-light .km-badge,
.km-android-light .km-detail,
.km-android-light .km-rowdelete {
  background-image: linear-gradient("webkit", top rgba(34, 34, 34, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(34, 34, 34, 0.1) 50% rgba(34, 34, 34, 0));
  background-image: linear-gradient("blink", top rgba(34, 34, 34, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(34, 34, 34, 0.1) 50% rgba(34, 34, 34, 0));
  background-image: linear-gradient("moz", top rgba(34, 34, 34, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(34, 34, 34, 0.1) 50% rgba(34, 34, 34, 0));
  background-image: linear-gradient("ms", top rgba(34, 34, 34, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(34, 34, 34, 0.1) 50% rgba(34, 34, 34, 0));
  background-image: linear-gradient("o", top rgba(34, 34, 34, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(34, 34, 34, 0.1) 50% rgba(34, 34, 34, 0));
  border-color: #222222;
}
.km-android .km-detail .km-text {
  border-left-color: #dddddd;
}
.km-android .km-rowinsert {
  background-color: #24870D;
}
/* TabStrip */
.km-android .k-toolbar,
.km-android .km-tabstrip {
  border-bottom-color: rgba(255, 255, 255, 0.4);
}
.km-android-light .k-toolbar,
.km-android-light .km-tabstrip {
  border-bottom-color: rgba(34, 34, 34, 0.4);
}
/* NavBar */
.km-android .km-header {
  box-shadow: 0 2px 0 #222222 0 -2px 0 #222222;
  -webkit-box-shadow: 0 2px 0 #222222 0 -2px 0 #222222;
}
.km-android .km-navbar [class*=item] .km-text,
.km-android .km-tabstrip .km-text {
  border-right-color: rgba(0, 0, 0, 0.265);
}
.km-android .km-navbar [class*=item] .km-text {
  border-right-color: rgba(255, 255, 255, 0.4);
}
.km-android-light .km-navbar [class*=item] .km-text,
.km-android-light .km-tabstrip .km-text {
  border-right-color: rgba(252, 252, 252, 0.265);
}
.km-android-light .km-navbar [class*=item] .km-text {
  border-right-color: rgba(34, 34, 34, 0.4);
}
/* ListView */
.km-android .km-list > li {
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.135);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.135);
}
.km-android-light .km-list > li {
  -webkit-box-shadow: 0 1px 1px rgba(34, 34, 34, 0.135);
  box-shadow: 0 -1px 0 rgba(34, 34, 34, 0.135);
}
.km-android .km-group-title {
  color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.km-android-light .km-group-title {
  color: rgba(34, 34, 34, 0.4);
  -webkit-box-shadow: inset 0 -1px 1px rgba(34, 34, 34, 0.3);
  box-shadow: inset 0 -1px 0 rgba(34, 34, 34, 0.3);
}
.km-android .km-scroll-header .km-group-title {
  border-bottom-color: #333333;
}
.km-android-light .km-scroll-header .km-group-title {
  border-bottom-color: #ffffff;
}
.km-android .km-filter-wrap:before,
.km-android .km-filter-reset .km-clear {
  color: rgba(153, 153, 153, 0.7);
}
.km-android .km-item label:before {
  border-color: #000000;
  background-color: #363636;
  background-image: linear-gradient("webkit", top #363636 #2b2b2b);
  background-image: linear-gradient("blink", top #363636 #2b2b2b);
  background-image: linear-gradient("moz", top #363636 #2b2b2b);
  background-image: linear-gradient("ms", top #363636 #2b2b2b);
  background-image: linear-gradient("o", top #363636 #2b2b2b);
  box-shadow: 0 0 1px 2px #808080;
  -webkit-box-shadow: 0 0 1px 2px #808080;
}
.km-android-light .km-item label:before {
  border-color: #fcfcfc;
  background-color: #c6c6c6;
  background-image: linear-gradient("webkit", top #c6c6c6 #d1d1d1);
  background-image: linear-gradient("blink", top #c6c6c6 #d1d1d1);
  background-image: linear-gradient("moz", top #c6c6c6 #d1d1d1);
  background-image: linear-gradient("ms", top #c6c6c6 #d1d1d1);
  background-image: linear-gradient("o", top #c6c6c6 #d1d1d1);
  box-shadow: 0 0 1px 2px #999999;
  -webkit-box-shadow: 0 0 1px 2px #999999;
}
/* Icons */
.km-android .km-button .km-icon,
.km-android .km-navbar .km-icon {
  color: rgba(255, 255, 255, 0.8);
}
.km-android-light .km-button .km-icon,
.km-android-light .km-navbar .km-icon {
  color: rgba(34, 34, 34, 0.8);
}
.km-android .km-tabstrip .km-icon {
  color: rgba(255, 255, 255, 0.4);
}
.km-android-light .km-tabstrip .km-icon {
  color: rgba(34, 34, 34, 0.4);
}
/* Loading */
.km-android .km-loader {
  background: rgba(0, 0, 0, 0.1);
}
.km-android .km-loading {
  border-color: #ffffff rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.km-android-light .km-loading {
  border-color: #222222 rgba(34, 34, 34, 0.2);
  box-shadow: 0 1px 0 rgba(252, 252, 252, 0.1), 0 -1px 0 rgba(252, 252, 252, 0.1), inset 0 1px 0 rgba(252, 252, 252, 0.1), inset 0 -1px 0 rgba(252, 252, 252, 0.1);
}
/* Forms */
.km-android .k-slider-track {
  background: rgba(153, 153, 153, 0.5);
}
.km-android input[type=password],
.km-android input[type=search],
.km-android input[type=number],
.km-android input[type=tel],
.km-android input[type=url],
.km-android input[type=email],
.km-android input[type=text]:not(.k-input),
.km-root .km-android textarea {
  border-color: rgba(153, 153, 153, 0.5);
}
.km-android input[type=radio],
.km-android input[type=checkbox] {
  color: rgba(153, 153, 153, 0.5);
  border-color: currentcolor;
  box-shadow: 0 0 1px currentcolor;
  -webkit-box-shadow: 0 0 1px currentcolor;
}
.km-android input[type=month],
.km-android input[type=color],
.km-android input[type=week],
.km-android input[type=date],
.km-android input[type=time],
.km-android input[type=datetime],
.km-android input[type=datetime-local],
.km-android select:not([multiple]),
.km-android .k-dropdown .k-dropdown-wrap {
  border-bottom-color: rgba(127, 127, 127, 0.5);
  background: 100% 100% no-repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAACWCAQAAABj2vCcAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAf0lEQVR4XuzLsQkAAAwCsP7/tD1CcAqZcykMsizLsizLsizLsizLsizLsizLsizL8ncuxzYAgEAAhJz893BazVfXE2quGc9z32asZahlqGWoZahlqGWoZahlqGWoZahlqGWoZahlqGWoZahlqGWoZahlqOUq5CrkKuStlKuS3QdJPtFaleZ1DgAAAABJRU5ErkJggg==") transparent;
  background-size: auto 100%;
}
/* ActionSheet */
.km-android li.km-actionsheet-title {
  color: inherit;
  border-color: inherit;
}
/* PopUp */
.km-android .km-shim,
.km-phone .km-android .km-actionsheet-wrapper {
  background: rgba(102, 102, 102, 0.5);
}
.km-android .km-actionsheet,
.km-android .km-popup .k-list-container {
  background: #000000;
  box-shadow: 2px 2px 5px rgba(102, 102, 102, 0.5);
  -webkit-box-shadow: 2px 2px 5px rgba(102, 102, 102, 0.5);
}
.km-android-light .km-actionsheet,
.km-android-light .km-popup .k-list-container {
  background: #fcfcfc;
}
.km-android .km-popup .k-item,
.km-android .km-actionsheet > li > a {
  border-color: rgba(255, 255, 255, 0.2);
}
.km-android-light .km-popup .k-item,
.km-android-light .km-actionsheet > li > a {
  border-color: rgba(34, 34, 34, 0.2);
}
.km-android .km-popup-arrow:before {
  border-color: rgba(153, 153, 153, 0.7) transparent;
}
.km-android .km-left .km-popup-arrow:before,
.km-android .km-right .km-popup-arrow:before,
.km-android .k-toolbar .km-buttongroup {
  border-color: transparent rgba(153, 153, 153, 0.7);
}
.km-android .km-popup-arrow:after {
  border-color: #000000 transparent;
}
.km-android .km-left .km-popup-arrow:after,
.km-android .km-right .km-popup-arrow:after {
  border-color: transparent #000000;
}
.km-android-light .km-popup-arrow:after {
  border-color: #e9e9e9 transparent;
}
.km-android-light .km-left .km-popup-arrow:after,
.km-android-light .km-right .km-popup-arrow:after {
  border-color: transparent #e9e9e9;
}
/* Checkboxes and Radios */
.km-android .km-state-active input[type=radio],
.km-android .km-state-active input[type=checkbox] {
  border-color: #dddddd;
  box-shadow: 0 0 1px #dddddd;
  -webkit-box-shadow: 0 0 1px #dddddd;
}
.km-android-light .km-state-active input[type=radio],
.km-android-light .km-state-active input[type=checkbox] {
  border-color: #ffffff;
  box-shadow: 0 0 1px #ffffff;
  -webkit-box-shadow: 0 0 1px #ffffff;
}
/* SplitView */
.km-android .km-splitview .km-pane:last-child {
  box-shadow: -1px 0 1px 1px rgba(102, 102, 102, 0.5);
  -webkit-box-shadow: -1px 0 1px 1px rgba(102, 102, 102, 0.5);
}
.km-android .km-popup.km-pane .km-view,
.km-android .km-splitview .km-pane:last-child .km-content {
  border-color: rgba(128, 128, 128, 0.4);
  box-shadow: inset 0 0 1px 1px #000000;
  -webkit-box-shadow: inset 0 0 1px 1px #000000;
}
.km-android-light .km-popup.km-pane .km-view,
.km-android-light .km-splitview .km-pane:last-child .km-content {
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 1px 1px #fcfcfc;
  -webkit-box-shadow: inset 0 0 1px 1px #fcfcfc;
}
/* ModalView */
.km-android .km-modalview {
  box-shadow: 0 0 10px rgba(102, 102, 102, 0.5) 0 0 2px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 10px rgba(102, 102, 102, 0.5) 0 0 2px rgba(255, 255, 255, 0.7);
  border-color: #000000;
}
.km-android .km-modalview .km-view-title {
  box-shadow: inset 0 -2px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 -2px rgba(255, 255, 255, 0.1);
}
.km-android-light .km-modalview {
  box-shadow: 0 0 10px rgba(102, 102, 102, 0.5) 0 0 2px rgba(34, 34, 34, 0.7);
  -webkit-box-shadow: 0 0 10px rgba(102, 102, 102, 0.5) 0 0 2px rgba(34, 34, 34, 0.7);
  border-color: #fcfcfc;
}
.km-android-light .km-modalview .km-view-title {
  box-shadow: inset 0 -2px rgba(34, 34, 34, 0.1);
  -webkit-box-shadow: inset 0 -2px rgba(34, 34, 34, 0.1);
}
/* Tablet Styles */
.km-tablet .km-android *:not(.km-actionsheet-phone) > .km-actionsheet {
  box-shadow: 0 0 7px rgba(153, 153, 153, 0.5);
  -webkit-box-shadow: 0 0 7px rgba(153, 153, 153, 0.5);
}
/* Active States */
.km-android .k-list,
.km-android .k-draghandle,
.km-android .km-actionsheet,
.km-android .km-actionsheet-wrapper,
.km-android .k-dropdown .k-input,
.km-android .km-tabstrip .km-button,
.km-android .km-actionsheet > li > a:focus,
.km-android .km-actionsheet > li > a:active,
.km-android .km-widget .k-state-hover,
.km-android .km-widget .k-state-focused,
.km-android .km-widget .k-state-selected,
.km-android .km-popup > .k-list-container,
.km-android .km-state-active .km-detail,
.km-android .km-state-active .km-listview-link,
.km-android .km-state-active .km-listview-label {
  color: inherit;
}
.km-android .km-badge,
.km-android .k-slider-selection,
.km-android .km-touch-scrollbar,
.km-android .km-state-active,
.km-android .km-widget .km-state-active,
.km-android .km-popup .k-state-hover,
.km-android .km-popup .k-state-focused,
.km-android .km-popup .k-state-selected,
.km-android .km-actionsheet > li > a:focus,
.km-android .km-actionsheet > li > a:active,
.km-android .km-detail.km-state-active,
.km-android .km-state-active .km-detail,
.km-android .km-pages .km-current-page,
.km-android .k-slider .k-draghandle,
.km-android .k-slider .k-draghandle:hover,
.km-android .k-slider .k-draghandle:before,
.km-android .km-switch-on .km-switch-handle,
.km-android select:not([multiple]):focus option,
.km-android .km-listview-label input[type=radio]:checked:after {
  background: currentcolor;
}
.km-android .km-switch-label-on,
.km-android .km-state-active .km-switch-label-off,
.km-android .km-state-active .km-text,
.km-android .km-state-active .km-icon,
.km-android .km-state-active.km-detail:after,
.km-android .km-state-active .km-detail:after {
  color: #ffffff;
}
.km-android .km-actionsheet > li > a:focus,
.km-android .km-actionsheet > li > a:active,
.km-android .km-popup .k-state-hover,
.km-android .km-popup .k-state-focused,
.km-android .km-popup .k-state-selected {
  text-indent: -10000px;
  text-shadow: 10000px 0 0 #ffffff;
}
.km-android2 .km-actionsheet > li > a:focus,
.km-android2 .km-actionsheet > li > a:active,
.km-android2 .km-popup .k-state-hover,
.km-android2 .km-popup .k-state-focused,
.km-android2 .km-popup .k-state-selected {
  text-shadow: 10000px 0 1px #ffffff;
}
.km-android .km-state-active .km-listview-link,
.km-android .km-state-active .km-listview-label {
  color: #ffffff;
  background: inherit;
}
.km-android li.km-actionsheet-cancel > a:focus,
.km-android li.km-actionsheet-cancel > a:active,
.km-android .km-badge {
  text-indent: -10000px;
  text-shadow: 5000px 0 0 #ffffff;
  opacity: .8;
}
.km-android2 li.km-actionsheet-cancel > a:focus,
.km-android2 li.km-actionsheet-cancel > a:active,
.km-android2 .km-badge {
  text-shadow: 5000px 0 1px #ffffff;
}
.km-android .k-split-container > li > a:focus,
.km-android .k-split-container > li > a:active,
.km-android .k-overflow-container > li > a:focus,
.km-android .k-overflow-container > li > a:active {
  text-indent: 0;
  text-shadow: none;
}
.km-android .km-actionsheet > li > a:focus > *,
.km-android .km-actionsheet > li > a:active > *,
.km-android .km-popup .k-state-hover > *,
.km-android .km-popup .k-state-focused > *,
.km-android .km-popup .k-state-selected > *,
.km-android li.km-actionsheet-cancel > a:focus > *,
.km-android li.km-actionsheet-cancel > a:active > *,
.km-android .km-badge > * {
  text-indent: 0;
  text-shadow: none;
  color: #ffffff;
}
.km-android select:focus,
.km-android textarea:focus,
.km-android.km-pane input:focus,
.km-android li.km-actionsheet-title,
.km-android .k-dropdown .k-state-focused {
  border-color: currentcolor;
}
.km-android .km-listview-label input[type=checkbox]:checked:after {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.km-android .km-state-active input[type=radio]:before,
.km-android .km-state-active input[type=checkbox]:before {
  background-color: rgba(0, 0, 0, 0.2);
}
.km-android-light .km-listview-label input[type=checkbox]:checked:after {
  text-shadow: 0 1px 1px rgba(252, 252, 252, 0.2);
}
.km-android-light .km-state-active input[type=radio]:before,
.km-android-light .km-state-active input[type=checkbox]:before {
  background-color: rgba(252, 252, 252, 0.2);
}
.km-android .km-icon:before,
.km-android .km-contactadd:before,
.km-android .km-rowdelete:before,
.km-android .km-rowinsert:before,
.km-android .km-detaildisclose:before,
.km-android .k-overflow-container .km-state-disabled {
  display: block;
  color: #999999;
}
.km-android .k-overflow-container a.km-state-disabled {
  color: #999999;
  background-color: #000000;
  border-color: rgba(153, 153, 153, 0.7);
}
.km-android-light .k-overflow-container a.km-state-disabled {
  color: #999999;
  background-color: #e9e9e9;
  border-color: rgba(204, 204, 204, 0.5);
}
.km-android .km-state-active.km-state-disabled .km-text {
  color: #999999;
}
.km-android .km-shim,
.km-android .km-popup,
.km-android .k-slider,
.km-android .km-badge,
.km-android .km-switch-on,
.km-android .km-current-page,
.km-android input:focus,
.km-android select:focus,
.km-android textarea:focus,
.km-android input:checked,
.km-android .km-touch-scrollbar,
.km-android .km-widget .k-state-focused,
.km-android .km-widget .km-state-active {
  color: #33b5e5;
}
/* Active States */
.km-android .km-button.km-state-active,
.km-android input[type=file]:active,
.km-android input[type=file]:focus {
  overflow: visible;
}
.km-android .km-button.km-state-active:after,
.km-android .km-buttongroup .km-state-active:after {
  content: "\a0";
  display: block;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 4px solid transparent;
  background: inherit;
  border-radius: 2px;
  opacity: .5;
}
.km-android .km-navbar .km-state-active:after,
.km-android .k-toolbar .km-state-active:after,
.km-android .k-split-container .km-state-active:after,
.km-android .k-overflow-container .km-state-active:after,
.km-android .km-tabstrip .km-state-active:after,
.km-android2 .km-buttongroup .km-state-active:after {
  display: none;
}
/* Tablet Styles */
.km-tablet .km-android .km-actionsheet-title,
.km-tablet .km-android li.km-actionsheet-cancel {
  display: none;
}
.km-tablet .km-android .km-actionsheet-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-tablet .km-android *:not(.km-actionsheet-phone) > .km-actionsheet {
  margin: 0;
  width: 100%;
}
.km-tablet .km-android *:not(.km-actionsheet-phone) > .km-actionsheet :nth-last-child(2) > a {
  border-bottom-width: 0;
}
/* ListView */
.km-android li.km-state-active {
  border: 0;
}
.km-android .km-listinset,
.km-android .km-listgroupinset {
  margin: 0;
}
.km-android .km-listview-wrapper {
  padding: 0 1em;
}
.km-android .km-list > li {
  font-size: 1.3em;
  font-weight: normal;
  line-height: 2em;
  overflow: hidden;
}
.km-android .km-list {
  margin-bottom: 1em;
  -webkit-margin-collapse: separate;
}
.km-android .km-group-title {
  margin-top: 0;
  background: transparent;
  padding: .8em 0 .5em;
  line-height: inherit;
  text-transform: uppercase;
}
.km-android .km-scroll-header .km-group-title {
  margin: 0 1em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.km-android .km-listview-link:after,
.km-android .km-listview-label:after {
  display: none;
}
.km-android .km-list .km-item {
  height: 56px;
}
.km-android .km-listview .km-switch {
  margin-top: -0.8em;
}
/* Filter box */
.km-android .km-listview-wrapper form .km-filter-wrap > input {
  font-size: 1.2em;
  padding-left: 1.8em;
  padding-right: 1.8em;
}
.km-android .km-filter-wrap:before {
  margin: 0 -1.3em 0 0.3em;
}
.km-android .km-filter-wrap:before,
.km-android .km-filter-reset .km-clear {
  font-size: 1.4em;
}
.km-android .km-filter-reset .km-clear:after {
  content: "\e038";
}
/* Pull To Refresh */
.km-root .km-android .km-load-more,
.km-android .km-scroller-pull {
  font-size: 1.2em;
}
/* Load more */
.km-android .km-load-more .km-icon,
.km-android .km-scroller-pull .km-icon {
  width: 1em;
  height: 1em;
  font-size: 1.7em;
}
.km-android .km-scroller-pull .km-template {
  min-width: 0;
}
.km-android .km-item label:before {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
