/* PopOver */
.km-popover-root .km-popup-wrapper {
  position: relative !important;
}
.km-popup-wrapper,
.km-modalview-wrapper {
  z-index: 10001;
  position: relative;
  background: none;
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.km-popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
.km-popup-arrow,
.km-popup-arrow:after,
.km-popup-arrow:before {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  z-index: 2;
}
.km-left .km-popup-arrow,
.km-right .km-popup-arrow {
  margin-top: -8px;
}
.km-up .km-popup-arrow,
.km-down .km-popup-arrow {
  margin-left: -8px;
}
.km-popup-arrow:after,
.km-popup-arrow:before {
  display: block;
  content: "\a0";
  width: 0;
  height: 0;
}
.km-up .km-popup-arrow {
  top: auto;
  bottom: 0;
}
.km-left .km-popup-arrow {
  left: auto;
  right: 0;
}
.km-popup.km-pane {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 100px;
  background: transparent;
}
.km-popover-root .km-view {
  position: relative;
}
.km-popover-root .km-content {
  -ms-flex: auto;
}
/* Common Platform CSS */
@-ms-viewport {
  width: device-width;
  user-zoom: fixed;
  max-zoom: 1;
  min-zoom: 1;
}
@media (orientation: landscape) {
  .km-tablet .km-on-ios.km-horizontal.km-web:not(.km-ios-chrome) {
    position: fixed;
    bottom: 0;
  }
}
.km-root {
  font-size: .92em;
}
.km-root a {
  color: inherit;
}
.km-tablet {
  font-size: 1em;
}
.km-root *:focus {
  outline-width: 0;
}
.km-root,
.km-pane,
.km-pane-wrapper {
  width: 100%;
  height: 100%;
  -ms-touch-action: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  overflow-x: hidden;
}
.km-pane-wrapper {
  position: absolute;
}
.km-pane,
.km-shim {
  font-family: sans-serif;
}
.km-pane {
  overflow-x: hidden;
  position: relative;
}
.km-vertical .km-collapsible-pane {
  position: absolute;
  z-index: 2 !important;
  -webkit-transition: -webkit-transform 350ms ease-out;
  -ms-transition: -ms-transform 350ms ease-out;
  -webkit-transform: translatex(-100%);
  -moz-transform: translatex(-100%);
  -ms-transform: translatex(-100%);
  -o-transform: translatex(-100%);
  transform: translatex(-100%);
}
.km-vertical .km-expanded-splitview .km-collapsible-pane {
  -webkit-transform: translatex(0);
  -moz-transform: translatex(0);
  -ms-transform: translatex(0);
  -o-transform: translatex(0);
  transform: translatex(0);
}
.km-expanded-pane-shim {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.km-expanded-splitview .km-expanded-pane-shim {
  display: block;
  z-index: 1;
}
.km-root > * {
  margin: 0;
  padding: 0;
}
.km-root * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.km-content {
  display: block;
}
.km-view,
.km-split-content {
  top: 0;
  left: 0;
  position: absolute;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  vertical-align: top;
}
.k-ff .km-view,
.k-ff .km-pane {
  overflow: hidden;
}
.k-ff18 .km-view,
.k-ff18 .km-pane,
.k-ff19 .km-view,
.k-ff19 .km-pane,
.k-ff20 .km-view,
.k-ff20 .km-pane,
.k-ff21 .km-view,
.k-ff21 .km-pane {
  position: relative;
}
.k-ff .km-view {
  display: -moz-inline-box;
  display: inline-flex;
}
.km-content {
  min-height: 1px;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  flex-align: stretch;
  width: auto;
  overflow: hidden;
  position: relative;
}
.km-content p,
.km-content h1,
.km-content h2,
.km-content h3,
.km-content h4,
.km-content h5,
.km-content h6 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.km-header,
.km-footer {
  display: block;
  display: -moz-box;
  -moz-box-orient: vertical;
  width: 100%;
}
.km-header {
  padding: 0;
}
.km-footer {
  background: #1a1a1a;
}
[data-role="layout"] {
  display: none;
}
[data-role="view"],
[data-role="drawer"] {
  visibility: hidden;
}
.km-view {
  visibility: visible;
}
.km-header,
.km-footer {
  position: relative;
  z-index: 1;
}
@media all and (-webkit-min-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0) {
  .km-view {
    display: table;
  }
  .km-header,
  .km-footer,
  .km-content {
    display: table-row;
  }
  .km-header,
  .km-footer {
    height: 1px;
  }
}
.km-root .k-toolbar,
.km-navbar,
.km-button,
.km-buttongroup,
.km-tabstrip,
.km-blackberry li.km-actionsheet-cancel > a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-origin: border-box;
  position: relative;
  display: inline-block;
  padding: .4em .7em;
  margin: .1rem;
  overflow: visible;
  text-decoration: none;
}
.km-tabstrip,
.km-root .k-toolbar,
.km-navbar {
  display: block;
  padding: .8em;
  margin: 0;
  width: 100%;
  border-width: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-native-scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: pan-x pan-y;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-scroll-snap-type: proximity;
}
.km-default-content {
  padding: 1em;
}
.km-shim {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10001;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-root .km-shim {
  position: absolute;
}
.km-shim:before {
  content: "\a0";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.km-shim .k-animation-container {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
  width: auto;
}
/* Loader */
.km-loader {
  top: 50%;
  left: 50%;
  width: 180px;
  height: 130px;
  z-index: 100000;
  padding: 30px 30px;
  position: absolute;
  margin-top: -70px;
  margin-left: -90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}
.km-loader h1 {
  font-size: 1rem;
  color: white;
  text-align: center;
  vertical-align: middle;
}
.km-loader .km-loading,
.km-load-more .km-icon,
.km-scroller-refresh .km-icon {
  animation: km-spin 1s infinite linear;
  -moz-animation: km-spin 1s infinite linear;
  -webkit-animation: km-spin 1s infinite linear;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  font-size: 35px;
}
.km-loader .km-loading:after,
.km-load-more .km-icon:after {
  color: #ccc;
}
.km-loading-left,
.km-loading-right {
  display: none;
}
@-webkit-keyframes km-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes km-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes km-spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes km-spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes km-ios-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes km-ios-spin1 {
  from {
    -webkit-transform: rotate(-135deg);
  }
  to {
    -webkit-transform: rotate(225deg);
  }
}
@-moz-keyframes km-ios-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-moz-keyframes km-ios-spin1 {
  from {
    -moz-transform: rotate(-135deg);
  }
  to {
    -moz-transform: rotate(225deg);
  }
}
@keyframes km-ios-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes km-ios-spin1 {
  from {
    transform: rotate(-135deg);
  }
  to {
    transform: rotate(225deg);
  }
}
/* Stretched View */
.km-stretched-view {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.km-stretched-view > * {
  width: 100%;
}
.km-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 100000;
}
.km-root.km-native-scrolling,
.km-root.km-native-scrolling .km-view,
.km-root.km-native-scrolling .km-splitview .km-pane {
  min-height: 100%;
  height: auto;
  -webkit-transform: none;
  overflow-x: visible;
}
.km-native-scrolling .km-pane,
.km-native-scrolling .km-view {
  -ms-touch-action: auto;
  display: block;
}
.km-native-scrolling .km-content {
  -ms-flex: auto;
}
.km-native-scrolling .km-blackberry .km-content {
  min-height: auto;
}
/* Restore position:absolute during animation */
.km-native-scrolling .km-splitview {
  position: absolute;
}
.km-native-scrolling .km-header {
  position: fixed;
  top: 0;
}
.km-native-scrolling .km-android .km-header {
  top: auto;
  bottom: 0;
}
.km-native-scrolling .km-footer {
  position: fixed;
  bottom: 0;
}
.km-native-scrolling .km-android .km-footer {
  top: 0;
  bottom: auto;
}
.km-native-scrolling .km-badge {
  z-index: auto;
}
.km-native-scrolling .km-splitview .km-header,
.km-native-scrolling .km-splitview .km-footer,
.km-native-scrolling .km-popup.km-pane .km-header,
.km-native-scrolling .km-popup.km-pane .km-footer {
  position: absolute;
}
.km-native-scrolling .km-modalview .km-header,
.km-native-scrolling .km-modalview .km-footer {
  position: relative;
}
.km-native-scrolling .km-content {
  width: 100%;
}
.km-native-scrolling .km-shim,
.km-native-scrolling .km-popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  height: auto !important;
}
.km-native-scrolling .km-drawer {
  position: fixed;
  top: 0;
  height: 100% !important;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
}
.km-native-scrolling > .km-pane > .km-loader {
  position: fixed;
  top: 50%;
  margin-top: -2em;
}
.km-native-scrolling .km-header,
.km-native-scrolling .km-footer {
  z-index: 2;
}
/* Disabled states */
.km-state-disabled {
  opacity: 0.5;
}
.km-android {
  font-size: .9em;
  font-weight: bold;
  font-family: Roboto, HelveticaNeue, sans-serif;
}
.km-android .km-view {
  -moz-box-direction: reverse;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.km-root .km-android .km-tabstrip .km-button {
  background: transparent;
}
.km-android .km-view > *,
.km-android .km-modalview,
.km-android .km-popover-root .km-view,
.km-android .km-splitview .km-view,
.km-android .km-pane-wrapper .km-view {
  -moz-box-direction: normal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
html .km-android .km-stretched-view {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.km-android .km-view {
  overflow: hidden;
}
.km-android .km-tabstrip .km-button {
  height: auto;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.km-android .km-navbar,
.km-android .k-toolbar,
.km-android .km-button,
.km-android .km-switch,
.km-android .km-buttongroup,
.km-android .km-tabstrip {
  text-shadow: none;
}
.km-android .km-navbar [class*=item] .km-text,
.km-android .km-tabstrip .km-text {
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 100%;
  height: 2.2em;
  margin-top: -2.5em;
  border: 1em solid transparent;
  border-right-width: 1px;
  border-left: 0;
  text-indent: -9999px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-android .km-navbar .km-button:last-child .km-text,
.km-android .k-toolbar .km-button:last-child .km-text,
.km-android .km-tabstrip .km-button:last-child .km-text {
  border-right: 0;
}
/* Icons */
.km-android .km-icon,
.km-android .k-button-icontext .km-icon {
  text-indent: 0;
  z-index: 1;
}
.km-android .km-notext,
.km-android .k-buttonicon .km-icon {
  margin-left: 0;
  margin-right: 0;
}
.km-android .km-navbar .km-icon {
  margin-left: .5rem;
  margin-right: -0.3rem;
  font-size: 1.4em;
}
html .km-android .km-navbar .km-notext {
  margin-left: 1em;
  margin-right: 1em;
}
.km-android .km-tabstrip .km-icon {
  position: relative;
  left: 0;
  margin-bottom: .3rem;
  z-index: 2;
  color: #555;
}
.km-android.km-horizontal .km-tabstrip .km-icon {
  margin-bottom: 0;
}
/* Loading */
.km-android .km-loader {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: auto;
  bottom: 0;
  left: 0;
  opacity: 1;
  border-radius: 0;
}
.km-android .km-loader h1 {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 1em;
  left: 50%;
  height: 1.2em;
  bottom: 0;
  font-size: 1rem;
  margin-left: -0.5em;
}
.km-android .km-loading {
  width: 1em;
  height: 1em;
  font-size: 1.8rem;
  line-height: 1em;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -0.9rem;
  bottom: .4rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-android .km-loading:before,
.km-android .km-loading:after {
  display: none;
}
/* PopUp */
.km-android .km-popup {
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.km-android .km-popup .k-list-container {
  position: static !important;
  margin-left: 10% !important;
  width: 80% !important;
  display: inline-block !important;
}
.km-android .km-actionsheet,
.km-android .km-popup .k-list-container {
  position: static;
  margin-left: 5%;
  width: 90%;
  display: inline-block;
  border: 0;
  padding: 0;
  vertical-align: middle;
  border-radius: 0;
}
.km-phone .km-android .km-popup .k-list-container {
  max-height: 80%;
}
.km-android .km-popup .k-list-container .km-scroll-container {
  padding: 0;
}
.km-android .km-popup:not(.km-pane):before,
.km-android .km-actionsheet-wrapper:before {
  content: "\a0";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.km-android li.km-actionsheet-title,
.km-android .km-popup .k-item,
.km-android .km-actionsheet > li > a {
  font-size: 1.1em;
  font-weight: normal;
  display: block;
  line-height: 3rem;
  border-width: 0 0 1px;
  padding: 0 1em;
  border-radius: 0;
  text-decoration: none;
  border-style: solid;
}
.km-android .km-popup-wrapper {
  padding: 7px 7px 13px;
}
.km-android .km-actionsheet-root .km-popup-wrapper {
  padding: 15px;
}
/* Color Template */
/* Colors */
.km-android,
.km-android .km-header,
.km-android .km-footer,
.km-android .km-content,
.km-android .km-pane,
.km-android .km-scroll-header .km-group-title,
.km-android input[type=password],
.km-android input[type=search],
.km-android input[type=number],
.km-android input[type=tel],
.km-android input[type=url],
.km-android input[type=email],
.km-android input[type=text]:not(.k-input),
.km-root .km-android textarea {
  background: #000000;
  outline-color: #000000;
}
.km-android-light,
.km-android-light .km-header,
.km-android-light .km-footer,
.km-android-light .km-content,
.km-android-light .km-pane,
.km-android-light .km-scroll-header .km-group-title,
.km-android-light input[type=password],
.km-android-light input[type=search],
.km-android-light input[type=number],
.km-android-light input[type=tel],
.km-android-light input[type=url],
.km-android-light input[type=email],
.km-android-light input[type=text]:not(.k-input),
.km-root .km-android-light textarea {
  background: #fcfcfc;
  outline-color: #fcfcfc;
}
.km-android .km-navbar,
.km-android .k-toolbar,
.km-android .km-button,
.km-android .km-switch,
.km-android .km-buttongroup,
.km-android .km-popup .k-item,
.km-android .km-actionsheet > li > a,
.km-android select:not([multiple]):focus option {
  color: #ffffff;
  border-color: rgba(153, 153, 153, 0.7);
  background-color: #000000;
}
.km-android-light .km-navbar,
.km-android-light .k-toolbar,
.km-android-light .km-button,
.km-android-light .km-switch,
.km-android-light .km-buttongroup,
.km-android-light .km-tabstrip,
.km-android-light .km-popup .k-item,
.km-android-light .km-actionsheet > li > a,
.km-android-light select:not([multiple]):focus option {
  color: #222222;
  background-color: #fcfcfc;
}
.km-android-light .km-navbar,
.km-android-light .k-toolbar,
.km-android-light .km-switch,
.km-android-light .km-tabstrip,
.km-android-light .km-popup .k-item,
.km-android-light .km-actionsheet > li > a {
  background-color: #e9e9e9;
}
.km-android input,
.km-android select,
.km-android textarea,
.km-android .km-widget {
  color: #ffffff;
  border-color: rgba(153, 153, 153, 0.7);
}
.km-android-light input,
.km-android-light select,
.km-android-light textarea,
.km-android-light .km-widget {
  color: #222222;
}
.km-android .km-navbar,
.km-android .k-toolbar,
.km-android .km-tabstrip {
  box-shadow: 0 0 1px #999999, 0 0 4px #999999;
  -webkit-box-shadow: 0 0 1px #999999, 0 0 4px #999999;
}
/* Button */
.km-android .km-button,
.km-android .km-switch-handle,
.km-android .km-buttongroup .km-button,
.km-android .km-navbar .km-buttongroup .km-button {
  border-color: rgba(204, 204, 204, 0.5) rgba(102, 102, 102, 0.5) rgba(102, 102, 102, 0.5) rgba(204, 204, 204, 0.5);
  background: rgba(153, 153, 153, 0.5);
}
/* Switch */
.km-android .km-switch-container {
  background: #222222;
}
.km-android-light .km-switch-container {
  background: #dadada;
}
/* Badges & Details */
.km-android .km-badge {
  box-shadow: 0 2px 2px rgba(102, 102, 102, 0.5);
  -webkit-box-shadow: 0 2px 2px rgba(102, 102, 102, 0.5);
}
.km-android .km-badge,
.km-android .km-detail,
.km-android .km-rowdelete {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  border-color: #ffffff;
  background-color: #B01B1A;
}
.km-android-light .km-badge,
.km-android-light .km-detail,
.km-android-light .km-rowdelete {
  background-image: linear-gradient("webkit", top rgba(34, 34, 34, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(34, 34, 34, 0.1) 50% rgba(34, 34, 34, 0));
  background-image: linear-gradient("blink", top rgba(34, 34, 34, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(34, 34, 34, 0.1) 50% rgba(34, 34, 34, 0));
  background-image: linear-gradient("moz", top rgba(34, 34, 34, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(34, 34, 34, 0.1) 50% rgba(34, 34, 34, 0));
  background-image: linear-gradient("ms", top rgba(34, 34, 34, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(34, 34, 34, 0.1) 50% rgba(34, 34, 34, 0));
  background-image: linear-gradient("o", top rgba(34, 34, 34, 0.5) rgba(204, 204, 204, 0.5) 50% rgba(34, 34, 34, 0.1) 50% rgba(34, 34, 34, 0));
  border-color: #222222;
}
.km-android .km-detail .km-text {
  border-left-color: #dddddd;
}
.km-android .km-rowinsert {
  background-color: #24870D;
}
/* TabStrip */
.km-android .k-toolbar,
.km-android .km-tabstrip {
  border-bottom-color: rgba(255, 255, 255, 0.4);
}
.km-android-light .k-toolbar,
.km-android-light .km-tabstrip {
  border-bottom-color: rgba(34, 34, 34, 0.4);
}
/* NavBar */
.km-android .km-header {
  box-shadow: 0 2px 0 #222222 0 -2px 0 #222222;
  -webkit-box-shadow: 0 2px 0 #222222 0 -2px 0 #222222;
}
.km-android .km-navbar [class*=item] .km-text,
.km-android .km-tabstrip .km-text {
  border-right-color: rgba(0, 0, 0, 0.265);
}
.km-android .km-navbar [class*=item] .km-text {
  border-right-color: rgba(255, 255, 255, 0.4);
}
.km-android-light .km-navbar [class*=item] .km-text,
.km-android-light .km-tabstrip .km-text {
  border-right-color: rgba(252, 252, 252, 0.265);
}
.km-android-light .km-navbar [class*=item] .km-text {
  border-right-color: rgba(34, 34, 34, 0.4);
}
/* ListView */
.km-android .km-list > li {
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.135);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.135);
}
.km-android-light .km-list > li {
  -webkit-box-shadow: 0 1px 1px rgba(34, 34, 34, 0.135);
  box-shadow: 0 -1px 0 rgba(34, 34, 34, 0.135);
}
.km-android .km-group-title {
  color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.km-android-light .km-group-title {
  color: rgba(34, 34, 34, 0.4);
  -webkit-box-shadow: inset 0 -1px 1px rgba(34, 34, 34, 0.3);
  box-shadow: inset 0 -1px 0 rgba(34, 34, 34, 0.3);
}
.km-android .km-scroll-header .km-group-title {
  border-bottom-color: #333333;
}
.km-android-light .km-scroll-header .km-group-title {
  border-bottom-color: #ffffff;
}
.km-android .km-filter-wrap:before,
.km-android .km-filter-reset .km-clear {
  color: rgba(153, 153, 153, 0.7);
}
.km-android .km-item label:before {
  border-color: #000000;
  background-color: #363636;
  background-image: linear-gradient("webkit", top #363636 #2b2b2b);
  background-image: linear-gradient("blink", top #363636 #2b2b2b);
  background-image: linear-gradient("moz", top #363636 #2b2b2b);
  background-image: linear-gradient("ms", top #363636 #2b2b2b);
  background-image: linear-gradient("o", top #363636 #2b2b2b);
  box-shadow: 0 0 1px 2px #808080;
  -webkit-box-shadow: 0 0 1px 2px #808080;
}
.km-android-light .km-item label:before {
  border-color: #fcfcfc;
  background-color: #c6c6c6;
  background-image: linear-gradient("webkit", top #c6c6c6 #d1d1d1);
  background-image: linear-gradient("blink", top #c6c6c6 #d1d1d1);
  background-image: linear-gradient("moz", top #c6c6c6 #d1d1d1);
  background-image: linear-gradient("ms", top #c6c6c6 #d1d1d1);
  background-image: linear-gradient("o", top #c6c6c6 #d1d1d1);
  box-shadow: 0 0 1px 2px #999999;
  -webkit-box-shadow: 0 0 1px 2px #999999;
}
/* Icons */
.km-android .km-button .km-icon,
.km-android .km-navbar .km-icon {
  color: rgba(255, 255, 255, 0.8);
}
.km-android-light .km-button .km-icon,
.km-android-light .km-navbar .km-icon {
  color: rgba(34, 34, 34, 0.8);
}
.km-android .km-tabstrip .km-icon {
  color: rgba(255, 255, 255, 0.4);
}
.km-android-light .km-tabstrip .km-icon {
  color: rgba(34, 34, 34, 0.4);
}
/* Loading */
.km-android .km-loader {
  background: rgba(0, 0, 0, 0.1);
}
.km-android .km-loading {
  border-color: #ffffff rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.km-android-light .km-loading {
  border-color: #222222 rgba(34, 34, 34, 0.2);
  box-shadow: 0 1px 0 rgba(252, 252, 252, 0.1), 0 -1px 0 rgba(252, 252, 252, 0.1), inset 0 1px 0 rgba(252, 252, 252, 0.1), inset 0 -1px 0 rgba(252, 252, 252, 0.1);
}
/* Forms */
.km-android .k-slider-track {
  background: rgba(153, 153, 153, 0.5);
}
.km-android input[type=password],
.km-android input[type=search],
.km-android input[type=number],
.km-android input[type=tel],
.km-android input[type=url],
.km-android input[type=email],
.km-android input[type=text]:not(.k-input),
.km-root .km-android textarea {
  border-color: rgba(153, 153, 153, 0.5);
}
.km-android input[type=radio],
.km-android input[type=checkbox] {
  color: rgba(153, 153, 153, 0.5);
  border-color: currentcolor;
  box-shadow: 0 0 1px currentcolor;
  -webkit-box-shadow: 0 0 1px currentcolor;
}
.km-android input[type=month],
.km-android input[type=color],
.km-android input[type=week],
.km-android input[type=date],
.km-android input[type=time],
.km-android input[type=datetime],
.km-android input[type=datetime-local],
.km-android select:not([multiple]),
.km-android .k-dropdown .k-dropdown-wrap {
  border-bottom-color: rgba(127, 127, 127, 0.5);
  background: 100% 100% no-repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAACWCAQAAABj2vCcAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAf0lEQVR4XuzLsQkAAAwCsP7/tD1CcAqZcykMsizLsizLsizLsizLsizLsizLsizL8ncuxzYAgEAAhJz893BazVfXE2quGc9z32asZahlqGWoZahlqGWoZahlqGWoZahlqGWoZahlqGWoZahlqGWoZahlqOUq5CrkKuStlKuS3QdJPtFaleZ1DgAAAABJRU5ErkJggg==") transparent;
  background-size: auto 100%;
}
/* ActionSheet */
.km-android li.km-actionsheet-title {
  color: inherit;
  border-color: inherit;
}
/* PopUp */
.km-android .km-shim,
.km-phone .km-android .km-actionsheet-wrapper {
  background: rgba(102, 102, 102, 0.5);
}
.km-android .km-actionsheet,
.km-android .km-popup .k-list-container {
  background: #000000;
  box-shadow: 2px 2px 5px rgba(102, 102, 102, 0.5);
  -webkit-box-shadow: 2px 2px 5px rgba(102, 102, 102, 0.5);
}
.km-android-light .km-actionsheet,
.km-android-light .km-popup .k-list-container {
  background: #fcfcfc;
}
.km-android .km-popup .k-item,
.km-android .km-actionsheet > li > a {
  border-color: rgba(255, 255, 255, 0.2);
}
.km-android-light .km-popup .k-item,
.km-android-light .km-actionsheet > li > a {
  border-color: rgba(34, 34, 34, 0.2);
}
.km-android .km-popup-arrow:before {
  border-color: rgba(153, 153, 153, 0.7) transparent;
}
.km-android .km-left .km-popup-arrow:before,
.km-android .km-right .km-popup-arrow:before,
.km-android .k-toolbar .km-buttongroup {
  border-color: transparent rgba(153, 153, 153, 0.7);
}
.km-android .km-popup-arrow:after {
  border-color: #000000 transparent;
}
.km-android .km-left .km-popup-arrow:after,
.km-android .km-right .km-popup-arrow:after {
  border-color: transparent #000000;
}
.km-android-light .km-popup-arrow:after {
  border-color: #e9e9e9 transparent;
}
.km-android-light .km-left .km-popup-arrow:after,
.km-android-light .km-right .km-popup-arrow:after {
  border-color: transparent #e9e9e9;
}
/* Checkboxes and Radios */
.km-android .km-state-active input[type=radio],
.km-android .km-state-active input[type=checkbox] {
  border-color: #dddddd;
  box-shadow: 0 0 1px #dddddd;
  -webkit-box-shadow: 0 0 1px #dddddd;
}
.km-android-light .km-state-active input[type=radio],
.km-android-light .km-state-active input[type=checkbox] {
  border-color: #ffffff;
  box-shadow: 0 0 1px #ffffff;
  -webkit-box-shadow: 0 0 1px #ffffff;
}
/* SplitView */
.km-android .km-splitview .km-pane:last-child {
  box-shadow: -1px 0 1px 1px rgba(102, 102, 102, 0.5);
  -webkit-box-shadow: -1px 0 1px 1px rgba(102, 102, 102, 0.5);
}
.km-android .km-popup.km-pane .km-view,
.km-android .km-splitview .km-pane:last-child .km-content {
  border-color: rgba(128, 128, 128, 0.4);
  box-shadow: inset 0 0 1px 1px #000000;
  -webkit-box-shadow: inset 0 0 1px 1px #000000;
}
.km-android-light .km-popup.km-pane .km-view,
.km-android-light .km-splitview .km-pane:last-child .km-content {
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 1px 1px #fcfcfc;
  -webkit-box-shadow: inset 0 0 1px 1px #fcfcfc;
}
/* ModalView */
.km-android .km-modalview {
  box-shadow: 0 0 10px rgba(102, 102, 102, 0.5) 0 0 2px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 10px rgba(102, 102, 102, 0.5) 0 0 2px rgba(255, 255, 255, 0.7);
  border-color: #000000;
}
.km-android .km-modalview .km-view-title {
  box-shadow: inset 0 -2px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 -2px rgba(255, 255, 255, 0.1);
}
.km-android-light .km-modalview {
  box-shadow: 0 0 10px rgba(102, 102, 102, 0.5) 0 0 2px rgba(34, 34, 34, 0.7);
  -webkit-box-shadow: 0 0 10px rgba(102, 102, 102, 0.5) 0 0 2px rgba(34, 34, 34, 0.7);
  border-color: #fcfcfc;
}
.km-android-light .km-modalview .km-view-title {
  box-shadow: inset 0 -2px rgba(34, 34, 34, 0.1);
  -webkit-box-shadow: inset 0 -2px rgba(34, 34, 34, 0.1);
}
/* Tablet Styles */
.km-tablet .km-android *:not(.km-actionsheet-phone) > .km-actionsheet {
  box-shadow: 0 0 7px rgba(153, 153, 153, 0.5);
  -webkit-box-shadow: 0 0 7px rgba(153, 153, 153, 0.5);
}
/* Active States */
.km-android .k-list,
.km-android .k-draghandle,
.km-android .km-actionsheet,
.km-android .km-actionsheet-wrapper,
.km-android .k-dropdown .k-input,
.km-android .km-tabstrip .km-button,
.km-android .km-actionsheet > li > a:focus,
.km-android .km-actionsheet > li > a:active,
.km-android .km-widget .k-state-hover,
.km-android .km-widget .k-state-focused,
.km-android .km-widget .k-state-selected,
.km-android .km-popup > .k-list-container,
.km-android .km-state-active .km-detail,
.km-android .km-state-active .km-listview-link,
.km-android .km-state-active .km-listview-label {
  color: inherit;
}
.km-android .km-badge,
.km-android .k-slider-selection,
.km-android .km-touch-scrollbar,
.km-android .km-state-active,
.km-android .km-widget .km-state-active,
.km-android .km-popup .k-state-hover,
.km-android .km-popup .k-state-focused,
.km-android .km-popup .k-state-selected,
.km-android .km-actionsheet > li > a:focus,
.km-android .km-actionsheet > li > a:active,
.km-android .km-detail.km-state-active,
.km-android .km-state-active .km-detail,
.km-android .km-pages .km-current-page,
.km-android .k-slider .k-draghandle,
.km-android .k-slider .k-draghandle:hover,
.km-android .k-slider .k-draghandle:before,
.km-android .km-switch-on .km-switch-handle,
.km-android select:not([multiple]):focus option,
.km-android .km-listview-label input[type=radio]:checked:after {
  background: currentcolor;
}
.km-android .km-switch-label-on,
.km-android .km-state-active .km-switch-label-off,
.km-android .km-state-active .km-text,
.km-android .km-state-active .km-icon,
.km-android .km-state-active.km-detail:after,
.km-android .km-state-active .km-detail:after {
  color: #ffffff;
}
.km-android .km-actionsheet > li > a:focus,
.km-android .km-actionsheet > li > a:active,
.km-android .km-popup .k-state-hover,
.km-android .km-popup .k-state-focused,
.km-android .km-popup .k-state-selected {
  text-indent: -10000px;
  text-shadow: 10000px 0 0 #ffffff;
}
.km-android2 .km-actionsheet > li > a:focus,
.km-android2 .km-actionsheet > li > a:active,
.km-android2 .km-popup .k-state-hover,
.km-android2 .km-popup .k-state-focused,
.km-android2 .km-popup .k-state-selected {
  text-shadow: 10000px 0 1px #ffffff;
}
.km-android .km-state-active .km-listview-link,
.km-android .km-state-active .km-listview-label {
  color: #ffffff;
  background: inherit;
}
.km-android li.km-actionsheet-cancel > a:focus,
.km-android li.km-actionsheet-cancel > a:active,
.km-android .km-badge {
  text-indent: -10000px;
  text-shadow: 5000px 0 0 #ffffff;
  opacity: .8;
}
.km-android2 li.km-actionsheet-cancel > a:focus,
.km-android2 li.km-actionsheet-cancel > a:active,
.km-android2 .km-badge {
  text-shadow: 5000px 0 1px #ffffff;
}
.km-android .k-split-container > li > a:focus,
.km-android .k-split-container > li > a:active,
.km-android .k-overflow-container > li > a:focus,
.km-android .k-overflow-container > li > a:active {
  text-indent: 0;
  text-shadow: none;
}
.km-android .km-actionsheet > li > a:focus > *,
.km-android .km-actionsheet > li > a:active > *,
.km-android .km-popup .k-state-hover > *,
.km-android .km-popup .k-state-focused > *,
.km-android .km-popup .k-state-selected > *,
.km-android li.km-actionsheet-cancel > a:focus > *,
.km-android li.km-actionsheet-cancel > a:active > *,
.km-android .km-badge > * {
  text-indent: 0;
  text-shadow: none;
  color: #ffffff;
}
.km-android select:focus,
.km-android textarea:focus,
.km-android.km-pane input:focus,
.km-android li.km-actionsheet-title,
.km-android .k-dropdown .k-state-focused {
  border-color: currentcolor;
}
.km-android .km-listview-label input[type=checkbox]:checked:after {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.km-android .km-state-active input[type=radio]:before,
.km-android .km-state-active input[type=checkbox]:before {
  background-color: rgba(0, 0, 0, 0.2);
}
.km-android-light .km-listview-label input[type=checkbox]:checked:after {
  text-shadow: 0 1px 1px rgba(252, 252, 252, 0.2);
}
.km-android-light .km-state-active input[type=radio]:before,
.km-android-light .km-state-active input[type=checkbox]:before {
  background-color: rgba(252, 252, 252, 0.2);
}
.km-android .km-icon:before,
.km-android .km-contactadd:before,
.km-android .km-rowdelete:before,
.km-android .km-rowinsert:before,
.km-android .km-detaildisclose:before,
.km-android .k-overflow-container .km-state-disabled {
  display: block;
  color: #999999;
}
.km-android .k-overflow-container a.km-state-disabled {
  color: #999999;
  background-color: #000000;
  border-color: rgba(153, 153, 153, 0.7);
}
.km-android-light .k-overflow-container a.km-state-disabled {
  color: #999999;
  background-color: #e9e9e9;
  border-color: rgba(204, 204, 204, 0.5);
}
.km-android .km-state-active.km-state-disabled .km-text {
  color: #999999;
}
.km-android .km-shim,
.km-android .km-popup,
.km-android .k-slider,
.km-android .km-badge,
.km-android .km-switch-on,
.km-android .km-current-page,
.km-android input:focus,
.km-android select:focus,
.km-android textarea:focus,
.km-android input:checked,
.km-android .km-touch-scrollbar,
.km-android .km-widget .k-state-focused,
.km-android .km-widget .km-state-active {
  color: #33b5e5;
}
/* Active States */
.km-android .km-button.km-state-active,
.km-android input[type=file]:active,
.km-android input[type=file]:focus {
  overflow: visible;
}
.km-android .km-button.km-state-active:after,
.km-android .km-buttongroup .km-state-active:after {
  content: "\a0";
  display: block;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 4px solid transparent;
  background: inherit;
  border-radius: 2px;
  opacity: .5;
}
.km-android .km-navbar .km-state-active:after,
.km-android .k-toolbar .km-state-active:after,
.km-android .k-split-container .km-state-active:after,
.km-android .k-overflow-container .km-state-active:after,
.km-android .km-tabstrip .km-state-active:after,
.km-android2 .km-buttongroup .km-state-active:after {
  display: none;
}
/* Tablet Styles */
.km-tablet .km-android .km-actionsheet-title,
.km-tablet .km-android li.km-actionsheet-cancel {
  display: none;
}
.km-tablet .km-android .km-actionsheet-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-tablet .km-android *:not(.km-actionsheet-phone) > .km-actionsheet {
  margin: 0;
  width: 100%;
}
.km-tablet .km-android *:not(.km-actionsheet-phone) > .km-actionsheet :nth-last-child(2) > a {
  border-bottom-width: 0;
}
/* PopOver */
.km-android .km-popup.km-pane .km-view {
  padding: 1px;
}
.km-android .km-popup.km-pane {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.km-android .km-popover-root .km-list:last-child {
  margin-bottom: 0;
}
.km-android .km-left .km-popup-arrow,
.km-android .km-right .km-popup-arrow {
  margin-top: 0;
}
.km-android .km-popup-arrow:after,
.km-android .km-popup-arrow:before {
  border-style: solid;
  border-width: 0 10px 10px;
}
.km-android .km-down .km-popup-arrow:after {
  margin-top: -1px;
}
.km-android .km-down .km-popup-arrow:before {
  margin-top: -2px;
}
.km-android .km-up .km-popup-arrow:before {
  margin-top: 1px;
}
.km-android .km-up .km-popup-arrow:after,
.km-android .km-up .km-popup-arrow:before {
  border-width: 10px 10px 0 10px;
}
.km-android .km-left .km-popup-arrow:after,
.km-android .km-left .km-popup-arrow:before {
  border-width: 10px 0 10px 10px;
}
.km-android .km-right .km-popup-arrow:after,
.km-android .km-right .km-popup-arrow:before {
  border-width: 10px 10px 10px 0;
}
