<!-- start: Widgets Area -->
 <div id="visits-widgets-area"  class="span2 hidden-phone" aria-multiselectable="false" sandata-ada-tabs>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li ng-class="Visits.filterSection.messageTab.tabActive"><a href="javascript: void(0)" aria-controls="messageTab"  role="tab" ng-click="Visits.msgCenterTrigger()" rel="nofollow" data-toggle="tab"   aria-label="Messages {{ (Visits.filterSection.messageTab.tabActive !='') && ': Active' || '' }}" title="Messages {{ (Visits.filterSection.messageTab.tabActive !='') && ': Active' || '' }}" id="Messages"> <em class="fa-icon-envelope"></em> <span ng-if="Visits.filterSection.messageTab.tabActive"> : Active</span> </a></li>
                    <li ng-class="Visits.filterSection.filterTab.tabActive"><a href="javascript: void(0)" aria-controls="filterTab" role="tab" ng-click="Visits.filterCenterTrigger()" rel="nofollow" data-toggle="tab"   aria-label="Filters {{ (Visits.filterSection.filterTab.tabActive !='') && ': Active' || '' }}" title="Filters {{ (Visits.filterSection.filterTab.tabActive !='') && ': Active' || '' }}" id="FilterFocus" data-focus="FilterFocus"> <em class="fa-icon-reorder"></em> <span ng-if="Visits.filterSection.filterTab.tabActive"> : Active</span></a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane" role="tabpanel" ng-class="Visits.filterSection.messageTab.bodyActive" id="messageTab" aria-labeledby="Messages" aria-hidden="{{ (Visits.filterSection.messageTab.tabActive !='') && 'false' || 'true' }}">
                        <h3 class="invisible">Alerts and Messages</h3>
                        <span class="ng-include:'includes/message-center.html'"></span>
                    </div>
                    <div class="tab-pane" role="tabpanel"  ng-class="Visits.filterSection.filterTab.bodyActive" id="filterTab" aria-labeledby="FilterFocus" aria-hidden="{{ (Visits.filterSection.filterTab.tabActive !='') && 'false' || 'true' }}">
                        <form id="visitFilters" data-validate="parsley">
                            <h3 data-ng-show="Visits.VISIT_FILTER_TAB_lABEL.show"   >{{Visits.VISIT_FILTER_TAB_lABEL.text}}</h3>
                            <ul class="messages-list">


                                <li>
                                    <span data-ng-show="Visits.VISIT_FILTER_TAB_APPROVED_VISIT_CHECKBOX.show">
                                        <div class="clearfix filterCheckboxSpacing"></div>
                                        <input accesskey="l" name="{{Visits.VISIT_FILTER_TAB_APPROVED_VISIT_CHECKBOX.name}}" role="checkbox" type="checkbox" data-sandata-checkbox-no-label  adalabel="{{Visits.VISIT_FILTER_TAB_APPROVED_VISIT_CHECKBOX.checkbox_label}}"  data-click="Visits.uncheck('approvedVisitModel')"   data-sandata-model="Visits.approvedVisitModel"     is-checked="{{Visits.approvedVisitModel.selected}}"   >
                                        <label class="inline" for="{{Visits.VISIT_FILTER_TAB_APPROVED_VISIT_CHECKBOX.name}}" >{{Visits.VISIT_FILTER_TAB_APPROVED_VISIT_CHECKBOX.checkbox_label}}</label>
                                    </span>
                                    <span data-ng-show="Visits.VISIT_FILTER_TAB_READY_VISIT_CHECKBOX.show">
                                        <div class="clearfix filterCheckboxSpacing"></div>
                                        <input accesskey="y"  name="{{Visits.VISIT_FILTER_TAB_READY_VISIT_CHECKBOX.name}}" role="checkbox" type="checkbox" data-sandata-checkbox-no-label    adalabel="{{Visits.VISIT_FILTER_TAB_READY_VISIT_CHECKBOX.checkbox_label}}"     data-click="Visits.uncheck('visitApprovalReadyModel')"     data-sandata-model="Visits.visitApprovalReadyModel" is-checked="{{Visits.visitApprovalReadyModel.selected}}"   >
                                        <label class="inline"  for="{{Visits.VISIT_FILTER_TAB_READY_VISIT_CHECKBOX.name}}" >{{Visits.VISIT_FILTER_TAB_READY_VISIT_CHECKBOX.checkbox_label}}</label>
                                    </span>
                                    <span data-ng-show="Visits.VISIT_FILTER_TAB_INCOMPLETE_VISIT_CHECKBOX.show">
                                        <div class="clearfix filterCheckboxSpacing"></div>
                                         <input accesskey="g" name="{{Visits.VISIT_FILTER_TAB_INCOMPLETE_VISIT_CHECKBOX.name}}"  role="checkbox" type="checkbox" data-sandata-checkbox-no-label   adalabel="{{Visits.VISIT_FILTER_TAB_INCOMPLETE_VISIT_CHECKBOX.checkbox_label}}"    data-click="Visits.uncheck('incompleteVisitModel')"        data-sandata-model="Visits.incompleteVisitModel"    is-checked="{{Visits.incompleteVisitModel.selected}}"   >
                                         <label class="inline" for="{{Visits.VISIT_FILTER_TAB_INCOMPLETE_VISIT_CHECKBOX.name}}" >{{Visits.VISIT_FILTER_TAB_INCOMPLETE_VISIT_CHECKBOX.checkbox_label}}</label>
                                    </span>
                                    <span data-ng-show="Visits.VISIT_FILTER_TAB_SHOW_IGNORED_CHECKBOX.show">
                                        <div class="clearfix filterCheckboxSpacing"></div>
                                        <input accesskey="i" name="{{Visits.VISIT_FILTER_TAB_SHOW_IGNORED_CHECKBOX.name}}"  adalabel="{{Visits.VISIT_FILTER_TAB_SHOW_IGNORED_CHECKBOX.checkbox_label}}"  role="checkbox" type="checkbox" data-sandata-checkbox-no-label adalabel="{{Visits.VISIT_FILTER_TAB_SHOW_IGNORED_CHECKBOX.checkbox_label}}" data-click="Visits.uncheck('ignoreVisitsModel')"           data-sandata-model="Visits.ignoreVisitsModel"      is-checked="{{Visits.ignoreVisitsModel.selected}}"   >
                                        <label class="inline" for="{{Visits.VISIT_FILTER_TAB_SHOW_IGNORED_CHECKBOX.name}}" >{{Visits.VISIT_FILTER_TAB_SHOW_IGNORED_CHECKBOX.checkbox_label}}</label>
                                    </span>




                                </li>
                                <li>

                                    <div data-ng-show="Visits.VISIT_FILTER_TAB_FROM_DATE_CONTROL.show">
                                        <label class="calendar-label" for="fromDate">{{Visits.VISIT_FILTER_TAB_FROM_DATE_CONTROL.date_label}}</label>
                        <span>
                            <input placeholder="MM/DD/YYYY"
                                    data-required="true"
                                   data-regexp="{{Visits.REGEXP_FORMATS.date_regex_pattern}}"
                                   data-error-message="Please enter the 'From' date in the correct format: mm/dd/yyyy "
                                   data-trigger="change"
                                   data-error-container="span#filterFromDateErrors"
                                   auto-format="false" role="textbox" type="text" id="fromDate" name="fromDate" data-ng-model="Visits.fromDateModel"
                                   data-ng-change="Visits.resetPayPeriod()"
                                   data-date-type="string"   data-sandata-input-text="date" aria-label="Enter {{Visits.VISIT_FILTER_TAB_FROM_DATE_CONTROL.date_label}} Date" title="Enter {{Visits.VISIT_FILTER_TAB_FROM_DATE_CONTROL.date_label}} Date" class="input-small" data-ng-disabled="Visits.VISIT_FILTER_TAB_FROM_DATE_CONTROL.disabled" data-ng-show="Visits.VISIT_FILTER_TAB_FROM_DATE_CONTROL.show"   />
                            </span>

                                    </div>
                                    <!-- Begin: Filter Date  Errors -->
                                    <span id="filterFromDateErrors"></span>
                                    <!-- End: Filter Date  Errors  -->
                                    <div data-ng-show="Visits.VISIT_FILTER_TAB_TO_DATE_CONTROL.show">
                                        <label class="calendar-label" for="toDate">{{Visits.VISIT_FILTER_TAB_TO_DATE_CONTROL.date_label}}</label>
                        <span >
                            <input  placeholder="MM/DD/YYYY"
                                    data-required="true"
                                    data-regexp="{{Visits.REGEXP_FORMATS.date_regex_pattern}}"
                                    data-error-message="Please enter the 'To' date in the correct format: mm/dd/yyyy "
                                    data-error-container="span#filterToDateErrors"
                                    auto-format="false" role="textbox"  type="text" id="toDate" name="toDate" data-ng-model="Visits.toDateModel"
                                    data-ng-change="Visits.resetPayPeriod()"
                                    data-date-type="string"    data-sandata-input-text="date" aria-label="Enter {{Visits.VISIT_FILTER_TAB_TO_DATE_CONTROL.date_label}} Date" title="Enter {{Visits.VISIT_FILTER_TAB_TO_DATE_CONTROL.date_label}} Date" class="input-small"  data-ng-show="Visits.VISIT_FILTER_TAB_TO_DATE_CONTROL.show" data-ng-disabled="Visits.VISIT_FILTER_TAB_TO_DATE_CONTROL.disabled"   />
                           </span>
                                    </div>
                                    <!-- Begin: Filter Date  Errors -->
                                    <span id="filterToDateErrors"></span>
                                    <!-- End: Filter Date  Errors  -->
                                </li>
                                <li>
                                    <input accesskey="k" role="button"  type="button" class="btn" data-ng-click="Visits.changePage()" value="{{Visits.VISIT_FILTER_TAB_APPLY_FILTER_BUTTON.button_label}}" aria-label="{{Visits.VISIT_FILTER_TAB_APPLY_FILTER_BUTTON.button_label}}" data-ng-show="Visits.VISIT_FILTER_TAB_APPLY_FILTER_BUTTON.show" data-ng-disabled="Visits.VISIT_FILTER_TAB_APPLY_FILTER_BUTTON.disabled"   >
                                </li>
                            </ul>

                        </form>
                    </div>

                </div>
            </div>
<!-- end: Widgets Area -->