<div id="content" ng-class="sidePanel.content_class">
<div class="row-fluid">
    <div class="span8">
        <h1>{{title}}</h1>
    </div>
</div>
<hr class="medium">
<div class="row-fluid" >
    <div class="box span12">
        <div class="box-header">
            <h2  ><em class="fa-icon-edit"></em><span class="break"></span>Title</h2>
            <div class="box-icon"></div>
        </div>
        <div class="box-content">

            <form class="form-horizontal" id="visitModalForm" data-validate="parsley">


            <ul class="messages-list">

            <!-- Begin: Notification messages -->
            <li data-ng-show="Visits.VisitModal.hasErrorMessages">
                <div class="row-fluid">
                    <div data-ng-repeat="errorMessage in Visits.VisitModal.errorMessages"   tabindex="2">{{errorMessage}}</div>
                </div>
            </li>
            <!-- End: Notification messages -->

            <!-- Begin: Date Select -->
            <li>
                <div class="row-fluid">
                    <div class="control-group">
                        <label for="VisitDate">Date</label> <!-- Missing: Label -->
                        <div class="controls">
                                                                 <span class="input-append">
                                                                    <input tabindex="2"
                                                                           data-required="true"
                                                                           data-regexp="^(0[1-9]|1[012])[//](0[1-9]|[12][0-9]|3[01])[//](19|20)\d\d$"
                                                                           data-error-message="Please enter the 'Date' in the correct format: mm/dd/yyyy"
                                                                           data-trigger="change"
                                                                           data-error-container="#dateError"
                                                                           type="text" value="{{Visits.VisitDate}}" id="VisitDate" name="VisitDate" ng-model="Visits.VisitDate" data-sandata-datepicker  class="input-small" data-ng-readonly="Visits.VisitModal.formDateDisabled"   data-date-type="string" aria-label="Visit Date"/>
                                                                    <button tabindex="-1"type="button" class="btn" data-toggle="datepicker" data-ng-disabled="Visits.VisitModal.formDateDisabled" title="Visit Date"><em class="fa-icon-calendar"></em></button>

                                                                 </span>
                            <span id="dateError"></span>
                        </div>
                    </div>
                </div>
            </li>
            <!-- End: Date Select -->

            <!-- Begin: Client/Employee/Service Selects -->
            <li>
                <div class="row-fluid">
                    <div class="control-group">
                        <!-- Begin: Select Client -->
                        <div class="control-group span4" data-ng-show="Visits.VisitModal.clients.show">
                            <label id="modalClientSelect" for="addVisitClient">{{Visits.VisitModal.clients.select_label}}</label>
                            <div class="controls">
                                <select id="addVisitClient"
                                        name="addVisitClient"
                                        data-ng-readonly="Visits.VisitModal.formDisabled"
                                        aria-labelledby="modalClient"
                                        sandata-select-lazy-loader
                                        ng-model="Visits.VisitModal.addVisitClient"
                                        load="Visits.VisitModal.clients.option_components"
                                        option-value="value"
                                        option-label="label"
                                        tabindex="2"
                                        >
                                </select>

                            </div>
                        </div>
                        <!-- End: Select Client -->

                        <!-- Begin: Select Employee -->
                        <div class="control-group span4"  data-ng-show="Visits.VisitModal.employees.show">
                            <label id="modalEmployeeSelect" for="addVisitEmployee">{{Visits.VisitModal.employees.select_label}}</label>
                            <div class="controls">
                                <select id="addVisitEmployee"
                                        name="addVisitEmployee"
                                        data-ng-readonly="Visits.VisitModal.formDisabled"
                                        aria-labelledby="modalEmployeeSelect"
                                        sandata-select-lazy-loader
                                        ng-model="Visits.VisitModal.addVisitEmployee"
                                        load="Visits.VisitModal.employees.option_components"
                                        option-value="value"
                                        option-label="label"
                                        tabindex="2"
                                        >
                                </select>

                            </div>
                        </div>
                        <!-- End: Select Employee -->

                        <!-- Begin: Select Service -->
                        <div class="control-group span4"  data-ng-show="Visits.VisitModal.services.show">
                            <label id="modalServicesSelect" for="addVisitService">{{Visits.VisitModal.services.select_label}}</label>
                            <div class="controls">
                                <select id="addVisitService"
                                        name="addVisitService"
                                        data-ng-readonly="Visits.VisitModal.formDisabled"
                                        aria-labelledby="modalServicesSelect"
                                        sandata-select-lazy-loader
                                        ng-model="Visits.VisitModal.addVisitService"
                                        load="Visits.VisitModal.services.option_components"
                                        option-value="value"
                                        option-label="label"
                                        tabindex="2"
                                        >
                                </select>
                            </div>
                        </div>
                        <!-- End: Select Service -->
                    </div>
                </div>
            </li>
            <!-- End: Client/Employee/Service Selects -->

            <!--Begin: EVV / ADJ -->
            <li>
                <div class="row-fluid">
                    <div class="control-group">

                        <!-- Begin: EVV In -->
                        <div class="control-group span2">
                            <span >&nbsp; </span>
                            <div class="controls time-text-alignment">
                                &nbsp;EVV In:<br/>  <span >&nbsp; </span>{{Visits.EVVIn}} <!-- Missing: Label-->
                            </div>
                        </div>
                        <!-- End: EVV In -->

                        <!-- Begin: EVV Out -->
                        <div class="control-group span2">
                            <span >&nbsp; </span>
                            <div class="controls time-text-alignment">
                                &nbsp;EVV Out: <br/>  <span >&nbsp; </span>{{Visits.EVVOut}}<!-- Missing: Label-->
                            </div>
                        </div>
                        <!-- End: EVV Out -->

                        <!-- Begin: EVV Hours -->
                        <div class="control-group span2">
                            <span >&nbsp; </span>
                            <div class="controls time-text-alignment" >
                                &nbsp;EVV Hours: <br/>  <span >&nbsp; </span>{{Visits.formatTime({
                                format:"decimal",
                                time_in:Visits.EVVIn,
                                time_out:Visits.EVVOut,
                                difference:true,
                                differenceOpts:{_24_hours:true,VisitDate:VisitDate}
                                })
                                }}<!-- Missing: Label-->
                            </div>
                        </div>
                        <!-- End: EVV Hours -->

                        <!-- Begin: ADJ In Hours -->
                        <div class="control-group span2">
                            <label id="modalAdjIn" for="VisitADJIn" >ADJ In:</label><!-- Missing: Label-->
                            <div class="controls ">
                                                                               <span class="input-append">
                                                                                    <input  tabindex="2"
                                                                                            data-required="true"
                                                                                            data-regexp="^(0?[1-9]|1[012])(:[0-5]\d) [APap][mM]$"
                                                                                            data-error-message="Please enter the 'Adj In' time in the correct format: hh:mm AM or PM"
                                                                                            data-error-container="#timeErrors"
                                                                                            data-trigger="change"
                                                                                            disable-in-cell-tabbing="true"
                                                                                            value="Visits.VisitADJIn"
                                                                                            aria-labelledby="modalAdjIn"  data-ng-readonly="Visits.VisitModal.formDisabled"  type="text" id="VisitADJIn" name="VisitADJIn" data-ng-model="Visits.VisitADJIn" data-sandata-timepicker data-minute-step="1" class="input-mini"   title="ADJ In  : Enter time as XX:XX PM or as XX:XX AM" aria-label="ADJ In  : Enter time as XX:XX PM or as XX:XX AM"/><!-- Missing: Label-->
                                                                                    <button data-ng-disabled="Visits.VisitModal.formDisabled"  type="button" class="btn" data-toggle="timepicker" title="ADJ IN  : Enter time as XX:XX PM or as XX:XX AM"><em class="fa-icon-time"></em></button><!-- Missing: Label-->
                                                                                </span>

                            </div>
                        </div>
                        <!-- End: ADJ In Hours -->

                        <!-- Begin: ADJ Out Hours -->
                        <div class="control-group span2">
                            <label id="modalAdjOut" for="VisitADJOut">ADJ Out:</label><!-- Missing: Label-->
                            <div class="controls">
                                                                                <span class="input-append">
                                                                                    <input  tabindex="2"
                                                                                            data-required="true"
                                                                                            data-regexp="^(0?[1-9]|1[012])(:[0-5]\d) [APap][mM]$"
                                                                                            data-error-message="Please enter the 'Adj Out' time in the correct format: hh:mm AM or PM"
                                                                                            data-error-container="span#timeErrors"
                                                                                            data-trigger="change"
                                                                                            disable-in-cell-tabbing="true"
                                                                                            value="Visits.VisitADJOut"
                                                                                            aria-labelledby="modalAdjOut"  data-ng-readonly="Visits.VisitModal.formDisabled"  type="text" id="VisitADJOut" name="VisitADJOut" data-ng-model="Visits.VisitADJOut" data-sandata-timepicker data-minute-step="1" class="input-mini"   title="ADJ Out  : Enter time as XX:XX PM or as XX:XX AM" aria-label="ADJ Out  : Enter time as XX:XX PM or as XX:XX AM"/><!-- Missing: Label-->
                                                                                    <button data-ng-disabled="Visits.VisitModal.formDisabled"  type="button" class="btn" data-toggle="timepicker" title="ADJ Out : Enter time as XX:XX PM or as XX:XX AM"><em class="fa-icon-time"></em></button><!-- Missing: Label-->
                                                                                </span>
                            </div>
                        </div>
                        <!-- End: ADJ Out Hours -->

                        <!-- Begin: ADJ Hours -->
                        <div class="control-group span2">
                            <span >&nbsp;&nbsp; </span>
                            <div class="controls time-text-alignment"><!-- Missing: Label-->
                                &nbsp;&nbsp; ADJ Hours: <br/>  <span >&nbsp; </span>{{Visits.formatTime({
                                format:"decimal",
                                time_in:Visits.VisitADJIn,
                                time_out:Visits.VisitADJOut,
                                difference:true,
                                differenceOpts:{_24_hours:true,VisitDate:VisitDate}
                                })
                                }}
                            </div>
                        </div>
                        <!-- End: ADJ Out Hours -->
                    </div>

                </div>

                <!-- Begin: ADJ Hours Input Errors -->
                <span id="timeErrors"></span>
                <!-- End: ADJ Hours Input Errors -->
            </li>
            <!--End: EVV / ADJ -->

            <!-- Begin: Visit  Notes Textarea -->
            <li>
                <label id="modalVisitNotes" for="VisitNotes" >Visit Notes</label><!-- Missing: Label-->
                <textarea data-ng-maxlength="512" tabindex="2" aria-labelledby="modalVisitNotes" class="span7" data-ng-readonly="Visits.VisitModal.formDisabled"  id="VisitNotes" name="VisitNotes" data-ng-model="Visits.VisitNotes" maxlength="512" data-minlength="1" data-ng-bind="Visits.VisitNotes"  > </textarea>
                <br/>
                <div class="pull-right" >{{512 - Visits.VisitNotes.length}}</div>
                <br/>

            </li>
            <!-- End: Visit  Notes Textarea -->

            <!-- Begin: Select Reason Code -->
            <li>
                <div class="control-group" data-ng-show="Visits.VisitModal.reasons.show">
                    <label  id="modalReasonCodes" for="selectReasonCode">{{Visits.VisitModal.reasons.reasons_codes_label}}</label>
                    <div class="controls">
                        <select        tabindex="2"  sandata-no-options
                                       data-required="true"
                                       data-regexp="^([\d]*[1-9]+[\d]*)$"
                                       data-error-message="Select a reason code"
                                       class="span4"
                                       aria-labelledby="modalReasonCodes" data-ng-readonly="Visits.VisitModal.formDisabled"  id="selectReasonCode" data-ng-model="Visits.VisitModal.addVisitReasonsModel" data-ng-options="reason.label for reason in Visits.VisitModal.reasons.option_components"  >

                        </select>
                    </div>
                </div>
            </li>
            <!-- End: Select Reason Code -->

            <!-- Begin: Change Reason Textarea & Reason History -->
            <li>
                <label   id="modalChangeResons"  for="ReasonExplanation">Change {{Visits.VisitModal.reasons.reasons_codes_label}}</label><!-- Missing: Label-->
                <textarea data-ng-maxlength="512" tabindex="2" aria-labelledby="modalChangeResons" class="span7" data-ng-readonly="Visits.VisitModal.formDisabled" id="ReasonExplanation" data-ng-model="Visits.changeReasonsModel" maxlength="512" data-minlength="1"  ></textarea>
                <br/>
                <div class="pull-right" >{{512 - Visits.changeReasonsModel.length}}</div>
                <!--start: List of Notes-->
                <br/>


                <!-- Begin: Reason History -->
                                                 <span  ng-switch on="VisitModal.mode">
                                                            <span ng-switch-when="add"></span>
                                                            <span ng-switch-default >
                                                                <div class="visit-accordian-wrapper">
                                                                    <div accordion close-others="oneAtATime">
                                                                        <div  tabindex="2" accordion-group heading="View Reasons ({{Visits.VisitModal.changeReasonsList.length}})">
                                                                            <ol>
                                                                                <li class="visit-reason-list-item" data-ng-repeat="reason in Visits.VisitModal.changeReasonsList"><strong>Reason Code</strong>&nbsp;&nbsp;({{reason.code}}):&nbsp;&nbsp;{{reason.reason_code_date}}&nbsp;&nbsp;{{reason.reason_code_time}}<br/>{{reason.description}}</li>
                                                                            </ol>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </span>
                                                     </span>
                <!-- End: Reason History -->
            </li>
            <!-- End: Change Reason Textarea & Reason History-->

            </ul>

            <!--End: Add/Edit Visit Modal Body -->
            <!--Begin: Switch to show and hide save,cancel,close and update buttons-->
            <div class="row-fluid submit-area">
                <div class="form-actions">
                    <div class="controls pull-right">
                                   <span ng-switch on="Visits.VisitModal.formDisabled">
                                    <!--
                                            IF DIABLED FALSE THEN THIS
                                    -->
                                 <span ng-switch-when="false" >
                                             <!--
                                                    IS THISE AN ADD VISIT OR EDIT VISIT FORM
                                             -->
                                             <span  ng-switch on="Visits.VisitModal.mode">
                                                          <!--
                                                            IF IS ADD VISIT FORM
                                                        -->
                                                    <span ng-switch-when="add" >
                                                        <button tabindex="2" class="btn btn-information btn-flat-green"  data-ng-click="Visits.addVisit()" data-ng-disabled="Visits.diabledSubmits"    title="Save" aria-label="Save">Save</button><!-- Missing: Label -->
                                                        <button  tabindex="2" class="btn btn-information closeVisit btn-flat-green" data-ng-click="Visits.closeVisitModal()"   data-ng-disabled="Visits.diabledSubmits" title="Cancel"  aria-label="Cancel" sandata-modal-tab-back-to-top="h3#visitModalFocus">Cancel</button><!-- Missing: Label -->
                                                    </span>
                                                        <!--
                                                            IF IS EDIT VISIT FORM
                                                        -->
                                                    <span ng-switch-when="edit" >
                                                        <button  tabindex="2" class="btn btn-information btn-flat-green" data-ng-click="Visits.editVisit()" data-ng-disabled="Visits.diabledSubmits"    title="Update" aria-label="Update">Update</button><!-- Missing: Label -->
                                                        <button  tabindex="2" class="btn btn-information closeVisit btn-flat-green" data-ng-click="Visits.closeVisitModal()"    data-ng-disabled="Visits.diabledSubmits" title="Cancel" aria-label="Cancel" sandata-modal-tab-back-to-top="h3#visitModalFocus">Cancel</button><!-- Missing: Label -->
                                                    </span>
                                            </span>

                                </span>
                                    <!--
                                            IF DISABLES TRUE THEN THIS
                                     -->
                                <span ng-switch-when="true">
                                    <button class="btn btn-information closeVisit btn-flat-green" tabindex="2" data-ng-click="Visits.closeVisitModal()" data-ng-disabled="Visits.diabledSubmits"  title="Close" aria-label="Close" sandata-modal-tab-back-to-top="h3#visitModalFocus">Close</button><!-- Missing: Label -->
                                </span>
                            </span>
                       </div>
                </div>
            </div>
            <!--End: Switch to show and hide save,cancel,close and update buttons-->
            </form>
        </div>
    </div>
</div>
<!--End: Add/Edit Visit Modal Form -->

</div>


<!-- Begin: Filter-->
<span class="ng-include:'includes/visits/message-center.html'" ng-show="sidePanel.show"></span>
<!-- End: Filter-->
<a id="widgets-area-button" class="hidden-tablet hidden-phone open" ng-keypress="" ng-click="toggleSidePanel()" tabindex="6" data-sandata-click-on-enter><em class="fa-icon-reorder"></em></a>
<!--span load-lazy-loading-selects="client,employee" delay="1000" seperate-by ="4000" ></span-->