/* Pivot start */
.k-pivot-toolbar {
  padding: .2em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.k-pivot .k-pivot-toolbar {
  padding: .6em;
}
.k-pivot-toolbar .k-button {
  margin-right: .4em;
  line-height: 1.2em;
  font-size: .9em;
  text-align: left;
  position: relative;
  padding: .3em 3.3em .3em .3em;
}
.k-field-actions {
  position: absolute;
  right: 2px;
  top: 3px;
}
/*IE7 requires the following style to be applied to cells directly*/
.k-pivot .k-grid td {
  white-space: nowrap;
}
.k-pivot-layout {
  border-spacing: 0;
  table-layout: auto;
}
.k-pivot-layout > tbody > tr > td {
  vertical-align: top;
  padding: 0;
}
.k-pivot td {
  vertical-align: top;
}
.k-pivot-rowheaders > .k-grid,
.k-pivot-table > .k-grid {
  border-width: 0;
}
.k-pivot-rowheaders > .k-grid td:first-child,
.k-pivot-table .k-grid-header .k-header.k-first {
  border-left-width: 1px;
}
.k-pivot-rowheaders > .k-grid td.k-first {
  border-left-width: 0;
}
.k-pivot-rowheaders > .k-grid {
  overflow: hidden;
}
.k-pivot-table {
  border-left-width: 1px;
  border-left-style: solid;
}
.k-pivot-table .k-grid-header-wrap > table {
  height: 100%;
}
.k-pivot .k-grid-header .k-header {
  vertical-align: top;
}
.k-pivot .k-grid-header tr + tr > .k-header {
  border-top-width: 1px;
}
.k-header.k-alt,
td.k-alt {
  font-weight: bold;
}
.k-header.k-alt {
  background-image: none;
}
.k-pivot-layout .k-grid td {
  border-bottom-width: 1px;
}
.k-pivot-layout .k-grid-footer > td {
  border-top-width: 0;
}
.k-pivot-filter-window .k-treeview {
  max-height: 600px;
}
/* selector */
.k-fieldselector .k-edit-buttons {
  bottom: auto;
}
.k-fieldselector .k-edit-label {
  width: 16%;
}
.k-fieldselector .k-edit-field {
  width: 77%;
}
.k-fieldselector .k-edit-field > .k-widget,
.k-fieldselector .k-edit-field > .k-textbox {
  width: 99%;
}
.k-fieldselector .k-edit-buttons > input,
.k-fieldselector .k-edit-buttons > label {
  float: left;
  margin-top: .4em;
}
.k-fieldselector p {
  margin: 0 0 .2em .5em;
  text-transform: uppercase;
}
.k-fieldselector p .k-icon {
  margin: 0 5px;
}
.k-fieldselector .k-columns {
  border-style: solid;
  border-width: 1px 0 0;
}
.k-fieldselector .k-columns > div {
  padding: .6em 0;
  border-style: solid;
}
.k-fieldselector .k-columns > div {
  border-width: 0 0 0 1px;
  width: 49%;
  float: left;
}
.k-fieldselector .k-columns > div:first-child {
  border-width: 0 1px 0 0;
  margin-right: -1px;
}
.k-fieldselector .k-list-container {
  margin-left: .5em;
  margin-bottom: 1em;
  padding: .2em 0 0;
  border-style: solid;
  border-width: 1px;
}
.k-fieldselector .k-list {
  padding-bottom: 2em;
}
.k-fieldselector .k-list li.k-item {
  padding: .3em 3.3em .3em .3em;
  margin: 0 .2em.2em;
  position: relative;
  font-size: .9em;
  line-height: 1.2em;
  min-height: 1em;
}
/* Pivot end */
