/* Icon per-widget styles */
.km-detail .km-icon,
.km-button .km-icon,
.km-list .km-icon,
.km-ios .km-button .km-icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
  margin-left: -0.3em;
  margin-right: 0.3em;
  vertical-align: baseline;
  display: inline-block;
  background-size: auto 100%;
}
html .km-widget .km-view .km-notext {
  margin-left: 0;
  margin-right: 0;
}
.km-buttongroup .km-button .km-icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
  margin: .05em .16em 0 0;
}
.km-tabstrip .km-button .km-icon {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
}
.km-tabstrip .km-image,
.km-tabstrip .km-button .km-icon {
  margin: 0 auto .1em;
  display: inline-block;
}
.km-tabstrip .km-text {
  display: block;
}
.km-phone .km-tabstrip .km-icon {
  height: 2.2rem;
  width: 2.2rem;
  font-size: 2.2rem;
}
.km-phone .km-horizontal .km-tabstrip .km-icon {
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
}
/* Icons */
@font-face {
  font-family: "Kendo UI";
  src: url("images/kendoui.woff?v=1.1") format("woff"), url("images/kendoui.ttf?v=1.1") format("truetype"), url("images/kendoui.svg#kendoui") format("svg");
}
body:before {
  font-family: "Kendo UI";
  content: "\a0";
  font-size: 0;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}
.km-root .km-pane .km-view .km-icon {
  -webkit-background-clip: text;
  background-size: 0 0;
}
.km-icon {
  position: relative;
}
.km-icon:after,
.km-icon:before,
.km-contactadd:after,
.km-contactadd:before,
.km-rowdelete:after,
.km-rowdelete:before,
.km-rowinsert:after,
.km-rowinsert:before,
.km-detaildisclose:after,
.km-detaildisclose:before,
.km-loading:after,
.km-filter-wrap:before {
  position: relative;
  content: "\a0";
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: middle;
  background-size: auto;
  font: 1em/1em "Kendo UI";
}
.km-icon:before,
.km-contactadd:before,
.km-rowdelete:before,
.km-rowinsert:before,
.km-detaildisclose:before {
  position: absolute;
  margin-top: 1px;
  color: rgba(0, 0, 0, 0.7);
  display: none;
}
.km-state-active .km-icon:before,
.km-state-active .km-contactadd:before,
.km-state-active .km-rowdelete:before,
.km-state-active .km-rowinsert:before,
.km-state-active .km-detaildisclose:before {
  display: block;
}
.km-ios7 .km-detaildisclose:after {
  font-family: serif;
}
.km-ios7 .km-icon:before,
.km-ios7 .km-contactadd:before,
.km-ios7 .km-rowdelete:before,
.km-ios7 .km-rowinsert:before,
.km-ios7 .km-detaildisclose:before {
  display: none;
}
.k-webkit .km-ios:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after,
.k-webkit .km-blackberry:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after,
.k-safari .km-ios:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after,
.k-safari .km-blackberry:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after {
  background-image: inherit;
  background-repeat: inherit;
  background-position: inherit;
  background-color: currentcolor;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.km-root .km-pane.km-on-blackberry.km-blackberry6 .km-view .km-icon:after,
.km-root .km-pane.km-on-blackberry.km-blackberry7 .km-view .km-icon:after,
.km-root .km-pane.km-pane.km-on-android .km-view .km-icon:after,
.km-root .km-pane.km-pane.km-on-meego .km-view .km-icon:after {
  background: none;
  -webkit-text-fill-color: inherit;
}
.km-contactadd:after,
.km-contactadd:before,
.km-rowinsert:after,
.km-rowinsert:before {
  content: "\E039";
}
.km-rowdelete:after,
.km-rowdelete:before {
  content: "\E03a";
}
.km-detaildisclose:after,
.km-detaildisclose:before {
  content: "\E0E2";
}
.km-action:after,
.km-action:before {
  content: "\e0ca";
}
.km-add:after,
.km-add:before {
  content: "\e0cb";
}
.km-battery:after,
.km-battery:before {
  content: "\e0ce";
}
.km-bookmarks:after,
.km-bookmarks:before {
  content: "\e0cf";
}
.km-camera:after,
.km-camera:before {
  content: "\e0d0";
}
.km-cart:after,
.km-cart:before {
  content: "\e0d1";
}
.km-edit:after,
.km-compose:after,
.km-edit:before,
.km-compose:before {
  content: "\e0d5";
}
.km-contacts:after,
.km-contacts:before {
  content: "\e0e4";
}
.km-trash:after,
.km-delete:after,
.km-trash:before,
.km-delete:before {
  content: "\e0ec";
}
.km-details:after,
.km-details:before {
  content: "\e0e2";
}
.km-download:after,
.km-downloads:after,
.km-download:before,
.km-downloads:before {
  content: "\e0d4";
}
.km-fastforward:after,
.km-fastforward:before {
  content: "\e0d9";
}
.km-toprated:after,
.km-favorites:after,
.km-toprated:before,
.km-favorites:before {
  content: "\e0d7";
}
.km-featured:after,
.km-featured:before {
  content: "\e0d8";
}
.km-globe:after,
.km-globe:before {
  content: "\e0dc";
}
.km-history:after,
.km-history:before {
  content: "\e0e7";
}
.km-home:after,
.km-home:before {
  content: "\e0dd";
}
.km-info:after,
.km-about:after,
.km-info:before,
.km-about:before {
  content: "\e0de";
}
.km-more:after,
.km-more:before {
  content: "\e0e0";
}
.km-mostrecent:after,
.km-mostrecent:before {
  content: "\e0cc";
}
.km-mostviewed:after,
.km-mostviewed:before {
  content: "\e0d6";
}
.km-organize:after,
.km-organize:before {
  content: "\e0eb";
}
.km-pause:after,
.km-pause:before {
  content: "\e0e3";
}
.km-play:after,
.km-play:before {
  content: "\e0e5";
}
.km-recents:after,
.km-recents:before {
  content: "\e0d2";
}
.km-refresh:after,
.km-refresh:before {
  content: "\e0e6";
}
.km-reply:after,
.km-reply:before {
  content: "\e0ed";
}
.km-rewind:after,
.km-rewind:before {
  content: "\e0e8";
}
.km-search:after,
.km-search:before {
  content: "\e0e9";
}
.km-settings:after,
.km-settings:before {
  content: "\e0da";
}
.km-share:after,
.km-share:before {
  content: "\e0df";
}
.km-sounds:after,
.km-volume:after,
.km-sounds:before,
.km-volume:before {
  content: "\e0ef";
}
.km-stop:after,
.km-stop:before {
  content: "\e0ea";
}
.km-wifi:after,
.km-wifi:before {
  content: "\e0f0";
}
.km-root .km-pane .km-icon.km-check {
  -webkit-background-clip: initial;
}
.km-root .km-pane .km-check:checked:after,
.km-widget .km-check:checked:after {
  content: "\e227";
}
.km-android .km-more:after,
.km-android .km-more:before {
  content: "\e0e1";
}
.km-meego .km-more:after,
.km-meego .km-more:before {
  content: "\e0f1";
}
.km-wp .km-loading:after,
.km-wp .km-load-more .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
}
.km-meego .km-loading:after,
.km-meego .km-load-more .km-icon:after,
.km-meego .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
}
.km-root .km-android .km-loading:after,
.km-android .km-load-more .km-icon:after,
.km-root .km-android .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
}
.km-scroller-pull .km-icon:after {
  content: "\e0f2";
}
.km-icon.km-phone:after,
.km-ios7 .km-state-active .km-phone:after {
  content: "\e326";
}
.km-ios7 .km-detaildisclose:after {
  content: "i";
}
.km-ios7 .km-action:after {
  content: "\e1ff";
}
.km-ios7 .km-add:after {
  content: "\e200";
}
.km-ios7 .km-mostrecent:after {
  content: "\e201";
}
.km-ios7 .km-battery:after {
  content: "\e203";
}
.km-ios7 .km-bookmarks:after {
  content: "\e204";
}
.km-ios7 .km-camera:after {
  content: "\e205";
}
.km-ios7 .km-cart:after {
  content: "\e206";
}
.km-ios7 .km-recents:after {
  content: "\e207";
}
.km-ios7 .km-download:after,
.km-ios7 .km-downloads:after {
  content: "\e209";
}
.km-ios7 .km-edit:after {
  content: "\e20a";
}
.km-ios7 .km-mostviewed:after {
  content: "\e20b";
}
.km-ios7 .km-toprated:after,
.km-ios7 .km-favorites:after {
  content: "\e20c";
}
.km-ios7 .km-featured:after {
  content: "\e20d";
}
.km-ios7 .km-fastforward:after {
  content: "\e20e";
}
.km-ios7 .km-settings:after {
  content: "\e20f";
}
.km-ios7 .km-globe:after {
  content: "\e211";
}
.km-ios7 .km-home:after {
  content: "\e212";
}
.km-ios7 .km-info:after,
.km-ios7 .km-about:after {
  content: "\e213";
}
.km-ios7 .km-share:after {
  content: "\e214";
}
.km-ios7 .km-more:after {
  content: "\e215";
}
.km-ios7 .km-details:after {
  content: "\e217";
}
.km-ios7 .km-pause:after {
  content: "\e218";
}
.km-ios7 .km-contacts:after {
  content: "\e219";
}
.km-ios7 .km-play:after {
  content: "\e21a";
}
.km-ios7 .km-refresh:after {
  content: "\e21b";
}
.km-ios7 .km-history:after {
  content: "\e21c";
}
.km-ios7 .km-rewind:after {
  content: "\e21d";
}
.km-ios7 .km-search:after {
  content: "\e21e";
}
.km-ios7 .km-stop:after {
  content: "\e21f";
}
.km-ios7 .km-organize:after {
  content: "\e220";
}
.km-ios7 .km-trash:after,
.km-ios7 .km-delete:after {
  content: "\e221";
}
.km-ios7 .km-reply:after {
  content: "\e222";
}
.km-ios7 .km-forward:after {
  content: "\e223";
}
.km-ios7 .km-sounds:after,
.km-ios7 .km-volume:after {
  content: "\e224";
}
.km-ios7 .km-wifi:after {
  content: "\e225";
}
.km-ios7 .km-phone:after {
  content: "\e226";
}
.km-ios7 .km-state-active .km-action:after {
  content: "\e2ff";
}
.km-ios7 .km-state-active .km-add:after {
  content: "\e300";
}
.km-ios7 .km-state-active .km-mostrecent:after {
  content: "\e301";
}
.km-ios7 .km-state-active .km-battery:after {
  content: "\e303";
}
.km-ios7 .km-state-active .km-bookmarks:after {
  content: "\e304";
}
.km-ios7 .km-state-active .km-camera:after {
  content: "\e305";
}
.km-ios7 .km-state-active .km-cart:after {
  content: "\e306";
}
.km-ios7 .km-state-active .km-recents:after {
  content: "\e307";
}
.km-ios7 .km-state-active .km-download:after,
.km-ios7 .km-state-active .km-downloads:after {
  content: "\e309";
}
.km-ios7 .km-state-active .km-edit:after {
  content: "\e30a";
}
.km-ios7 .km-state-active .km-mostviewed:after {
  content: "\e30b";
}
.km-ios7 .km-state-active .km-toprated:after,
.km-ios7 .km-state-active .km-favorites:after {
  content: "\e30c";
}
.km-ios7 .km-state-active .km-featured:after {
  content: "\e30d";
}
.km-ios7 .km-state-active .km-fastforward:after {
  content: "\e30e";
}
.km-ios7 .km-state-active .km-settings:after {
  content: "\e30f";
}
.km-ios7 .km-state-active .km-globe:after {
  content: "\e311";
}
.km-ios7 .km-state-active .km-home:after {
  content: "\e312";
}
.km-ios7 .km-state-active .km-info:after,
.km-ios7 .km-state-active .km-about:after {
  content: "\e313";
}
.km-ios7 .km-state-active .km-share:after {
  content: "\e314";
}
.km-ios7 .km-state-active .km-more:after {
  content: "\e315";
}
.km-ios7 .km-state-active .km-details:after {
  content: "\e317";
}
.km-ios7 .km-state-active .km-pause:after {
  content: "\e318";
}
.km-ios7 .km-state-active .km-contacts:after {
  content: "\e319";
}
.km-ios7 .km-state-active .km-play:after {
  content: "\e31a";
}
.km-ios7 .km-state-active .km-refresh:after {
  content: "\e31b";
}
.km-ios7 .km-state-active .km-history:after {
  content: "\e31c";
}
.km-ios7 .km-state-active .km-rewind:after {
  content: "\e31d";
}
.km-ios7 .km-state-active .km-search:after {
  content: "\e31e";
}
.km-ios7 .km-state-active .km-stop:after {
  content: "\e31f";
}
.km-ios7 .km-state-active .km-organize:after {
  content: "\e320";
}
.km-ios7 .km-state-active .km-trash:after,
.km-ios7 .km-state-active .km-delete:after {
  content: "\e321";
}
.km-ios7 .km-state-active .km-reply:after {
  content: "\e322";
}
.km-ios7 .km-state-active .km-forward:after {
  content: "\e323";
}
.km-ios7 .km-state-active .km-sounds:after,
.km-ios7 .km-state-active .km-volume:after {
  content: "\e324";
}
.km-ios7 .km-state-active .km-wifi:after {
  content: "\e325";
}
.km-arrowdown:after,
.km-arrowdown:before {
  content: "\e002";
}
.km-wp .km-scroller-pull .km-icon:after {
  content: "\E0D4";
}
.km-on-wp.km-app .km-icon:after,
.km-on-wp.km-app .km-filter-wrap:before,
.km-on-wp.km-app .km-state-active .km-icon:after {
  color: transparent;
  background-image: url("images/wp8_icons.png");
  background-size: auto 100%;
  height: 1em;
  margin-top: 0;
  vertical-align: middle;
}
.km-wp-light.km-app .km-icon:after,
.km-wp-light.km-app .km-filter-wrap:before {
  background-image: url("images/wp8_inverseicons.png");
}
.km-on-wp.km-app .km-icon {
  line-height: 1em;
}
.km-on-wp.km-app .km-icon:before {
  display: none;
}
.km-on-wp.km-app .km-action:after {
  background-position-x: 20%;
}
.km-on-wp.km-app .km-add:after,
.km-on-wp.km-app .km-filter-reset .km-clear:after {
  background-position-x: 22%;
}
.km-on-wp.km-app .km-battery:after {
  background-position-x: 24%;
}
.km-on-wp.km-app .km-bookmarks:after {
  background-position-x: 26%;
}
.km-on-wp.km-app .km-camera:after {
  background-position-x: 28%;
}
.km-on-wp.km-app .km-cart:after {
  background-position-x: 30%;
}
.km-on-wp.km-app .km-edit:after,
.km-on-wp.km-app .km-compose:after {
  background-position-x: 32%;
}
.km-on-wp.km-app .km-contacts:after {
  background-position-x: 34%;
}
.km-on-wp.km-app .km-trash:after,
.km-on-wp.km-app .km-delete:after {
  background-position-x: 36%;
}
.km-on-wp.km-app .km-details:after {
  background-position-x: 38%;
}
.km-on-wp.km-app .km-download:after,
.km-on-wp.km-app .km-downloads:after {
  background-position-x: 40%;
}
.km-on-wp.km-app .km-fastforward:after {
  background-position-x: 42%;
}
.km-on-wp.km-app .km-toprated:after,
.km-on-wp.km-app .km-favorites:after {
  background-position-x: 44%;
}
.km-on-wp.km-app .km-featured:after {
  background-position-x: 46%;
}
.km-on-wp.km-app .km-globe:after {
  background-position-x: 48%;
}
.km-on-wp.km-app .km-history:after {
  background-position-x: 50%;
}
.km-on-wp.km-app .km-home:after {
  background-position-x: 52%;
}
.km-on-wp.km-app .km-info:after,
.km-on-wp.km-app .km-about:after {
  background-position-x: 54%;
}
.km-on-wp.km-app .km-more:after {
  background-position-x: 56%;
}
.km-on-wp.km-app .km-mostrecent:after {
  background-position-x: 58%;
}
.km-on-wp.km-app .km-mostviewed:after {
  background-position-x: 60%;
}
.km-on-wp.km-app .km-organize:after {
  background-position-x: 62%;
}
.km-on-wp.km-app .km-pause:after {
  background-position-x: 64%;
}
.km-on-wp.km-app .km-play:after {
  background-position-x: 66%;
}
.km-on-wp.km-app .km-recents:after {
  background-position-x: 68%;
}
.km-on-wp.km-app .km-refresh:after {
  background-position-x: 70%;
}
.km-on-wp.km-app .km-reply:after {
  background-position-x: 72%;
}
.km-on-wp.km-app .km-rewind:after {
  background-position-x: 74%;
}
.km-on-wp.km-app .km-search:after,
.km-on-wp.km-app .km-filter-wrap:before {
  background-position-x: 76%;
}
.km-on-wp.km-app .km-settings:after {
  background-position-x: 78%;
}
.km-on-wp.km-app .km-share:after {
  background-position-x: 80%;
}
.km-on-wp.km-app .km-sounds:after,
.km-on-wp.km-app .km-volume:after {
  background-position-x: 82%;
}
.km-on-wp.km-app .km-stop:after {
  background-position-x: 84%;
}
.km-on-wp.km-app .km-wifi:after {
  background-position-x: 86%;
}
.km-on-wp.km-app.km-android .km-more:after {
  background-position-x: 88%;
}
.km-on-wp.km-app.km-meego .km-more:after {
  background-position-x: 90%;
}
.km-on-wp.km-app.km-meego .km-loading:after,
.km-on-wp.km-app.km-meego .km-load-more .km-icon:after,
.km-on-wp.km-app.km-meego .km-scroller-refresh .km-icon:after {
  background-position-x: 94%;
}
.km-on-wp.km-app .km-scroller-pull .km-icon:after {
  background-position-x: 100%;
}
.km-on-wp.km-app .km-filter-wrap:before {
  display: inline-block;
  content: "\a0";
}
.km-on-wp.km-app .km-filter-reset .km-clear:after {
  transform: rotate(45deg);
}
.km-listview-link:after {
  width: .5rem;
  height: .5rem;
  content: "\a0";
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.2rem;
  border-style: solid;
  border-width: .24rem .24rem 0 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.km-listview-wrapper > ul:not(.km-listview) {
  margin: 0 auto;
}
.km-list,
.km-listview {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.km-listinset,
.km-listgroupinset {
  margin: 1em;
}
.k-ff .km-listinset:after,
.k-ff .km-listgroupinset:after {
  display: block;
  height: 0;
  content: "\a0";
}
.km-listinset,
.km-listgroupinset .km-list {
  overflow: hidden;
}
.km-listview .km-switch {
  margin-top: -0.95rem;
  position: absolute;
  right: .8rem;
  top: 50%;
}
.km-listview .km-list {
  text-indent: 0;
}
.km-list > li,
.km-widget .km-listview-link,
.km-widget .km-listview-label {
  margin: 0;
  display: block;
  position: relative;
  list-style-type: none;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em .7em;
}
.km-list > li {
  line-height: 1.6em;
  overflow: hidden;
}
.km-virtual-list {
  position: relative;
  width: 100%;
  -webkit-transform: translateZ(0);
}
.km-virtual-list > li {
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-transform: translateZ(0);
}
.km-widget.km-list .km-load-more,
.km-widget .km-list .km-load-more {
  border-bottom: 0;
}
.km-list > li > * {
  line-height: normal;
}
.km-group-title {
  display: block;
  font-weight: bold;
  padding: .2em 0;
  text-indent: .8em;
}
.km-listgroupinset .km-group-title {
  margin-top: .65em;
  line-height: 2em;
}
.km-list:not(.km-virtual-list) > li:first-child {
  border-top-width: 0;
}
.km-list:not(.km-virtual-list) > li:last-child {
  border-bottom-width: 0;
}
.km-widget .km-listview-link,
.km-widget .km-listview-label {
  line-height: inherit;
  text-decoration: none;
  margin: -0.5em -0.7em;
}
.km-listview-link:after,
.km-listview-label:after {
  border-color: #777;
  content: "\a0";
  display: block;
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -0.32rem;
}
/* Filtering */
.km-filter-form {
  width: 100%;
  padding: .5em 0;
  border: 1px solid transparent;
  border-width: 1px 0;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.km-filter-wrap {
  position: relative;
  margin: 0 .7em;
  padding: .2em .4em;
  border: 1px solid transparent;
}
.km-widget .km-filter-wrap:before {
  display: inline-block;
  vertical-align: middle;
  content: "\e0e9";
  font-size: 1.6em;
  width: 1em;
  height: 1em;
  margin-right: -1em;
  color: inherit;
}
.km-tablet .km-filter-wrap {
  max-width: 24em;
  margin: 0 auto;
}
.km-filter-wrap > input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.km-filter-wrap input {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  vertical-align: middle;
  padding: 0 1.4em;
}
.km-filter-reset {
  display: inline-block;
  margin-left: -1.6em;
  vertical-align: middle;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  height: 100%;
}
.km-filter-reset .km-clear {
  font-size: 1.6em;
  width: 1em;
  height: 1em;
  display: block;
}
.km-filter-reset > .km-text {
  position: absolute;
  top: -3333px;
  left: -3333px;
}
/* Load more */
.km-load-more {
  display: block;
  padding: .3em 0 1.2em;
  height: 3.2em;
  text-align: center;
}
/* Common Platform CSS */
@-ms-viewport {
  width: device-width;
  user-zoom: fixed;
  max-zoom: 1;
  min-zoom: 1;
}
@media (orientation: landscape) {
  .km-tablet .km-on-ios.km-horizontal.km-web:not(.km-ios-chrome) {
    position: fixed;
    bottom: 0;
  }
}
.km-root {
  font-size: .92em;
}
.km-root a {
  color: inherit;
}
.km-tablet {
  font-size: 1em;
}
.km-root *:focus {
  outline-width: 0;
}
.km-root,
.km-pane,
.km-pane-wrapper {
  width: 100%;
  height: 100%;
  -ms-touch-action: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  overflow-x: hidden;
}
.km-pane-wrapper {
  position: absolute;
}
.km-pane,
.km-shim {
  font-family: sans-serif;
}
.km-pane {
  overflow-x: hidden;
  position: relative;
}
.km-vertical .km-collapsible-pane {
  position: absolute;
  z-index: 2 !important;
  -webkit-transition: -webkit-transform 350ms ease-out;
  -ms-transition: -ms-transform 350ms ease-out;
  -webkit-transform: translatex(-100%);
  -moz-transform: translatex(-100%);
  -ms-transform: translatex(-100%);
  -o-transform: translatex(-100%);
  transform: translatex(-100%);
}
.km-vertical .km-expanded-splitview .km-collapsible-pane {
  -webkit-transform: translatex(0);
  -moz-transform: translatex(0);
  -ms-transform: translatex(0);
  -o-transform: translatex(0);
  transform: translatex(0);
}
.km-expanded-pane-shim {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.km-expanded-splitview .km-expanded-pane-shim {
  display: block;
  z-index: 1;
}
.km-root > * {
  margin: 0;
  padding: 0;
}
.km-root * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.km-content {
  display: block;
}
.km-view,
.km-split-content {
  top: 0;
  left: 0;
  position: absolute;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  vertical-align: top;
}
.k-ff .km-view,
.k-ff .km-pane {
  overflow: hidden;
}
.k-ff18 .km-view,
.k-ff18 .km-pane,
.k-ff19 .km-view,
.k-ff19 .km-pane,
.k-ff20 .km-view,
.k-ff20 .km-pane,
.k-ff21 .km-view,
.k-ff21 .km-pane {
  position: relative;
}
.k-ff .km-view {
  display: -moz-inline-box;
  display: inline-flex;
}
.km-content {
  min-height: 1px;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  flex-align: stretch;
  width: auto;
  overflow: hidden;
  position: relative;
}
.km-content p,
.km-content h1,
.km-content h2,
.km-content h3,
.km-content h4,
.km-content h5,
.km-content h6 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.km-header,
.km-footer {
  display: block;
  display: -moz-box;
  -moz-box-orient: vertical;
  width: 100%;
}
.km-header {
  padding: 0;
}
.km-footer {
  background: #1a1a1a;
}
[data-role="layout"] {
  display: none;
}
[data-role="view"],
[data-role="drawer"] {
  visibility: hidden;
}
.km-view {
  visibility: visible;
}
.km-header,
.km-footer {
  position: relative;
  z-index: 1;
}
@media all and (-webkit-min-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0) {
  .km-view {
    display: table;
  }
  .km-header,
  .km-footer,
  .km-content {
    display: table-row;
  }
  .km-header,
  .km-footer {
    height: 1px;
  }
}
.km-root .k-toolbar,
.km-navbar,
.km-button,
.km-buttongroup,
.km-tabstrip,
.km-blackberry li.km-actionsheet-cancel > a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-origin: border-box;
  position: relative;
  display: inline-block;
  padding: .4em .7em;
  margin: .1rem;
  overflow: visible;
  text-decoration: none;
}
.km-tabstrip,
.km-root .k-toolbar,
.km-navbar {
  display: block;
  padding: .8em;
  margin: 0;
  width: 100%;
  border-width: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-native-scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: pan-x pan-y;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-scroll-snap-type: proximity;
}
.km-default-content {
  padding: 1em;
}
.km-shim {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10001;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-root .km-shim {
  position: absolute;
}
.km-shim:before {
  content: "\a0";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.km-shim .k-animation-container {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
  width: auto;
}
/* Loader */
.km-loader {
  top: 50%;
  left: 50%;
  width: 180px;
  height: 130px;
  z-index: 100000;
  padding: 30px 30px;
  position: absolute;
  margin-top: -70px;
  margin-left: -90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}
.km-loader h1 {
  font-size: 1rem;
  color: white;
  text-align: center;
  vertical-align: middle;
}
.km-loader .km-loading,
.km-load-more .km-icon,
.km-scroller-refresh .km-icon {
  animation: km-spin 1s infinite linear;
  -moz-animation: km-spin 1s infinite linear;
  -webkit-animation: km-spin 1s infinite linear;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  font-size: 35px;
}
.km-loader .km-loading:after,
.km-load-more .km-icon:after {
  color: #ccc;
}
.km-loading-left,
.km-loading-right {
  display: none;
}
@-webkit-keyframes km-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes km-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes km-spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes km-spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes km-ios-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes km-ios-spin1 {
  from {
    -webkit-transform: rotate(-135deg);
  }
  to {
    -webkit-transform: rotate(225deg);
  }
}
@-moz-keyframes km-ios-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-moz-keyframes km-ios-spin1 {
  from {
    -moz-transform: rotate(-135deg);
  }
  to {
    -moz-transform: rotate(225deg);
  }
}
@keyframes km-ios-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes km-ios-spin1 {
  from {
    transform: rotate(-135deg);
  }
  to {
    transform: rotate(225deg);
  }
}
/* Stretched View */
.km-stretched-view {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.km-stretched-view > * {
  width: 100%;
}
.km-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 100000;
}
.km-root.km-native-scrolling,
.km-root.km-native-scrolling .km-view,
.km-root.km-native-scrolling .km-splitview .km-pane {
  min-height: 100%;
  height: auto;
  -webkit-transform: none;
  overflow-x: visible;
}
.km-native-scrolling .km-pane,
.km-native-scrolling .km-view {
  -ms-touch-action: auto;
  display: block;
}
.km-native-scrolling .km-content {
  -ms-flex: auto;
}
.km-native-scrolling .km-blackberry .km-content {
  min-height: auto;
}
/* Restore position:absolute during animation */
.km-native-scrolling .km-splitview {
  position: absolute;
}
.km-native-scrolling .km-header {
  position: fixed;
  top: 0;
}
.km-native-scrolling .km-android .km-header {
  top: auto;
  bottom: 0;
}
.km-native-scrolling .km-footer {
  position: fixed;
  bottom: 0;
}
.km-native-scrolling .km-android .km-footer {
  top: 0;
  bottom: auto;
}
.km-native-scrolling .km-badge {
  z-index: auto;
}
.km-native-scrolling .km-splitview .km-header,
.km-native-scrolling .km-splitview .km-footer,
.km-native-scrolling .km-popup.km-pane .km-header,
.km-native-scrolling .km-popup.km-pane .km-footer {
  position: absolute;
}
.km-native-scrolling .km-modalview .km-header,
.km-native-scrolling .km-modalview .km-footer {
  position: relative;
}
.km-native-scrolling .km-content {
  width: 100%;
}
.km-native-scrolling .km-shim,
.km-native-scrolling .km-popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  height: auto !important;
}
.km-native-scrolling .km-drawer {
  position: fixed;
  top: 0;
  height: 100% !important;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
}
.km-native-scrolling > .km-pane > .km-loader {
  position: fixed;
  top: 50%;
  margin-top: -2em;
}
.km-native-scrolling .km-header,
.km-native-scrolling .km-footer {
  z-index: 2;
}
/* Disabled states */
.km-state-disabled {
  opacity: 0.5;
}
.km-wp {
  font-size: 1em;
  font-family: 'Segoe WP', 'Segoe UI Symbol', 'Segoe UI', sans-serif;
}
.km-wp a {
  text-decoration: none;
}
.km-wp .km-button,
.km-root .km-wp .km-view .km-buttongroup .km-button {
  border-style: solid;
  border-width: .1em;
  border-radius: 0;
  line-height: 1em;
  padding: .04em .5em .16em;
}
.km-root .km-wp .km-tabstrip .km-icon,
.km-wp .km-scroller-pull .km-icon {
  width: 1em;
  height: 1em;
  font-size: 3.2em;
  border-width: .08em;
  border-style: solid;
  border-radius: 5em;
  margin-bottom: .2em;
  padding: .1em;
}
.km-wp .km-scroller-pull .km-icon {
  width: 1em;
  height: 1em;
  font-size: 1.2em;
}
.km-wp .km-icon {
  line-height: 1em;
}
.km-wp .km-icon:before {
  margin-top: .08em;
}
.km-wp .km-icon:after {
  margin-top: .04em;
  vertical-align: middle;
  height: 1em;
}
.km-wp .km-tabstrip .km-icon:after,
.km-wp .km-tabstrip .km-icon:before {
  margin-top: .02em;
  margin-left: -0.05em;
}
.km-wp .km-tabstrip .km-icon:before {
  margin-top: .06em;
}
/* Scroll hints */
.km-wp .km-touch-scrollbar {
  border-width: 1px;
  border-style: solid;
}
.km-wp .km-vertical-scrollbar {
  width: 2px;
}
.km-wp .km-horizontal-scrollbar {
  height: 2px;
}
.km-wp .km-scrollview,
.km-wp .km-buttongroup {
  overflow: hidden;
}
/* Orientation fallback */
@media all and (orientation: landscape) {
  .km-root > .km-pane {
    animation-name: -kendo-landscape;
  }
}
/* Pull To Refresh */
.km-wp .km-load-more,
.km-wp .km-scroller-pull {
  font-size: 1.2em;
}
/* DropDownList */
.km-wp .km-popup {
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.6);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-wp .km-popup .k-list-container {
  width: 100% !important;
  height: auto !important;
  bottom: 0;
  border: 0;
  padding: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-wp .km-actionsheet,
.km-phone .km-wp .km-popup .k-list-container {
  max-height: 80%;
}
.km-wp .km-popup li.k-state-hover {
  color: inherit;
}
/* Loader */
.km-wp .km-loader,
.km-wp .km-loading-right,
.km-wp .km-scroller-refresh {
  display: block;
  width: 100%;
  height: 4em;
  padding: 0;
  top: 50%;
  left: 0;
  border-radius: 0;
  border: 0;
  margin: -2em 0 0;
  font-size: 1.2em;
  text-align: center;
  vertical-align: middle;
  line-height: .65rem;
}
.km-wp .km-loading-right {
  position: absolute;
  z-index: -1;
}
.km-wp .km-loader {
  margin: 0;
  top: 0;
  height: 100%;
  background: transparent;
}
.km-wp .km-scroller-refresh {
  background: transparent;
  height: 3em;
  margin: 0;
  width: 100%;
  font-size: 1.2rem;
}
.km-load-more.km-scroller-refresh {
  position: relative;
}
.km-wp .km-loader h1,
.km-wp .km-scroller-refresh .km-template {
  position: absolute;
  display: none;
  font-size: 1em;
  width: 100%;
  left: 0;
  margin-left: 0;
  top: 50%;
}
.km-wp .km-scroller-refresh .km-template {
  left: 0;
  margin-left: 0;
  text-align: center;
  width: 100%;
}
.km-wp .km-loader .km-loading,
.km-wp .km-scroller-refresh .km-icon {
  animation: none;
  -moz-animation: none;
  -webkit-animation: none;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
}
.km-wp .km-loader:before,
.km-wp .km-loader:after,
.km-wp .km-loader .km-loading,
.km-wp .km-loader .km-loading:after,
.km-wp .km-loader .km-loading:before,
.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon,
.km-wp .km-scroller-refresh .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:before {
  position: absolute;
  display: inline-block;
  content: "\a0";
  top: 0;
  left: 0;
  border: 0;
  width: 12em;
  margin: 0;
  padding: 0;
  height: 0;
  text-align: left;
  font-family: "Kendo UI";
  vertical-align: top;
}
.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon,
.km-wp .km-scroller-refresh .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:before {
  width: 100%;
}
.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon {
  top: 46%;
  font-size: .3em;
}
.km-wp .km-loader:before,
.km-wp .km-loader:after,
.km-wp .km-loader .km-loading {
  left: 50%;
  margin-left: -7em;
  top: 50%;
  font-size: .3em;
  line-height: 0;
}
.km-wp .km-loader:before,
.km-wp .km-loader:after,
.km-wp .km-loader .km-loading:after,
.km-wp .km-loader .km-loading:before,
.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:before {
  opacity: 0;
  height: .6em;
  border-left: .7em solid;
  animation: km-wpload 2s infinite linear;
  -moz-animation: km-wpload 2s infinite linear;
  -webkit-animation: km-wpload 2s infinite linear;
}
.km-wp .km-loader .km-loading:after,
.km-wp .km-scroller-refresh .km-icon:after {
  animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
}
.km-wp .km-loader .km-loading:before,
.km-wp .km-scroller-refresh .km-icon:before {
  animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
.km-wp .km-loader:before,
.km-wp .km-scroller-refresh:before {
  animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
.km-wp .km-loader:after,
.km-wp .km-scroller-refresh:after {
  animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
}
@keyframes km-wpload {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  8% {
    transform: translateX(30%);
  }
  16% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  42% {
    transform: translateX(70%);
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes km-wpload {
  0% {
    -moz-transform: translateX(0);
    opacity: 0;
  }
  8% {
    -moz-transform: translateX(30%);
  }
  16% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  42% {
    -moz-transform: translateX(70%);
  }
  50% {
    -moz-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes km-wpload {
  0% {
    -webkit-transform: translateX(0);
    opacity: 0;
  }
  8% {
    -webkit-transform: translateX(30%);
  }
  16% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  42% {
    -webkit-transform: translateX(70%);
  }
  50% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.km-wp .km-content:not(.km-stretched-view) {
  display: block;
}
/* Color Template */
/* Variables */
.km-wp,
.km-wp .km-content,
.km-wp .km-button {
  background-color: Background;
}
.km-wp-dark-force,
.km-wp-dark-force .km-content,
.km-wp-dark-force .km-button {
  background-color: #000000;
}
.km-wp-light-force,
.km-wp-light-force .km-content,
.km-wp-light-force .km-button {
  background-color: #ffffff;
}
.km-wp-dark,
.km-wp-dark a,
.km-wp-dark .k-widget,
.km-wp-dark .k-group,
.km-wp-dark .k-content,
.km-wp-dark .km-button,
.km-wp-dark .km-load-more,
.km-wp-dark .km-scroller-pull,
.km-wp-dark .km-detail,
.km-wp-dark .km-popup .km-item,
.km-wp-dark .k-dropdown .k-dropdown-wrap {
  color: #ffffff;
}
.km-wp-light,
.km-wp-light a,
.km-wp-light .k-widget,
.km-wp-light .k-group,
.km-wp-light .k-content,
.km-wp-light .km-button,
.km-wp-light .km-load-more,
.km-wp-light .km-scroller-pull,
.km-wp-light .km-detail,
.km-wp-light .km-popup .km-item,
.km-wp-light .k-dropdown .k-dropdown-wrap {
  color: #000000;
}
.km-wp-dark .km-actionsheet-wrapper,
.km-wp-dark .km-popup .k-list-container,
.km-wp-dark .km-modalview,
.km-wp-dark .km-popup-wrapper,
.km-wp-dark .km-footer {
  background-color: #1f1f1f;
}
.km-wp-light .km-actionsheet-wrapper,
.km-wp-light .km-popup .k-list-container,
.km-wp-light .km-modalview,
.km-wp-light .km-popup-wrapper,
.km-wp-light .km-footer {
  background-color: #dddddd;
}
.km-wp-dark .km-button,
.km-wp-dark .km-listview-link:after {
  border-color: #ffffff;
}
.km-wp-light .km-button,
.km-wp-light .km-listview-link:after {
  border-color: #000000;
}
.km-wp .km-detail:active,
.km-wp .km-button:active,
.km-wp .km-detail.km-state-active,
.km-wp .km-button.km-state-active,
.km-wp .km-actionsheet > li > a:hover,
.km-wp .km-actionsheet > li > a:active,
.km-wp .km-actionsheet > li > .k-state-active,
.km-wp .km-popup li.k-item:active,
.km-wp .km-popup li.k-state-selected {
  background: Highlight;
}
.km-wp .km-detail:active,
.km-wp .km-detail.km-state-active,
.km-wp *:not(.km-tabstrip) > .km-button:active,
.km-wp *:not(.km-tabstrip) > .km-button.km-state-active,
.km-wp .km-actionsheet > li > a:hover,
.km-wp .km-actionsheet > li > a:active,
.km-wp .km-actionsheet > li > .k-state-active,
.km-wp .km-popup li.k-item:active,
.km-wp .km-popup li.k-state-selected {
  color: HighlightText;
}
.km-wp-dark .km-list > li > .km-icon,
.km-wp-dark .km-listview-link > .km-icon {
  background: #333333;
}
.km-wp-light .km-list > li > .km-icon,
.km-wp-light .km-listview-link > .km-icon {
  background: #bebebe;
}
.km-wp-dark .km-state-active .km-listview-link,
.km-wp-dark .km-state-active .km-listview-label {
  color: #dddddd;
}
.km-wp-light .km-state-active .km-listview-link,
.km-wp-light .km-state-active .km-listview-label {
  color: #1f1f1f;
}
.km-wp .km-badge,
.km-wp .km-state-active .km-listview-link:after {
  border-color: HighlightText;
}
.km-wp .km-listview-label input[type=radio],
.km-wp .km-listview-label input[type=checkbox] {
  border-color: #ffffff;
  box-shadow: 0 0 1px #ffffff;
  -webkit-box-shadow: 0 0 1px #ffffff;
}
.km-wp-light .km-listview-label input[type=radio],
.km-wp-light .km-listview-label input[type=checkbox] {
  border-color: #000000;
  box-shadow: 0 0 1px #000000;
  -webkit-box-shadow: 0 0 1px #000000;
}
.km-wp .km-listview-label input[type=checkbox]:checked:after {
  color: #ffffff;
}
.km-wp-light .km-listview-label input[type=checkbox]:checked:after {
  color: #000000;
}
.km-wp .km-listview-label input[type=radio]:checked:after {
  color: transparent;
  background: #ffffff;
}
.km-wp-light .km-listview-label input[type=radio]:checked:after {
  background: #000000;
}
.km-wp .km-badge,
.km-wp .km-group-title {
  background-color: Highlight;
  color: HighlightText;
}
.km-wp-dark .km-loader h1,
.km-wp-dark .km-filter-wrap:before,
.km-wp-dark .km-filter-reset .km-clear {
  color: #ffffff;
}
.km-wp-light .km-loader h1,
.km-wp-light .km-filter-wrap:before,
.km-wp-light .km-filter-reset .km-clear {
  color: #000000;
}
.km-wp .km-navbar,
.km-wp .k-toolbar {
  background: Background;
}
.km-wp-dark-force .km-navbar,
.km-wp-dark-force .k-toolbar {
  background: #000000;
}
.km-wp-light-force .km-navbar,
.km-wp-light-force .k-toolbar {
  background: #ffffff;
}
.km-wp-dark .km-pages > li {
  background: #ffffff;
}
.km-wp-light .km-pages > li {
  background: #000000;
}
.km-wp .km-pages .km-current-page {
  background: Highlight;
}
.km-wp-dark .km-switch-wrapper {
  border-color: #ffffff;
}
.km-wp-light .km-switch-wrapper {
  border-color: #000000;
}
.km-wp-light .km-switch-container {
  box-shadow: inset 0 0 0 0.2em #ffffff;
  -webkit-box-shadow: inset 0 0 0 0.2em #ffffff;
}
.km-wp-dark .km-switch-container {
  box-shadow: inset 0 0 0 0.2em #000000;
  -webkit-box-shadow: inset 0 0 0 0.2em #000000;
}
.km-wp-dark .km-switch-handle {
  box-shadow: 0 0 0 0.3em #000000;
  -webkit-box-shadow: 0 0 0 0.3em #000000;
  background: #ffffff;
}
.km-wp-light .km-switch-handle {
  box-shadow: 0 0 0 0.3em #ffffff;
  -webkit-box-shadow: 0 0 0 0.3em #ffffff;
  background: #000000;
}
.km-wp .km-switch-background {
  background: Highlight;
}
.km-wp .km-tabstrip .km-state-active .km-icon {
  background-color: Highlight;
  color: HighlightText;
}
.km-wp-dark .km-scroller-pull .km-icon,
.km-wp-dark .km-tabstrip .km-state-active .km-icon {
  border-color: #ffffff;
}
.km-wp-light .km-scroller-pull .km-icon,
.km-wp-light .km-tabstrip .km-state-active .km-icon {
  border-color: #000000;
}
.km-wp-light .km-loader:before,
.km-wp-light .km-loader:after,
.km-wp-light .km-loader .km-loading,
.km-wp-light .km-loader .km-loading:after,
.km-wp-light .km-loader .km-loading:before,
.km-wp-light .km-scroller-refresh:after,
.km-wp-light .km-scroller-refresh:before,
.km-wp-light .km-scroller-refresh .km-icon,
.km-wp-light .km-scroller-refresh .km-icon:after,
.km-wp-light .km-scroller-refresh .km-icon:before {
  color: #000000;
}
.km-wp-dark .km-loading-right {
  background: #1f1f1f;
}
.km-wp-light .km-loading-right {
  background: #dddddd;
}
.km-wp .km-touch-scrollbar {
  border-color: rgba(255, 255, 255, 0.4);
}
/* Forms */
.km-wp input[type=password],
.km-wp input[type=search],
.km-wp input[type=number],
.km-wp input[type=tel],
.km-wp input[type=url],
.km-wp input[type=email],
.km-wp input[type=text]:not(.k-input),
.km-wp input[type=month],
.km-wp input[type=color],
.km-wp input[type=week],
.km-wp input[type=date],
.km-wp input[type=time],
.km-wp input[type=datetime],
.km-wp input[type=datetime-local],
.km-wp select:not([multiple]),
.km-wp .k-dropdown,
.km-wp textarea {
  border-color: #ffffff;
  background: Background;
  color: #ffffff;
}
.km-wp input::selection,
.km-wp textarea::selection {
  color: HighlightText;
  background: Highlight;
}
.km-wp-light input[type=password],
.km-wp-light input[type=search],
.km-wp-light input[type=number],
.km-wp-light input[type=tel],
.km-wp-light input[type=url],
.km-wp-light input[type=email],
.km-wp-light input[type=text]:not(.k-input),
.km-wp-light input[type=month],
.km-wp-light input[type=color],
.km-wp-light input[type=week],
.km-wp-light input[type=date],
.km-wp-light input[type=time],
.km-wp-light input[type=datetime],
.km-wp-light input[type=datetime-local],
.km-wp-light select:not([multiple]),
.km-wp-light .k-dropdown,
.km-wp-light textarea {
  border-color: #000000;
  color: #000000;
}
.km-wp-dark-force input[type=password],
.km-wp-dark-force input[type=search],
.km-wp-dark-force input[type=number],
.km-wp-dark-force input[type=tel],
.km-wp-dark-force input[type=url],
.km-wp-dark-force input[type=email],
.km-wp-dark-force input[type=text]:not(.k-input),
.km-wp-dark-force input[type=month],
.km-wp-dark-force input[type=color],
.km-wp-dark-force input[type=week],
.km-wp-dark-force input[type=date],
.km-wp-dark-force input[type=time],
.km-wp-dark-force input[type=datetime],
.km-wp-dark-force input[type=datetime-local],
.km-wp-dark-force select:not([multiple]),
.km-wp-dark-force .k-dropdown,
.km-wp-dark-force textarea {
  background: #000000;
}
.km-wp-light-force input[type=password],
.km-wp-light-force input[type=search],
.km-wp-light-force input[type=number],
.km-wp-light-force input[type=tel],
.km-wp-light-force input[type=url],
.km-wp-light-force input[type=email],
.km-wp-light-force input[type=text]:not(.k-input),
.km-wp-light-force input[type=month],
.km-wp-light-force input[type=color],
.km-wp-light-force input[type=week],
.km-wp-light-force input[type=date],
.km-wp-light-force input[type=time],
.km-wp-light-force input[type=datetime],
.km-wp-light-force input[type=datetime-local],
.km-wp-light-force select:not([multiple]),
.km-wp-light-force .k-dropdown,
.km-wp-light-force textarea {
  background: #ffffff;
}
.km-wp input[type=password]:focus,
.km-wp input[type=search]:focus,
.km-wp input[type=number]:focus,
.km-wp input[type=tel]:focus,
.km-wp input[type=url]:focus,
.km-wp input[type=email]:focus,
.km-wp input[type=text]:not(.k-input):focus,
.km-wp input[type=month]:focus,
.km-wp input[type=color]:focus,
.km-wp input[type=week]:focus,
.km-wp input[type=date]:focus,
.km-wp input[type=time]:focus,
.km-wp input[type=datetime]:focus,
.km-wp input[type=datetime-local]:focus,
.km-wp textarea:focus {
  border-color: Highlight;
}
.km-wp select:not([multiple]):focus,
.km-wp .k-dropdown .k-state-active,
.km-wp .k-dropdown .k-state-focused {
  color: HighlightText;
  border-color: HighlightText;
  background-color: Highlight;
}
/* Slider */
.km-wp .k-slider .k-draghandle,
.km-wp .k-slider .k-draghandle:hover {
  background: #ffffff;
}
.km-wp-light .k-slider .k-draghandle,
.km-wp-light .k-slider .k-draghandle:hover {
  background: #000000;
}
.km-wp .k-slider .k-tick-large:before {
  background: #000000;
}
.km-wp-light .k-slider .k-tick-large:before {
  background: #ffffff;
}
.km-wp .k-slider-selection {
  background: Highlight;
}
.km-wp .k-slider-track {
  background: #333333;
}
.km-wp-light .k-slider-track {
  background: #bebebe;
}
/* ListView */
.km-wp .km-listinset,
.km-wp .km-listgroupinset {
  margin: 0 1em;
}
.km-wp .km-list > li > .km-icon,
.km-wp .km-listview-link > .km-icon {
  margin: -0.1em 0.2em 0 -0.4em;
  width: 1.3em;
  height: 1.3em;
  text-align: center;
  font-size: 1.6em;
  vertical-align: middle;
}
.km-wp .km-list > li > .km-icon:before,
.km-wp .km-listview-link > .km-icon:before {
  display: none;
}
.km-wp .km-list > li > .km-icon:after,
.km-wp .km-listview-link > .km-icon:after {
  display: inline-block;
  width: auto;
}
.km-wp .km-listview-link,
.km-wp .km-listview-label {
  padding-bottom: .3em;
  -webkit-transition: -webkit-transform .1s, color .1s;
  -moz-transition: -moz-transform .1s, color .1s;
  -ms-transition: -ms-transform .1s, color .1s;
  -o-transition: -o-transform .1s, color .1s;
  transition: transform .1s, color .1s;
}
.km-wp .km-state-active .km-listview-link,
.km-wp .km-state-active .km-listview-label {
  background: none;
  -webkit-transform: scale(0.98, 0.94);
  -moz-transform: scale(0.98, 0.94);
  -ms-transform: scale(0.98, 0.94);
  -o-transform: scale(0.98, 0.94);
  transform: scale(0.98, 0.94);
}
.km-wp .km-listview-link:after {
  display: none;
}
.km-wp .km-group-title {
  text-transform: uppercase;
  font-size: 1em;
  padding: 0;
  margin-bottom: .2em;
}
.km-wp .km-group-title .km-text {
  text-indent: 0;
  padding-left: .7em;
}
.km-wp .km-scroller-pull .km-template {
  text-transform: lowercase;
}
/* Filter box */
.km-wp .km-listview-wrapper form .km-filter-wrap > input {
  margin-top: -1px;
  font-size: 1.2em;
  padding-left: 1.6em;
  padding-right: 1.8em;
}
.km-wp .km-filter-wrap > input::-ms-clear {
  display: none;
}
.km-wp .km-filter-wrap:before,
.km-wp .km-filter-reset .km-clear {
  font-size: 1em;
}
.km-wp .km-filter-wrap:before {
  font-size: .8em;
  margin: 0.05em -1.3em 0 0.3em;
}
.km-wp .km-filter-reset .km-clear:after {
  content: "\e038";
}
/* ListView */
.km-wp .km-list > li {
  overflow: hidden;
}
/* ListView Detail Icons */
.km-wp .km-detail {
  position: absolute;
  height: 1.2em;
  width: 1.3em;
  right: .4em;
  font-size: 1.5em;
  margin-top: -0.6em;
  border: none;
  background: Background;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-wp .km-detaildisclose:after,
.km-wp .km-detaildisclose:before {
  font-size: .86em;
  margin-left: -2px;
}
