/* PopOver */
.km-popover-root .km-popup-wrapper {
  position: relative !important;
}
.km-popup-wrapper,
.km-modalview-wrapper {
  z-index: 10001;
  position: relative;
  background: none;
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.km-popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
.km-popup-arrow,
.km-popup-arrow:after,
.km-popup-arrow:before {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  z-index: 2;
}
.km-left .km-popup-arrow,
.km-right .km-popup-arrow {
  margin-top: -8px;
}
.km-up .km-popup-arrow,
.km-down .km-popup-arrow {
  margin-left: -8px;
}
.km-popup-arrow:after,
.km-popup-arrow:before {
  display: block;
  content: "\a0";
  width: 0;
  height: 0;
}
.km-up .km-popup-arrow {
  top: auto;
  bottom: 0;
}
.km-left .km-popup-arrow {
  left: auto;
  right: 0;
}
.km-popup.km-pane {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 100px;
  background: transparent;
}
.km-popover-root .km-view {
  position: relative;
}
.km-popover-root .km-content {
  -ms-flex: auto;
}
/* Common Platform CSS */
@-ms-viewport {
  width: device-width;
  user-zoom: fixed;
  max-zoom: 1;
  min-zoom: 1;
}
@media (orientation: landscape) {
  .km-tablet .km-on-ios.km-horizontal.km-web:not(.km-ios-chrome) {
    position: fixed;
    bottom: 0;
  }
}
.km-root {
  font-size: .92em;
}
.km-root a {
  color: inherit;
}
.km-tablet {
  font-size: 1em;
}
.km-root *:focus {
  outline-width: 0;
}
.km-root,
.km-pane,
.km-pane-wrapper {
  width: 100%;
  height: 100%;
  -ms-touch-action: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  overflow-x: hidden;
}
.km-pane-wrapper {
  position: absolute;
}
.km-pane,
.km-shim {
  font-family: sans-serif;
}
.km-pane {
  overflow-x: hidden;
  position: relative;
}
.km-vertical .km-collapsible-pane {
  position: absolute;
  z-index: 2 !important;
  -webkit-transition: -webkit-transform 350ms ease-out;
  -ms-transition: -ms-transform 350ms ease-out;
  -webkit-transform: translatex(-100%);
  -moz-transform: translatex(-100%);
  -ms-transform: translatex(-100%);
  -o-transform: translatex(-100%);
  transform: translatex(-100%);
}
.km-vertical .km-expanded-splitview .km-collapsible-pane {
  -webkit-transform: translatex(0);
  -moz-transform: translatex(0);
  -ms-transform: translatex(0);
  -o-transform: translatex(0);
  transform: translatex(0);
}
.km-expanded-pane-shim {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.km-expanded-splitview .km-expanded-pane-shim {
  display: block;
  z-index: 1;
}
.km-root > * {
  margin: 0;
  padding: 0;
}
.km-root * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.km-content {
  display: block;
}
.km-view,
.km-split-content {
  top: 0;
  left: 0;
  position: absolute;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  vertical-align: top;
}
.k-ff .km-view,
.k-ff .km-pane {
  overflow: hidden;
}
.k-ff18 .km-view,
.k-ff18 .km-pane,
.k-ff19 .km-view,
.k-ff19 .km-pane,
.k-ff20 .km-view,
.k-ff20 .km-pane,
.k-ff21 .km-view,
.k-ff21 .km-pane {
  position: relative;
}
.k-ff .km-view {
  display: -moz-inline-box;
  display: inline-flex;
}
.km-content {
  min-height: 1px;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  flex-align: stretch;
  width: auto;
  overflow: hidden;
  position: relative;
}
.km-content p,
.km-content h1,
.km-content h2,
.km-content h3,
.km-content h4,
.km-content h5,
.km-content h6 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.km-header,
.km-footer {
  display: block;
  display: -moz-box;
  -moz-box-orient: vertical;
  width: 100%;
}
.km-header {
  padding: 0;
}
.km-footer {
  background: #1a1a1a;
}
[data-role="layout"] {
  display: none;
}
[data-role="view"],
[data-role="drawer"] {
  visibility: hidden;
}
.km-view {
  visibility: visible;
}
.km-header,
.km-footer {
  position: relative;
  z-index: 1;
}
@media all and (-webkit-min-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0) {
  .km-view {
    display: table;
  }
  .km-header,
  .km-footer,
  .km-content {
    display: table-row;
  }
  .km-header,
  .km-footer {
    height: 1px;
  }
}
.km-root .k-toolbar,
.km-navbar,
.km-button,
.km-buttongroup,
.km-tabstrip,
.km-blackberry li.km-actionsheet-cancel > a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-origin: border-box;
  position: relative;
  display: inline-block;
  padding: .4em .7em;
  margin: .1rem;
  overflow: visible;
  text-decoration: none;
}
.km-tabstrip,
.km-root .k-toolbar,
.km-navbar {
  display: block;
  padding: .8em;
  margin: 0;
  width: 100%;
  border-width: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-native-scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: pan-x pan-y;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-scroll-snap-type: proximity;
}
.km-default-content {
  padding: 1em;
}
.km-shim {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10001;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-root .km-shim {
  position: absolute;
}
.km-shim:before {
  content: "\a0";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.km-shim .k-animation-container {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
  width: auto;
}
/* Loader */
.km-loader {
  top: 50%;
  left: 50%;
  width: 180px;
  height: 130px;
  z-index: 100000;
  padding: 30px 30px;
  position: absolute;
  margin-top: -70px;
  margin-left: -90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}
.km-loader h1 {
  font-size: 1rem;
  color: white;
  text-align: center;
  vertical-align: middle;
}
.km-loader .km-loading,
.km-load-more .km-icon,
.km-scroller-refresh .km-icon {
  animation: km-spin 1s infinite linear;
  -moz-animation: km-spin 1s infinite linear;
  -webkit-animation: km-spin 1s infinite linear;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  font-size: 35px;
}
.km-loader .km-loading:after,
.km-load-more .km-icon:after {
  color: #ccc;
}
.km-loading-left,
.km-loading-right {
  display: none;
}
@-webkit-keyframes km-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes km-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes km-spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes km-spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes km-ios-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes km-ios-spin1 {
  from {
    -webkit-transform: rotate(-135deg);
  }
  to {
    -webkit-transform: rotate(225deg);
  }
}
@-moz-keyframes km-ios-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-moz-keyframes km-ios-spin1 {
  from {
    -moz-transform: rotate(-135deg);
  }
  to {
    -moz-transform: rotate(225deg);
  }
}
@keyframes km-ios-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes km-ios-spin1 {
  from {
    transform: rotate(-135deg);
  }
  to {
    transform: rotate(225deg);
  }
}
/* Stretched View */
.km-stretched-view {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.km-stretched-view > * {
  width: 100%;
}
.km-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 100000;
}
.km-root.km-native-scrolling,
.km-root.km-native-scrolling .km-view,
.km-root.km-native-scrolling .km-splitview .km-pane {
  min-height: 100%;
  height: auto;
  -webkit-transform: none;
  overflow-x: visible;
}
.km-native-scrolling .km-pane,
.km-native-scrolling .km-view {
  -ms-touch-action: auto;
  display: block;
}
.km-native-scrolling .km-content {
  -ms-flex: auto;
}
.km-native-scrolling .km-blackberry .km-content {
  min-height: auto;
}
/* Restore position:absolute during animation */
.km-native-scrolling .km-splitview {
  position: absolute;
}
.km-native-scrolling .km-header {
  position: fixed;
  top: 0;
}
.km-native-scrolling .km-android .km-header {
  top: auto;
  bottom: 0;
}
.km-native-scrolling .km-footer {
  position: fixed;
  bottom: 0;
}
.km-native-scrolling .km-android .km-footer {
  top: 0;
  bottom: auto;
}
.km-native-scrolling .km-badge {
  z-index: auto;
}
.km-native-scrolling .km-splitview .km-header,
.km-native-scrolling .km-splitview .km-footer,
.km-native-scrolling .km-popup.km-pane .km-header,
.km-native-scrolling .km-popup.km-pane .km-footer {
  position: absolute;
}
.km-native-scrolling .km-modalview .km-header,
.km-native-scrolling .km-modalview .km-footer {
  position: relative;
}
.km-native-scrolling .km-content {
  width: 100%;
}
.km-native-scrolling .km-shim,
.km-native-scrolling .km-popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  height: auto !important;
}
.km-native-scrolling .km-drawer {
  position: fixed;
  top: 0;
  height: 100% !important;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
}
.km-native-scrolling > .km-pane > .km-loader {
  position: fixed;
  top: 50%;
  margin-top: -2em;
}
.km-native-scrolling .km-header,
.km-native-scrolling .km-footer {
  z-index: 2;
}
/* Disabled states */
.km-state-disabled {
  opacity: 0.5;
}
.km-wp {
  font-size: 1em;
  font-family: 'Segoe WP', 'Segoe UI Symbol', 'Segoe UI', sans-serif;
}
.km-wp a {
  text-decoration: none;
}
.km-wp .km-button,
.km-root .km-wp .km-view .km-buttongroup .km-button {
  border-style: solid;
  border-width: .1em;
  border-radius: 0;
  line-height: 1em;
  padding: .04em .5em .16em;
}
.km-root .km-wp .km-tabstrip .km-icon,
.km-wp .km-scroller-pull .km-icon {
  width: 1em;
  height: 1em;
  font-size: 3.2em;
  border-width: .08em;
  border-style: solid;
  border-radius: 5em;
  margin-bottom: .2em;
  padding: .1em;
}
.km-wp .km-scroller-pull .km-icon {
  width: 1em;
  height: 1em;
  font-size: 1.2em;
}
.km-wp .km-icon {
  line-height: 1em;
}
.km-wp .km-icon:before {
  margin-top: .08em;
}
.km-wp .km-icon:after {
  margin-top: .04em;
  vertical-align: middle;
  height: 1em;
}
.km-wp .km-tabstrip .km-icon:after,
.km-wp .km-tabstrip .km-icon:before {
  margin-top: .02em;
  margin-left: -0.05em;
}
.km-wp .km-tabstrip .km-icon:before {
  margin-top: .06em;
}
/* Scroll hints */
.km-wp .km-touch-scrollbar {
  border-width: 1px;
  border-style: solid;
}
.km-wp .km-vertical-scrollbar {
  width: 2px;
}
.km-wp .km-horizontal-scrollbar {
  height: 2px;
}
.km-wp .km-scrollview,
.km-wp .km-buttongroup {
  overflow: hidden;
}
/* Orientation fallback */
@media all and (orientation: landscape) {
  .km-root > .km-pane {
    animation-name: -kendo-landscape;
  }
}
/* Pull To Refresh */
.km-wp .km-load-more,
.km-wp .km-scroller-pull {
  font-size: 1.2em;
}
/* DropDownList */
.km-wp .km-popup {
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.6);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-wp .km-popup .k-list-container {
  width: 100% !important;
  height: auto !important;
  bottom: 0;
  border: 0;
  padding: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-wp .km-actionsheet,
.km-phone .km-wp .km-popup .k-list-container {
  max-height: 80%;
}
.km-wp .km-popup li.k-state-hover {
  color: inherit;
}
/* Loader */
.km-wp .km-loader,
.km-wp .km-loading-right,
.km-wp .km-scroller-refresh {
  display: block;
  width: 100%;
  height: 4em;
  padding: 0;
  top: 50%;
  left: 0;
  border-radius: 0;
  border: 0;
  margin: -2em 0 0;
  font-size: 1.2em;
  text-align: center;
  vertical-align: middle;
  line-height: .65rem;
}
.km-wp .km-loading-right {
  position: absolute;
  z-index: -1;
}
.km-wp .km-loader {
  margin: 0;
  top: 0;
  height: 100%;
  background: transparent;
}
.km-wp .km-scroller-refresh {
  background: transparent;
  height: 3em;
  margin: 0;
  width: 100%;
  font-size: 1.2rem;
}
.km-load-more.km-scroller-refresh {
  position: relative;
}
.km-wp .km-loader h1,
.km-wp .km-scroller-refresh .km-template {
  position: absolute;
  display: none;
  font-size: 1em;
  width: 100%;
  left: 0;
  margin-left: 0;
  top: 50%;
}
.km-wp .km-scroller-refresh .km-template {
  left: 0;
  margin-left: 0;
  text-align: center;
  width: 100%;
}
.km-wp .km-loader .km-loading,
.km-wp .km-scroller-refresh .km-icon {
  animation: none;
  -moz-animation: none;
  -webkit-animation: none;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
}
.km-wp .km-loader:before,
.km-wp .km-loader:after,
.km-wp .km-loader .km-loading,
.km-wp .km-loader .km-loading:after,
.km-wp .km-loader .km-loading:before,
.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon,
.km-wp .km-scroller-refresh .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:before {
  position: absolute;
  display: inline-block;
  content: "\a0";
  top: 0;
  left: 0;
  border: 0;
  width: 12em;
  margin: 0;
  padding: 0;
  height: 0;
  text-align: left;
  font-family: "Kendo UI";
  vertical-align: top;
}
.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon,
.km-wp .km-scroller-refresh .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:before {
  width: 100%;
}
.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon {
  top: 46%;
  font-size: .3em;
}
.km-wp .km-loader:before,
.km-wp .km-loader:after,
.km-wp .km-loader .km-loading {
  left: 50%;
  margin-left: -7em;
  top: 50%;
  font-size: .3em;
  line-height: 0;
}
.km-wp .km-loader:before,
.km-wp .km-loader:after,
.km-wp .km-loader .km-loading:after,
.km-wp .km-loader .km-loading:before,
.km-wp .km-scroller-refresh:after,
.km-wp .km-scroller-refresh:before,
.km-wp .km-scroller-refresh .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:before {
  opacity: 0;
  height: .6em;
  border-left: .7em solid;
  animation: km-wpload 2s infinite linear;
  -moz-animation: km-wpload 2s infinite linear;
  -webkit-animation: km-wpload 2s infinite linear;
}
.km-wp .km-loader .km-loading:after,
.km-wp .km-scroller-refresh .km-icon:after {
  animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
}
.km-wp .km-loader .km-loading:before,
.km-wp .km-scroller-refresh .km-icon:before {
  animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
.km-wp .km-loader:before,
.km-wp .km-scroller-refresh:before {
  animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
.km-wp .km-loader:after,
.km-wp .km-scroller-refresh:after {
  animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
}
@keyframes km-wpload {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  8% {
    transform: translateX(30%);
  }
  16% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  42% {
    transform: translateX(70%);
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes km-wpload {
  0% {
    -moz-transform: translateX(0);
    opacity: 0;
  }
  8% {
    -moz-transform: translateX(30%);
  }
  16% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  42% {
    -moz-transform: translateX(70%);
  }
  50% {
    -moz-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes km-wpload {
  0% {
    -webkit-transform: translateX(0);
    opacity: 0;
  }
  8% {
    -webkit-transform: translateX(30%);
  }
  16% {
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  42% {
    -webkit-transform: translateX(70%);
  }
  50% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.km-wp .km-content:not(.km-stretched-view) {
  display: block;
}
/* Color Template */
/* Variables */
.km-wp,
.km-wp .km-content,
.km-wp .km-button {
  background-color: Background;
}
.km-wp-dark-force,
.km-wp-dark-force .km-content,
.km-wp-dark-force .km-button {
  background-color: #000000;
}
.km-wp-light-force,
.km-wp-light-force .km-content,
.km-wp-light-force .km-button {
  background-color: #ffffff;
}
.km-wp-dark,
.km-wp-dark a,
.km-wp-dark .k-widget,
.km-wp-dark .k-group,
.km-wp-dark .k-content,
.km-wp-dark .km-button,
.km-wp-dark .km-load-more,
.km-wp-dark .km-scroller-pull,
.km-wp-dark .km-detail,
.km-wp-dark .km-popup .km-item,
.km-wp-dark .k-dropdown .k-dropdown-wrap {
  color: #ffffff;
}
.km-wp-light,
.km-wp-light a,
.km-wp-light .k-widget,
.km-wp-light .k-group,
.km-wp-light .k-content,
.km-wp-light .km-button,
.km-wp-light .km-load-more,
.km-wp-light .km-scroller-pull,
.km-wp-light .km-detail,
.km-wp-light .km-popup .km-item,
.km-wp-light .k-dropdown .k-dropdown-wrap {
  color: #000000;
}
.km-wp-dark .km-actionsheet-wrapper,
.km-wp-dark .km-popup .k-list-container,
.km-wp-dark .km-modalview,
.km-wp-dark .km-popup-wrapper,
.km-wp-dark .km-footer {
  background-color: #1f1f1f;
}
.km-wp-light .km-actionsheet-wrapper,
.km-wp-light .km-popup .k-list-container,
.km-wp-light .km-modalview,
.km-wp-light .km-popup-wrapper,
.km-wp-light .km-footer {
  background-color: #dddddd;
}
.km-wp-dark .km-button,
.km-wp-dark .km-listview-link:after {
  border-color: #ffffff;
}
.km-wp-light .km-button,
.km-wp-light .km-listview-link:after {
  border-color: #000000;
}
.km-wp .km-detail:active,
.km-wp .km-button:active,
.km-wp .km-detail.km-state-active,
.km-wp .km-button.km-state-active,
.km-wp .km-actionsheet > li > a:hover,
.km-wp .km-actionsheet > li > a:active,
.km-wp .km-actionsheet > li > .k-state-active,
.km-wp .km-popup li.k-item:active,
.km-wp .km-popup li.k-state-selected {
  background: Highlight;
}
.km-wp .km-detail:active,
.km-wp .km-detail.km-state-active,
.km-wp *:not(.km-tabstrip) > .km-button:active,
.km-wp *:not(.km-tabstrip) > .km-button.km-state-active,
.km-wp .km-actionsheet > li > a:hover,
.km-wp .km-actionsheet > li > a:active,
.km-wp .km-actionsheet > li > .k-state-active,
.km-wp .km-popup li.k-item:active,
.km-wp .km-popup li.k-state-selected {
  color: HighlightText;
}
.km-wp-dark .km-list > li > .km-icon,
.km-wp-dark .km-listview-link > .km-icon {
  background: #333333;
}
.km-wp-light .km-list > li > .km-icon,
.km-wp-light .km-listview-link > .km-icon {
  background: #bebebe;
}
.km-wp-dark .km-state-active .km-listview-link,
.km-wp-dark .km-state-active .km-listview-label {
  color: #dddddd;
}
.km-wp-light .km-state-active .km-listview-link,
.km-wp-light .km-state-active .km-listview-label {
  color: #1f1f1f;
}
.km-wp .km-badge,
.km-wp .km-state-active .km-listview-link:after {
  border-color: HighlightText;
}
.km-wp .km-listview-label input[type=radio],
.km-wp .km-listview-label input[type=checkbox] {
  border-color: #ffffff;
  box-shadow: 0 0 1px #ffffff;
  -webkit-box-shadow: 0 0 1px #ffffff;
}
.km-wp-light .km-listview-label input[type=radio],
.km-wp-light .km-listview-label input[type=checkbox] {
  border-color: #000000;
  box-shadow: 0 0 1px #000000;
  -webkit-box-shadow: 0 0 1px #000000;
}
.km-wp .km-listview-label input[type=checkbox]:checked:after {
  color: #ffffff;
}
.km-wp-light .km-listview-label input[type=checkbox]:checked:after {
  color: #000000;
}
.km-wp .km-listview-label input[type=radio]:checked:after {
  color: transparent;
  background: #ffffff;
}
.km-wp-light .km-listview-label input[type=radio]:checked:after {
  background: #000000;
}
.km-wp .km-badge,
.km-wp .km-group-title {
  background-color: Highlight;
  color: HighlightText;
}
.km-wp-dark .km-loader h1,
.km-wp-dark .km-filter-wrap:before,
.km-wp-dark .km-filter-reset .km-clear {
  color: #ffffff;
}
.km-wp-light .km-loader h1,
.km-wp-light .km-filter-wrap:before,
.km-wp-light .km-filter-reset .km-clear {
  color: #000000;
}
.km-wp .km-navbar,
.km-wp .k-toolbar {
  background: Background;
}
.km-wp-dark-force .km-navbar,
.km-wp-dark-force .k-toolbar {
  background: #000000;
}
.km-wp-light-force .km-navbar,
.km-wp-light-force .k-toolbar {
  background: #ffffff;
}
.km-wp-dark .km-pages > li {
  background: #ffffff;
}
.km-wp-light .km-pages > li {
  background: #000000;
}
.km-wp .km-pages .km-current-page {
  background: Highlight;
}
.km-wp-dark .km-switch-wrapper {
  border-color: #ffffff;
}
.km-wp-light .km-switch-wrapper {
  border-color: #000000;
}
.km-wp-light .km-switch-container {
  box-shadow: inset 0 0 0 0.2em #ffffff;
  -webkit-box-shadow: inset 0 0 0 0.2em #ffffff;
}
.km-wp-dark .km-switch-container {
  box-shadow: inset 0 0 0 0.2em #000000;
  -webkit-box-shadow: inset 0 0 0 0.2em #000000;
}
.km-wp-dark .km-switch-handle {
  box-shadow: 0 0 0 0.3em #000000;
  -webkit-box-shadow: 0 0 0 0.3em #000000;
  background: #ffffff;
}
.km-wp-light .km-switch-handle {
  box-shadow: 0 0 0 0.3em #ffffff;
  -webkit-box-shadow: 0 0 0 0.3em #ffffff;
  background: #000000;
}
.km-wp .km-switch-background {
  background: Highlight;
}
.km-wp .km-tabstrip .km-state-active .km-icon {
  background-color: Highlight;
  color: HighlightText;
}
.km-wp-dark .km-scroller-pull .km-icon,
.km-wp-dark .km-tabstrip .km-state-active .km-icon {
  border-color: #ffffff;
}
.km-wp-light .km-scroller-pull .km-icon,
.km-wp-light .km-tabstrip .km-state-active .km-icon {
  border-color: #000000;
}
.km-wp-light .km-loader:before,
.km-wp-light .km-loader:after,
.km-wp-light .km-loader .km-loading,
.km-wp-light .km-loader .km-loading:after,
.km-wp-light .km-loader .km-loading:before,
.km-wp-light .km-scroller-refresh:after,
.km-wp-light .km-scroller-refresh:before,
.km-wp-light .km-scroller-refresh .km-icon,
.km-wp-light .km-scroller-refresh .km-icon:after,
.km-wp-light .km-scroller-refresh .km-icon:before {
  color: #000000;
}
.km-wp-dark .km-loading-right {
  background: #1f1f1f;
}
.km-wp-light .km-loading-right {
  background: #dddddd;
}
.km-wp .km-touch-scrollbar {
  border-color: rgba(255, 255, 255, 0.4);
}
/* Forms */
.km-wp input[type=password],
.km-wp input[type=search],
.km-wp input[type=number],
.km-wp input[type=tel],
.km-wp input[type=url],
.km-wp input[type=email],
.km-wp input[type=text]:not(.k-input),
.km-wp input[type=month],
.km-wp input[type=color],
.km-wp input[type=week],
.km-wp input[type=date],
.km-wp input[type=time],
.km-wp input[type=datetime],
.km-wp input[type=datetime-local],
.km-wp select:not([multiple]),
.km-wp .k-dropdown,
.km-wp textarea {
  border-color: #ffffff;
  background: Background;
  color: #ffffff;
}
.km-wp input::selection,
.km-wp textarea::selection {
  color: HighlightText;
  background: Highlight;
}
.km-wp-light input[type=password],
.km-wp-light input[type=search],
.km-wp-light input[type=number],
.km-wp-light input[type=tel],
.km-wp-light input[type=url],
.km-wp-light input[type=email],
.km-wp-light input[type=text]:not(.k-input),
.km-wp-light input[type=month],
.km-wp-light input[type=color],
.km-wp-light input[type=week],
.km-wp-light input[type=date],
.km-wp-light input[type=time],
.km-wp-light input[type=datetime],
.km-wp-light input[type=datetime-local],
.km-wp-light select:not([multiple]),
.km-wp-light .k-dropdown,
.km-wp-light textarea {
  border-color: #000000;
  color: #000000;
}
.km-wp-dark-force input[type=password],
.km-wp-dark-force input[type=search],
.km-wp-dark-force input[type=number],
.km-wp-dark-force input[type=tel],
.km-wp-dark-force input[type=url],
.km-wp-dark-force input[type=email],
.km-wp-dark-force input[type=text]:not(.k-input),
.km-wp-dark-force input[type=month],
.km-wp-dark-force input[type=color],
.km-wp-dark-force input[type=week],
.km-wp-dark-force input[type=date],
.km-wp-dark-force input[type=time],
.km-wp-dark-force input[type=datetime],
.km-wp-dark-force input[type=datetime-local],
.km-wp-dark-force select:not([multiple]),
.km-wp-dark-force .k-dropdown,
.km-wp-dark-force textarea {
  background: #000000;
}
.km-wp-light-force input[type=password],
.km-wp-light-force input[type=search],
.km-wp-light-force input[type=number],
.km-wp-light-force input[type=tel],
.km-wp-light-force input[type=url],
.km-wp-light-force input[type=email],
.km-wp-light-force input[type=text]:not(.k-input),
.km-wp-light-force input[type=month],
.km-wp-light-force input[type=color],
.km-wp-light-force input[type=week],
.km-wp-light-force input[type=date],
.km-wp-light-force input[type=time],
.km-wp-light-force input[type=datetime],
.km-wp-light-force input[type=datetime-local],
.km-wp-light-force select:not([multiple]),
.km-wp-light-force .k-dropdown,
.km-wp-light-force textarea {
  background: #ffffff;
}
.km-wp input[type=password]:focus,
.km-wp input[type=search]:focus,
.km-wp input[type=number]:focus,
.km-wp input[type=tel]:focus,
.km-wp input[type=url]:focus,
.km-wp input[type=email]:focus,
.km-wp input[type=text]:not(.k-input):focus,
.km-wp input[type=month]:focus,
.km-wp input[type=color]:focus,
.km-wp input[type=week]:focus,
.km-wp input[type=date]:focus,
.km-wp input[type=time]:focus,
.km-wp input[type=datetime]:focus,
.km-wp input[type=datetime-local]:focus,
.km-wp textarea:focus {
  border-color: Highlight;
}
.km-wp select:not([multiple]):focus,
.km-wp .k-dropdown .k-state-active,
.km-wp .k-dropdown .k-state-focused {
  color: HighlightText;
  border-color: HighlightText;
  background-color: Highlight;
}
/* Slider */
.km-wp .k-slider .k-draghandle,
.km-wp .k-slider .k-draghandle:hover {
  background: #ffffff;
}
.km-wp-light .k-slider .k-draghandle,
.km-wp-light .k-slider .k-draghandle:hover {
  background: #000000;
}
.km-wp .k-slider .k-tick-large:before {
  background: #000000;
}
.km-wp-light .k-slider .k-tick-large:before {
  background: #ffffff;
}
.km-wp .k-slider-selection {
  background: Highlight;
}
.km-wp .k-slider-track {
  background: #333333;
}
.km-wp-light .k-slider-track {
  background: #bebebe;
}
/* PopOver */
