/* Icon per-widget styles */
.km-detail .km-icon,
.km-button .km-icon,
.km-list .km-icon,
.km-ios .km-button .km-icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
  margin-left: -0.3em;
  margin-right: 0.3em;
  vertical-align: baseline;
  display: inline-block;
  background-size: auto 100%;
}
html .km-widget .km-view .km-notext {
  margin-left: 0;
  margin-right: 0;
}
.km-buttongroup .km-button .km-icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
  margin: .05em .16em 0 0;
}
.km-tabstrip .km-button .km-icon {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
}
.km-tabstrip .km-image,
.km-tabstrip .km-button .km-icon {
  margin: 0 auto .1em;
  display: inline-block;
}
.km-tabstrip .km-text {
  display: block;
}
.km-phone .km-tabstrip .km-icon {
  height: 2.2rem;
  width: 2.2rem;
  font-size: 2.2rem;
}
.km-phone .km-horizontal .km-tabstrip .km-icon {
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
}
/* Icons */
@font-face {
  font-family: "Kendo UI";
  src: url("images/kendoui.woff?v=1.1") format("woff"), url("images/kendoui.ttf?v=1.1") format("truetype"), url("images/kendoui.svg#kendoui") format("svg");
}
body:before {
  font-family: "Kendo UI";
  content: "\a0";
  font-size: 0;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}
.km-root .km-pane .km-view .km-icon {
  -webkit-background-clip: text;
  background-size: 0 0;
}
.km-icon {
  position: relative;
}
.km-icon:after,
.km-icon:before,
.km-contactadd:after,
.km-contactadd:before,
.km-rowdelete:after,
.km-rowdelete:before,
.km-rowinsert:after,
.km-rowinsert:before,
.km-detaildisclose:after,
.km-detaildisclose:before,
.km-loading:after,
.km-filter-wrap:before {
  position: relative;
  content: "\a0";
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: middle;
  background-size: auto;
  font: 1em/1em "Kendo UI";
}
.km-icon:before,
.km-contactadd:before,
.km-rowdelete:before,
.km-rowinsert:before,
.km-detaildisclose:before {
  position: absolute;
  margin-top: 1px;
  color: rgba(0, 0, 0, 0.7);
  display: none;
}
.km-state-active .km-icon:before,
.km-state-active .km-contactadd:before,
.km-state-active .km-rowdelete:before,
.km-state-active .km-rowinsert:before,
.km-state-active .km-detaildisclose:before {
  display: block;
}
.km-ios7 .km-detaildisclose:after {
  font-family: serif;
}
.km-ios7 .km-icon:before,
.km-ios7 .km-contactadd:before,
.km-ios7 .km-rowdelete:before,
.km-ios7 .km-rowinsert:before,
.km-ios7 .km-detaildisclose:before {
  display: none;
}
.k-webkit .km-ios:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after,
.k-webkit .km-blackberry:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after,
.k-safari .km-ios:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after,
.k-safari .km-blackberry:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after {
  background-image: inherit;
  background-repeat: inherit;
  background-position: inherit;
  background-color: currentcolor;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.km-root .km-pane.km-on-blackberry.km-blackberry6 .km-view .km-icon:after,
.km-root .km-pane.km-on-blackberry.km-blackberry7 .km-view .km-icon:after,
.km-root .km-pane.km-pane.km-on-android .km-view .km-icon:after,
.km-root .km-pane.km-pane.km-on-meego .km-view .km-icon:after {
  background: none;
  -webkit-text-fill-color: inherit;
}
.km-contactadd:after,
.km-contactadd:before,
.km-rowinsert:after,
.km-rowinsert:before {
  content: "\E039";
}
.km-rowdelete:after,
.km-rowdelete:before {
  content: "\E03a";
}
.km-detaildisclose:after,
.km-detaildisclose:before {
  content: "\E0E2";
}
.km-action:after,
.km-action:before {
  content: "\e0ca";
}
.km-add:after,
.km-add:before {
  content: "\e0cb";
}
.km-battery:after,
.km-battery:before {
  content: "\e0ce";
}
.km-bookmarks:after,
.km-bookmarks:before {
  content: "\e0cf";
}
.km-camera:after,
.km-camera:before {
  content: "\e0d0";
}
.km-cart:after,
.km-cart:before {
  content: "\e0d1";
}
.km-edit:after,
.km-compose:after,
.km-edit:before,
.km-compose:before {
  content: "\e0d5";
}
.km-contacts:after,
.km-contacts:before {
  content: "\e0e4";
}
.km-trash:after,
.km-delete:after,
.km-trash:before,
.km-delete:before {
  content: "\e0ec";
}
.km-details:after,
.km-details:before {
  content: "\e0e2";
}
.km-download:after,
.km-downloads:after,
.km-download:before,
.km-downloads:before {
  content: "\e0d4";
}
.km-fastforward:after,
.km-fastforward:before {
  content: "\e0d9";
}
.km-toprated:after,
.km-favorites:after,
.km-toprated:before,
.km-favorites:before {
  content: "\e0d7";
}
.km-featured:after,
.km-featured:before {
  content: "\e0d8";
}
.km-globe:after,
.km-globe:before {
  content: "\e0dc";
}
.km-history:after,
.km-history:before {
  content: "\e0e7";
}
.km-home:after,
.km-home:before {
  content: "\e0dd";
}
.km-info:after,
.km-about:after,
.km-info:before,
.km-about:before {
  content: "\e0de";
}
.km-more:after,
.km-more:before {
  content: "\e0e0";
}
.km-mostrecent:after,
.km-mostrecent:before {
  content: "\e0cc";
}
.km-mostviewed:after,
.km-mostviewed:before {
  content: "\e0d6";
}
.km-organize:after,
.km-organize:before {
  content: "\e0eb";
}
.km-pause:after,
.km-pause:before {
  content: "\e0e3";
}
.km-play:after,
.km-play:before {
  content: "\e0e5";
}
.km-recents:after,
.km-recents:before {
  content: "\e0d2";
}
.km-refresh:after,
.km-refresh:before {
  content: "\e0e6";
}
.km-reply:after,
.km-reply:before {
  content: "\e0ed";
}
.km-rewind:after,
.km-rewind:before {
  content: "\e0e8";
}
.km-search:after,
.km-search:before {
  content: "\e0e9";
}
.km-settings:after,
.km-settings:before {
  content: "\e0da";
}
.km-share:after,
.km-share:before {
  content: "\e0df";
}
.km-sounds:after,
.km-volume:after,
.km-sounds:before,
.km-volume:before {
  content: "\e0ef";
}
.km-stop:after,
.km-stop:before {
  content: "\e0ea";
}
.km-wifi:after,
.km-wifi:before {
  content: "\e0f0";
}
.km-root .km-pane .km-icon.km-check {
  -webkit-background-clip: initial;
}
.km-root .km-pane .km-check:checked:after,
.km-widget .km-check:checked:after {
  content: "\e227";
}
.km-android .km-more:after,
.km-android .km-more:before {
  content: "\e0e1";
}
.km-meego .km-more:after,
.km-meego .km-more:before {
  content: "\e0f1";
}
.km-wp .km-loading:after,
.km-wp .km-load-more .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
}
.km-meego .km-loading:after,
.km-meego .km-load-more .km-icon:after,
.km-meego .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
}
.km-root .km-android .km-loading:after,
.km-android .km-load-more .km-icon:after,
.km-root .km-android .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
}
.km-scroller-pull .km-icon:after {
  content: "\e0f2";
}
.km-icon.km-phone:after,
.km-ios7 .km-state-active .km-phone:after {
  content: "\e326";
}
.km-ios7 .km-detaildisclose:after {
  content: "i";
}
.km-ios7 .km-action:after {
  content: "\e1ff";
}
.km-ios7 .km-add:after {
  content: "\e200";
}
.km-ios7 .km-mostrecent:after {
  content: "\e201";
}
.km-ios7 .km-battery:after {
  content: "\e203";
}
.km-ios7 .km-bookmarks:after {
  content: "\e204";
}
.km-ios7 .km-camera:after {
  content: "\e205";
}
.km-ios7 .km-cart:after {
  content: "\e206";
}
.km-ios7 .km-recents:after {
  content: "\e207";
}
.km-ios7 .km-download:after,
.km-ios7 .km-downloads:after {
  content: "\e209";
}
.km-ios7 .km-edit:after {
  content: "\e20a";
}
.km-ios7 .km-mostviewed:after {
  content: "\e20b";
}
.km-ios7 .km-toprated:after,
.km-ios7 .km-favorites:after {
  content: "\e20c";
}
.km-ios7 .km-featured:after {
  content: "\e20d";
}
.km-ios7 .km-fastforward:after {
  content: "\e20e";
}
.km-ios7 .km-settings:after {
  content: "\e20f";
}
.km-ios7 .km-globe:after {
  content: "\e211";
}
.km-ios7 .km-home:after {
  content: "\e212";
}
.km-ios7 .km-info:after,
.km-ios7 .km-about:after {
  content: "\e213";
}
.km-ios7 .km-share:after {
  content: "\e214";
}
.km-ios7 .km-more:after {
  content: "\e215";
}
.km-ios7 .km-details:after {
  content: "\e217";
}
.km-ios7 .km-pause:after {
  content: "\e218";
}
.km-ios7 .km-contacts:after {
  content: "\e219";
}
.km-ios7 .km-play:after {
  content: "\e21a";
}
.km-ios7 .km-refresh:after {
  content: "\e21b";
}
.km-ios7 .km-history:after {
  content: "\e21c";
}
.km-ios7 .km-rewind:after {
  content: "\e21d";
}
.km-ios7 .km-search:after {
  content: "\e21e";
}
.km-ios7 .km-stop:after {
  content: "\e21f";
}
.km-ios7 .km-organize:after {
  content: "\e220";
}
.km-ios7 .km-trash:after,
.km-ios7 .km-delete:after {
  content: "\e221";
}
.km-ios7 .km-reply:after {
  content: "\e222";
}
.km-ios7 .km-forward:after {
  content: "\e223";
}
.km-ios7 .km-sounds:after,
.km-ios7 .km-volume:after {
  content: "\e224";
}
.km-ios7 .km-wifi:after {
  content: "\e225";
}
.km-ios7 .km-phone:after {
  content: "\e226";
}
.km-ios7 .km-state-active .km-action:after {
  content: "\e2ff";
}
.km-ios7 .km-state-active .km-add:after {
  content: "\e300";
}
.km-ios7 .km-state-active .km-mostrecent:after {
  content: "\e301";
}
.km-ios7 .km-state-active .km-battery:after {
  content: "\e303";
}
.km-ios7 .km-state-active .km-bookmarks:after {
  content: "\e304";
}
.km-ios7 .km-state-active .km-camera:after {
  content: "\e305";
}
.km-ios7 .km-state-active .km-cart:after {
  content: "\e306";
}
.km-ios7 .km-state-active .km-recents:after {
  content: "\e307";
}
.km-ios7 .km-state-active .km-download:after,
.km-ios7 .km-state-active .km-downloads:after {
  content: "\e309";
}
.km-ios7 .km-state-active .km-edit:after {
  content: "\e30a";
}
.km-ios7 .km-state-active .km-mostviewed:after {
  content: "\e30b";
}
.km-ios7 .km-state-active .km-toprated:after,
.km-ios7 .km-state-active .km-favorites:after {
  content: "\e30c";
}
.km-ios7 .km-state-active .km-featured:after {
  content: "\e30d";
}
.km-ios7 .km-state-active .km-fastforward:after {
  content: "\e30e";
}
.km-ios7 .km-state-active .km-settings:after {
  content: "\e30f";
}
.km-ios7 .km-state-active .km-globe:after {
  content: "\e311";
}
.km-ios7 .km-state-active .km-home:after {
  content: "\e312";
}
.km-ios7 .km-state-active .km-info:after,
.km-ios7 .km-state-active .km-about:after {
  content: "\e313";
}
.km-ios7 .km-state-active .km-share:after {
  content: "\e314";
}
.km-ios7 .km-state-active .km-more:after {
  content: "\e315";
}
.km-ios7 .km-state-active .km-details:after {
  content: "\e317";
}
.km-ios7 .km-state-active .km-pause:after {
  content: "\e318";
}
.km-ios7 .km-state-active .km-contacts:after {
  content: "\e319";
}
.km-ios7 .km-state-active .km-play:after {
  content: "\e31a";
}
.km-ios7 .km-state-active .km-refresh:after {
  content: "\e31b";
}
.km-ios7 .km-state-active .km-history:after {
  content: "\e31c";
}
.km-ios7 .km-state-active .km-rewind:after {
  content: "\e31d";
}
.km-ios7 .km-state-active .km-search:after {
  content: "\e31e";
}
.km-ios7 .km-state-active .km-stop:after {
  content: "\e31f";
}
.km-ios7 .km-state-active .km-organize:after {
  content: "\e320";
}
.km-ios7 .km-state-active .km-trash:after,
.km-ios7 .km-state-active .km-delete:after {
  content: "\e321";
}
.km-ios7 .km-state-active .km-reply:after {
  content: "\e322";
}
.km-ios7 .km-state-active .km-forward:after {
  content: "\e323";
}
.km-ios7 .km-state-active .km-sounds:after,
.km-ios7 .km-state-active .km-volume:after {
  content: "\e324";
}
.km-ios7 .km-state-active .km-wifi:after {
  content: "\e325";
}
.km-arrowdown:after,
.km-arrowdown:before {
  content: "\e002";
}
.km-wp .km-scroller-pull .km-icon:after {
  content: "\E0D4";
}
.km-on-wp.km-app .km-icon:after,
.km-on-wp.km-app .km-filter-wrap:before,
.km-on-wp.km-app .km-state-active .km-icon:after {
  color: transparent;
  background-image: url("images/wp8_icons.png");
  background-size: auto 100%;
  height: 1em;
  margin-top: 0;
  vertical-align: middle;
}
.km-wp-light.km-app .km-icon:after,
.km-wp-light.km-app .km-filter-wrap:before {
  background-image: url("images/wp8_inverseicons.png");
}
.km-on-wp.km-app .km-icon {
  line-height: 1em;
}
.km-on-wp.km-app .km-icon:before {
  display: none;
}
.km-on-wp.km-app .km-action:after {
  background-position-x: 20%;
}
.km-on-wp.km-app .km-add:after,
.km-on-wp.km-app .km-filter-reset .km-clear:after {
  background-position-x: 22%;
}
.km-on-wp.km-app .km-battery:after {
  background-position-x: 24%;
}
.km-on-wp.km-app .km-bookmarks:after {
  background-position-x: 26%;
}
.km-on-wp.km-app .km-camera:after {
  background-position-x: 28%;
}
.km-on-wp.km-app .km-cart:after {
  background-position-x: 30%;
}
.km-on-wp.km-app .km-edit:after,
.km-on-wp.km-app .km-compose:after {
  background-position-x: 32%;
}
.km-on-wp.km-app .km-contacts:after {
  background-position-x: 34%;
}
.km-on-wp.km-app .km-trash:after,
.km-on-wp.km-app .km-delete:after {
  background-position-x: 36%;
}
.km-on-wp.km-app .km-details:after {
  background-position-x: 38%;
}
.km-on-wp.km-app .km-download:after,
.km-on-wp.km-app .km-downloads:after {
  background-position-x: 40%;
}
.km-on-wp.km-app .km-fastforward:after {
  background-position-x: 42%;
}
.km-on-wp.km-app .km-toprated:after,
.km-on-wp.km-app .km-favorites:after {
  background-position-x: 44%;
}
.km-on-wp.km-app .km-featured:after {
  background-position-x: 46%;
}
.km-on-wp.km-app .km-globe:after {
  background-position-x: 48%;
}
.km-on-wp.km-app .km-history:after {
  background-position-x: 50%;
}
.km-on-wp.km-app .km-home:after {
  background-position-x: 52%;
}
.km-on-wp.km-app .km-info:after,
.km-on-wp.km-app .km-about:after {
  background-position-x: 54%;
}
.km-on-wp.km-app .km-more:after {
  background-position-x: 56%;
}
.km-on-wp.km-app .km-mostrecent:after {
  background-position-x: 58%;
}
.km-on-wp.km-app .km-mostviewed:after {
  background-position-x: 60%;
}
.km-on-wp.km-app .km-organize:after {
  background-position-x: 62%;
}
.km-on-wp.km-app .km-pause:after {
  background-position-x: 64%;
}
.km-on-wp.km-app .km-play:after {
  background-position-x: 66%;
}
.km-on-wp.km-app .km-recents:after {
  background-position-x: 68%;
}
.km-on-wp.km-app .km-refresh:after {
  background-position-x: 70%;
}
.km-on-wp.km-app .km-reply:after {
  background-position-x: 72%;
}
.km-on-wp.km-app .km-rewind:after {
  background-position-x: 74%;
}
.km-on-wp.km-app .km-search:after,
.km-on-wp.km-app .km-filter-wrap:before {
  background-position-x: 76%;
}
.km-on-wp.km-app .km-settings:after {
  background-position-x: 78%;
}
.km-on-wp.km-app .km-share:after {
  background-position-x: 80%;
}
.km-on-wp.km-app .km-sounds:after,
.km-on-wp.km-app .km-volume:after {
  background-position-x: 82%;
}
.km-on-wp.km-app .km-stop:after {
  background-position-x: 84%;
}
.km-on-wp.km-app .km-wifi:after {
  background-position-x: 86%;
}
.km-on-wp.km-app.km-android .km-more:after {
  background-position-x: 88%;
}
.km-on-wp.km-app.km-meego .km-more:after {
  background-position-x: 90%;
}
.km-on-wp.km-app.km-meego .km-loading:after,
.km-on-wp.km-app.km-meego .km-load-more .km-icon:after,
.km-on-wp.km-app.km-meego .km-scroller-refresh .km-icon:after {
  background-position-x: 94%;
}
.km-on-wp.km-app .km-scroller-pull .km-icon:after {
  background-position-x: 100%;
}
.km-on-wp.km-app .km-filter-wrap:before {
  display: inline-block;
  content: "\a0";
}
.km-on-wp.km-app .km-filter-reset .km-clear:after {
  transform: rotate(45deg);
}
