<table class="form-inline">
    <thead>
        <tr>
            <th scope="row" id="hours"></th>
            <th scope="row" id="seperator"></th>
            <th scope="row" id="minutes"></th>
            <th scope="row" id="meridian"></th>
        </tr>
    </thead>
    <tbody>
	    <tr class="text-center">
		    <td headers="hours"><a ng-click="incrementHours()" class="btn btn-link" title="Increment Hours"><em class="fa-icon-chevron-up"></em></a></td>
		    <td headers="seperator">&nbsp;</td>
		    <td headers="minutes"><a ng-click="incrementMinutes()" class="btn btn-link" title="Increment Minutes"><em class="fa-icon-chevron-up"></em></a></td>
		    <td headers="meridian" ng-show="showMeridian"></td>
	    </tr>
	    <tr>
		    <td headers="hours" class="control-group" ng-class="{'error': !validHours}"><input type="text" ng-model="hours" ng-change="updateHours()" class="span1 text-center" ng-mousewheel="incrementHours()" ng-readonly="readonlyInput" maxlength="2" title="Hours"/></td>
		    <td headers="seperator">:</td>
		    <td headers="minutes" class="control-group" ng-class="{'error': !validMinutes}"><input type="text" ng-model="minutes" ng-change="updateMinutes()" class="span1 text-center" ng-readonly="readonlyInput" maxlength="2" title="Minutes"></td>
		    <td headers="meridian" ng-show="showMeridian"><button ng-click="toggleMeridian()" class="btn text-center" title="Meridian">{{meridian}}</button></td>
	    </tr>
	    <tr class="text-center">
		    <td headers="hours"><a ng-click="decrementHours()" class="btn btn-link"><em class="fa-icon-chevron-down" title="Decrement Hours"></em></a></td>
		    <td headers="seperator">&nbsp;</td>
		    <td headers="minutes"><a ng-click="decrementMinutes()" class="btn btn-link"><em class="fa-icon-chevron-down" title="Decrement Minutes"></em></a></td>
		    <td headers="meridian" ng-show="showMeridian"></td>
	    </tr>
    </tbody>
</table>