<!--
    start: Approved Visit
-->
    <div data-modal="Visits.approvedVisitModal.show" data-close="Visits.closeApprovedVisitModal()" data-options="Visits.approvedVisitModal.opts">
        <div class="modal-header">
            <button type="button" aria-label="close" title="close" class="close" data-ng-click="Visits.closeApprovedVisitModal()"  aria-hidden="true" >×</button>
            <h3    id="approveHoursFocus" data-focus="Visits.approveHoursFocus" tabindex="2" data-sandata-no-shift-tab >Confirmation</h3><!-- Missing: label-->
        </div>
        <div class="modal-body">
           <!--Body -->
            <div class="modal-confirmation-message" >

                <strong>{{Visits.formatTime({rawTime:Visits.approvedHoursSelected, format:"none",    round:true,  roundingFormat:"decimal" })}} Hours </strong> will be approved.<!-- Missing: metatData format -->
            </div>
            <div class="modal-confirmation-buttons">
                <button tabindex="2"  class="btn btn-information" data-ng-click="Visits.approveVisitsSelected()"    aria-label="OK" title="OK">OK</button><!-- Missing: label-->
                <button tabindex="2"  class="btn btn-information" data-ng-click="Visits.closeApprovedVisitModal()"     aria-label="Cancel" title="Cancel" sandata-modal-tab-back-to-top="h3#approveHoursFocus">Cancel</button><!-- Missing: label-->
            </div>
            
        </div>
    </div>

<!--
    end: Approved Visit
-->

<!--
    start: Unapproved Visit
-->
    <div data-modal="Visits.unApprovedVisitModal.show" data-close="Visits.closeUnapprovedVisitModal()" data-options="Visits.unApprovedVisitModal.opts">
        <div class="modal-header">
            <button type="button" class="close" data-ng-click="Visits.closeUnapprovedVisitModal()"  aria-hidden="true"    aria-label="close" title="close">×</button>
            <h3 tabindex="2"   id="unapproveHoursFocus" data-focus="Visits.unapproveHoursFocus" data-sandata-no-shift-tab>Confirmation</h3><!-- Missing: label-->
        </div>
        <div class="modal-body">
           <!--Body -->
            <div class="modal-confirmation-message"  >
                This visit will be <strong>Unapproved</strong>.
            </div>
            <div class="modal-confirmation-buttons">
                <button tabindex="2"  class="btn btn-information" data-ng-click="Visits.unApprovedVisit()"     aria-label="OK" title="OK">OK</button><!-- Missing: label-->
                <button tabindex="2"  class="btn btn-information" data-ng-click="Visits.closeUnapprovedVisitModal()"    aria-label="Cancel" title="Cancel" sandata-modal-tab-back-to-top="h3#unapproveHoursFocus">Cancel</button><!-- Missing: label-->
            </div>
            
        </div>
    </div>

<!--
    end: Unapproved Visit
-->



