<!--
    start: ignore Visit
-->
    <div data-modal="Visits.ignoreVisitModal.show" data-close="Visits.closeIgnoreVisit()" data-options="Visits.ignoreVisitModal.opts">
        <div class="modal-header">
            <button type="button" aria-label="close" title="close" class="close" data-ng-click="Visits.closeIgnoreVisit()"  aria-hidden="true">×</button><!-- Missing: label -->
            <h3 tabindex="2"  id="ignoreVisitFocus" data-focus="Visits.ignoreVisitFocus" data-sandata-no-shift-tab >Confirmation</h3><!-- Missing: label -->
        </div>
        <div class="modal-body">
           <!--Body -->
            <div class="modal-confirmation-message"  >
                This visit will be <strong>Ignored</strong>.
            </div>
            <div class="modal-confirmation-buttons">
                <button tabindex="2"   class="btn btn-information" data-ng-click="Visits.ignoreVisit()"   aria-label="OK" title="OK">OK</button><!-- Missing: label -->
                <button tabindex="2"   class="btn btn-information" data-ng-click="Visits.closeIgnoreVisit()"   aria-label="Cancel" title="Cancel" sandata-modal-tab-back-to-top="h3#ignoreVisitFocus">Cancel</button><!-- Missing: label -->
            </div>
            
        </div>
    </div>

<!--
    end: ignore Visit
-->
<!--
    start: unignore Visit
-->
    <div data-modal="Visits.unignoreVisitModal.show" data-close="Visits.closeUnignoreVisit()" data-options="Visits.unignoreVisitModal.opts">
        <div class="modal-header">
            <button type="button"  aria-label="close" title="close" class="close" data-ng-click="Visits.closeUnignoreVisit()"  aria-hidden="true"  >×</button><!-- Missing: label -->
            <h3  tabindex="2" id="unignoreVisitFocus" data-focus="Visits.unignoreVisitFocus" data-sandata-no-shift-tab>Confirmation</h3><!-- Missing: label -->
        </div>
        <div class="modal-body">
           <!--Body -->
            <div class="modal-confirmation-message" >
                This visit will be <strong>Unignored</strong>.<!-- Missing: metaData -->
            </div>
            <div class="modal-confirmation-buttons">
                <button tabindex="2"   class="btn btn-information" data-ng-click="Visits.unignoreVisit()"   aria-label="OK" title="OK">OK</button><!-- Missing: label -->
                <button tabindex="2"   class="btn btn-information" data-ng-click="Visits.closeUnignoreVisit()"   aria-label="Cancel" title="Cancel" sandata-modal-tab-back-to-top="h3#unignoreVisitFocus">Cancel</button><!-- Missing: label -->
            </div>
            
        </div>
    </div>

<!--
    end: ignore Visit
-->