<div data-modal="Dashboard.dashboardConfirmModal.show" data-options="Dashboard.dashboardConfirmModal.opts">
    <div class="modal-header">
        <button type="button" aria-label="close" title="close" class="close" data-ng-click="Dashboard.closeModal()"  aria-hidden="true" >×</button>
        <h3  tabindex="2" id="dashboardConfirmFocus" data-focus="Dashboard.dashboardConfirmFocus" data-sandata-no-shift-tab >Confirmation</h3>
    </div>
    <div class="modal-body">       
        <div class="modal-confirmation-message" > 
            These calls will be assigned to <strong>{{Dashboard.dashboardConfirmModal.clientName}}</strong>.
        </div>
        <div class="modal-confirmation-buttons">
            <button tabindex="2"   class="btn btn-information" data-ng-click="Dashboard.assignUnknownCall()"   aria-label="OK" title="OK" >OK</button>
            <button tabindex="2"   class="btn btn-information" data-ng-click="Dashboard.closeModal()"   aria-label="Cancel" title="Cancel" sandata-modal-tab-back-to-top="h3#dashboardConfirmFocus">Cancel</button>
        </div>
        
    </div>
</div>