/* Icon per-widget styles */
.km-detail .km-icon,
.km-button .km-icon,
.km-list .km-icon,
.km-ios .km-button .km-icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
  margin-left: -0.3em;
  margin-right: 0.3em;
  vertical-align: baseline;
  display: inline-block;
  background-size: auto 100%;
}
html .km-widget .km-view .km-notext {
  margin-left: 0;
  margin-right: 0;
}
.km-buttongroup .km-button .km-icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
  margin: .05em .16em 0 0;
}
.km-tabstrip .km-button .km-icon {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
}
.km-tabstrip .km-image,
.km-tabstrip .km-button .km-icon {
  margin: 0 auto .1em;
  display: inline-block;
}
.km-tabstrip .km-text {
  display: block;
}
.km-phone .km-tabstrip .km-icon {
  height: 2.2rem;
  width: 2.2rem;
  font-size: 2.2rem;
}
.km-phone .km-horizontal .km-tabstrip .km-icon {
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
}
/* Icons */
@font-face {
  font-family: "Kendo UI";
  src: url("images/kendoui.woff?v=1.1") format("woff"), url("images/kendoui.ttf?v=1.1") format("truetype"), url("images/kendoui.svg#kendoui") format("svg");
}
body:before {
  font-family: "Kendo UI";
  content: "\a0";
  font-size: 0;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}
.km-root .km-pane .km-view .km-icon {
  -webkit-background-clip: text;
  background-size: 0 0;
}
.km-icon {
  position: relative;
}
.km-icon:after,
.km-icon:before,
.km-contactadd:after,
.km-contactadd:before,
.km-rowdelete:after,
.km-rowdelete:before,
.km-rowinsert:after,
.km-rowinsert:before,
.km-detaildisclose:after,
.km-detaildisclose:before,
.km-loading:after,
.km-filter-wrap:before {
  position: relative;
  content: "\a0";
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: middle;
  background-size: auto;
  font: 1em/1em "Kendo UI";
}
.km-icon:before,
.km-contactadd:before,
.km-rowdelete:before,
.km-rowinsert:before,
.km-detaildisclose:before {
  position: absolute;
  margin-top: 1px;
  color: rgba(0, 0, 0, 0.7);
  display: none;
}
.km-state-active .km-icon:before,
.km-state-active .km-contactadd:before,
.km-state-active .km-rowdelete:before,
.km-state-active .km-rowinsert:before,
.km-state-active .km-detaildisclose:before {
  display: block;
}
.km-ios7 .km-detaildisclose:after {
  font-family: serif;
}
.km-ios7 .km-icon:before,
.km-ios7 .km-contactadd:before,
.km-ios7 .km-rowdelete:before,
.km-ios7 .km-rowinsert:before,
.km-ios7 .km-detaildisclose:before {
  display: none;
}
.k-webkit .km-ios:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after,
.k-webkit .km-blackberry:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after,
.k-safari .km-ios:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after,
.k-safari .km-blackberry:not(.km-android):not(.km-blackberry6):not(.km-blackberry7) .km-icon:after {
  background-image: inherit;
  background-repeat: inherit;
  background-position: inherit;
  background-color: currentcolor;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.km-root .km-pane.km-on-blackberry.km-blackberry6 .km-view .km-icon:after,
.km-root .km-pane.km-on-blackberry.km-blackberry7 .km-view .km-icon:after,
.km-root .km-pane.km-pane.km-on-android .km-view .km-icon:after,
.km-root .km-pane.km-pane.km-on-meego .km-view .km-icon:after {
  background: none;
  -webkit-text-fill-color: inherit;
}
.km-contactadd:after,
.km-contactadd:before,
.km-rowinsert:after,
.km-rowinsert:before {
  content: "\E039";
}
.km-rowdelete:after,
.km-rowdelete:before {
  content: "\E03a";
}
.km-detaildisclose:after,
.km-detaildisclose:before {
  content: "\E0E2";
}
.km-action:after,
.km-action:before {
  content: "\e0ca";
}
.km-add:after,
.km-add:before {
  content: "\e0cb";
}
.km-battery:after,
.km-battery:before {
  content: "\e0ce";
}
.km-bookmarks:after,
.km-bookmarks:before {
  content: "\e0cf";
}
.km-camera:after,
.km-camera:before {
  content: "\e0d0";
}
.km-cart:after,
.km-cart:before {
  content: "\e0d1";
}
.km-edit:after,
.km-compose:after,
.km-edit:before,
.km-compose:before {
  content: "\e0d5";
}
.km-contacts:after,
.km-contacts:before {
  content: "\e0e4";
}
.km-trash:after,
.km-delete:after,
.km-trash:before,
.km-delete:before {
  content: "\e0ec";
}
.km-details:after,
.km-details:before {
  content: "\e0e2";
}
.km-download:after,
.km-downloads:after,
.km-download:before,
.km-downloads:before {
  content: "\e0d4";
}
.km-fastforward:after,
.km-fastforward:before {
  content: "\e0d9";
}
.km-toprated:after,
.km-favorites:after,
.km-toprated:before,
.km-favorites:before {
  content: "\e0d7";
}
.km-featured:after,
.km-featured:before {
  content: "\e0d8";
}
.km-globe:after,
.km-globe:before {
  content: "\e0dc";
}
.km-history:after,
.km-history:before {
  content: "\e0e7";
}
.km-home:after,
.km-home:before {
  content: "\e0dd";
}
.km-info:after,
.km-about:after,
.km-info:before,
.km-about:before {
  content: "\e0de";
}
.km-more:after,
.km-more:before {
  content: "\e0e0";
}
.km-mostrecent:after,
.km-mostrecent:before {
  content: "\e0cc";
}
.km-mostviewed:after,
.km-mostviewed:before {
  content: "\e0d6";
}
.km-organize:after,
.km-organize:before {
  content: "\e0eb";
}
.km-pause:after,
.km-pause:before {
  content: "\e0e3";
}
.km-play:after,
.km-play:before {
  content: "\e0e5";
}
.km-recents:after,
.km-recents:before {
  content: "\e0d2";
}
.km-refresh:after,
.km-refresh:before {
  content: "\e0e6";
}
.km-reply:after,
.km-reply:before {
  content: "\e0ed";
}
.km-rewind:after,
.km-rewind:before {
  content: "\e0e8";
}
.km-search:after,
.km-search:before {
  content: "\e0e9";
}
.km-settings:after,
.km-settings:before {
  content: "\e0da";
}
.km-share:after,
.km-share:before {
  content: "\e0df";
}
.km-sounds:after,
.km-volume:after,
.km-sounds:before,
.km-volume:before {
  content: "\e0ef";
}
.km-stop:after,
.km-stop:before {
  content: "\e0ea";
}
.km-wifi:after,
.km-wifi:before {
  content: "\e0f0";
}
.km-root .km-pane .km-icon.km-check {
  -webkit-background-clip: initial;
}
.km-root .km-pane .km-check:checked:after,
.km-widget .km-check:checked:after {
  content: "\e227";
}
.km-android .km-more:after,
.km-android .km-more:before {
  content: "\e0e1";
}
.km-meego .km-more:after,
.km-meego .km-more:before {
  content: "\e0f1";
}
.km-wp .km-loading:after,
.km-wp .km-load-more .km-icon:after,
.km-wp .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
}
.km-meego .km-loading:after,
.km-meego .km-load-more .km-icon:after,
.km-meego .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
}
.km-root .km-android .km-loading:after,
.km-android .km-load-more .km-icon:after,
.km-root .km-android .km-scroller-refresh .km-icon:after {
  content: "\e0f6";
}
.km-scroller-pull .km-icon:after {
  content: "\e0f2";
}
.km-icon.km-phone:after,
.km-ios7 .km-state-active .km-phone:after {
  content: "\e326";
}
.km-ios7 .km-detaildisclose:after {
  content: "i";
}
.km-ios7 .km-action:after {
  content: "\e1ff";
}
.km-ios7 .km-add:after {
  content: "\e200";
}
.km-ios7 .km-mostrecent:after {
  content: "\e201";
}
.km-ios7 .km-battery:after {
  content: "\e203";
}
.km-ios7 .km-bookmarks:after {
  content: "\e204";
}
.km-ios7 .km-camera:after {
  content: "\e205";
}
.km-ios7 .km-cart:after {
  content: "\e206";
}
.km-ios7 .km-recents:after {
  content: "\e207";
}
.km-ios7 .km-download:after,
.km-ios7 .km-downloads:after {
  content: "\e209";
}
.km-ios7 .km-edit:after {
  content: "\e20a";
}
.km-ios7 .km-mostviewed:after {
  content: "\e20b";
}
.km-ios7 .km-toprated:after,
.km-ios7 .km-favorites:after {
  content: "\e20c";
}
.km-ios7 .km-featured:after {
  content: "\e20d";
}
.km-ios7 .km-fastforward:after {
  content: "\e20e";
}
.km-ios7 .km-settings:after {
  content: "\e20f";
}
.km-ios7 .km-globe:after {
  content: "\e211";
}
.km-ios7 .km-home:after {
  content: "\e212";
}
.km-ios7 .km-info:after,
.km-ios7 .km-about:after {
  content: "\e213";
}
.km-ios7 .km-share:after {
  content: "\e214";
}
.km-ios7 .km-more:after {
  content: "\e215";
}
.km-ios7 .km-details:after {
  content: "\e217";
}
.km-ios7 .km-pause:after {
  content: "\e218";
}
.km-ios7 .km-contacts:after {
  content: "\e219";
}
.km-ios7 .km-play:after {
  content: "\e21a";
}
.km-ios7 .km-refresh:after {
  content: "\e21b";
}
.km-ios7 .km-history:after {
  content: "\e21c";
}
.km-ios7 .km-rewind:after {
  content: "\e21d";
}
.km-ios7 .km-search:after {
  content: "\e21e";
}
.km-ios7 .km-stop:after {
  content: "\e21f";
}
.km-ios7 .km-organize:after {
  content: "\e220";
}
.km-ios7 .km-trash:after,
.km-ios7 .km-delete:after {
  content: "\e221";
}
.km-ios7 .km-reply:after {
  content: "\e222";
}
.km-ios7 .km-forward:after {
  content: "\e223";
}
.km-ios7 .km-sounds:after,
.km-ios7 .km-volume:after {
  content: "\e224";
}
.km-ios7 .km-wifi:after {
  content: "\e225";
}
.km-ios7 .km-phone:after {
  content: "\e226";
}
.km-ios7 .km-state-active .km-action:after {
  content: "\e2ff";
}
.km-ios7 .km-state-active .km-add:after {
  content: "\e300";
}
.km-ios7 .km-state-active .km-mostrecent:after {
  content: "\e301";
}
.km-ios7 .km-state-active .km-battery:after {
  content: "\e303";
}
.km-ios7 .km-state-active .km-bookmarks:after {
  content: "\e304";
}
.km-ios7 .km-state-active .km-camera:after {
  content: "\e305";
}
.km-ios7 .km-state-active .km-cart:after {
  content: "\e306";
}
.km-ios7 .km-state-active .km-recents:after {
  content: "\e307";
}
.km-ios7 .km-state-active .km-download:after,
.km-ios7 .km-state-active .km-downloads:after {
  content: "\e309";
}
.km-ios7 .km-state-active .km-edit:after {
  content: "\e30a";
}
.km-ios7 .km-state-active .km-mostviewed:after {
  content: "\e30b";
}
.km-ios7 .km-state-active .km-toprated:after,
.km-ios7 .km-state-active .km-favorites:after {
  content: "\e30c";
}
.km-ios7 .km-state-active .km-featured:after {
  content: "\e30d";
}
.km-ios7 .km-state-active .km-fastforward:after {
  content: "\e30e";
}
.km-ios7 .km-state-active .km-settings:after {
  content: "\e30f";
}
.km-ios7 .km-state-active .km-globe:after {
  content: "\e311";
}
.km-ios7 .km-state-active .km-home:after {
  content: "\e312";
}
.km-ios7 .km-state-active .km-info:after,
.km-ios7 .km-state-active .km-about:after {
  content: "\e313";
}
.km-ios7 .km-state-active .km-share:after {
  content: "\e314";
}
.km-ios7 .km-state-active .km-more:after {
  content: "\e315";
}
.km-ios7 .km-state-active .km-details:after {
  content: "\e317";
}
.km-ios7 .km-state-active .km-pause:after {
  content: "\e318";
}
.km-ios7 .km-state-active .km-contacts:after {
  content: "\e319";
}
.km-ios7 .km-state-active .km-play:after {
  content: "\e31a";
}
.km-ios7 .km-state-active .km-refresh:after {
  content: "\e31b";
}
.km-ios7 .km-state-active .km-history:after {
  content: "\e31c";
}
.km-ios7 .km-state-active .km-rewind:after {
  content: "\e31d";
}
.km-ios7 .km-state-active .km-search:after {
  content: "\e31e";
}
.km-ios7 .km-state-active .km-stop:after {
  content: "\e31f";
}
.km-ios7 .km-state-active .km-organize:after {
  content: "\e320";
}
.km-ios7 .km-state-active .km-trash:after,
.km-ios7 .km-state-active .km-delete:after {
  content: "\e321";
}
.km-ios7 .km-state-active .km-reply:after {
  content: "\e322";
}
.km-ios7 .km-state-active .km-forward:after {
  content: "\e323";
}
.km-ios7 .km-state-active .km-sounds:after,
.km-ios7 .km-state-active .km-volume:after {
  content: "\e324";
}
.km-ios7 .km-state-active .km-wifi:after {
  content: "\e325";
}
.km-arrowdown:after,
.km-arrowdown:before {
  content: "\e002";
}
.km-wp .km-scroller-pull .km-icon:after {
  content: "\E0D4";
}
.km-on-wp.km-app .km-icon:after,
.km-on-wp.km-app .km-filter-wrap:before,
.km-on-wp.km-app .km-state-active .km-icon:after {
  color: transparent;
  background-image: url("images/wp8_icons.png");
  background-size: auto 100%;
  height: 1em;
  margin-top: 0;
  vertical-align: middle;
}
.km-wp-light.km-app .km-icon:after,
.km-wp-light.km-app .km-filter-wrap:before {
  background-image: url("images/wp8_inverseicons.png");
}
.km-on-wp.km-app .km-icon {
  line-height: 1em;
}
.km-on-wp.km-app .km-icon:before {
  display: none;
}
.km-on-wp.km-app .km-action:after {
  background-position-x: 20%;
}
.km-on-wp.km-app .km-add:after,
.km-on-wp.km-app .km-filter-reset .km-clear:after {
  background-position-x: 22%;
}
.km-on-wp.km-app .km-battery:after {
  background-position-x: 24%;
}
.km-on-wp.km-app .km-bookmarks:after {
  background-position-x: 26%;
}
.km-on-wp.km-app .km-camera:after {
  background-position-x: 28%;
}
.km-on-wp.km-app .km-cart:after {
  background-position-x: 30%;
}
.km-on-wp.km-app .km-edit:after,
.km-on-wp.km-app .km-compose:after {
  background-position-x: 32%;
}
.km-on-wp.km-app .km-contacts:after {
  background-position-x: 34%;
}
.km-on-wp.km-app .km-trash:after,
.km-on-wp.km-app .km-delete:after {
  background-position-x: 36%;
}
.km-on-wp.km-app .km-details:after {
  background-position-x: 38%;
}
.km-on-wp.km-app .km-download:after,
.km-on-wp.km-app .km-downloads:after {
  background-position-x: 40%;
}
.km-on-wp.km-app .km-fastforward:after {
  background-position-x: 42%;
}
.km-on-wp.km-app .km-toprated:after,
.km-on-wp.km-app .km-favorites:after {
  background-position-x: 44%;
}
.km-on-wp.km-app .km-featured:after {
  background-position-x: 46%;
}
.km-on-wp.km-app .km-globe:after {
  background-position-x: 48%;
}
.km-on-wp.km-app .km-history:after {
  background-position-x: 50%;
}
.km-on-wp.km-app .km-home:after {
  background-position-x: 52%;
}
.km-on-wp.km-app .km-info:after,
.km-on-wp.km-app .km-about:after {
  background-position-x: 54%;
}
.km-on-wp.km-app .km-more:after {
  background-position-x: 56%;
}
.km-on-wp.km-app .km-mostrecent:after {
  background-position-x: 58%;
}
.km-on-wp.km-app .km-mostviewed:after {
  background-position-x: 60%;
}
.km-on-wp.km-app .km-organize:after {
  background-position-x: 62%;
}
.km-on-wp.km-app .km-pause:after {
  background-position-x: 64%;
}
.km-on-wp.km-app .km-play:after {
  background-position-x: 66%;
}
.km-on-wp.km-app .km-recents:after {
  background-position-x: 68%;
}
.km-on-wp.km-app .km-refresh:after {
  background-position-x: 70%;
}
.km-on-wp.km-app .km-reply:after {
  background-position-x: 72%;
}
.km-on-wp.km-app .km-rewind:after {
  background-position-x: 74%;
}
.km-on-wp.km-app .km-search:after,
.km-on-wp.km-app .km-filter-wrap:before {
  background-position-x: 76%;
}
.km-on-wp.km-app .km-settings:after {
  background-position-x: 78%;
}
.km-on-wp.km-app .km-share:after {
  background-position-x: 80%;
}
.km-on-wp.km-app .km-sounds:after,
.km-on-wp.km-app .km-volume:after {
  background-position-x: 82%;
}
.km-on-wp.km-app .km-stop:after {
  background-position-x: 84%;
}
.km-on-wp.km-app .km-wifi:after {
  background-position-x: 86%;
}
.km-on-wp.km-app.km-android .km-more:after {
  background-position-x: 88%;
}
.km-on-wp.km-app.km-meego .km-more:after {
  background-position-x: 90%;
}
.km-on-wp.km-app.km-meego .km-loading:after,
.km-on-wp.km-app.km-meego .km-load-more .km-icon:after,
.km-on-wp.km-app.km-meego .km-scroller-refresh .km-icon:after {
  background-position-x: 94%;
}
.km-on-wp.km-app .km-scroller-pull .km-icon:after {
  background-position-x: 100%;
}
.km-on-wp.km-app .km-filter-wrap:before {
  display: inline-block;
  content: "\a0";
}
.km-on-wp.km-app .km-filter-reset .km-clear:after {
  transform: rotate(45deg);
}
.km-badge,
.km-detail {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  position: absolute;
  z-index: 1;
  height: 2em;
  font-size: .6rem;
  text-shadow: none;
}
.km-badge {
  top: -1em;
  right: -1em;
  line-height: 2em;
  margin-left: .5em;
  min-width: .9em;
  padding: 0 .55em;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.km-tabstrip .km-badge {
  top: -0.2em;
  right: auto;
  margin-left: -1em;
}
/* DetailButtons */
.km-detail {
  position: absolute;
  float: right;
  right: .8rem;
  top: 50%;
  margin-top: -0.7rem;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 1rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-widget .km-detaildisclose {
  font-size: .8em;
}
.k-ff .km-detail {
  width: 1rem;
  height: 1rem;
}
.km-detail .km-text {
  display: none;
}
.km-widget .km-rowinsert:after,
.km-widget .km-rowdelete:after,
.km-widget .km-contactadd:after,
.km-widget .km-detaildisclose:after,
.km-widget .km-rowinsert:before,
.km-widget .km-rowdelete:before,
.km-widget .km-contactadd:before,
.km-widget .km-detaildisclose:before,
.km-detail .km-icon {
  left: .15em;
  top: .15em;
  line-height: 1em;
  font-size: 1em;
  position: absolute;
}
.km-widget .km-detaildisclose:after {
  left: .1em;
  top: .25em;
  text-align: center;
  font-weight: bold;
}
/* Buttons */
.km-button {
  cursor: pointer;
  outline: 0;
  text-align: center;
}
button.km-button {
  display: inline-block;
  font: inherit;
}
.km-button:hover {
  text-decoration: none;
}
.km-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.km-ios .km-state-disabled .km-button,
.km-android .km-state-disabled .km-button,
.km-blackberry .km-state-disabled .km-button,
.km-meego .km-state-disabled .km-button {
  color: #aaa;
  text-shadow: none;
}
.km-root .km-pane .k-button:focus,
.km-root .km-pane .k-button:active,
.km-root .km-pane .k-button:focus:active {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.km-buttongroup {
  padding: .4rem .7rem;
  -webkit-margin-collapse: separate;
  margin-collapse: separate;
  margin: .5em auto;
}
.km-widget.km-buttongroup {
  padding: 0;
  border-color: transparent;
  background: none;
  white-space: nowrap;
  display: table;
}
.km-buttongroup > .km-button {
  display: table-cell;
}
.km-widget.km-buttongroup .km-button {
  margin: 0;
  border-width: 1px 0 1px 1px;
  padding: .48em .9em .44em;
}
.km-tablet .km-buttongroup .km-button {
  padding: .4em .8em .34em;
}
.km-widget.km-navbar .km-buttongroup {
  font-size: .95rem;
  line-height: 1em;
  margin: 0 0 .2em;
  display: inline-block;
  height: 1.5em;
  top: -2px;
}
.k-toolbar .km-buttongroup {
  margin: 0;
  display: inline-block;
}
.km-tablet .km-navbar .km-buttongroup {
  top: -1px;
}
.km-widget.km-navbar .km-buttongroup > .km-button {
  font-size: 1em;
  min-width: 4rem;
  text-align: center;
}
.km-tablet .km-navbar .km-buttongroup > .km-button {
  min-width: 6rem;
}
.km-view .km-buttongroup .km-button:last-child {
  border-right-width: 1px;
}
.km-ios .km-buttongroup .km-button {
  font-size: 1.2em;
  font-weight: bold;
}
/* Common Platform CSS */
@-ms-viewport {
  width: device-width;
  user-zoom: fixed;
  max-zoom: 1;
  min-zoom: 1;
}
@media (orientation: landscape) {
  .km-tablet .km-on-ios.km-horizontal.km-web:not(.km-ios-chrome) {
    position: fixed;
    bottom: 0;
  }
}
.km-root {
  font-size: .92em;
}
.km-root a {
  color: inherit;
}
.km-tablet {
  font-size: 1em;
}
.km-root *:focus {
  outline-width: 0;
}
.km-root,
.km-pane,
.km-pane-wrapper {
  width: 100%;
  height: 100%;
  -ms-touch-action: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  overflow-x: hidden;
}
.km-pane-wrapper {
  position: absolute;
}
.km-pane,
.km-shim {
  font-family: sans-serif;
}
.km-pane {
  overflow-x: hidden;
  position: relative;
}
.km-vertical .km-collapsible-pane {
  position: absolute;
  z-index: 2 !important;
  -webkit-transition: -webkit-transform 350ms ease-out;
  -ms-transition: -ms-transform 350ms ease-out;
  -webkit-transform: translatex(-100%);
  -moz-transform: translatex(-100%);
  -ms-transform: translatex(-100%);
  -o-transform: translatex(-100%);
  transform: translatex(-100%);
}
.km-vertical .km-expanded-splitview .km-collapsible-pane {
  -webkit-transform: translatex(0);
  -moz-transform: translatex(0);
  -ms-transform: translatex(0);
  -o-transform: translatex(0);
  transform: translatex(0);
}
.km-expanded-pane-shim {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.km-expanded-splitview .km-expanded-pane-shim {
  display: block;
  z-index: 1;
}
.km-root > * {
  margin: 0;
  padding: 0;
}
.km-root * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.km-content {
  display: block;
}
.km-view,
.km-split-content {
  top: 0;
  left: 0;
  position: absolute;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  vertical-align: top;
}
.k-ff .km-view,
.k-ff .km-pane {
  overflow: hidden;
}
.k-ff18 .km-view,
.k-ff18 .km-pane,
.k-ff19 .km-view,
.k-ff19 .km-pane,
.k-ff20 .km-view,
.k-ff20 .km-pane,
.k-ff21 .km-view,
.k-ff21 .km-pane {
  position: relative;
}
.k-ff .km-view {
  display: -moz-inline-box;
  display: inline-flex;
}
.km-content {
  min-height: 1px;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  flex-align: stretch;
  width: auto;
  overflow: hidden;
  position: relative;
}
.km-content p,
.km-content h1,
.km-content h2,
.km-content h3,
.km-content h4,
.km-content h5,
.km-content h6 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.km-header,
.km-footer {
  display: block;
  display: -moz-box;
  -moz-box-orient: vertical;
  width: 100%;
}
.km-header {
  padding: 0;
}
.km-footer {
  background: #1a1a1a;
}
[data-role="layout"] {
  display: none;
}
[data-role="view"],
[data-role="drawer"] {
  visibility: hidden;
}
.km-view {
  visibility: visible;
}
.km-header,
.km-footer {
  position: relative;
  z-index: 1;
}
@media all and (-webkit-min-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0) {
  .km-view {
    display: table;
  }
  .km-header,
  .km-footer,
  .km-content {
    display: table-row;
  }
  .km-header,
  .km-footer {
    height: 1px;
  }
}
.km-root .k-toolbar,
.km-navbar,
.km-button,
.km-buttongroup,
.km-tabstrip,
.km-blackberry li.km-actionsheet-cancel > a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-origin: border-box;
  position: relative;
  display: inline-block;
  padding: .4em .7em;
  margin: .1rem;
  overflow: visible;
  text-decoration: none;
}
.km-tabstrip,
.km-root .k-toolbar,
.km-navbar {
  display: block;
  padding: .8em;
  margin: 0;
  width: 100%;
  border-width: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-native-scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: pan-x pan-y;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-scroll-snap-type: proximity;
}
.km-default-content {
  padding: 1em;
}
.km-shim {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10001;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-root .km-shim {
  position: absolute;
}
.km-shim:before {
  content: "\a0";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.km-shim .k-animation-container {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
  width: auto;
}
/* Loader */
.km-loader {
  top: 50%;
  left: 50%;
  width: 180px;
  height: 130px;
  z-index: 100000;
  padding: 30px 30px;
  position: absolute;
  margin-top: -70px;
  margin-left: -90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}
.km-loader h1 {
  font-size: 1rem;
  color: white;
  text-align: center;
  vertical-align: middle;
}
.km-loader .km-loading,
.km-load-more .km-icon,
.km-scroller-refresh .km-icon {
  animation: km-spin 1s infinite linear;
  -moz-animation: km-spin 1s infinite linear;
  -webkit-animation: km-spin 1s infinite linear;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  font-size: 35px;
}
.km-loader .km-loading:after,
.km-load-more .km-icon:after {
  color: #ccc;
}
.km-loading-left,
.km-loading-right {
  display: none;
}
@-webkit-keyframes km-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes km-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes km-spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes km-spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes km-ios-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes km-ios-spin1 {
  from {
    -webkit-transform: rotate(-135deg);
  }
  to {
    -webkit-transform: rotate(225deg);
  }
}
@-moz-keyframes km-ios-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-moz-keyframes km-ios-spin1 {
  from {
    -moz-transform: rotate(-135deg);
  }
  to {
    -moz-transform: rotate(225deg);
  }
}
@keyframes km-ios-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes km-ios-spin1 {
  from {
    transform: rotate(-135deg);
  }
  to {
    transform: rotate(225deg);
  }
}
/* Stretched View */
.km-stretched-view {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.km-stretched-view > * {
  width: 100%;
}
.km-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 100000;
}
.km-root.km-native-scrolling,
.km-root.km-native-scrolling .km-view,
.km-root.km-native-scrolling .km-splitview .km-pane {
  min-height: 100%;
  height: auto;
  -webkit-transform: none;
  overflow-x: visible;
}
.km-native-scrolling .km-pane,
.km-native-scrolling .km-view {
  -ms-touch-action: auto;
  display: block;
}
.km-native-scrolling .km-content {
  -ms-flex: auto;
}
.km-native-scrolling .km-blackberry .km-content {
  min-height: auto;
}
/* Restore position:absolute during animation */
.km-native-scrolling .km-splitview {
  position: absolute;
}
.km-native-scrolling .km-header {
  position: fixed;
  top: 0;
}
.km-native-scrolling .km-android .km-header {
  top: auto;
  bottom: 0;
}
.km-native-scrolling .km-footer {
  position: fixed;
  bottom: 0;
}
.km-native-scrolling .km-android .km-footer {
  top: 0;
  bottom: auto;
}
.km-native-scrolling .km-badge {
  z-index: auto;
}
.km-native-scrolling .km-splitview .km-header,
.km-native-scrolling .km-splitview .km-footer,
.km-native-scrolling .km-popup.km-pane .km-header,
.km-native-scrolling .km-popup.km-pane .km-footer {
  position: absolute;
}
.km-native-scrolling .km-modalview .km-header,
.km-native-scrolling .km-modalview .km-footer {
  position: relative;
}
.km-native-scrolling .km-content {
  width: 100%;
}
.km-native-scrolling .km-shim,
.km-native-scrolling .km-popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  height: auto !important;
}
.km-native-scrolling .km-drawer {
  position: fixed;
  top: 0;
  height: 100% !important;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
}
.km-native-scrolling > .km-pane > .km-loader {
  position: fixed;
  top: 50%;
  margin-top: -2em;
}
.km-native-scrolling .km-header,
.km-native-scrolling .km-footer {
  z-index: 2;
}
/* Disabled states */
.km-state-disabled {
  opacity: 0.5;
}
/* Support for iOS6 */
@media only screen and (height: 320px) and (orientation: landscape) {
  .km-ios6 {
    height: 100% !important;
  }
}
/* CSS */
.km-ios:after {
  content: url("images/back.png");
  display: none;
}
.km-ios {
  font: bold 0.9em HelveticaNeue, sans-serif;
}
.km-ios .km-view {
  overflow: hidden;
}
.km-ios .km-toolbar,
.km-ios .km-navbar,
.km-ios .km-button,
.km-ios .km-tabstrip,
.km-ios .km-popup .k-item,
.km-ios .km-actionsheet > li > a {
  overflow: visible;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}
/* Icons */
.k-ff .km-ios .km-detail .km-icon {
  top: 5%;
  left: 7%;
}
.km-ios .km-button .km-icon:before,
.km-ios .km-button .km-contactadd:before,
.km-ios .km-button .km-rowdelete:before,
.km-ios .km-button .km-rowinsert:before,
.km-ios .km-button .km-detaildisclose:before {
  display: block;
  margin-top: -1px;
}
.km-ios .km-button .km-icon,
.km-ios .km-button.km-state-active .km-icon {
  text-shadow: none;
}
.km-ios .km-buttongroup .km-icon {
  margin-top: .1em;
}
.k-webkit .km-ios .km-icon:after,
.k-safari .km-ios .km-icon:after {
  background-color: currentcolor;
}
.km-ios .km-tabstrip .km-icon:before {
  display: block;
  margin-top: 1px;
}
.km-ios .km-tabstrip .km-state-active .km-icon:before {
  margin-top: 2px;
}
.km-ios .km-navbar,
.km-ios .km-toolbar,
.km-ios .km-tabstrip {
  border: 0;
  border-radius: 0;
}
/* Loader */
.km-ios.km-pane > .km-loader,
.km-ios .km-pane > .km-loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-ios .km-loader:before {
  content: "\a0";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.km-ios .km-load-more,
.km-ios .km-scroller-pull {
  font-size: 1em;
}
.km-ios .km-scroller-pull {
  opacity: .5;
}
.km-ios .km-list > .km-load-more {
  border-top: 0;
}
.km-ios .km-loader h1,
.km-ios .km-scroller-refresh .km-template {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2em;
}
.km-ios .km-scroller-pull .km-template {
  min-width: 0;
}
.km-ios .km-loading,
.km-ios .km-loader .km-loading-left,
.km-root .km-ios .km-load-more.km-scroller-refresh .km-icon,
.km-root .km-ios .km-scroller-pull.km-scroller-refresh .km-icon,
.km-ios .km-scroller-refresh .km-loading-left {
  display: inline-block;
  top: auto;
  left: auto;
  width: 8px;
  height: 2px;
  font-size: 1em;
  margin: 0;
  border: 0;
  border-radius: 5px;
  vertical-align: middle;
  -webkit-transform-origin: 150% 50%;
  -moz-transform-origin: 150% 50%;
  -ms-transform-origin: 150% 50%;
  -o-transform-origin: 150% 50%;
  transform-origin: 150% 50%;
  background: currentcolor;
  animation: km-ios-spin 1.5s infinite steps(8);
  -moz-animation: km-ios-spin 1.5s infinite steps(8);
  -webkit-animation: km-ios-spin 1.5s infinite steps(8);
  box-shadow: 16px 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 16px 0 rgba(0, 0, 0, 0.6);
}
.km-ios .km-loading,
.km-ios .km-loader .km-loading-left {
  margin: 2px 0 0;
}
.km-ios .km-loading:before,
.km-ios .km-loading:after,
.km-ios .km-load-more.km-scroller-refresh .km-icon:after,
.km-ios .km-load-more.km-scroller-refresh .km-icon:before,
.km-ios .km-scroller-pull.km-scroller-refresh .km-icon:after,
.km-ios .km-scroller-pull.km-scroller-refresh .km-icon:before {
  color: inherit;
  content: "\a0";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 0;
  margin-top: 0;
  -webkit-transform-origin: inherit;
  -moz-transform-origin: inherit;
  -ms-transform-origin: inherit;
  -o-transform-origin: inherit;
  transform-origin: inherit;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: inherit;
  box-shadow: 16px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 16px 0 rgba(0, 0, 0, 0.5);
}
.km-ios .km-loading:after,
.km-ios .km-load-more.km-scroller-refresh .km-icon:after,
.km-ios .km-scroller-pull.km-scroller-refresh .km-icon:after {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  box-shadow: 16px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 16px 0 rgba(0, 0, 0, 0.4);
}
.km-ios .km-loader .km-loading-left,
.km-ios .km-scroller-refresh .km-loading-left {
  margin-left: -8px;
  box-shadow: 16px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 16px 0 rgba(0, 0, 0, 0.3);
  animation: km-ios-spin1 1.5s infinite steps(8);
  -moz-animation: km-ios-spin1 1.5s infinite steps(8);
  -webkit-animation: km-ios-spin1 1.5s infinite steps(8);
}
.km-ios .km-loading-left:after,
.km-ios .km-loading-left:before,
.km-ios .km-loading-right {
  display: none;
}
.km-ios .km-loading,
.km-ios .km-loading:after,
.km-ios .km-loading:before {
  color: black;
}
.km-ios .km-loading:before {
  color: rgba(0, 0, 0, 0.9);
}
.km-ios .km-loading:after {
  color: rgba(0, 0, 0, 0.8);
}
.km-ios .km-loading-left {
  color: rgba(0, 0, 0, 0.7);
}
/* PopUp */
.km-ios .km-popup .k-popup {
  font-size: .8em;
}
.km-ios .km-popup .k-item,
.km-ios .km-actionsheet > li > a {
  overflow: hidden;
  border-width: 3px;
  border-radius: .6em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  font-size: 1.5em;
  padding: .35em 0 .35em .6em;
  text-shadow: none;
}
.km-root .km-ios .km-popup .k-item {
  border-width: 3px;
  border-style: solid;
}
.km-ios .km-popup .k-item,
.km-ios .km-actionsheet > li {
  margin: .5em 0;
}
.km-ios .km-popup .k-item:first-child,
.km-ios .km-actionsheet > li:first-child {
  margin: 1em 0 .5em;
}
.km-ios .km-popup .k-item:last-child {
  margin: .5em 0 1em;
}
.km-ios .km-popup .k-state-hover,
.km-ios .km-popup .k-state-focused,
.km-ios .km-popup .k-state-selected,
.km-ios .km-actionsheet > li > a:active,
.km-ios .km-actionsheet > li > a:hover,
.km-ios li.km-actionsheet-cancel > a {
  background-clip: padding-box;
}
.km-ios .km-popup {
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-ios .km-popup .k-list-container {
  width: 100% !important;
}
.km-ios .km-actionsheet,
.km-phone .km-ios .km-popup .k-list-container {
  max-height: 80%;
}
.km-ios .km-actionsheet-wrapper,
.km-ios .km-popup .k-list-container {
  bottom: 0;
  border: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 1.5em;
}
.km-phone .km-ios .km-actionsheet-wrapper,
.km-phone .km-ios .km-popup .k-list-container {
  border-top: 0;
}
.km-ios .km-popup-wrapper,
.km-ios .km-modalview-wrapper {
  padding: 15px;
}
.km-ios .km-popup.km-pane {
  border: 5px solid transparent;
}
.km-ios .km-popup.km-pane,
.km-tablet .km-ios .km-actionsheet-wrapper {
  border-radius: 5px;
}
.km-ios .km-modalview,
.km-ios .km-popup.km-pane .km-view {
  overflow: visible;
  border-radius: 0;
}
html .km-ios .km-modalview .km-navbar,
html .km-ios .km-modalview .km-toolbar,
html .km-ios .km-popup.km-pane .km-navbar,
html .km-ios .km-popup.km-pane .km-toolbar,
html .km-ios .km-popup.km-pane .km-tabstrip {
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.km-ios .km-modalview .km-header,
.km-ios .km-popup.km-pane .km-header {
  padding: 0 5px;
  margin: -5px -5px 2px;
  border-radius: 5px 5px 0 0;
  -webkit-margin-collapse: separate;
}
/* Checkboxes and Radios */
.km-ios .km-listview-label input[type=radio]:checked,
.km-ios .km-listview-label input[type=checkbox]:checked {
  font-size: 1.2em;
}
/* Tablet Styles */
.km-tablet .km-ios .km-tabstrip {
  padding: .2rem 0 .2rem;
}
.km-tablet .km-ios.km-horizontal .km-tabstrip {
  padding: .2rem 0 0;
}
.km-tablet .km-pane.km-ios .km-tabstrip {
  padding: 0;
}
.km-tablet .km-ios .km-tabstrip .km-icon {
  margin: .3rem auto;
}
.km-tablet .km-ios.km-horizontal .km-tabstrip .km-icon {
  margin: .1rem auto;
}
.km-tablet .km-ios .km-tabstrip .km-button {
  padding: .1rem .3rem;
  margin: 0;
  min-width: 8em;
}
.km-tablet .km-ios.km-horizontal .km-tabstrip .km-button {
  padding: 0 .2rem;
}
.km-tablet .km-ios .km-view-title,
.km-tablet .km-ios .km-modalview .km-view-title {
  line-height: 2.2em;
}
.km-tablet .km-ios .km-actionsheet-title,
.km-tablet .km-ios li.km-actionsheet-cancel {
  display: none;
}
.km-tablet .km-ios .km-actionsheet-wrapper,
.km-tablet .km-ios .km-popup .k-list-container {
  padding: .6em 1em;
}
/* Color Template */
/* Variables */
.km-ios,
.km-ios .km-listview-wrapper .km-filter-wrap {
  background: #ffffff;
}
.km-ios .k-toolbar,
.km-ios .km-navbar,
.km-ios .km-button,
.km-ios .km-tabstrip,
.km-ios .km-popup .k-item,
.km-ios .km-actionsheet > li > a {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.45) 6% rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.15) 50% rgba(100, 100, 100, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.45) 6% rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.15) 50% rgba(100, 100, 100, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.45) 6% rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.15) 50% rgba(100, 100, 100, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.45) 6% rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.15) 50% rgba(100, 100, 100, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.45) 6% rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.15) 50% rgba(100, 100, 100, 0));
  border-color: #2f3740 #394d68 #375073;
  background-color: #7185a2;
}
.km-ios .km-view-title,
.km-ios .km-dialog-title {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.km-ios .k-toolbar,
.km-ios .km-navbar,
.km-ios .km-button,
.km-ios .km-tabstrip,
.km-ios .km-view-title,
.km-ios .km-dialog-title,
.km-ios .km-popup .k-item,
.km-ios .km-actionsheet > li > a,
.km-ios .k-split-container > li > .km-button,
.km-ios .k-overflow-container > li > .km-button {
  color: #ffffff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
.km-ios .km-button {
  border-bottom-color: rgba(255, 255, 255, 0.5);
  background: transparent, #496b9a;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
}
.km-ios .km-button,
.km-ios .k-toolbar .km-buttongroup {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.3), inset 0 1px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.3), inset 0 1px 3px rgba(0,0,0,.5);
}
.km-ios .km-button:active,
.km-ios .km-button.km-state-active {
  background-color: #264e8c;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.3), inset 0 1px 3px rgba(0,0,0,.5), inset 0 0 0 1000px rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.3), inset 0 1px 3px rgba(0,0,0,.5), inset 0 0 0 1000px rgba(0,0,0,.2);
}
.km-ios .km-icon,
.km-ios .km-detail .km-icon,
.km-ios li.km-state-active .km-icon,
.km-ios li.km-state-active,
.km-ios .km-switch-label-on {
  color: #ffffff;
}
.km-ios .km-checkbox,
.km-ios .km-switch-wrapper {
  background-color: #f0f0f0;
}
.km-ios .km-switch-background,
.km-ios .k-slider-selection {
  background-color: #007EE9;
  background-image: linear-gradient("webkit", top #dbdbdb #eeeeee 50%);
  background-image: linear-gradient("blink", top #dbdbdb #eeeeee 50%);
  background-image: linear-gradient("moz", top #dbdbdb #eeeeee 50%);
  background-image: linear-gradient("ms", top #dbdbdb #eeeeee 50%);
  background-image: linear-gradient("o", top #dbdbdb #eeeeee 50%);
}
.km-ios .km-switch-background:after {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.14) 0 rgba(255, 255, 255, 0.4));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.14) 0 rgba(255, 255, 255, 0.4));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.14) 0 rgba(255, 255, 255, 0.4));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.14) 0 rgba(255, 255, 255, 0.4));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.14) 0 rgba(255, 255, 255, 0.4));
}
.km-ios .km-switch-container {
  box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.3), inset 0 -1px 1px 0 rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.3), inset 0 -1px 1px 0 rgba(0,0,0,.2);
  background-image: linear-gradient("webkit", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) 95% rgba(0, 0, 0, 0.2));
  background-image: linear-gradient("blink", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) 95% rgba(0, 0, 0, 0.2));
  background-image: linear-gradient("moz", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) 95% rgba(0, 0, 0, 0.2));
  background-image: linear-gradient("ms", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) 95% rgba(0, 0, 0, 0.2));
  background-image: linear-gradient("o", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) 95% rgba(0, 0, 0, 0.2));
}
.km-ios .km-checkbox {
  border-color: #e5e5e5;
}
.km-ios .km-checkbox-checked {
  border-color: #fff;
  background-color: #BB0000;
  background-image: linear-gradient("webkit", top #f1969b rgba(230, 70, 78, 0.5) 50% rgba(222, 11, 21, 0.5) 50% rgba(183, 0, 0, 0));
  background-image: linear-gradient("blink", top #f1969b rgba(230, 70, 78, 0.5) 50% rgba(222, 11, 21, 0.5) 50% rgba(183, 0, 0, 0));
  background-image: linear-gradient("moz", top #f1969b rgba(230, 70, 78, 0.5) 50% rgba(222, 11, 21, 0.5) 50% rgba(183, 0, 0, 0));
  background-image: linear-gradient("ms", top #f1969b rgba(230, 70, 78, 0.5) 50% rgba(222, 11, 21, 0.5) 50% rgba(183, 0, 0, 0));
  background-image: linear-gradient("o", top #f1969b rgba(230, 70, 78, 0.5) 50% rgba(222, 11, 21, 0.5) 50% rgba(183, 0, 0, 0));
  box-shadow: 0 2px 3px #333333;
  -webkit-box-shadow: 0 2px 3px #333333;
}
.km-ios .km-switch-handle {
  border-color: rgba(102, 102, 102, 0.8);
  box-shadow: inset 0 0 0 1px #fff;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  background-image: linear-gradient("webkit", top #ffffff #d7d7d7 5% #ffffff);
  background-image: linear-gradient("blink", top #ffffff #d7d7d7 5% #ffffff);
  background-image: linear-gradient("moz", top #ffffff #d7d7d7 5% #ffffff);
  background-image: linear-gradient("ms", top #ffffff #d7d7d7 5% #ffffff);
  background-image: linear-gradient("o", top #ffffff #d7d7d7 5% #ffffff);
}
.km-ios .km-switch-label-off {
  color: #7f7f7f;
}
.km-ios .km-switch-container,
.km-ios .km-switch-wrapper {
  border-color: #f0f0f0;
}
.km-ios .km-badge,
.km-ios .km-detail {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  color: #FFF;
  background-color: #bc0404;
}
.km-ios .km-detail {
  background-color: #1F6DD8;
}
.km-ios .km-detail:active,
.km-ios .km-detail.km-state-active {
  -webkit-box-shadow: inset 0 0 0 .16rem #fff, 0 1px 3px rgba(0,0,0,.5), inset 0 0 0 1000px rgba(0,0,0,.2);
  box-shadow: inset 0 0 0 .16rem #fff, 0 1px 3px rgba(0,0,0,.5), inset 0 0 0 1000px rgba(0,0,0,.2);
}
/* Filter box */
.km-ios .km-filter-form {
  color: #b1b3b8;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.3));
}
.km-ios .km-filter-wrap:before,
.km-ios .km-filter-reset .km-clear {
  color: #adadad;
}
.km-ios .km-list li > .km-icon,
.km-ios .km-listview-link > .km-icon {
  color: #000;
}
.km-ios .km-button .km-icon:before,
.km-ios .km-button .km-contactadd:before,
.km-ios .km-button .km-rowdelete:before,
.km-ios .km-button .km-rowinsert:before,
.km-ios .km-button .km-detaildisclose:before {
  color: rgba(0, 0, 0, 0.3);
}
.km-ios .km-rowinsert {
  background-color: #24870D;
}
.km-ios .km-rowdelete {
  background-color: #B01B1A;
}
/* ButtonGroup */
.km-ios .km-buttongroup .km-button,
.km-tablet .km-ios .km-buttongroup .km-button {
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
}
.km-ios .km-header > .km-buttongroup .km-button:not(.km-state-active),
.km-ios .km-footer > .km-buttongroup .km-button:not(.km-state-active),
.km-ios .km-content .km-buttongroup .km-button:not(.km-state-active) {
  color: #929292;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}
.km-ios .km-header > .km-buttongroup .km-button,
.km-ios .km-footer > .km-buttongroup .km-button,
.km-ios .km-content .km-buttongroup .km-button {
  background-color: #fff;
  background-image: linear-gradient("webkit", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.12) 50% rgba(0, 0, 0, 0.25));
  background-image: linear-gradient("blink", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.12) 50% rgba(0, 0, 0, 0.25));
  background-image: linear-gradient("moz", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.12) 50% rgba(0, 0, 0, 0.25));
  background-image: linear-gradient("ms", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.12) 50% rgba(0, 0, 0, 0.25));
  background-image: linear-gradient("o", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.12) 50% rgba(0, 0, 0, 0.25));
}
.km-root .km-ios .km-buttongroup .km-state-active {
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.4), inset 0 0 0 1000px rgba(0,0,0,.2);
  box-shadow: 0 1px 0 0 rgba(255,255,255,.4), inset 0 0 0 1000px rgba(0,0,0,.2);
}
.km-ios .km-header > .km-buttongroup .km-state-active,
.km-ios .km-footer > .km-buttongroup .km-state-active,
.km-ios .km-content .km-buttongroup .km-state-active {
  color: #fff;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: #3D7EEB;
  background-image: linear-gradient("webkit", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 50% rgba(255, 255, 255, 0.05) 50% rgba(255, 255, 255, 0.25));
  background-image: linear-gradient("blink", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 50% rgba(255, 255, 255, 0.05) 50% rgba(255, 255, 255, 0.25));
  background-image: linear-gradient("moz", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 50% rgba(255, 255, 255, 0.05) 50% rgba(255, 255, 255, 0.25));
  background-image: linear-gradient("ms", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 50% rgba(255, 255, 255, 0.05) 50% rgba(255, 255, 255, 0.25));
  background-image: linear-gradient("o", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 50% rgba(255, 255, 255, 0.05) 50% rgba(255, 255, 255, 0.25));
  box-shadow: inset -1px 0 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset -1px 0 2px rgba(0, 0, 0, 0.3);
}
.km-ios .km-navbar,
.km-ios .k-toolbar {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.65) rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.65) rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.65) rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.65) rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.65) rgba(255, 255, 255, 0));
  background-color: #506D93;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}
.km-ios .km-view-title {
  box-shadow: rgba(0,0,0,.3) 0px -1px 0px inset, rgba(0,0,0,.3) 0px 1px 3px;
  -webkit-box-shadow: rgba(0,0,0,.3) 0px -1px 0px inset, rgba(0,0,0,.3) 0px 1px 3px;
}
/* TabStrip */
.km-ios .km-tabstrip {
  border-top-color: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient("webkit", top rgba(46, 46, 46, 0.8) rgba(21, 21, 21, 0.5) 50% rgba(0, 0, 0, 0.8) 50% rgba(0, 0, 0, 0.8));
  background-image: linear-gradient("blink", top rgba(46, 46, 46, 0.8) rgba(21, 21, 21, 0.5) 50% rgba(0, 0, 0, 0.8) 50% rgba(0, 0, 0, 0.8));
  background-image: linear-gradient("moz", top rgba(46, 46, 46, 0.8) rgba(21, 21, 21, 0.5) 50% rgba(0, 0, 0, 0.8) 50% rgba(0, 0, 0, 0.8));
  background-image: linear-gradient("ms", top rgba(46, 46, 46, 0.8) rgba(21, 21, 21, 0.5) 50% rgba(0, 0, 0, 0.8) 50% rgba(0, 0, 0, 0.8));
  background-image: linear-gradient("o", top rgba(46, 46, 46, 0.8) rgba(21, 21, 21, 0.5) 50% rgba(0, 0, 0, 0.8) 50% rgba(0, 0, 0, 0.8));
  box-shadow: 0 -1px 0 0 #000000;
  -webkit-box-shadow: 0 -1px 0 0 #000000;
  background-color: #1A1A1A;
  text-shadow: 0 1px 1px #000;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.18) rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.18) rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.18) rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.18) rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.18) rgba(255, 255, 255, 0));
}
html .km-ios .km-tabstrip .km-button {
  color: #d1d1d1;
  box-shadow: 1px 0 0 rgba(255,255,255,.2), 2px 0 0 rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 0 0 rgba(255,255,255,.2), 2px 0 0 rgba(0,0,0,.5);
}
html .km-ios .km-tabstrip .km-button:active,
html .km-ios .km-tabstrip .km-state-active,
html .km-ios .km-tabstrip .km-state-active:last-child,
html .km-ios .km-tabstrip .km-button:active:last-child {
  color: #FFF;
  background-color: #1A1A1A;
  box-shadow: 0 0 2px rgba(255,255,255,.4);
  -webkit-box-shadow: 0 0 2px rgba(255,255,255,.4);
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.18) left rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0) 3% rgba(0, 0, 0, 0) 97% rgba(0, 0, 0, 0.6));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.18) left rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0) 3% rgba(0, 0, 0, 0) 97% rgba(0, 0, 0, 0.6));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.18) left rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0) 3% rgba(0, 0, 0, 0) 97% rgba(0, 0, 0, 0.6));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.18) left rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0) 3% rgba(0, 0, 0, 0) 97% rgba(0, 0, 0, 0.6));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.18) left rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0) 3% rgba(0, 0, 0, 0) 97% rgba(0, 0, 0, 0.6));
}
/* ListView */
.km-ios .km-listinset > li:first-child,
.km-ios .km-listgroupinset .km-list > li:first-child {
  border-color: #b1b3b8;
  box-shadow: 0 1px 0 0 rgba(255,255,255,.4), inset 0 1px 0 0 rgba(200,200,200,.4), inset 0 -1px 0 rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.4), inset 0 1px 0 0 rgba(200,200,200,.4), inset 0 -1px 0 rgba(0,0,0,.2);
}
.km-ios .km-list > li {
  border-top-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.km-ios .km-listinset > li,
.km-ios .km-listgroupinset .km-list > li {
  border-color: #b1b3b8;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.2), inset 0 1px 0 rgba(255,255,255,.4);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.2), inset 0 1px 0 rgba(255,255,255,.4);
}
.km-ios .km-listinset > li:last-child,
.km-ios .km-listgroupinset .km-list > li:last-child {
  border-color: #b1b3b8;
  box-shadow: 0 1px 0 0 rgba(255,255,255,.4), inset 0 1px 0 rgba(255,255,255,.4);
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.4), inset 0 1px 0 rgba(255,255,255,.4);
}
.km-ios li.km-state-active .km-listview-link,
.km-ios li.km-state-active .km-listview-label {
  color: #fff;
  background: #0260E8;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.28) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.28) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.28) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.28) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.28) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
}
.km-ios .km-listview-link:after {
  color: #7b7b7b;
}
.km-ios .km-state-active .km-listview-link:after {
  color: #fff;
}
.km-ios .km-group-title {
  color: #FFF;
  text-shadow: 0 1px 1px rgba(100, 100, 100, 0.8);
  border-top-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0);
  background-color: #94A3AE;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.3));
  box-shadow: 0 -1px 0 #86929a;
  -webkit-box-shadow: 0 -1px 0 #86929a;
}
.km-ios .km-listgroupinset .km-group-title {
  color: #4C566C;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.km-ios .km-list > li {
  background: #f0f0f0;
}
.km-ios,
.km-ios .km-content {
  background: #f0f0f0;
  color: #000;
}
.km-ios .km-insetcontent {
  background: #c4ccd5 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAGklEQVR4Xm3DMREAAACCQKPYvySeO8MHML0BOrEVLMJmdzAAAAAASUVORK5CYII=");
}
/* Icons */
.km-ios .km-button .km-icon,
.km-ios .k-toolbar .km-button .km-icon,
.km-ios .km-button.km-state-active .km-icon {
  background-image: linear-gradient("webkit", top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
  background-image: linear-gradient("blink", top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
  background-image: linear-gradient("moz", top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
  background-image: linear-gradient("ms", top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
  background-image: linear-gradient("o", top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
}
.km-ios .km-buttongroup .km-icon {
  background-image: linear-gradient("webkit", top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient("blink", top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient("moz", top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient("ms", top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient("o", top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
}
.km-ios .km-tabstrip .km-icon {
  background-image: linear-gradient("webkit", top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  color: #666666;
}
.km-ios .km-tabstrip .km-state-active .km-icon {
  background-image: linear-gradient("webkit", top, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient("blink", top, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient("moz", top, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient("ms", top, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient("o", top, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 100%);
  color: #00B0FF;
}
/* Pull to refresh */
.km-root .km-ios .km-load-more,
.km-ios .km-scroller-pull {
  color: #656565;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.km-ios .km-load-more .km-icon,
.km-ios .km-scroller-pull .km-icon {
  color: #656565;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.k-webkit .km-ios .km-load-more .km-icon:after,
.k-safari .km-ios .km-load-more .km-icon:after,
.k-webkit .km-ios .km-scroller-pull .km-icon:after,
.k-safari .km-ios .km-scroller-pull .km-icon:after {
  background: rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px #656565;
}
/* ScrollView */
.km-ios .km-pages li {
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.km-ios .km-pages .km-current-page {
  background: rgba(0, 0, 0, 0.3);
}
/* Slider */
.km-ios .k-slider .k-draghandle,
.km-ios .k-slider .k-draghandle:hover {
  background-color: #fff;
  background-image: linear-gradient("webkit", top #cccccc #ffffff);
  background-image: linear-gradient("blink", top #cccccc #ffffff);
  background-image: linear-gradient("moz", top #cccccc #ffffff);
  background-image: linear-gradient("ms", top #cccccc #ffffff);
  background-image: linear-gradient("o", top #cccccc #ffffff);
  box-shadow: inset 0 0 0 1px #f9f9f9, 1px 1px 3px rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0 0 0 1px #f9f9f9, 1px 1px 3px rgba(0,0,0,.3);
}
.km-ios .k-slider-selection {
  background-image: linear-gradient("webkit", top rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0) 15% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #2a5db2 #6da9f7);
  background-image: linear-gradient("blink", top rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0) 15% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #2a5db2 #6da9f7);
  background-image: linear-gradient("moz", top rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0) 15% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #2a5db2 #6da9f7);
  background-image: linear-gradient("ms", top rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0) 15% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #2a5db2 #6da9f7);
  background-image: linear-gradient("o", top rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0) 15% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #2a5db2 #6da9f7);
}
.km-ios .k-slider-track {
  background-image: linear-gradient("webkit", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 30% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #dbdbdb #ffffff);
  background-image: linear-gradient("blink", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 30% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #dbdbdb #ffffff);
  background-image: linear-gradient("moz", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 30% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #dbdbdb #ffffff);
  background-image: linear-gradient("ms", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 30% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #dbdbdb #ffffff);
  background-image: linear-gradient("o", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 30% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #dbdbdb #ffffff);
}
/* Dialog */
.km-ios .km-dialog {
  background: rgba(10, 25, 65, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 5px #111111;
  -webkit-box-shadow: 3px 3px 5px #111111;
}
.km-ios .km-dialog-title {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60%);
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60%);
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60%);
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60%);
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60%);
  text-shadow: 0 -1px #333333;
}
.km-ios .km-dialog:before {
  background: url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22><defs><clipPath id=%22clip%22><rect x=%220%22 y=%220%22 width=%22100%%22 height=%22100%%22 rx=%2210%22 ry=%2210%22/></clipPath></defs><ellipse fill=%22white%22 cx=%2250%%22 cy=%220%22 rx=%2280%%22 ry=%2260%%22 clip-path=%22url(%23clip)%22/></svg>');
}
.km-ios .km-dialog-content {
  color: #fff;
  text-shadow: 0 -1px #333333;
}
/* Loader */
.km-ios .km-loader {
  background-color: rgba(0, 0, 0, 0.1);
}
.km-ios .km-loader h1,
.km-ios .km-scroller-refresh .km-template {
  color: #222;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.km-ios .km-scroller-pull .km-template {
  color: #656565;
}
/* Forms */
.km-ios .km-list input[type=password],
.km-ios .km-list input[type=search],
.km-ios .km-list input[type=number],
.km-ios .km-list input[type=tel],
.km-ios .km-list input[type=url],
.km-ios .km-list input[type=email],
.km-ios .km-list input[type=month],
.km-ios .km-list input[type=color],
.km-ios .km-list input[type=week],
.km-ios .km-list input[type=date],
.km-ios .km-list input[type=time],
.km-ios .km-list input[type=datetime],
.km-ios .km-list input[type=datetime-local],
.km-ios .km-list input[type=text]:not(.k-input),
.km-ios .km-list select:not([multiple]),
.km-ios .km-list .k-dropdown-wrap,
.km-ios .km-list textarea {
  color: #385487;
}
.km-ios .km-list .k-dropdown-wrap .k-input {
  color: #385487;
}
.km-ios .km-list select:not([multiple]) option {
  color: #333;
}
.km-ios .km-content .km-list .km-state-active input[type=password],
.km-ios .km-content .km-list .km-state-active input[type=search],
.km-ios .km-content .km-list .km-state-active input[type=number],
.km-ios .km-content .km-list .km-state-active input[type=tel],
.km-ios .km-content .km-list .km-state-active input[type=url],
.km-ios .km-content .km-list .km-state-active input[type=email],
.km-ios .km-content .km-list .km-state-active input[type=month],
.km-ios .km-content .km-list .km-state-active input[type=color],
.km-ios .km-content .km-list .km-state-active input[type=week],
.km-ios .km-content .km-list .km-state-active input[type=date],
.km-ios .km-content .km-list .km-state-active input[type=time],
.km-ios .km-content .km-list .km-state-active input[type=datetime],
.km-ios .km-content .km-list .km-state-active input[type=datetime-local],
.km-ios .km-content .km-list .km-state-active input[type=text]:not(.k-input),
.km-ios .km-content .km-list .km-state-active select:not([multiple]),
.km-ios .km-content .km-list .km-state-active textarea {
  color: #fff;
}
/* PopUp + ActionSheet */
.km-ios .km-actionsheet > li > a {
  color: #000;
}
.km-ios .km-popup .k-item,
.km-ios .km-actionsheet > li > a,
.km-ios .k-split-container.km-actionsheet > li > .km-button,
.km-ios .k-overflow-container.km-actionsheet > li > .km-button {
  color: #000;
  box-shadow: inset 0 1px 1px rgba(255,255,255,.5), 0 1px 1px rgba(255,255,255,.3);
  -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.5), 0 1px 1px rgba(255,255,255,.3);
  border-color: rgba(40, 40, 40, 0.9);
  background: #fff;
  background-image: linear-gradient("webkit", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.2) 50% rgba(0, 0, 0, 0.25) 85% rgba(0, 0, 0, 0.15));
  background-image: linear-gradient("blink", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.2) 50% rgba(0, 0, 0, 0.25) 85% rgba(0, 0, 0, 0.15));
  background-image: linear-gradient("moz", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.2) 50% rgba(0, 0, 0, 0.25) 85% rgba(0, 0, 0, 0.15));
  background-image: linear-gradient("ms", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.2) 50% rgba(0, 0, 0, 0.25) 85% rgba(0, 0, 0, 0.15));
  background-image: linear-gradient("o", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.2) 50% rgba(0, 0, 0, 0.25) 85% rgba(0, 0, 0, 0.15));
}
.km-root .km-ios .km-popup .k-item {
  border-color: rgba(0, 0, 0, 0.8);
}
.km-ios .km-actionsheet > li > a:active,
.km-ios .km-actionsheet-wrapper .km-actionsheet > li > .km-state-active,
.km-ios .km-actionsheet > li > a:hover,
.km-ios li.km-actionsheet-cancel > a {
  color: #fff;
}
.km-ios .km-popup .k-state-hover,
.km-ios .km-popup .k-state-focused,
.km-ios .km-popup .k-state-selected,
.km-ios .km-actionsheet > li > a:active,
.km-ios .km-actionsheet-wrapper .km-actionsheet > li > .km-state-active,
.km-ios .km-actionsheet > li > a:hover,
.km-ios li.km-actionsheet-cancel > a {
  color: #fff;
  background: #1537c6;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.45) rgba(255, 255, 255, 0.1) 60% rgba(255, 255, 255, 0) 80% rgba(255, 255, 255, 0.15));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.45) rgba(255, 255, 255, 0.1) 60% rgba(255, 255, 255, 0) 80% rgba(255, 255, 255, 0.15));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.45) rgba(255, 255, 255, 0.1) 60% rgba(255, 255, 255, 0) 80% rgba(255, 255, 255, 0.15));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.45) rgba(255, 255, 255, 0.1) 60% rgba(255, 255, 255, 0) 80% rgba(255, 255, 255, 0.15));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.45) rgba(255, 255, 255, 0.1) 60% rgba(255, 255, 255, 0) 80% rgba(255, 255, 255, 0.15));
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.km-ios li.km-actionsheet-cancel > a {
  background-color: #2b3038;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60% rgba(255, 255, 255, 0) 85% rgba(255, 255, 255, 0.08));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60% rgba(255, 255, 255, 0) 85% rgba(255, 255, 255, 0.08));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60% rgba(255, 255, 255, 0) 85% rgba(255, 255, 255, 0.08));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60% rgba(255, 255, 255, 0) 85% rgba(255, 255, 255, 0.08));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60% rgba(255, 255, 255, 0) 85% rgba(255, 255, 255, 0.08));
}
.km-ios .km-popup {
  background: rgba(0, 0, 0, 0.6);
}
.km-ios .km-actionsheet-wrapper,
.km-ios .k-split-wrapper .km-actionsheet-wrapper,
.km-ios .k-overflow-wrapper .km-actionsheet-wrapper,
.km-ios .km-popup .k-list-container {
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(23, 37, 64, 0.6);
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 10% rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 10% rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 10% rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 10% rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 10% rgba(255, 255, 255, 0));
}
.km-phone .km-ios .km-actionsheet-wrapper,
.km-phone .km-ios .km-popup .k-list-container {
  box-shadow: 0 -1px 2px rgba(0,0,0,.3), inset 0 1px 0 rgba(255,255,255,.5);
  -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,.3), inset 0 1px 0 rgba(255,255,255,.5);
}
.km-root .km-ios .k-split-container.km-actionsheet,
.km-root .km-ios .k-overflow-container.km-actionsheet {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.km-ios .km-shim {
  background: rgba(23, 23, 46, 0.5);
}
/* Checkboxes and Radios */
.km-ios .km-listview-label input[type=radio]:checked,
.km-ios .km-listview-label input[type=checkbox]:checked {
  font-size: 1.2em;
  color: #3E4E65;
}
.km-ios .km-state-active input[type=radio]:checked,
.km-ios .km-state-active input[type=checkbox]:checked {
  color: #fff;
}
/* Tablet Styles */
.km-tablet .km-ios .km-view-title,
.km-tablet .km-ios .km-modalview .km-view-title {
  color: #848B92;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}
.km-tablet .km-ios .k-toolbar .km-buttongroup .km-button,
.km-tablet .km-ios *:not(.km-tabstrip):not(.km-buttongroup) > .km-button {
  background-color: #6A727D;
}
.km-ios .k-toolbar .km-buttongroup .km-button,
.km-ios *:not(.km-tabstrip):not(.km-buttongroup) > .km-button,
.km-tablet .km-ios *:not(.km-tabstrip):not(.km-buttongroup) > .km-button {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0));
}
.km-ios .k-toolbar .km-buttongroup .km-button,
.km-ios *:not(.km-tabstrip):not(.km-buttongroup) > .km-button {
  background-color: #44648f;
}
.km-tablet .km-ios .km-navbar,
.km-tablet .km-ios .k-toolbar,
.km-tablet .km-ios .km-modalview .km-header {
  background: #A8ACB9;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.9) rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.9) rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.9) rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.9) rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.9) rgba(255, 255, 255, 0));
}
.km-tablet .km-ios .km-content {
  background: #D7D9DF none;
}
/* SplitView */
.km-ios .km-splitview {
  background: #000;
}
.km-ios .km-splitview > .km-pane {
  border-right-color: #000;
  background: #fff;
}
.km-ios .km-splitview > .km-collapsible-pane {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.km-ios .km-split-vertical > .km-pane {
  border-bottom-color: #000;
}
/* PopOver */
.km-ios .km-popup.km-pane,
.km-ios .k-split-wrapper .km-actionsheet-wrapper,
.km-ios .k-overflow-wrapper .km-actionsheet-wrapper,
.km-tablet .km-ios .km-actionsheet-wrapper {
  box-shadow: 0 0 15px rgba(0,0,0,.5), 0 0 2px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,.5), 0 0 2px rgba(0,0,0,.5);
}
.km-ios .km-modalview .km-header,
.km-ios .km-popup.km-pane .km-header {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
}
.km-ios .km-popup.km-pane,
.km-ios .k-split-wrapper .km-actionsheet-wrapper,
.km-ios .k-overflow-wrapper .km-actionsheet-wrapper,
.km-tablet .km-ios .km-actionsheet-wrapper,
.km-ios .km-popup.km-pane .km-navbar .km-button {
  background-color: rgba(10, 18, 38, 0.9);
}
.km-ios .km-popup-arrow:after,
.km-ios .km-popup-arrow:before {
  border-color: rgba(0, 0, 0, 0.5) transparent;
}
.km-ios .km-popup-arrow:after {
  border-color: rgba(24, 31, 49, 0.9) transparent;
}
.km-ios .km-left .km-popup-arrow:after,
.km-ios .km-right .km-popup-arrow:after {
  border-color: transparent rgba(24, 31, 49, 0.9);
}
.km-ios .km-down .km-popup-arrow:after {
  border-color: rgba(106, 111, 124, 0.9) transparent;
}
/* ModalView */
.km-ios .km-modalview {
  background-color: #7185a2;
  box-shadow: 0 0 15px rgba(0,0,0,.5), 0 0 2px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,.5), 0 0 2px rgba(0,0,0,.5);
}
/* ButtonGroup */
.km-ios .km-buttongroup {
  border: none;
  background: none;
  padding: 0 1px 1px 0;
}
.km-ios .km-buttongroup .km-button,
.km-tablet .km-ios .km-buttongroup .km-button {
  border-radius: 0;
  border-width: 1px;
  border-right-width: 0;
}
.km-ios .km-navbar .km-buttongroup .km-button:not(.km-state-active) {
  background-color: transparent;
}
.km-ios .km-view .km-buttongroup .km-button:first-child {
  border-radius: 5pt 0 0 5pt;
}
.km-ios .km-view .km-buttongroup .km-button:last-child {
  border-radius: 0 5pt 5pt 0;
}
.km-ios .k-toolbar .km-buttongroup {
  border-radius: 6pt;
}
.km-ios .km-buttongroup .km-button:last-child {
  border-right-width: 1px;
}
.km-ios .km-buttongroup .km-state-active {
  text-shadow: none;
  border-width: 1px 0 1px 1px;
}
.km-ios .km-buttongroup .km-state-active:last-child {
  margin-left: -1px;
}
