/* Drawer */
.km-drawer,
[data-role=drawer] {
  top: 0;
  left: auto;
  width: 250px;
}
.km-drawer .km-header,
.km-drawer .km-footer {
  z-index: 0;
}
.km-left-drawer {
  left: 0;
}
.km-right-drawer {
  right: 0;
}
/* Common Platform CSS */
@-ms-viewport {
  width: device-width;
  user-zoom: fixed;
  max-zoom: 1;
  min-zoom: 1;
}
@media (orientation: landscape) {
  .km-tablet .km-on-ios.km-horizontal.km-web:not(.km-ios-chrome) {
    position: fixed;
    bottom: 0;
  }
}
.km-root {
  font-size: .92em;
}
.km-root a {
  color: inherit;
}
.km-tablet {
  font-size: 1em;
}
.km-root *:focus {
  outline-width: 0;
}
.km-root,
.km-pane,
.km-pane-wrapper {
  width: 100%;
  height: 100%;
  -ms-touch-action: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  overflow-x: hidden;
}
.km-pane-wrapper {
  position: absolute;
}
.km-pane,
.km-shim {
  font-family: sans-serif;
}
.km-pane {
  overflow-x: hidden;
  position: relative;
}
.km-vertical .km-collapsible-pane {
  position: absolute;
  z-index: 2 !important;
  -webkit-transition: -webkit-transform 350ms ease-out;
  -ms-transition: -ms-transform 350ms ease-out;
  -webkit-transform: translatex(-100%);
  -moz-transform: translatex(-100%);
  -ms-transform: translatex(-100%);
  -o-transform: translatex(-100%);
  transform: translatex(-100%);
}
.km-vertical .km-expanded-splitview .km-collapsible-pane {
  -webkit-transform: translatex(0);
  -moz-transform: translatex(0);
  -ms-transform: translatex(0);
  -o-transform: translatex(0);
  transform: translatex(0);
}
.km-expanded-pane-shim {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.km-expanded-splitview .km-expanded-pane-shim {
  display: block;
  z-index: 1;
}
.km-root > * {
  margin: 0;
  padding: 0;
}
.km-root * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.km-content {
  display: block;
}
.km-view,
.km-split-content {
  top: 0;
  left: 0;
  position: absolute;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  vertical-align: top;
}
.k-ff .km-view,
.k-ff .km-pane {
  overflow: hidden;
}
.k-ff18 .km-view,
.k-ff18 .km-pane,
.k-ff19 .km-view,
.k-ff19 .km-pane,
.k-ff20 .km-view,
.k-ff20 .km-pane,
.k-ff21 .km-view,
.k-ff21 .km-pane {
  position: relative;
}
.k-ff .km-view {
  display: -moz-inline-box;
  display: inline-flex;
}
.km-content {
  min-height: 1px;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  flex-align: stretch;
  width: auto;
  overflow: hidden;
  position: relative;
}
.km-content p,
.km-content h1,
.km-content h2,
.km-content h3,
.km-content h4,
.km-content h5,
.km-content h6 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.km-header,
.km-footer {
  display: block;
  display: -moz-box;
  -moz-box-orient: vertical;
  width: 100%;
}
.km-header {
  padding: 0;
}
.km-footer {
  background: #1a1a1a;
}
[data-role="layout"] {
  display: none;
}
[data-role="view"],
[data-role="drawer"] {
  visibility: hidden;
}
.km-view {
  visibility: visible;
}
.km-header,
.km-footer {
  position: relative;
  z-index: 1;
}
@media all and (-webkit-min-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0) {
  .km-view {
    display: table;
  }
  .km-header,
  .km-footer,
  .km-content {
    display: table-row;
  }
  .km-header,
  .km-footer {
    height: 1px;
  }
}
.km-root .k-toolbar,
.km-navbar,
.km-button,
.km-buttongroup,
.km-tabstrip,
.km-blackberry li.km-actionsheet-cancel > a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-origin: border-box;
  position: relative;
  display: inline-block;
  padding: .4em .7em;
  margin: .1rem;
  overflow: visible;
  text-decoration: none;
}
.km-tabstrip,
.km-root .k-toolbar,
.km-navbar {
  display: block;
  padding: .8em;
  margin: 0;
  width: 100%;
  border-width: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-native-scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: pan-x pan-y;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-scroll-snap-type: proximity;
}
.km-default-content {
  padding: 1em;
}
.km-shim {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10001;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-root .km-shim {
  position: absolute;
}
.km-shim:before {
  content: "\a0";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.km-shim .k-animation-container {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
  width: auto;
}
/* Loader */
.km-loader {
  top: 50%;
  left: 50%;
  width: 180px;
  height: 130px;
  z-index: 100000;
  padding: 30px 30px;
  position: absolute;
  margin-top: -70px;
  margin-left: -90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}
.km-loader h1 {
  font-size: 1rem;
  color: white;
  text-align: center;
  vertical-align: middle;
}
.km-loader .km-loading,
.km-load-more .km-icon,
.km-scroller-refresh .km-icon {
  animation: km-spin 1s infinite linear;
  -moz-animation: km-spin 1s infinite linear;
  -webkit-animation: km-spin 1s infinite linear;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  font-size: 35px;
}
.km-loader .km-loading:after,
.km-load-more .km-icon:after {
  color: #ccc;
}
.km-loading-left,
.km-loading-right {
  display: none;
}
@-webkit-keyframes km-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes km-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes km-spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes km-spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes km-ios-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes km-ios-spin1 {
  from {
    -webkit-transform: rotate(-135deg);
  }
  to {
    -webkit-transform: rotate(225deg);
  }
}
@-moz-keyframes km-ios-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-moz-keyframes km-ios-spin1 {
  from {
    -moz-transform: rotate(-135deg);
  }
  to {
    -moz-transform: rotate(225deg);
  }
}
@keyframes km-ios-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes km-ios-spin1 {
  from {
    transform: rotate(-135deg);
  }
  to {
    transform: rotate(225deg);
  }
}
/* Stretched View */
.km-stretched-view {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.km-stretched-view > * {
  width: 100%;
}
.km-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 100000;
}
.km-root.km-native-scrolling,
.km-root.km-native-scrolling .km-view,
.km-root.km-native-scrolling .km-splitview .km-pane {
  min-height: 100%;
  height: auto;
  -webkit-transform: none;
  overflow-x: visible;
}
.km-native-scrolling .km-pane,
.km-native-scrolling .km-view {
  -ms-touch-action: auto;
  display: block;
}
.km-native-scrolling .km-content {
  -ms-flex: auto;
}
.km-native-scrolling .km-blackberry .km-content {
  min-height: auto;
}
/* Restore position:absolute during animation */
.km-native-scrolling .km-splitview {
  position: absolute;
}
.km-native-scrolling .km-header {
  position: fixed;
  top: 0;
}
.km-native-scrolling .km-android .km-header {
  top: auto;
  bottom: 0;
}
.km-native-scrolling .km-footer {
  position: fixed;
  bottom: 0;
}
.km-native-scrolling .km-android .km-footer {
  top: 0;
  bottom: auto;
}
.km-native-scrolling .km-badge {
  z-index: auto;
}
.km-native-scrolling .km-splitview .km-header,
.km-native-scrolling .km-splitview .km-footer,
.km-native-scrolling .km-popup.km-pane .km-header,
.km-native-scrolling .km-popup.km-pane .km-footer {
  position: absolute;
}
.km-native-scrolling .km-modalview .km-header,
.km-native-scrolling .km-modalview .km-footer {
  position: relative;
}
.km-native-scrolling .km-content {
  width: 100%;
}
.km-native-scrolling .km-shim,
.km-native-scrolling .km-popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  height: auto !important;
}
.km-native-scrolling .km-drawer {
  position: fixed;
  top: 0;
  height: 100% !important;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
}
.km-native-scrolling > .km-pane > .km-loader {
  position: fixed;
  top: 50%;
  margin-top: -2em;
}
.km-native-scrolling .km-header,
.km-native-scrolling .km-footer {
  z-index: 2;
}
/* Disabled states */
.km-state-disabled {
  opacity: 0.5;
}
/* Support for iOS6 */
@media only screen and (height: 320px) and (orientation: landscape) {
  .km-ios6 {
    height: 100% !important;
  }
}
/* CSS */
.km-ios:after {
  content: url("images/back.png");
  display: none;
}
.km-ios {
  font: bold 0.9em HelveticaNeue, sans-serif;
}
.km-ios .km-view {
  overflow: hidden;
}
.km-ios .km-toolbar,
.km-ios .km-navbar,
.km-ios .km-button,
.km-ios .km-tabstrip,
.km-ios .km-popup .k-item,
.km-ios .km-actionsheet > li > a {
  overflow: visible;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}
/* Icons */
.k-ff .km-ios .km-detail .km-icon {
  top: 5%;
  left: 7%;
}
.km-ios .km-button .km-icon:before,
.km-ios .km-button .km-contactadd:before,
.km-ios .km-button .km-rowdelete:before,
.km-ios .km-button .km-rowinsert:before,
.km-ios .km-button .km-detaildisclose:before {
  display: block;
  margin-top: -1px;
}
.km-ios .km-button .km-icon,
.km-ios .km-button.km-state-active .km-icon {
  text-shadow: none;
}
.km-ios .km-buttongroup .km-icon {
  margin-top: .1em;
}
.k-webkit .km-ios .km-icon:after,
.k-safari .km-ios .km-icon:after {
  background-color: currentcolor;
}
.km-ios .km-tabstrip .km-icon:before {
  display: block;
  margin-top: 1px;
}
.km-ios .km-tabstrip .km-state-active .km-icon:before {
  margin-top: 2px;
}
.km-ios .km-navbar,
.km-ios .km-toolbar,
.km-ios .km-tabstrip {
  border: 0;
  border-radius: 0;
}
/* Loader */
.km-ios.km-pane > .km-loader,
.km-ios .km-pane > .km-loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-ios .km-loader:before {
  content: "\a0";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.km-ios .km-load-more,
.km-ios .km-scroller-pull {
  font-size: 1em;
}
.km-ios .km-scroller-pull {
  opacity: .5;
}
.km-ios .km-list > .km-load-more {
  border-top: 0;
}
.km-ios .km-loader h1,
.km-ios .km-scroller-refresh .km-template {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2em;
}
.km-ios .km-scroller-pull .km-template {
  min-width: 0;
}
.km-ios .km-loading,
.km-ios .km-loader .km-loading-left,
.km-root .km-ios .km-load-more.km-scroller-refresh .km-icon,
.km-root .km-ios .km-scroller-pull.km-scroller-refresh .km-icon,
.km-ios .km-scroller-refresh .km-loading-left {
  display: inline-block;
  top: auto;
  left: auto;
  width: 8px;
  height: 2px;
  font-size: 1em;
  margin: 0;
  border: 0;
  border-radius: 5px;
  vertical-align: middle;
  -webkit-transform-origin: 150% 50%;
  -moz-transform-origin: 150% 50%;
  -ms-transform-origin: 150% 50%;
  -o-transform-origin: 150% 50%;
  transform-origin: 150% 50%;
  background: currentcolor;
  animation: km-ios-spin 1.5s infinite steps(8);
  -moz-animation: km-ios-spin 1.5s infinite steps(8);
  -webkit-animation: km-ios-spin 1.5s infinite steps(8);
  box-shadow: 16px 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 16px 0 rgba(0, 0, 0, 0.6);
}
.km-ios .km-loading,
.km-ios .km-loader .km-loading-left {
  margin: 2px 0 0;
}
.km-ios .km-loading:before,
.km-ios .km-loading:after,
.km-ios .km-load-more.km-scroller-refresh .km-icon:after,
.km-ios .km-load-more.km-scroller-refresh .km-icon:before,
.km-ios .km-scroller-pull.km-scroller-refresh .km-icon:after,
.km-ios .km-scroller-pull.km-scroller-refresh .km-icon:before {
  color: inherit;
  content: "\a0";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 0;
  margin-top: 0;
  -webkit-transform-origin: inherit;
  -moz-transform-origin: inherit;
  -ms-transform-origin: inherit;
  -o-transform-origin: inherit;
  transform-origin: inherit;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: inherit;
  box-shadow: 16px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 16px 0 rgba(0, 0, 0, 0.5);
}
.km-ios .km-loading:after,
.km-ios .km-load-more.km-scroller-refresh .km-icon:after,
.km-ios .km-scroller-pull.km-scroller-refresh .km-icon:after {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  box-shadow: 16px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 16px 0 rgba(0, 0, 0, 0.4);
}
.km-ios .km-loader .km-loading-left,
.km-ios .km-scroller-refresh .km-loading-left {
  margin-left: -8px;
  box-shadow: 16px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 16px 0 rgba(0, 0, 0, 0.3);
  animation: km-ios-spin1 1.5s infinite steps(8);
  -moz-animation: km-ios-spin1 1.5s infinite steps(8);
  -webkit-animation: km-ios-spin1 1.5s infinite steps(8);
}
.km-ios .km-loading-left:after,
.km-ios .km-loading-left:before,
.km-ios .km-loading-right {
  display: none;
}
.km-ios .km-loading,
.km-ios .km-loading:after,
.km-ios .km-loading:before {
  color: black;
}
.km-ios .km-loading:before {
  color: rgba(0, 0, 0, 0.9);
}
.km-ios .km-loading:after {
  color: rgba(0, 0, 0, 0.8);
}
.km-ios .km-loading-left {
  color: rgba(0, 0, 0, 0.7);
}
/* PopUp */
.km-ios .km-popup .k-popup {
  font-size: .8em;
}
.km-ios .km-popup .k-item,
.km-ios .km-actionsheet > li > a {
  overflow: hidden;
  border-width: 3px;
  border-radius: .6em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  font-size: 1.5em;
  padding: .35em 0 .35em .6em;
  text-shadow: none;
}
.km-root .km-ios .km-popup .k-item {
  border-width: 3px;
  border-style: solid;
}
.km-ios .km-popup .k-item,
.km-ios .km-actionsheet > li {
  margin: .5em 0;
}
.km-ios .km-popup .k-item:first-child,
.km-ios .km-actionsheet > li:first-child {
  margin: 1em 0 .5em;
}
.km-ios .km-popup .k-item:last-child {
  margin: .5em 0 1em;
}
.km-ios .km-popup .k-state-hover,
.km-ios .km-popup .k-state-focused,
.km-ios .km-popup .k-state-selected,
.km-ios .km-actionsheet > li > a:active,
.km-ios .km-actionsheet > li > a:hover,
.km-ios li.km-actionsheet-cancel > a {
  background-clip: padding-box;
}
.km-ios .km-popup {
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-ios .km-popup .k-list-container {
  width: 100% !important;
}
.km-ios .km-actionsheet,
.km-phone .km-ios .km-popup .k-list-container {
  max-height: 80%;
}
.km-ios .km-actionsheet-wrapper,
.km-ios .km-popup .k-list-container {
  bottom: 0;
  border: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 1.5em;
}
.km-phone .km-ios .km-actionsheet-wrapper,
.km-phone .km-ios .km-popup .k-list-container {
  border-top: 0;
}
.km-ios .km-popup-wrapper,
.km-ios .km-modalview-wrapper {
  padding: 15px;
}
.km-ios .km-popup.km-pane {
  border: 5px solid transparent;
}
.km-ios .km-popup.km-pane,
.km-tablet .km-ios .km-actionsheet-wrapper {
  border-radius: 5px;
}
.km-ios .km-modalview,
.km-ios .km-popup.km-pane .km-view {
  overflow: visible;
  border-radius: 0;
}
html .km-ios .km-modalview .km-navbar,
html .km-ios .km-modalview .km-toolbar,
html .km-ios .km-popup.km-pane .km-navbar,
html .km-ios .km-popup.km-pane .km-toolbar,
html .km-ios .km-popup.km-pane .km-tabstrip {
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.km-ios .km-modalview .km-header,
.km-ios .km-popup.km-pane .km-header {
  padding: 0 5px;
  margin: -5px -5px 2px;
  border-radius: 5px 5px 0 0;
  -webkit-margin-collapse: separate;
}
/* Checkboxes and Radios */
.km-ios .km-listview-label input[type=radio]:checked,
.km-ios .km-listview-label input[type=checkbox]:checked {
  font-size: 1.2em;
}
/* Tablet Styles */
.km-tablet .km-ios .km-tabstrip {
  padding: .2rem 0 .2rem;
}
.km-tablet .km-ios.km-horizontal .km-tabstrip {
  padding: .2rem 0 0;
}
.km-tablet .km-pane.km-ios .km-tabstrip {
  padding: 0;
}
.km-tablet .km-ios .km-tabstrip .km-icon {
  margin: .3rem auto;
}
.km-tablet .km-ios.km-horizontal .km-tabstrip .km-icon {
  margin: .1rem auto;
}
.km-tablet .km-ios .km-tabstrip .km-button {
  padding: .1rem .3rem;
  margin: 0;
  min-width: 8em;
}
.km-tablet .km-ios.km-horizontal .km-tabstrip .km-button {
  padding: 0 .2rem;
}
.km-tablet .km-ios .km-view-title,
.km-tablet .km-ios .km-modalview .km-view-title {
  line-height: 2.2em;
}
.km-tablet .km-ios .km-actionsheet-title,
.km-tablet .km-ios li.km-actionsheet-cancel {
  display: none;
}
.km-tablet .km-ios .km-actionsheet-wrapper,
.km-tablet .km-ios .km-popup .k-list-container {
  padding: .6em 1em;
}
/* Color Template */
/* Variables */
.km-ios,
.km-ios .km-listview-wrapper .km-filter-wrap {
  background: #ffffff;
}
.km-ios .k-toolbar,
.km-ios .km-navbar,
.km-ios .km-button,
.km-ios .km-tabstrip,
.km-ios .km-popup .k-item,
.km-ios .km-actionsheet > li > a {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.45) 6% rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.15) 50% rgba(100, 100, 100, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.45) 6% rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.15) 50% rgba(100, 100, 100, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.45) 6% rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.15) 50% rgba(100, 100, 100, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.45) 6% rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.15) 50% rgba(100, 100, 100, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.45) 6% rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.15) 50% rgba(100, 100, 100, 0));
  border-color: #2f3740 #394d68 #375073;
  background-color: #7185a2;
}
.km-ios .km-view-title,
.km-ios .km-dialog-title {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.km-ios .k-toolbar,
.km-ios .km-navbar,
.km-ios .km-button,
.km-ios .km-tabstrip,
.km-ios .km-view-title,
.km-ios .km-dialog-title,
.km-ios .km-popup .k-item,
.km-ios .km-actionsheet > li > a,
.km-ios .k-split-container > li > .km-button,
.km-ios .k-overflow-container > li > .km-button {
  color: #ffffff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
.km-ios .km-button {
  border-bottom-color: rgba(255, 255, 255, 0.5);
  background: transparent, #496b9a;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
}
.km-ios .km-button,
.km-ios .k-toolbar .km-buttongroup {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.3), inset 0 1px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.3), inset 0 1px 3px rgba(0,0,0,.5);
}
.km-ios .km-button:active,
.km-ios .km-button.km-state-active {
  background-color: #264e8c;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.3), inset 0 1px 3px rgba(0,0,0,.5), inset 0 0 0 1000px rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.3), inset 0 1px 3px rgba(0,0,0,.5), inset 0 0 0 1000px rgba(0,0,0,.2);
}
.km-ios .km-icon,
.km-ios .km-detail .km-icon,
.km-ios li.km-state-active .km-icon,
.km-ios li.km-state-active,
.km-ios .km-switch-label-on {
  color: #ffffff;
}
.km-ios .km-checkbox,
.km-ios .km-switch-wrapper {
  background-color: #f0f0f0;
}
.km-ios .km-switch-background,
.km-ios .k-slider-selection {
  background-color: #007EE9;
  background-image: linear-gradient("webkit", top #dbdbdb #eeeeee 50%);
  background-image: linear-gradient("blink", top #dbdbdb #eeeeee 50%);
  background-image: linear-gradient("moz", top #dbdbdb #eeeeee 50%);
  background-image: linear-gradient("ms", top #dbdbdb #eeeeee 50%);
  background-image: linear-gradient("o", top #dbdbdb #eeeeee 50%);
}
.km-ios .km-switch-background:after {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.14) 0 rgba(255, 255, 255, 0.4));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.14) 0 rgba(255, 255, 255, 0.4));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.14) 0 rgba(255, 255, 255, 0.4));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.14) 0 rgba(255, 255, 255, 0.4));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.14) 0 rgba(255, 255, 255, 0.4));
}
.km-ios .km-switch-container {
  box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.3), inset 0 -1px 1px 0 rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.3), inset 0 -1px 1px 0 rgba(0,0,0,.2);
  background-image: linear-gradient("webkit", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) 95% rgba(0, 0, 0, 0.2));
  background-image: linear-gradient("blink", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) 95% rgba(0, 0, 0, 0.2));
  background-image: linear-gradient("moz", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) 95% rgba(0, 0, 0, 0.2));
  background-image: linear-gradient("ms", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) 95% rgba(0, 0, 0, 0.2));
  background-image: linear-gradient("o", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) 95% rgba(0, 0, 0, 0.2));
}
.km-ios .km-checkbox {
  border-color: #e5e5e5;
}
.km-ios .km-checkbox-checked {
  border-color: #fff;
  background-color: #BB0000;
  background-image: linear-gradient("webkit", top #f1969b rgba(230, 70, 78, 0.5) 50% rgba(222, 11, 21, 0.5) 50% rgba(183, 0, 0, 0));
  background-image: linear-gradient("blink", top #f1969b rgba(230, 70, 78, 0.5) 50% rgba(222, 11, 21, 0.5) 50% rgba(183, 0, 0, 0));
  background-image: linear-gradient("moz", top #f1969b rgba(230, 70, 78, 0.5) 50% rgba(222, 11, 21, 0.5) 50% rgba(183, 0, 0, 0));
  background-image: linear-gradient("ms", top #f1969b rgba(230, 70, 78, 0.5) 50% rgba(222, 11, 21, 0.5) 50% rgba(183, 0, 0, 0));
  background-image: linear-gradient("o", top #f1969b rgba(230, 70, 78, 0.5) 50% rgba(222, 11, 21, 0.5) 50% rgba(183, 0, 0, 0));
  box-shadow: 0 2px 3px #333333;
  -webkit-box-shadow: 0 2px 3px #333333;
}
.km-ios .km-switch-handle {
  border-color: rgba(102, 102, 102, 0.8);
  box-shadow: inset 0 0 0 1px #fff;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  background-image: linear-gradient("webkit", top #ffffff #d7d7d7 5% #ffffff);
  background-image: linear-gradient("blink", top #ffffff #d7d7d7 5% #ffffff);
  background-image: linear-gradient("moz", top #ffffff #d7d7d7 5% #ffffff);
  background-image: linear-gradient("ms", top #ffffff #d7d7d7 5% #ffffff);
  background-image: linear-gradient("o", top #ffffff #d7d7d7 5% #ffffff);
}
.km-ios .km-switch-label-off {
  color: #7f7f7f;
}
.km-ios .km-switch-container,
.km-ios .km-switch-wrapper {
  border-color: #f0f0f0;
}
.km-ios .km-badge,
.km-ios .km-detail {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 50% rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  color: #FFF;
  background-color: #bc0404;
}
.km-ios .km-detail {
  background-color: #1F6DD8;
}
.km-ios .km-detail:active,
.km-ios .km-detail.km-state-active {
  -webkit-box-shadow: inset 0 0 0 .16rem #fff, 0 1px 3px rgba(0,0,0,.5), inset 0 0 0 1000px rgba(0,0,0,.2);
  box-shadow: inset 0 0 0 .16rem #fff, 0 1px 3px rgba(0,0,0,.5), inset 0 0 0 1000px rgba(0,0,0,.2);
}
/* Filter box */
.km-ios .km-filter-form {
  color: #b1b3b8;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.3));
}
.km-ios .km-filter-wrap:before,
.km-ios .km-filter-reset .km-clear {
  color: #adadad;
}
.km-ios .km-list li > .km-icon,
.km-ios .km-listview-link > .km-icon {
  color: #000;
}
.km-ios .km-button .km-icon:before,
.km-ios .km-button .km-contactadd:before,
.km-ios .km-button .km-rowdelete:before,
.km-ios .km-button .km-rowinsert:before,
.km-ios .km-button .km-detaildisclose:before {
  color: rgba(0, 0, 0, 0.3);
}
.km-ios .km-rowinsert {
  background-color: #24870D;
}
.km-ios .km-rowdelete {
  background-color: #B01B1A;
}
/* ButtonGroup */
.km-ios .km-buttongroup .km-button,
.km-tablet .km-ios .km-buttongroup .km-button {
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
}
.km-ios .km-header > .km-buttongroup .km-button:not(.km-state-active),
.km-ios .km-footer > .km-buttongroup .km-button:not(.km-state-active),
.km-ios .km-content .km-buttongroup .km-button:not(.km-state-active) {
  color: #929292;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}
.km-ios .km-header > .km-buttongroup .km-button,
.km-ios .km-footer > .km-buttongroup .km-button,
.km-ios .km-content .km-buttongroup .km-button {
  background-color: #fff;
  background-image: linear-gradient("webkit", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.12) 50% rgba(0, 0, 0, 0.25));
  background-image: linear-gradient("blink", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.12) 50% rgba(0, 0, 0, 0.25));
  background-image: linear-gradient("moz", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.12) 50% rgba(0, 0, 0, 0.25));
  background-image: linear-gradient("ms", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.12) 50% rgba(0, 0, 0, 0.25));
  background-image: linear-gradient("o", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.12) 50% rgba(0, 0, 0, 0.25));
}
.km-root .km-ios .km-buttongroup .km-state-active {
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.4), inset 0 0 0 1000px rgba(0,0,0,.2);
  box-shadow: 0 1px 0 0 rgba(255,255,255,.4), inset 0 0 0 1000px rgba(0,0,0,.2);
}
.km-ios .km-header > .km-buttongroup .km-state-active,
.km-ios .km-footer > .km-buttongroup .km-state-active,
.km-ios .km-content .km-buttongroup .km-state-active {
  color: #fff;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: #3D7EEB;
  background-image: linear-gradient("webkit", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 50% rgba(255, 255, 255, 0.05) 50% rgba(255, 255, 255, 0.25));
  background-image: linear-gradient("blink", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 50% rgba(255, 255, 255, 0.05) 50% rgba(255, 255, 255, 0.25));
  background-image: linear-gradient("moz", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 50% rgba(255, 255, 255, 0.05) 50% rgba(255, 255, 255, 0.25));
  background-image: linear-gradient("ms", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 50% rgba(255, 255, 255, 0.05) 50% rgba(255, 255, 255, 0.25));
  background-image: linear-gradient("o", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 50% rgba(255, 255, 255, 0.05) 50% rgba(255, 255, 255, 0.25));
  box-shadow: inset -1px 0 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset -1px 0 2px rgba(0, 0, 0, 0.3);
}
.km-ios .km-navbar,
.km-ios .k-toolbar {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.65) rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.65) rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.65) rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.65) rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.65) rgba(255, 255, 255, 0));
  background-color: #506D93;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}
.km-ios .km-view-title {
  box-shadow: rgba(0,0,0,.3) 0px -1px 0px inset, rgba(0,0,0,.3) 0px 1px 3px;
  -webkit-box-shadow: rgba(0,0,0,.3) 0px -1px 0px inset, rgba(0,0,0,.3) 0px 1px 3px;
}
/* TabStrip */
.km-ios .km-tabstrip {
  border-top-color: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient("webkit", top rgba(46, 46, 46, 0.8) rgba(21, 21, 21, 0.5) 50% rgba(0, 0, 0, 0.8) 50% rgba(0, 0, 0, 0.8));
  background-image: linear-gradient("blink", top rgba(46, 46, 46, 0.8) rgba(21, 21, 21, 0.5) 50% rgba(0, 0, 0, 0.8) 50% rgba(0, 0, 0, 0.8));
  background-image: linear-gradient("moz", top rgba(46, 46, 46, 0.8) rgba(21, 21, 21, 0.5) 50% rgba(0, 0, 0, 0.8) 50% rgba(0, 0, 0, 0.8));
  background-image: linear-gradient("ms", top rgba(46, 46, 46, 0.8) rgba(21, 21, 21, 0.5) 50% rgba(0, 0, 0, 0.8) 50% rgba(0, 0, 0, 0.8));
  background-image: linear-gradient("o", top rgba(46, 46, 46, 0.8) rgba(21, 21, 21, 0.5) 50% rgba(0, 0, 0, 0.8) 50% rgba(0, 0, 0, 0.8));
  box-shadow: 0 -1px 0 0 #000000;
  -webkit-box-shadow: 0 -1px 0 0 #000000;
  background-color: #1A1A1A;
  text-shadow: 0 1px 1px #000;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.18) rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.18) rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.18) rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.18) rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.18) rgba(255, 255, 255, 0));
}
html .km-ios .km-tabstrip .km-button {
  color: #d1d1d1;
  box-shadow: 1px 0 0 rgba(255,255,255,.2), 2px 0 0 rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 0 0 rgba(255,255,255,.2), 2px 0 0 rgba(0,0,0,.5);
}
html .km-ios .km-tabstrip .km-button:active,
html .km-ios .km-tabstrip .km-state-active,
html .km-ios .km-tabstrip .km-state-active:last-child,
html .km-ios .km-tabstrip .km-button:active:last-child {
  color: #FFF;
  background-color: #1A1A1A;
  box-shadow: 0 0 2px rgba(255,255,255,.4);
  -webkit-box-shadow: 0 0 2px rgba(255,255,255,.4);
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.18) left rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0) 3% rgba(0, 0, 0, 0) 97% rgba(0, 0, 0, 0.6));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.18) left rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0) 3% rgba(0, 0, 0, 0) 97% rgba(0, 0, 0, 0.6));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.18) left rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0) 3% rgba(0, 0, 0, 0) 97% rgba(0, 0, 0, 0.6));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.18) left rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0) 3% rgba(0, 0, 0, 0) 97% rgba(0, 0, 0, 0.6));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.18) left rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0) 3% rgba(0, 0, 0, 0) 97% rgba(0, 0, 0, 0.6));
}
/* ListView */
.km-ios .km-listinset > li:first-child,
.km-ios .km-listgroupinset .km-list > li:first-child {
  border-color: #b1b3b8;
  box-shadow: 0 1px 0 0 rgba(255,255,255,.4), inset 0 1px 0 0 rgba(200,200,200,.4), inset 0 -1px 0 rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.4), inset 0 1px 0 0 rgba(200,200,200,.4), inset 0 -1px 0 rgba(0,0,0,.2);
}
.km-ios .km-list > li {
  border-top-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.km-ios .km-listinset > li,
.km-ios .km-listgroupinset .km-list > li {
  border-color: #b1b3b8;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.2), inset 0 1px 0 rgba(255,255,255,.4);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.2), inset 0 1px 0 rgba(255,255,255,.4);
}
.km-ios .km-listinset > li:last-child,
.km-ios .km-listgroupinset .km-list > li:last-child {
  border-color: #b1b3b8;
  box-shadow: 0 1px 0 0 rgba(255,255,255,.4), inset 0 1px 0 rgba(255,255,255,.4);
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.4), inset 0 1px 0 rgba(255,255,255,.4);
}
.km-ios li.km-state-active .km-listview-link,
.km-ios li.km-state-active .km-listview-label {
  color: #fff;
  background: #0260E8;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.28) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.28) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.28) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.28) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.28) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0));
}
.km-ios .km-listview-link:after {
  color: #7b7b7b;
}
.km-ios .km-state-active .km-listview-link:after {
  color: #fff;
}
.km-ios .km-group-title {
  color: #FFF;
  text-shadow: 0 1px 1px rgba(100, 100, 100, 0.8);
  border-top-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0);
  background-color: #94A3AE;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.3));
  box-shadow: 0 -1px 0 #86929a;
  -webkit-box-shadow: 0 -1px 0 #86929a;
}
.km-ios .km-listgroupinset .km-group-title {
  color: #4C566C;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.km-ios .km-list > li {
  background: #f0f0f0;
}
.km-ios,
.km-ios .km-content {
  background: #f0f0f0;
  color: #000;
}
.km-ios .km-insetcontent {
  background: #c4ccd5 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAYAAAASC7TOAAAAGklEQVR4Xm3DMREAAACCQKPYvySeO8MHML0BOrEVLMJmdzAAAAAASUVORK5CYII=");
}
/* Icons */
.km-ios .km-button .km-icon,
.km-ios .k-toolbar .km-button .km-icon,
.km-ios .km-button.km-state-active .km-icon {
  background-image: linear-gradient("webkit", top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
  background-image: linear-gradient("blink", top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
  background-image: linear-gradient("moz", top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
  background-image: linear-gradient("ms", top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
  background-image: linear-gradient("o", top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
}
.km-ios .km-buttongroup .km-icon {
  background-image: linear-gradient("webkit", top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient("blink", top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient("moz", top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient("ms", top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient("o", top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
}
.km-ios .km-tabstrip .km-icon {
  background-image: linear-gradient("webkit", top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  color: #666666;
}
.km-ios .km-tabstrip .km-state-active .km-icon {
  background-image: linear-gradient("webkit", top, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient("blink", top, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient("moz", top, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient("ms", top, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient("o", top, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 100%);
  color: #00B0FF;
}
/* Pull to refresh */
.km-root .km-ios .km-load-more,
.km-ios .km-scroller-pull {
  color: #656565;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.km-ios .km-load-more .km-icon,
.km-ios .km-scroller-pull .km-icon {
  color: #656565;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.k-webkit .km-ios .km-load-more .km-icon:after,
.k-safari .km-ios .km-load-more .km-icon:after,
.k-webkit .km-ios .km-scroller-pull .km-icon:after,
.k-safari .km-ios .km-scroller-pull .km-icon:after {
  background: rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px #656565;
}
/* ScrollView */
.km-ios .km-pages li {
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.km-ios .km-pages .km-current-page {
  background: rgba(0, 0, 0, 0.3);
}
/* Slider */
.km-ios .k-slider .k-draghandle,
.km-ios .k-slider .k-draghandle:hover {
  background-color: #fff;
  background-image: linear-gradient("webkit", top #cccccc #ffffff);
  background-image: linear-gradient("blink", top #cccccc #ffffff);
  background-image: linear-gradient("moz", top #cccccc #ffffff);
  background-image: linear-gradient("ms", top #cccccc #ffffff);
  background-image: linear-gradient("o", top #cccccc #ffffff);
  box-shadow: inset 0 0 0 1px #f9f9f9, 1px 1px 3px rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0 0 0 1px #f9f9f9, 1px 1px 3px rgba(0,0,0,.3);
}
.km-ios .k-slider-selection {
  background-image: linear-gradient("webkit", top rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0) 15% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #2a5db2 #6da9f7);
  background-image: linear-gradient("blink", top rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0) 15% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #2a5db2 #6da9f7);
  background-image: linear-gradient("moz", top rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0) 15% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #2a5db2 #6da9f7);
  background-image: linear-gradient("ms", top rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0) 15% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #2a5db2 #6da9f7);
  background-image: linear-gradient("o", top rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0) 15% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #2a5db2 #6da9f7);
}
.km-ios .k-slider-track {
  background-image: linear-gradient("webkit", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 30% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #dbdbdb #ffffff);
  background-image: linear-gradient("blink", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 30% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #dbdbdb #ffffff);
  background-image: linear-gradient("moz", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 30% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #dbdbdb #ffffff);
  background-image: linear-gradient("ms", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 30% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #dbdbdb #ffffff);
  background-image: linear-gradient("o", top rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0) 30% rgba(0, 0, 0, 0) 90% rgba(0, 0, 0, 0.4) top #dbdbdb #ffffff);
}
/* Dialog */
.km-ios .km-dialog {
  background: rgba(10, 25, 65, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 5px #111111;
  -webkit-box-shadow: 3px 3px 5px #111111;
}
.km-ios .km-dialog-title {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60%);
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60%);
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60%);
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60%);
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60%);
  text-shadow: 0 -1px #333333;
}
.km-ios .km-dialog:before {
  background: url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22><defs><clipPath id=%22clip%22><rect x=%220%22 y=%220%22 width=%22100%%22 height=%22100%%22 rx=%2210%22 ry=%2210%22/></clipPath></defs><ellipse fill=%22white%22 cx=%2250%%22 cy=%220%22 rx=%2280%%22 ry=%2260%%22 clip-path=%22url(%23clip)%22/></svg>');
}
.km-ios .km-dialog-content {
  color: #fff;
  text-shadow: 0 -1px #333333;
}
/* Loader */
.km-ios .km-loader {
  background-color: rgba(0, 0, 0, 0.1);
}
.km-ios .km-loader h1,
.km-ios .km-scroller-refresh .km-template {
  color: #222;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.km-ios .km-scroller-pull .km-template {
  color: #656565;
}
/* Forms */
.km-ios .km-list input[type=password],
.km-ios .km-list input[type=search],
.km-ios .km-list input[type=number],
.km-ios .km-list input[type=tel],
.km-ios .km-list input[type=url],
.km-ios .km-list input[type=email],
.km-ios .km-list input[type=month],
.km-ios .km-list input[type=color],
.km-ios .km-list input[type=week],
.km-ios .km-list input[type=date],
.km-ios .km-list input[type=time],
.km-ios .km-list input[type=datetime],
.km-ios .km-list input[type=datetime-local],
.km-ios .km-list input[type=text]:not(.k-input),
.km-ios .km-list select:not([multiple]),
.km-ios .km-list .k-dropdown-wrap,
.km-ios .km-list textarea {
  color: #385487;
}
.km-ios .km-list .k-dropdown-wrap .k-input {
  color: #385487;
}
.km-ios .km-list select:not([multiple]) option {
  color: #333;
}
.km-ios .km-content .km-list .km-state-active input[type=password],
.km-ios .km-content .km-list .km-state-active input[type=search],
.km-ios .km-content .km-list .km-state-active input[type=number],
.km-ios .km-content .km-list .km-state-active input[type=tel],
.km-ios .km-content .km-list .km-state-active input[type=url],
.km-ios .km-content .km-list .km-state-active input[type=email],
.km-ios .km-content .km-list .km-state-active input[type=month],
.km-ios .km-content .km-list .km-state-active input[type=color],
.km-ios .km-content .km-list .km-state-active input[type=week],
.km-ios .km-content .km-list .km-state-active input[type=date],
.km-ios .km-content .km-list .km-state-active input[type=time],
.km-ios .km-content .km-list .km-state-active input[type=datetime],
.km-ios .km-content .km-list .km-state-active input[type=datetime-local],
.km-ios .km-content .km-list .km-state-active input[type=text]:not(.k-input),
.km-ios .km-content .km-list .km-state-active select:not([multiple]),
.km-ios .km-content .km-list .km-state-active textarea {
  color: #fff;
}
/* PopUp + ActionSheet */
.km-ios .km-actionsheet > li > a {
  color: #000;
}
.km-ios .km-popup .k-item,
.km-ios .km-actionsheet > li > a,
.km-ios .k-split-container.km-actionsheet > li > .km-button,
.km-ios .k-overflow-container.km-actionsheet > li > .km-button {
  color: #000;
  box-shadow: inset 0 1px 1px rgba(255,255,255,.5), 0 1px 1px rgba(255,255,255,.3);
  -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.5), 0 1px 1px rgba(255,255,255,.3);
  border-color: rgba(40, 40, 40, 0.9);
  background: #fff;
  background-image: linear-gradient("webkit", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.2) 50% rgba(0, 0, 0, 0.25) 85% rgba(0, 0, 0, 0.15));
  background-image: linear-gradient("blink", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.2) 50% rgba(0, 0, 0, 0.25) 85% rgba(0, 0, 0, 0.15));
  background-image: linear-gradient("moz", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.2) 50% rgba(0, 0, 0, 0.25) 85% rgba(0, 0, 0, 0.15));
  background-image: linear-gradient("ms", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.2) 50% rgba(0, 0, 0, 0.25) 85% rgba(0, 0, 0, 0.15));
  background-image: linear-gradient("o", top rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.2) 50% rgba(0, 0, 0, 0.25) 85% rgba(0, 0, 0, 0.15));
}
.km-root .km-ios .km-popup .k-item {
  border-color: rgba(0, 0, 0, 0.8);
}
.km-ios .km-actionsheet > li > a:active,
.km-ios .km-actionsheet-wrapper .km-actionsheet > li > .km-state-active,
.km-ios .km-actionsheet > li > a:hover,
.km-ios li.km-actionsheet-cancel > a {
  color: #fff;
}
.km-ios .km-popup .k-state-hover,
.km-ios .km-popup .k-state-focused,
.km-ios .km-popup .k-state-selected,
.km-ios .km-actionsheet > li > a:active,
.km-ios .km-actionsheet-wrapper .km-actionsheet > li > .km-state-active,
.km-ios .km-actionsheet > li > a:hover,
.km-ios li.km-actionsheet-cancel > a {
  color: #fff;
  background: #1537c6;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.45) rgba(255, 255, 255, 0.1) 60% rgba(255, 255, 255, 0) 80% rgba(255, 255, 255, 0.15));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.45) rgba(255, 255, 255, 0.1) 60% rgba(255, 255, 255, 0) 80% rgba(255, 255, 255, 0.15));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.45) rgba(255, 255, 255, 0.1) 60% rgba(255, 255, 255, 0) 80% rgba(255, 255, 255, 0.15));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.45) rgba(255, 255, 255, 0.1) 60% rgba(255, 255, 255, 0) 80% rgba(255, 255, 255, 0.15));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.45) rgba(255, 255, 255, 0.1) 60% rgba(255, 255, 255, 0) 80% rgba(255, 255, 255, 0.15));
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.km-ios li.km-actionsheet-cancel > a {
  background-color: #2b3038;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60% rgba(255, 255, 255, 0) 85% rgba(255, 255, 255, 0.08));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60% rgba(255, 255, 255, 0) 85% rgba(255, 255, 255, 0.08));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60% rgba(255, 255, 255, 0) 85% rgba(255, 255, 255, 0.08));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60% rgba(255, 255, 255, 0) 85% rgba(255, 255, 255, 0.08));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0) 60% rgba(255, 255, 255, 0) 85% rgba(255, 255, 255, 0.08));
}
.km-ios .km-popup {
  background: rgba(0, 0, 0, 0.6);
}
.km-ios .km-actionsheet-wrapper,
.km-ios .k-split-wrapper .km-actionsheet-wrapper,
.km-ios .k-overflow-wrapper .km-actionsheet-wrapper,
.km-ios .km-popup .k-list-container {
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(23, 37, 64, 0.6);
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 10% rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 10% rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 10% rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 10% rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2) 10% rgba(255, 255, 255, 0));
}
.km-phone .km-ios .km-actionsheet-wrapper,
.km-phone .km-ios .km-popup .k-list-container {
  box-shadow: 0 -1px 2px rgba(0,0,0,.3), inset 0 1px 0 rgba(255,255,255,.5);
  -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,.3), inset 0 1px 0 rgba(255,255,255,.5);
}
.km-root .km-ios .k-split-container.km-actionsheet,
.km-root .km-ios .k-overflow-container.km-actionsheet {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.km-ios .km-shim {
  background: rgba(23, 23, 46, 0.5);
}
/* Checkboxes and Radios */
.km-ios .km-listview-label input[type=radio]:checked,
.km-ios .km-listview-label input[type=checkbox]:checked {
  font-size: 1.2em;
  color: #3E4E65;
}
.km-ios .km-state-active input[type=radio]:checked,
.km-ios .km-state-active input[type=checkbox]:checked {
  color: #fff;
}
/* Tablet Styles */
.km-tablet .km-ios .km-view-title,
.km-tablet .km-ios .km-modalview .km-view-title {
  color: #848B92;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}
.km-tablet .km-ios .k-toolbar .km-buttongroup .km-button,
.km-tablet .km-ios *:not(.km-tabstrip):not(.km-buttongroup) > .km-button {
  background-color: #6A727D;
}
.km-ios .k-toolbar .km-buttongroup .km-button,
.km-ios *:not(.km-tabstrip):not(.km-buttongroup) > .km-button,
.km-tablet .km-ios *:not(.km-tabstrip):not(.km-buttongroup) > .km-button {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0));
}
.km-ios .k-toolbar .km-buttongroup .km-button,
.km-ios *:not(.km-tabstrip):not(.km-buttongroup) > .km-button {
  background-color: #44648f;
}
.km-tablet .km-ios .km-navbar,
.km-tablet .km-ios .k-toolbar,
.km-tablet .km-ios .km-modalview .km-header {
  background: #A8ACB9;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.9) rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.9) rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.9) rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.9) rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.9) rgba(255, 255, 255, 0));
}
.km-tablet .km-ios .km-content {
  background: #D7D9DF none;
}
/* SplitView */
.km-ios .km-splitview {
  background: #000;
}
.km-ios .km-splitview > .km-pane {
  border-right-color: #000;
  background: #fff;
}
.km-ios .km-splitview > .km-collapsible-pane {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.km-ios .km-split-vertical > .km-pane {
  border-bottom-color: #000;
}
/* PopOver */
.km-ios .km-popup.km-pane,
.km-ios .k-split-wrapper .km-actionsheet-wrapper,
.km-ios .k-overflow-wrapper .km-actionsheet-wrapper,
.km-tablet .km-ios .km-actionsheet-wrapper {
  box-shadow: 0 0 15px rgba(0,0,0,.5), 0 0 2px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,.5), 0 0 2px rgba(0,0,0,.5);
}
.km-ios .km-modalview .km-header,
.km-ios .km-popup.km-pane .km-header {
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.1) 50% rgba(255, 255, 255, 0) 50% rgba(255, 255, 255, 0));
}
.km-ios .km-popup.km-pane,
.km-ios .k-split-wrapper .km-actionsheet-wrapper,
.km-ios .k-overflow-wrapper .km-actionsheet-wrapper,
.km-tablet .km-ios .km-actionsheet-wrapper,
.km-ios .km-popup.km-pane .km-navbar .km-button {
  background-color: rgba(10, 18, 38, 0.9);
}
.km-ios .km-popup-arrow:after,
.km-ios .km-popup-arrow:before {
  border-color: rgba(0, 0, 0, 0.5) transparent;
}
.km-ios .km-popup-arrow:after {
  border-color: rgba(24, 31, 49, 0.9) transparent;
}
.km-ios .km-left .km-popup-arrow:after,
.km-ios .km-right .km-popup-arrow:after {
  border-color: transparent rgba(24, 31, 49, 0.9);
}
.km-ios .km-down .km-popup-arrow:after {
  border-color: rgba(106, 111, 124, 0.9) transparent;
}
/* ModalView */
.km-ios .km-modalview {
  background-color: #7185a2;
  box-shadow: 0 0 15px rgba(0,0,0,.5), 0 0 2px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,.5), 0 0 2px rgba(0,0,0,.5);
}
