/* Main Colors
=================================================================== */
.blue {
  color: #67c2ef;
}
.lightBlue {
  color: #2655d7;
}
.green {
  color: #bdea74;
}
.darkGreen {
  color: #156e0f;
}
.pink {
  color: #9c3650;
}
.orange {
  color: #fa603d;
}
.lightOrange {
  color: #fabb3d;
}
.red {
  color: #be0000;
}
.yellow {
  color: #eae874;
}
.darkYellow {
  color: #f6c801;
}
