/* Main Colors
=================================================================== */
@blue: rgb(103,194,239);
@lightBlue: rgba(38, 85, 215, 1);
@green: rgb(189,234,116);
@darkGreen:  rgb(21,110,15);//rgb(80,145,25);
@pink: rgb(156,54,80);//rgb(232,76,138);
@orange: rgb(250,96,61);
@darkOrange: rgb(230,78,43);
@lightOrange: rgb(250,187,61);
@red: rgb(190,0,0);//rgb(255,54,54);//rgb(255,84,84);
@yellow: rgb(234,232,116);
@darkYellow: rgb(246,200,1);
@inverse: #444;
@labelInverse: #222;
@lightGrey: #f9f9f9;
@grey: #ccc;
@darkGrey: #666;
@borderGrey: #eee;
@alertBackground : rgb(245,245,245);
@black:#000;



//Main Color, Header, Footer, Stats, labels
@mainColor: #3b3b41;
@bodyBackground: #F5F5F5;
@newMainColor :#5F734B; //#73A00A ;//#82AF19;
@plainStatWarning: rgb(235,0,0);
@plainStatsBackground: #82AF19;
@ActiveDashboardLabel: rgb(0,110,0);

.blue { color: @blue; }
.lightBlue { color: @lightBlue; }
.green { color: @green; }
.darkGreen { color: @darkGreen; }
.pink { color: @pink; }
.orange { color: @orange; }
.lightOrange { color: @lightOrange; }
.red { color: @red; }
.yellow { color: @yellow; }
.darkYellow{color: @darkYellow;}