<div class="row-fluid" data-ng-show="Visits.VISIT_GRID.show">
<div class="box span12">
<!--Begin: Add/Edit Visit Grid Header -->
    <div class="box-header" data-ng-show="Visits.VISIT_GRID.show">
        <h2  ><em class="fa-icon-align-justify"></em><span class="break"></span>{{Visits.VISIT_GRID.grid_title}}</h2>
        <div class="box-icon">
        </div>
            <!-- Begin :  Advanced Filter & Add Visit Buttons -->
                                    <span class="pull-right">
                                        <!-- Begin :  Add Visit Button -->
                                        <a id="topAddVisit"></a>
                                            <button data-sandata-modal-focus data-element="h3" data-type="id" data-label="visitModalFocus" title="{{Visits.ADD_VISIT_BUTTON.button_label}}"  role="button" class="btn btn-flat-green btn-halfpadding btn-margin-5-offset" data-ng-click="Visits.openAddVisit('topAddVisit')"    data-ng-show="Visits.ADD_VISIT_BUTTON.show" data-ng-disabled="Visits.ADD_VISIT_BUTTON.disabled" aria-label="{{Visits.ADD_VISIT_BUTTON.button_label}}">
                                                <em class="fa-icon-plus"></em> {{Visits.ADD_VISIT_BUTTON.button_label}}
                                            </button>
                                        <!-- End :  Add Visit Button -->
                                         <!-- Begin :  Advanced Filter Button -->
                                            <button
                                                     role="button"
                                                     aria-disabled="{{Visits.MessageCenter.disabled}}"
                                                     aria-expanded="{{Visits.MessageCenter.expanded}}"
                                                     aria-label="{{Visits.MessageCenter.label}} using Filter Button"
                                                     name="{{Visits.MessageCenter.name}} using Filter Button"
                                                     title="{{Visits.MessageCenter.title}} using Filter Button"
                                                     aria-controls="{{Visits.MessageCenter.controls}}"
                                                     class="open btn btn-flat-green btn-halfpadding btn-margin-5-offset"
                                                     id="dashboard_filter"
                                                     ng-click="toggleSidePanel()"
                                                     data-ng-show="Visits.FILTER_VISIT_BUTTON.show"
                                                     data-ng-disabled="Visits.FILTER_VISIT_BUTTON.disabled"
                                                     data-sandata-display-toggler="Visits.MessageCenter">
                                                <em class="fa-icon-reorder"></em> {{Visits.FILTER_VISIT_BUTTON.button_label}}
                                            </button>
                                         <!-- End :  Advanced Filter Button -->
                                    </span>
            <!-- End :  Advanced Filter & Add Visit Buttons -->
    </div>
<!--End: Add/Edit Visit Grid Header -->
<!--Begin: Add/Edit Visit Grid Content -->
    <div class="box-content no-padding" data-ng-show="Visits.VISIT_GRID.show" >
        <!--Begin: Add/Edit Visit Table -->
            <table class="table table-striped center-align visits-grid"   title="{{Visits.VISIT_GRID.grid_title}}" summary="{{Visits.sections.visits_section.summary}}. There are {{Visits.formatTime({  rawTime:Visits.VISIT_TOTAL_HOURS.display_value,format:'none' }) }} Total Hours. {{Visits.formatTime({  rawTime:Visits.selectedHours,format:'none',round:true,roundingFormat:'decimal'}) }} Hourse are selected." >
                <!--Begin: Add/Edit Visit Table Header-->
                    <thead>
                        <tr>

                            <th scope="col" class="pointer"  id="header_date" data-ng-click="columns =  'components.sortVisitDateLabelComponent';    reverse=!reverse" >
                                <span data-ng-show="Visits.grid_columns.dateLabelComponent.show">{{Visits.grid_columns.dateLabelComponent.text}}</span>
                            </th>
                            <th scope="col" class="pointer"  id="header_employee" data-ng-click="columns = 'components.visitEmployeeLabelComponent.text'; reverse=!reverse" data-ng-show="Visits.grid_columns.employeeLabelComponent.show">
                                <span data-ng-show="Visits.grid_columns.employeeLabelComponent.show">{{Visits.grid_columns.employeeLabelComponent.text}}</span>
                            </th>
                            <th scope="col" class="pointer"  id="header_service" data-ng-click="columns = 'components.visitServiceNameLabelComponent.text'; reverse=!reverse">
                                <span data-ng-show="Visits.grid_columns.serviceLabelComponent.show">{{Visits.grid_columns.serviceLabelComponent.text}}</span>
                            </th>
                            <th scope="col" class="pointer"  id="header_time_in" data-ng-click="columns = 'components.sortVisitStartTimeLabelComponent';      reverse=!reverse" >
                                <span data-ng-show="Visits.grid_columns.inLabelComponent.show">{{Visits.grid_columns.inLabelComponent.text}}</span>
                            </th>
                            <th scope="col" class="pointer"  id="header_time_out" data-ng-click="columns = 'components.sortVisitEndTimeLabelComponent';     reverse=!reverse">
                                <span  data-ng-show="Visits.grid_columns.outLabelComponent.show">{{Visits.grid_columns.outLabelComponent.text}}</span>
                            </th>
                            <th scope="col" class="pointer"  id="header_hours" data-ng-click="columns = 'components.visitNumberOfHoursComponent.text';   reverse=!reverse" >
                                <span data-ng-show="Visits.grid_columns.hoursLabelComponent.show">{{Visits.grid_columns.hoursLabelComponent.text}}</span>
                            </th>
                            <th scope="col" class="pointer"  id="header_status" data-ng-click="columns = 'components.visitStatusLabelComponent.text';  reverse=!reverse" >
                                <span data-ng-show="Visits.grid_columns.statusLabelComponent.show">{{Visits.grid_columns.statusLabelComponent.text}}</span>
                            </th>
                            <th scope="col" class="offset3"  id="header_actions" data-ng-click="columns = 'components.actionLabelComponent.text';  reverse=false">
                                <span data-ng-show="Visits.grid_columns.actionLabelComponent.show">{{Visits.grid_columns.actionLabelComponent.text}}</span>
                            </th>
                            <th class="pointer"  scope="col" id="header_masterCheckbox">
                                                    <span data-ng-show="Visits.grid_columns.checkAllCheckboxComponent.show" class="pull-right">
                                                        <!--input   accesskey="k" role="checkbox" type="checkbox"  name="masterCheckbox" sandata-model="Visits.masterCheckbox"
                                                                 data-sandata-checkbox
                                                                 family="Visits.visitCheckboxFamily"
                                                                 parent="true"
                                                                 ng-click ="Visits.updateMasterCheckbox()"
                                                                 is-checked="{{Visits.masterCheckboxSelected}}"
                                                               /-->
                                                        <input
                                                               name="masterCheckbox"
                                                               adalabel="Select all visits"
                                                               role="checkbox"
                                                               type="checkbox"
                                                               data-sandata-checkbox-passive
                                                               adalabel="select all visits"
                                                               data-click="Visits.updateAllCheckBoxes(Visits.masterCheckboxSelected)"
                                                               data-sandata-model="Visits.masterCheckbox"
                                                               is-checked="{{Visits.masterCheckboxSelected}}"  >
                                                    </span>
                            </th>

                        </tr>
                    </thead>
                <!--End: Add/Edit Visit Table Header-->

                <!--Begin: Add/Edit Visit Table Body-->
                    <tbody>
                        <tr data-ng-repeat="row in Visits.VISIT_GRID.grid_row_components  | orderBy:columns:reverse">

                            <th  scope="row" class="" headers="header_date">
                                <a id="{{row.row_key}}"></a>
                                <span data-ng-show="row.components.visitDateLabelComponent.show">{{row.components.visitDateLabelComponent.text}}</span>
                            </th>
                            <td class="" headers="header_employee" data-ng-show="Visits.grid_columns.employeeLabelComponent.show">
                                <span data-ng-show="row.components.visitEmployeeLabelComponent.show">
                                    {{row.components.visitEmployeeLabelComponent.text}}
                                </span>
                            </td>
                            <td class="" headers="header_service">
                                <span data-ng-show="row.components.visitServiceNameLabelComponent.show">{{row.components.visitServiceNameLabelComponent.text}}</span>
                            </td>
                            <td class="" headers="header_time_in">
                                <span data-ng-show="row.components.visitStartTimeLabelComponent.show">
                                    {{row.components.visitStartTimeLabelComponent.text}}
                                </span>
                            </td>
                            <td class="" headers="header_time_out">
                                <span data-ng-show="row.components.visitEndTimeLabelComponent.show">
                                    {{row.components.visitEndTimeLabelComponent.text}}
                                </span>
                            </td>
                            <td class="span2" headers="header_hours">
                                <span data-ng-show="row.components.visitNumberOfHoursComponent.show">
                                    {{Visits.formatTime({
                                                    rawTime:row.components.visitNumberOfHoursComponent.text,
                                                    format:"none"
                                                })
                                    }}
                                </span>
                            </td>
                            <td class="" headers="header_status">
                                <span class="label label-{{row.components.visitStatusLabelComponent.text}}" data-ng-show="row.components.visitStatusLabelComponent.show">
                                    {{row.components.visitStatusLabelComponent.text}}
                                </span>
                            </td>
                            <td class="span2" headers="header_actions" >
                                <button  role="button" title="view ignored {{row.components.visitDateLabelComponent.text}} Visit for {{row.components.visitServiceNameLabelComponent.text}}  service"  aria-label="view ignored {{row.components.visitDateLabelComponent.text}} Visit for {{row.components.visitServiceNameLabelComponent.text}}  Visit" type="button" class="btn" data-ng-click="Visits.openIgnoredVisit(row.row_key)" data-ng-show="row.components.openIgnoreButton.show" data-ng-disabled="row.components.openIgnoreButton.disabled" data-sandata-modal-focus data-element="h3" data-type="id" data-label="visitModalFocus">
                                    <!--em class="halflings-icon eye-open"></em-->
                                    <em class="fa-icon-eye-open"></em>
                                </button>
                                <button class="btn redo"  role="button" title="un-ignore {{row.components.visitDateLabelComponent.text}} Visit for {{row.components.visitServiceNameLabelComponent.text}}  service" aria-label="un-ignored {{row.components.visitDateLabelComponent.text}} Visit for {{row.components.visitServiceNameLabelComponent.text}}  Visit" type="button" class="btn undo"  data-ng-click="Visits.openUnignoreVisit(row.row_key,row.update_id)" data-ng-show="row.components.unIgnoreButton.show" data-ng-disabled="row.components.unIgnoreButton.disabled" data-sandata-modal-focus data-element="h3" data-type="id" data-label="unignoreVisitFocus">
                                    <!--em  class="undo-ignored"></em-->
                                    <em class="fa-icon-reply"></em>
                                </button>
                                <button  role="button" title="view Approved {{row.components.visitDateLabelComponent.text}} Visit for {{row.components.visitServiceNameLabelComponent.text}}  service"  aria-label="view Approved {{row.components.visitDateLabelComponent.text}} Visit for {{row.components.visitServiceNameLabelComponent.text}}  Visit"  type="button" class="btn" data-ng-click="Visits.openApprovedVisit(row.row_key,row.update_id)" data-ng-show="row.components.openApproveButton.show" data-ng-disabled="row.components.openApproveButton.disabled" data-sandata-modal-focus data-element="h3" data-type="id" data-label="visitModalFocus">
                                    <em class="fa-icon-eye-open"></em>
                                </button>
                                <button  class="btn redo" role="button" title="un-approve {{row.components.visitDateLabelComponent.text}} Visit for {{row.components.visitServiceNameLabelComponent.text}}  service"  aria-label="un-approve {{row.components.visitDateLabelComponent.text}} Visit for {{row.components.visitServiceNameLabelComponent.text}}  Visit"   type="button" class="btn undo"  data-ng-click="Visits.openUnapprovedVisit(row.row_key,row.update_id)" data-ng-show="row.components.unapproveButton.show" data-ng-disabled="row.components.unapproveButton.disabled" data-sandata-modal-focus data-element="h3" data-type="id" data-label="unapproveHoursFocus">
                                    <!--em class="undo-approved"></em-->
                                    <em class="fa-icon-reply"></em>
                                </button>
                                <button  role="button" title="edit {{row.components.visitDateLabelComponent.text}} Visit for {{row.components.visitServiceNameLabelComponent.text}}  service"  aria-label="edit {{row.components.visitDateLabelComponent.text}} Visit for {{row.components.visitServiceNameLabelComponent.text}}  Visit" type="button" class="btn" data-ng-click="Visits.openEditVisit(row.row_key,row.update_id)" data-ng-show="row.components.editButton.show" data-ng-disabled="row.components.editButton.disabled" data-sandata-modal-focus data-element="h3" data-type="id" data-label="visitModalFocus">
                                    <em class="fa-icon-edit"></em>
                                </button>
                                <button   role="button" title="ignore {{row.components.visitDateLabelComponent.text}} Visit for {{row.components.visitServiceNameLabelComponent.text}}  service" aria-label="ignore {{row.components.visitDateLabelComponent.text}} Visit for {{row.components.visitServiceNameLabelComponent.text}}  service" type="button" class="btn"  data-ng-click="Visits.openIgnoreVisit(row.row_key,row.update_id)" data-ng-show="row.components.ignoreButton.show" data-ng-disabled="row.components.ignoreButton.disabled" data-sandata-modal-focus data-element="h3" data-type="id" data-label="ignoreVisitFocus" >
                                    <em   class="fa-icon-remove" ></em>
                                </button>
                            </td>
                            <td  class="" id="visit_{{$index}}" headers="header_masterCheckbox">
                                        <span ng-show="row.components.checkboxComponent.show" class="pull-right">

                                            <input
                                                   name="visit_{{$index}}"
                                                   adalabel="Select the {{row.components.visitDateLabelComponent.text}} Visit for {{row.components.visitServiceNameLabelComponent.text}} service"
                                                   role="checkbox"
                                                   type="checkbox"
                                                   data-sandata-checkbox-passive
                                                   adalabel="masterCheckbox"
                                                   data-click="Visits.updateCheckbox(row.index,row.components.checkboxComponent.checked)"
                                                   is-checked="{{row.components.checkboxComponent.checked}}" >
                                        </span>
                            </td>
                        </tr>

                    </tbody>
                <!--End: Add/Edit Visit Table Body-->
                <!--Begin: Add/Edit Visit Table Footer-->
                    <tfoot>
                        <tr class="init-results">

                            <td scope="row"  id="total_visit_hours_label" class="text-align-right table-cell-border-top"  colspan="5" ng-if="Visits.grid_columns.employeeLabelComponent.show">
                                <strong data-ng-show="Visits.VISIT_TOTAL_HOURS.show">{{Visits.VISIT_TOTAL_HOURS.text}}</strong>
                            </td>
                            <td scope="row"  id="total_visit_hours_label" class="text-align-right table-cell-border-top"  colspan="4" ng-if="!Visits.grid_columns.employeeLabelComponent.show">
                                <strong data-ng-show="Visits.VISIT_TOTAL_HOURS.show">{{Visits.VISIT_TOTAL_HOURS.text}}</strong>
                            </td>

                            <td  class="table-cell-border-top" id="total_visit_hours">&nbsp;&nbsp;
                                                <span class="results_total" data-ng-show="Visits.VISIT_TOTAL_HOURS.show">{{Visits.formatTime({
                                                                                                                                    rawTime:Visits.VISIT_TOTAL_HOURS.display_value,
                                                                                                                                    format:"none"
                                                                                                                                })
                                                                                                                    }}</span>
                            </td>

                            <td   id="AddVisitButtonFooter" class="table-cell-border-top"   colspan="3">
                                <a id="bottomAddVisit"></a>
                                <div  class="pull-right">
                                            <span  data-ng-show="Visits.ADD_VISIT_BUTTON.show">
                                            <span>
                                                 <button data-sandata-modal-focus data-element="h3" data-type="id" data-label="visitModalFocus" title="{{Visits.ADD_VISIT_BUTTON.button_label}}"  role="button" class="btn btn-flat-green btn-halfpadding btn-margin-5-offset" data-ng-click="Visits.openAddVisit('bottomAddVisit')"    data-ng-show="Visits.ADD_VISIT_BUTTON.show" data-ng-disabled="Visits.ADD_VISIT_BUTTON.disabled" aria-label="{{Visits.ADD_VISIT_BUTTON.button_label}}">
                                                     <em class="fa-icon-plus"></em> {{Visits.ADD_VISIT_BUTTON.button_label}}
                                                 </button>
                                            </span>
                                        </span>
                                             <span  data-ng-show="Visits.APPROVE_BUTTON.show" >
                                                              <span>
                                                                    <button data-sandata-modal-focus data-element="h3" data-type="id" data-label="approveHoursFocus" title="{{Visits.APPROVE_BUTTON.button_label}}" accesskey="x" role="button" class="btn btn-flat-green btn-halfpadding btn-margin-5-offset" data-ng-click="Visits.openApprovedVisitModal()" data-ng-show="Visits.APPROVE_BUTTON.show" data-ng-disabled="Visits.APPROVE_BUTTON.disabled"   aria-label="Approve Selected Visits" title="{{Visits.APPROVE_BUTTON.button_label}}">
                                                                        <em class="fa-icon-ok"></em>{{Visits.APPROVE_BUTTON.button_label}}
                                                                    </button>
                                                              </span>
                                                        </span>
                                </div>

                            </td>

                        </tr>

                        <tr  class="results" id="hoursSelectedVisitGridFooter" data-ng-show="Visits.VISIT_TOTAL_HOURS_SELECTED.show">

                            <td scope="row"  id="total_visit_hours_label" class="text-align-right"  colspan="5" ng-if="Visits.grid_columns.employeeLabelComponent.show">
                               <span  data-ng-show="Visits.VISIT_TOTAL_HOURS_SELECTED.show">
                                                                <strong>{{Visits.VISIT_TOTAL_HOURS_SELECTED.text}}</strong>
                                                            </span>
                            </td>
                            <td  scope="row"  id="total_visit_hours_label" class="text-align-right"  colspan="4" ng-if="!Visits.grid_columns.employeeLabelComponent.show">
                               <span  data-ng-show="Visits.VISIT_TOTAL_HOURS_SELECTED.show">
                                                                <strong>{{Visits.VISIT_TOTAL_HOURS_SELECTED.text}}</strong>
                                                            </span>
                            </td>


                            <td  scope="row" id="VISIT_TOTAL_HOURS_SELECTED" class="">&nbsp;&nbsp;

                                                <span aria-live="polite" class="results_total"  data-ng-show="Visits.VISIT_TOTAL_HOURS_SELECTED.show">{{Visits.formatTime({
                                                                                                                                            rawTime:Visits.selectedHours,
                                                                                                                                            format:"none",
                                                                                                                                            round:true,
                                                                                                                                            roundingFormat:"decimal"
                                                                                                                                        })
                                                                                                                            }}</span>
                            </td>
                            <td scope="row"  id="lastspace" class=""   colspan="5"></td>
                        </tr>
                    </tfoot>
                <!--End: Add/Edit Visit Table Footer-->
            </table>
        <!--End: Add/Edit Visit Table -->

    </div>
<!--End: Add/Edit Visit Grid Content -->
</div>
</div>