<h2 class="invisible">Employee, Payor and Client Selection</h2>
<!-- Begin : Basic Filter Section -->
<div class="row-fluid">
    <!-- Begin : Basic Filter Section 1st Form -->
    <div class="span12">
        <form class="form-inline">
            <!-- Begin : Choose a Client -->
            <div data-ng-show="Visits.clients.show">
                <label id="visitsClientSelect" class="pull-left visitsTopPanelFilters" >
                    <strong>{{Visits.clients.select_label}}</strong>
                    <select name="client"
                            id="client"
                            sandata-select-lazy-loader
                            ng-model="Visits.clientModel"
                            load="Visits.clients.option_components"
                            option-value="value"
                            option-label="label"
                            data-ng-change="Visits.getPayor()"
                            selected="{{Visits.clientModel.value}}"
                            aria-label="{{Visits.clients.select_label}}"
                            data-ng-show="Visits.clients.show"
                            >
                    </select>
                </label>
            </div>
            <!-- End : Choose a Client -->
            <!-- Begin : Choose an Employee -->
            <div  data-ng-show="Visits.employees.show" >
                <label id="visitsEmployeeSelect"class="pull-left visitsTopPanelFilters"  data-ng-show="Visits.employees.show" >
                    <strong>{{Visits.employees.select_label}}</strong>

                    <select name="employee"
                            id="employee"
                            sandata-select-lazy-loader
                            ng-model="Visits.employeeModel"
                            load="Visits.employees.option_components"
                            option-value="value"
                            option-label="label"
                            data-ng-change="Visits.changePage()"
                            selected="{{Visits.employeeModel.value}}"
                            aria-label="{{Visits.employees.select_label}}"
                            data-ng-show="Visits.employees.show"
                            >
                    </select>

                </label>
            </div>
            <!-- End : Choose an Employee -->
            <!-- Begin : Choose a Payor -->
            <div  data-ng-show="Visits.payors.show" >
                <label id="visitsPayorSelect"   class="pull-left visitsTopPanelFilters" >
                    <strong>{{Visits.payors.select_label}}</strong>
                    <select name="{{Visits.payors.name}}"        data-ng-model="Visits.payorModel"     data-ng-disabled="Visits.payors.disabled"   data-ng-required="Visits.payors.required"    data-ng-show="Visits.payors.show"      data-ng-change="Visits.changePage()"  data-ng-options="payor.label for payor in Visits.payors.option_components"     aria-label="Payor"></select>
                </label>
            </div>
            <!-- End : Choose a Payor -->
            <!-- Begin : Choose a Pay Period -->
            <div  data-ng-show="Visits.payors.show" >
                <label id="visitsPayorPeriodSelect"   class="pull-left visitsTopPanelFilters" >
                    <strong>{{Visits.pay_period.select_label}}</strong>
                    <select name="{{Visits.pay_period.name}}"   class="input-medium"    data-ng-change="Visits.getVisitsByPayPeriod()"  data-ng-model="Visits.pay_periodModel"     data-ng-disabled="Visits.pay_period.disabled"   data-ng-required="Visits.pay_period.required"    data-ng-show="Visits.pay_period.show"     data-ng-options="period.label for period in Visits.pay_period.option_components"     aria-label="Pay Period" >
                        <!--option value=""></option-->
                    </select>
                </label>
            </div>
            <!-- End : Choose a Pay Period  -->



        </form>
    </div>
    <!-- End : Basic Filter Section 1st Form -->
</div>

<hr class="medium">
