<div id="content" class="dashboard" ng-class="sidePanel.content_class">
    <div class="row-fluid">
        <div class="span8">
               <h1>{{Dashboard.title}}</h1>
            </div>
        </div>
    <hr class="medium">
    <div class="row-fluid">
        <div class="span10">

            <!-- Begin: Form: Select Client & Payor-->
                <form class="form-inline">
                <!-- Begin: Select Client Select Field & Label-->
                    <div class="span6" data-ng-show="Dashboard.clients.show">
                        <label for="clientSelect" class="pull-left" >
                            <strong>{{Dashboard.clients.select_label}}:</strong>
                                <select sandata-select-lazy-loader id="clientSelect"  data-ng-model="Dashboard.clientModel" data-load="Dashboard.clients.option_components" data-option-value="value" data-option-label="label" data-ng-change="Dashboard.getPayor()" data-selected="{{Dashboard.clientModel.value}}" aria-label="{{selectClientLabel}}">
                                </select>

                        </label> &nbsp;
                    </div>
                <!-- End: Select Client Select Field & Label-->

                <!-- Begin: Select Payor Select Field & Label-->
                    <div class="span6"  data-ng-show="Dashboard.payors.show">
                    <label for="payorModelSelect" class="pull-left">
                        <strong>{{Dashboard.payors.select_label}}</strong> <!-- Needs Service Data -->
                            <select id="payorModelSelect"  data-ng-model="Dashboard.payorModel"   data-ng-change="Dashboard.updateGrid()" data-ng-options="c.label for c in Dashboard.payors.option_components"  aria-label="{{Dashboard.payors.error_message}}" data-ng-show="Dashboard.payors.show" data-ng-disabled="Dashboard.payors.disabled" data-ng-required="Dashboard.payors.required">
                            </select>
                    </label> &nbsp;
                </div>
                <!-- End: Select Payor Select Field & Label-->

            </form>
            <!-- End: Form: Select Client & Payor-->
        </div>
    </div>
    <hr />
    <h2 class="invisible">Visits Need Attention and Visit Need Approval</h2>
    <div class="row-fluid">

            <!-- Begin: Visits Need Attention Chart-->
                <div
                data-sandata-status-info
                class="span2 warn"
                index="1"
                data-ng-show="Dashboard.chart.base_components.VISITS_NEED_ATTENTION.show"
                title="{{Dashboard.chart.base_components.VISITS_NEED_ATTENTION.text}} : {{Dashboard.chart.base_components.VISITS_NEED_ATTENTION.display_value}}"
                link="#/visits?p=1&amp;sidepanel=1&amp;employee={{Dashboard.valueForFirstEmployeeVisitNeedAttenton}}&amp;payor={{Dashboard.payorModel.value}}&amp;client={{ (Dashboard.clientModel.value !='') && Dashboard.clientModel.value || Dashboard.clientModel }}&amp;ignore_visits=false&amp;incomplete_visit=true&amp;visit_approval_ready=false&amp;approved_visits=false&amp;from_date={{Dashboard.visitHistoryFromDate}}&amp;to_date={{Dashboard.visitHistoryToDate}}"
                data-label="{{Dashboard.chart.base_components.VISITS_NEED_ATTENTION.text}}"
                data-value="{{Dashboard.chart.base_components.VISITS_NEED_ATTENTION.display_value}}"  adalabel="{{Dashboard.chart.base_components.VISITS_NEED_ATTENTION.text}} : {{Dashboard.chart.base_components.VISITS_NEED_ATTENTION.display_value}}"/>
            <!-- End: Visits Need Attention Chart-->

            <!-- Begin: Visits Need Approval Chart-->
                <div data-sandata-status-info
                class="span2 warn"
                index="1"
                data-ng-show="Dashboard.chart.base_components.VISITS_NEED_APPROVAL.show"
                title="{{Dashboard.chart.base_components.VISITS_NEED_APPROVAL.text}} : {{Dashboard.chart.base_components.VISITS_NEED_APPROVAL.display_value}}"
                link="#/visits?p=1&amp;sidepanel=1&amp;employee={{Dashboard.valueForFirstEmployeeVisitNeedApproval}}&amp;payor={{ (Dashboard.payorModel.value !='') && Dashboard.payorModel.value || Dashboard.payorModel }}&amp;client={{ (Dashboard.clientModel.value !='') && Dashboard.clientModel.value || Dashboard.clientModel }}&amp;ignore_visits=false&amp;incomplete_visit=false&amp;visit_approval_ready=true&amp;approved_visits=false&amp;from_date={{Dashboard.authHistoryFromDate}}&amp;to_date={{Dashboard.authHistoryToDate}}"
                data-label="{{Dashboard.chart.base_components.VISITS_NEED_APPROVAL.text}}"
                data-value="{{Dashboard.chart.base_components.VISITS_NEED_APPROVAL.display_value}}" adalabel="{{Dashboard.chart.base_components.VISITS_NEED_APPROVAL.text}} : {{Dashboard.chart.base_components.VISITS_NEED_APPROVAL.display_value}}"/>
            <!-- End: Visits Need Approval Chart-->

	    <div class="clearfix"></div>
    </div>


    <div class="row-fluid">
        <!-- Begin: Unknown Calls Section -->
            <div class="box span12" data-ng-show="Dashboard.unknowncalls_section.show">

            <!-- Begin: Unknown Calls Section Header -->
                <div class="box-header">
                    <!-- Begin: Unknown Calls Section Header Title-->
                        <h2 data-ng-show="Dashboard.unknowncalls_section.show">
                            <em class="fa-icon-align-justify"></em>
                            <span class="break"></span>
                            {{Dashboard.unknowncalls_section.title}}
                        </h2>
                    <!-- End: Unknown Calls Section Header Title-->

                    <!-- Begin: Unknown Calls Content Show/Hide Toggle -->
                        <div class="box-icon">
                            <a href="#"
                            sandata-toggle-show-hide="unknownCallsContentBox"
                             show-class="fa-icon-chevron-up"
                             hide-class="fa-icon-chevron-down"
                             ada-label="Click to hide unknown calls table"
                             title="{{unknownCallsContentBox.adaLabel}}"
                            name="{{unknownCallsContentBox.adaLabel}}"
                            aria-label="{{unknownCallsContentBox.adaLabel}}"
                            aria-disabled="false"
                            aria-expanded="{{unknownCallsContentBox.show}}"
                            aria-controls="unknown-calls-container"
                            class="btn-minimize"
                            show="true"
                            ng-click="unknownCallsContentBox.toggle()"><em ng-class="unknownCallsContentBox.toggleIndicator" ></em></a>


                        </div>
                    <!-- End: Unknown Calls Content Show/Hide Toggle -->
                </div>
            <!-- End: Unknown Calls Section Header -->

           <!-- Begin: Unknown Calls Section Content -->
                <div id="unknown-calls-container" class="box-content" ng-show="unknownCallsContentBox.show">
                    <!-- Begin: Unknown Calls Content Table-->
                        <table    id="unknown-calls" class="table table-striped" title="{{Dashboard.unknowncalls_section.title}}" summary="{{Dashboard.unknowncalls_section.summary}}">
                            <!-- Begin: Unknown Calls Content Table Header-->
                                <thead>
                                  <tr>
                                      <!--
                                      <th id="header_{{$index}}" scope="row" data-ng-repeat="row in Dashboard.unknowncalls_section.base_components.UNKNOWNCALLS_GRID.grid_row_header.components" data-ng-click="columns = '{{row.name}}';reverse=!reverse" data-ng-show="row.show" class="pointer">{{row.text}}</th>
                                    -->
                                      <th id="header_0" scope="col"  class="pointer" data-ng-click="Dashboard.sortUnknownCallsByDate()" data-ng-show="Dashboard.unknown_calls_header.dateLabelComponent.show">
                                          {{Dashboard.unknown_calls_header.dateLabelComponent.text}}
                                      </th>
                                      <th id="header_1" scope="col"   data-ng-show="Dashboard.unknown_calls_header.serviceLabelComponent.show">
                                          {{Dashboard.unknown_calls_header.serviceLabelComponent.text}}
                                      </th>
                                      <th id="header_2" scope="col"   data-ng-show="Dashboard.unknown_calls_header.employeeLabelComponent.show">
                                          {{Dashboard.unknown_calls_header.employeeLabelComponent.text}}
                                      </th>
                                      <th id="header_3" scope="col"   data-ng-show="Dashboard.unknown_calls_header.startTimeLabelComponent.show">
                                          {{Dashboard.unknown_calls_header.startTimeLabelComponent.text}}
                                      </th>
                                      <th id="header_4" scope="col"   data-ng-show="Dashboard.unknown_calls_header.endTimeLabelComponent.show">
                                          {{Dashboard.unknown_calls_header.endTimeLabelComponent.text}}
                                      </th>
                                      <th id="header_5" scope="col"   data-ng-show="Dashboard.unknown_calls_header.hoursLabelComponent.show">
                                          {{Dashboard.unknown_calls_header.hoursLabelComponent.text}}
                                      </th>
                                      <th id="header_6" scope="col"   data-ng-show="Dashboard.unknown_calls_header.assignToLabelComponent.show">
                                          {{Dashboard.unknown_calls_header.assignToLabelComponent.text}}
                                      </th>
                                      <th id="header_7" scope="col"   data-ng-show="Dashboard.unknown_calls_header.reasonsLabelComponent.show">
                                          {{Dashboard.unknown_calls_header.reasonsLabelComponent.text}}
                                      </th>
                                      <th id="header_8" scope="col"   data-ng-show="Dashboard.unknown_calls_header.actionsLabelComponent.show">
                                          {{Dashboard.unknown_calls_header.actionsLabelComponent.text}}
                                      </th>

                                  </tr>
                            </thead>
                            <!-- End: Unknown Calls Content Table Header-->

                            <!-- Begin: Unknown Calls Content Table Body-->
                                <tbody>
                                 <tr data-ng-repeat="row in currentlyShownUnknownCalls | orderBy:columns:reverse">
                                     <td headers="header_0" scope="row" data-ng-show="Dashboard.unknowncalls_section.base_components.UNKNOWNCALLS_GRID.grid_row_header.components[0].show">
                                         <span data-ng-show="row.components.date.show">{{row.components.date.text}}</span>
                                     </td>
                                     <td headers="header_1" data-ng-show="Dashboard.unknowncalls_section.base_components.UNKNOWNCALLS_GRID.grid_row_header.components[1].show">
                                         <span data-ng-show="row.components.service.show">{{row.components.service.text}}</span>
                                     </td>
                                     <td headers="header_2" data-ng-show="Dashboard.unknowncalls_section.base_components.UNKNOWNCALLS_GRID.grid_row_header.components[2].show">
                                         <span data-ng-show="row.components.employee.show">{{row.components.employee.text}}</span>
                                     </td>
                                     <td headers="header_3" data-ng-show="Dashboard.unknowncalls_section.base_components.UNKNOWNCALLS_GRID.grid_row_header.components[3].show">
                                         <span data-ng-show="row.components.startTime.show">{{row.components.startTime.text}}</span>
                                     </td>
                                     <td headers="header_4" data-ng-show="Dashboard.unknowncalls_section.base_components.UNKNOWNCALLS_GRID.grid_row_header.components[4].show">
                                         <span data-ng-show="row.components.endTime.show">{{row.components.endTime.text}}</span>
                                     </td>
                                     <td headers="header_5" data-ng-show="Dashboard.unknowncalls_section.base_components.UNKNOWNCALLS_GRID.grid_row_header.components[5].show">
                                         <span data-ng-show="row.components.hours.show">
                                             {{Dashboard.formatTime({
                                                                        format:"none",
                                                                        rawTime:row.components.hours.text

                                                                    })}}
                                         </span>
                                     </td>
                                     <td headers="header_6" data-ng-show="Dashboard.unknowncalls_section.base_components.UNKNOWNCALLS_GRID.grid_row_header.components[6].show">
                                                        <span data-ng-show="row.components.clientId.show">

                                                                     <select id="clientModelSelect_{{$index}}"
                                                                             sandata-select-lazy-loader
                                                                             ng-model="row.selectedClient"
                                                                             load="Dashboard.clients.option_components"
                                                                             option-value="value"
                                                                             option-label="label"
                                                                             selected="{{row.selectedClient.value}}"
                                                                             title="Assign the {{row.components.date.text}} visit for employee {{row.components.employee.text}} to a client"
                                                                             aria-label="Assign the {{row.components.date.text}} visit for employee {{row.components.employee.text}} to a client"
                                                                             class="width100">
                                                                     </select>
                                                                    <!--select sandata-select-option-string
                                                                            name="clientModelSelect_{{$index}}"
                                                                            id="clientModelSelect_{{$index}}"
                                                                            ng-model="row.selectedClient"
                                                                            title="Assign the {{row.components.date.text}} visit for employee {{row.components.employee.text}} to a client"
                                                                            aria-label="Assign the {{row.components.date.text}} visit for employee {{row.components.employee.text}} to a client"
                                                                            data-select-option="{{Dashboard.clientModel}}"
                                                                            load="Dashboard.clients.option_components"
                                                                            >
                                                                    </select-->
                                                            </span>
                                    </td>
                                     <td headers="header_7" data-ng-show="Dashboard.unknowncalls_section.base_components.UNKNOWNCALLS_GRID.grid_row_header.components[7].show">
                                         <span ng-init="row.reasonModelSelect = Dashboard.reasonModelSelect">
                                             <form id="unknownCallsSelectReasonForm_{{$index}}" data-ng-show="Dashboard.reasons_codes.show">
                                                 <select id="reasonModelSelect_{{$index}}"
                                                         sandata-select-lazy-loader
                                                         ng-model="row.reasonModelSelect"
                                                         load="Dashboard.reasons_codes.option_components"
                                                         option-value="value"
                                                         option-label="label"
                                                         data-required="true"
                                                         data-trigger="change"
                                                         data-type="number"
                                                         data-error-header="Select Reason Code"
                                                         data-error-message="Please select a reason code for the {{row.components.date.text}} visit associated with {{row.components.employee.text}}."
                                                         data-error-container="#hidden-area"
                                                         selected="{{Dashboard.reasonModelSelect.value}}"
                                                         title="Specify a reason for assigning the {{row.components.date.text}} visit for to the client"
                                                         aria-label="Specify a reason for assigning the {{row.components.date.text}} visit for to the client"
                                                         class="width100">
                                                 </select>
                                             </form>
                                          </span>
                                     </td>
                                     <td headers="header_8" data-ng-show="Dashboard.unknowncalls_section.base_components.UNKNOWNCALLS_GRID.grid_row_header.components[8].show">
                                         <span data-ng-show="row.components.actions.show">
                                            <button id="unknownCallConfirmButton_{{$index}}"data-ng-click="Dashboard.openConfirmModal(this, row.row_key, row.update_id, row.selectedClient,'#unknownCallsSelectReasonForm_' + $index)" class="btn btn-small" href="#" onclick="return false;" title="{{row.components.actions.button_label}}" data-sandata-modal-focus data-element="h3" data-type="id" data-label="dashboardConfirmFocus" aria-label="Click to confirm unknown call on row {{$index+1}} that occurred on {{row.components.date.text}} and is associated with {{row.components.employee.text}}" name="confirm_row_{{$index}}">{{row.components.actions.button_label}}</button>
                                        </span>
                                     </td>
                                 </tr>
                              </tbody>
                            <!-- End: Unknown Calls Content Table Body-->

                         </table>
                    <!-- End: Unknown Calls Content Table-->

                    <!-- Begin: Unknown Calls Content Pagination-->
                        <!-- Show/Hide pagination based on if there is content to show -->
                         <span class="{{ (Dashboard.numberOfPages != 0) && 'show' || 'hidden' }}">
                            <div pagination align="center"
                                 direction-links="true"
                                 num-pages="Dashboard.numberOfPages"
                                 max-size="Dashboard.maxSize"
                                 current-page="Dashboard.currentPage"
                                 boundary-links="true"
                                 rotate="false">
                            </div>
                        </span>
                    <!-- End: Unknown Calls Content Pagination-->


            </div>
           <!-- End: Unknown Calls Section Content -->

            </div>
        <!-- End: Unknown Calls Section -->

        <!-- Begin: Current Authorizations Header Section-->
            <div class="box-header">

                <!-- Begin: Current Authorizations Header Title -->
                    <h2  data-ng-show="Dashboard.authorization_section.show">
                        <em class="fa-icon-align-justify"></em>
                        <span class="break"></span>
                        {{Dashboard.authorization_section.title}}
                    </h2>
                <!-- End: Current Authorizations Header Title -->

                <!-- Begin: Current Authorizations Show/Hide Content Toggle -->
                    <div class="box-icon">
                        <a href="#"
                           sandata-toggle-show-hide="currentAuthorizationsContentBox"
                             show-class="fa-icon-chevron-up"
                             hide-class="fa-icon-chevron-down"
                             ada-label="Click to hide Current Authorizations table"
                             title="{{currentAuthorizationsContentBox.adaLabel}}"
                             name="{{currentAuthorizationsContentBox.adaLabel}}"
                             aria-label="{{currentAuthorizationsContentBox.adaLabel}}"
                             aria-disabled="false"
                             aria-expanded="{{currentAuthorizationsContentBox.show}}"
                             aria-controls="current-auths-container"
                            class="btn-minimize"
                            show="true"
                            ng-click="currentAuthorizationsContentBox.toggle()"><em  ng-class="currentAuthorizationsContentBox.toggleIndicator"></em></a>
                    </div>
                <!-- End: Current Authorizations Show/Hide Content Toggle -->

            </div>
        <!-- End: Current Authorizations Header -->

        <!-- Begin: Current Authorizations Content Section -->
            <span ng-show="Dashboard.authorization_section.show" >
                <div class="box-content" id="current-auths-container" ng-show="currentAuthorizationsContentBox.show">
                <!-- Begin: Current Authorizations Content Table -->
						<table  id="currentAuths" ng-show="Dashboard.authorization_section.show"  class="table table-striped current-auth" title="{{Dashboard.authorization_section.title}}"  summary="{{Dashboard.authorization_section.summary}}">

                            <!-- Begin: Current Authorizations Content Table Header-->
							  <thead><!-- Does not Work?! : ng-show="authorization_section.base_components.AUTHORIZATIONS_GRID.grid_row_header.show"  -->
                                  <tr>
                                      <th id="header_auth_{{$index}}" scope="row" data-ng-repeat="row in Dashboard.authorization_section.base_components.AUTHORIZATIONS_GRID.grid_row_header.components" data-ng-click="columns = '{{row.name}}';reverse=!reverse" data-ng-show="row.show" class="pointer span1">{{row.text}}</th>
                                  </tr>
							  </thead>
                            <!-- End: Current Authorizations Content Table Header-->

                            <!-- Begin: Current Authorizations Content Table Body-->
							  <tbody>

                              <!-- Begin: Current Authorizations Basic Information-->
								 <tr data-ng-repeat-start="row in Dashboard.authorization_section.base_components.AUTHORIZATIONS_GRID.grid_row_components | orderBy:columns:reverse" data-ng-show="Dashboard.authorization_section.base_components.AUTHORIZATIONS_GRID.show" data-row-id="row{{$index}}">
                                     <td headers="header_auth_0"  data-ng-show="Dashboard.authorization_section.base_components.AUTHORIZATIONS_GRID.grid_row_header.components[0].show">
                                         <span data-ng-show="row.components.service.show">
                                             <!-- Begin: Current Authorizations Details Toggle-->
                                                 <a  sandata-class-toggler
                                                     data-action="click"
                                                     data-on="fa-icon-chevron-right"
                                                     data-off="fa-icon-chevron-down"
                                                     class="service-details"
                                                     id="service-details_{{$index}}"
                                                     data-ng-click="Dashboard.onShowAuthDetails($index)"
                                                     href="#"
                                                     data-prevent-default="true"
                                                     aria-disabled="false"
                                                     aria-expanded="{{row.detail_section.base_components.reference.show}}"
                                                     aria-controls="details-template-{{$index}}"
                                                     name="Click to Show details of the {{row.components.service.text}} services between {{row.components.serviceStartDate.text}} and {{row.components.serviceEndDate.text}}"
                                                     aria-label="Click to Show details of the {{row.components.service.text}} services between {{row.components.serviceStartDate.text}} and {{row.components.serviceEndDate.text}}"
                                                     title="Click to Show details of the {{row.components.service.text}} services between {{row.components.serviceStartDate.text}} and {{row.components.serviceEndDate.text}}">
                                                 </a>
                                             <!-- End: Current Authorizations Details Toggle-->
                                                {{row.components.service.text}}
                                         </span>
                                         <span data-ng-init="row.detail_section.base_components.reference.show =false"></span>
                                     </td>
                                     <td headers="header_auth_1" data-ng-show="Dashboard.authorization_section.base_components.AUTHORIZATIONS_GRID.grid_row_header.components[1].show">
                                         <span   data-ng-show="row.components.serviceStartDate.show">{{row.components.serviceStartDate.text}}</span>
                                     </td>
                                     <td headers="header_auth_2" data-ng-show="Dashboard.authorization_section.base_components.AUTHORIZATIONS_GRID.grid_row_header.components[2].show">
                                         <span   data-ng-show="row.components.serviceEndDate.show">{{row.components.serviceEndDate.text}}</span>
                                     </td>
                                     <td headers="header_auth_3"   class="progress-{{row.components.yes.used}}" data-ng-show="Dashboard.authorization_section.base_components.AUTHORIZATIONS_GRID.grid_row_header.components[3].show">
                                         <span data-ng-show="row.components.yes.show">
                                             <div data-sandata-progress
                                                class="span9 simpleProgress"
                                                data-percent="row.components.yes.percentage">
                                              </div>
                                            <span class="span2" style="margin-top: -5px;font-weight: bold;">{{row.components.yes.percentage}}%</span>
                                        </span>
                                     </td>
                                     <td headers="header_auth_4" data-ng-show="Dashboard.authorization_section.base_components.AUTHORIZATIONS_GRID.grid_row_header.components[4].show" >
                                          <span class="label label-{{row.components.remarks.remark_summery}}-dashboard" data-ng-show="row.components.remarks.show">{{row.components.remarks.remark_summery}}</span>
                                     </td>
                                 </tr>
                              <!-- End: Current Authorizations Basic Information-->

                              <!-- Begin: Current Authorizations Detailed Information-->
                                 <tr id='details-template-{{$index}}' class="details-templates" ng-show="row.detail_section.base_components.reference.show" data-ng-repeat-end>

                                     <td headers="header_auth_0" colspan="5" data-ng-show="Dashboard.authorization_section.base_components.AUTHORIZATIONS_GRID.grid_row_header.components[0].show">

                                         <div class="span4 pull-left">
                                             <ul>


                                         <!-- Begin: Reference Number -->
                                            <li data-ng-show="row.detail_section.base_components.REFERENCE.show">
                                                <strong>{{row.detail_section.base_components.REFERENCE.text}}</strong>:
                                                    {{row.detail_section.base_components.REFERENCE.display_value}}
                                                <br />
                                            </li>
                                         <!-- End: Reference Number -->

                                         <!-- Begin: Unit of Measurement for Time-->
                                            <li data-ng-show="row.detail_section.base_components.UNITS.show">
                                                <strong>{{row.detail_section.base_components.UNITS.text}}</strong>:
                                                    {{row.detail_section.base_components.UNITS.display_value}}
                                                <br />
                                            </li>
                                         <!-- End: Unit of Measurement for Time-->

                                         <!-- Begin: Type of Authorization-->
                                            <li data-ng-show="row.detail_section.base_components.AUTH_TYPE.show">
                                                <strong>{{row.detail_section.base_components.AUTH_TYPE.text}}</strong>:
                                                    {{row.detail_section.base_components.AUTH_TYPE.display_value}}
                                                <br />
                                            </li>
                                         <!-- End: Type of Authorization-->

                                         <!-- Begin: Limit Type -->
                                            <li data-ng-show="row.detail_section.base_components.LIMIT_TYPE.show">
                                                <strong>{{row.detail_section.base_components.LIMIT_TYPE.text}}</strong>:
                                                    {{row.detail_section.base_components.LIMIT_TYPE.display_value}}
                                                 <br />
                                            </li>
                                         <!-- End: Limit Type -->

                                         <!-- Begin: Effective Dates (From) -->
                                            <li data-ng-show="row.detail_section.base_components.FIRST_BEGIN_DATE.show">
                                                 <strong>{{row.detail_section.base_components.FIRST_BEGIN_DATE.text}}</strong>:
                                                 {{row.detail_section.base_components.FIRST_BEGIN_DATE.display_value}}&nbsp;
                                            </li>
                                         <!-- End: Effective Dates (From)-->

                                         <!-- Begin: Effective Dates (To) -->
                                            <li data-ng-show="row.detail_section.base_components.LAST_END_DATE.show">
                                                 <strong>{{row.detail_section.base_components.LAST_END_DATE.text}}</strong>:&nbsp;
                                                 {{row.detail_section.base_components.LAST_END_DATE.display_value}}
                                            </li>
                                         <!-- Begin: Effective Dates (To) -->
                                             </ul>

                                        </div>
                                     <div class="span4 pull-left">
                                         <ul>
                                             <!-- Begin: Time Used Per Year -->
                                            <li data-ng-show="row.detail_section.sub_section.HOURS_USED.show">
                                                <span data-ng-show="row.detail_section.sub_section.HOURS_USED.sub_section.PER_YEAR.show">

                                                    <!-- Begin: Time Used Per Year by Percentage-->
                                                        <span  data-ng-show="row.detail_section.sub_section.HOURS_USED.sub_section.PER_YEAR.base_components.PERCENTAGE.show">
                                                            <strong class='percentage'>{{row.detail_section.sub_section.HOURS_USED.sub_section.PER_YEAR.base_components.PERCENTAGE.display_value}}</strong> Hours Used This Year
                                                        </span>
                                                    <!-- End: Time Used Per Year by Percentage -->

                                                    <div class='divider'>

                                                        <ul>
                                                            <li>
                                                                <!-- Begin: Time Used Per Year Total Limited by Month-->
                                                                    <span data-ng-show="row.detail_section.sub_section.HOURS_USED.sub_section.PER_YEAR.base_components.TOTAL.show">
                                                                        <strong>{{row.detail_section.sub_section.HOURS_USED.sub_section.PER_YEAR.base_components.TOTAL.display_value}}</strong>  {{row.detail_section.sub_section.HOURS_USED.sub_section.PER_YEAR.base_components.TOTAL.text}}

                                                                    </span>
                                                                <!-- End: Time Used Per Year Total Limited by Month--->
                                                            </li>
                                                            <li>
                                                                <!-- Begin: Time Used by Year-->
                                                                    <span data-ng-show="row.detail_section.sub_section.HOURS_USED.sub_section.PER_YEAR.base_components.USED.show">
                                                                        <strong>{{row.detail_section.sub_section.HOURS_USED.sub_section.PER_YEAR.base_components.USED.display_value}}</strong>
                                                                            {{row.detail_section.sub_section.HOURS_USED.sub_section.PER_YEAR.base_components.USED.text}}

                                                                    </span>
                                                                <!-- End: Time Used by Year-->
                                                            </li>
                                                        </ul>




                                                    </div>

                                                </span>
                                            </li>
                                             <!-- End: Time Used Per Year -->
                                         </ul>

                                    </div>
                                    <div class="span4 pull-left">
                                        <ul>
                                            <!-- Begin: Time Used Per Month -->
                                            <li data-ng-show="row.detail_section.sub_section.HOURS_USED.show">
                                                <span data-ng-show="row.detail_section.sub_section.HOURS_USED.sub_section.PER_MONTH.show">

                                                    <!-- Begin: Time Used Per Month by Percentage -->
                                                        <span  data-ng-show="row.detail_section.sub_section.HOURS_USED.sub_section.PER_MONTH.base_components.PERCENTAGE.show">
                                                            <strong class='percentage'>{{row.detail_section.sub_section.HOURS_USED.sub_section.PER_MONTH.base_components.PERCENTAGE.display_value}}</strong> Hours Used This Month
                                                        </span>
                                                    <!-- End: Time Used Per Month by Percentage -->
                                                    <div class='divider'>
                                                        <ul>
                                                            <li>
                                                                <span data-ng-show="row.detail_section.sub_section.HOURS_USED.sub_section.PER_MONTH.base_components.TOTAL.show">
                                                                    <strong>{{row.detail_section.sub_section.HOURS_USED.sub_section.PER_MONTH.base_components.TOTAL.display_value}}</strong>
                                                                        {{row.detail_section.sub_section.HOURS_USED.sub_section.PER_MONTH.base_components.TOTAL.text}}
                                                                </span>
                                                            </li>
                                                            <li>

                                                            </li>
                                                        </ul>
                                                        <!-- Begin: Time Used Per Month  TOTAL -->

                                                        <!-- End: Time Used Per Month TOTAL -->

                                                        <!-- Begin: Time Used Per Month  TOTAL Used -->
                                                        <span data-ng-show="row.detail_section.sub_section.HOURS_USED.sub_section.PER_MONTH.base_components.USED.show">
                                                            <strong>{{row.detail_section.sub_section.HOURS_USED.sub_section.PER_MONTH.base_components.USED.display_value}}</strong>
                                                                {{row.detail_section.sub_section.HOURS_USED.sub_section.PER_MONTH.base_components.USED.text}}
                                                            <br />
                                                        </span>
                                                        <!-- End: Time Used Per Month TOTAL Used -->

                                                    </div>

                                                 </span>
                                            </li>
                                            <!-- End: Time Used Per Month -->
                                        </ul>


                                     </div>
                                     </td>
                                 </tr>
                              <!-- End: Current Authorizations Detailed Information-->

							  </tbody>
                            <!-- End: Current Authorizations Content Table Body-->

						 </table>
                <!-- End: Current Authorizations Content Table -->

                </div>
            </span>
        <!-- End: Current Authorizations Content Section -->

    </div>
</div>

<!-- Begin: Widgets Area -->
    <div id="widgets-area" class="span2 hidden-phone" ng-show="sidePanel.show">
        <span class="ng-include:'includes/message-center.html'"></span>
    </div>
<!-- End: Widgets Area -->


<!-- Begin: Modals -->
    <div data-ng-include src="'includes/dashboard/modals/dashboard_confirmation.html'"></div>
    <a id="widgets-area-button"
        aria-disabled="{{Dashboard.MessageCenter.disabled}}"
        aria-expanded="{{Dashboard.MessageCenter.expanded}}"
        aria-label="{{Dashboard.MessageCenter.label}}"
        name="{{Dashboard.MessageCenter.name}}"
        title="{{Dashboard.MessageCenter.title}}"
        aria-controls="{{Dashboard.MessageCenter.controls}}"
        class="hidden-tablet hidden-phone open"
        ng-click="toggleSidePanel()"
        tabindex="6"
        data-sandata-display-toggler="Dashboard.MessageCenter">
            <em class="fa-icon-reorder"></em>
    </a>
<!-- End: Modals -->

