<div id="content" data-ng-class="sidePanel.content_class">
    <!-- Begin : Reporting Form -->
         <form  class="form-horizontal" data-validate="parsley"  data-ng-submit="Reporting.submitAction('.form-horizontal')" novalidate >
         <!-- Begin : Reporting Form: Title -->
                <div class="row-fluid">
                 <div class="span12">
                    <h1 ng-bind="Reporting.title"></h1>
                 </div>
                </div>
         <!-- End : Reporting Form: Title -->
                <hr class="medium">
         <!-- Begin : Reporting Form: Fieldsets-->
                <div class="report" data-ng-show="Reporting.report.show">
                <!-- Begin : Reporting Form: Fieldsets : Select Report -->
                        <div class="box span12">
                            <!-- Begin : Reporting Form: Fieldsets  : Select Report : Header-->
                                <div class="box-header">
                                    <h2  ><em class="fa-icon-edit"></em><span class="break"></span>{{Reporting.report.title}}</h2>
                                    <div class="box-icon"></div>
                                </div>
                            <!-- End : Reporting Form: Fieldsets  : Select Report : Header-->
                            <!-- Begin : Reporting Form: Fieldsets  : Select Report : Body-->
                                <div class="box-content">
                                   <div class="row-fluid">

                                        <div class="span4 selectReports">
                                            <!-- Begin : Reporting Form: Fieldsets  : Select Report : Body : Field : Report Type-->
                                                <div class="control-group">
                                                        <label class="control-label selectpicker"
                                                               data-ng-class="Reporting.report.base_components.REPORT_TYPE.label.class"
                                                               data-required="true"
                                                               for="{{Reporting.report.base_components.REPORT_TYPE.name}}">{{Reporting.report.base_components.REPORT_TYPE.select_label}}

                                                        </label>
                                                   <div class="controls">
                                                        <select
                                                                id="{{Reporting.report.base_components.REPORT_TYPE.name}}"
                                                                name="{{Reporting.report.base_components.REPORT_TYPE.name}}"
                                                                data-ng-model="Reporting.reporttypeNode"
                                                                data-ng-options="c.label for c in Reporting.report.base_components.REPORT_TYPE.option_components"
                                                                data-ng-change="Reporting.onReportTypeChange()"
                                                                parsley-required-field="Reporting.report.base_components.REPORT_TYPE.required"
                                                                  >
                                                        </select>
                                                    </div>
                                                </div>
                                            <!-- End : Reporting Form: Fieldsets  : Select Report : Body : Field : Report Type-->
                                        </div>
                                        <div class="span4 selectReports">
                                            <!-- Begin : Reporting Form: Fieldsets  : Select Report : Body : Field : Report Name-->
                                                <div class="control-group">
                                                        <label  class="control-label"
                                                                data-required="true"
                                                               for="{{Reporting.report.base_components.REPORT_NAME.name}}">
                                                            {{Reporting.report.base_components.REPORT_NAME.select_label}}
                                                        </label>
                                                      <div class="controls">
                                                           <select id="{{Reporting.report.base_components.REPORT_NAME.name}}"
                                                                  name="{{Reporting.report.base_components.REPORT_NAME.name}}"
                                                                  data-ng-model="Reporting.reportnameNode"
                                                                  data-ng-options="c.label for c in Reporting.report.base_components.REPORT_NAME.option_components | filter:{group:Reporting.reporttypeNode.group}"
                                                                  parsley-required-field="Reporting.report.base_components.REPORT_NAME.required"
                                                                  data-type="alphanum"
                                                                  data-error-message="{{Reporting.report.base_components.REPORT_NAME.error_message}}"
                                                                  data-error-container="#widgets-area"
                                                                  data-ng-disabled="Reporting.report.base_components.REPORT_NAME.disabled"
                                                                  data-ng-show="Reporting.report.base_components.REPORT_NAME.show"
                                                                  data-ng-change="Reporting.onReportNameChange()"
                                                                   >
                                                          </select>
                                                      </div>
                                                  </div>
                                            <!-- End : Reporting Form: Fieldsets  : Select Report : Body : Field : Report Name-->
                                         </div>

                                    </div>
                               </div>
                            <!-- End : Reporting Form: Fieldsets  : Select Report : Body-->
                        </div>
                <!-- End : Reporting Form: Fieldsets : Select Report -->
                <!-- Begin : Reporting Form: Fieldsets : Date/Time -->
                    <div class="row-fluid sortable ui-sortable" data-ng-show="Reporting.report_datetime.show" data-section-name="Reporting.report_datetime">
                            <div class="box span12">
                                <!-- Begin : Reporting Form: Fieldsets : Date/Time : Header -->
                                    <div  class="box-header">
                                        <h2  ><em class="fa-icon-edit"></em><span class="break"></span>{{Reporting.report_datetime.title}}</h2>
                                        <div class="box-icon"></div>
                                    </div>
                                <!-- End : Reporting Form: Fieldsets : Date/Time : Header -->
                                <!-- Begin : Reporting Form: Fieldsets : Date/Time : Body -->
                                    <div class="box-content">
                                            <div class="row-fluid">
                                                <!-- Begin : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time -->
                                                    <div class="span4-5" data-ng-show="Reporting.report_datetime.show">
                                                        <div class="control-group">
                                                            <!-- Begin : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : From Date-->
                                                                <!-- Begin : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : From Date : Label-->
                                                                    <label
                                                                            class="control-label"
                                                                            data-ng-class="Reporting.report_datetime.base_components.REPORT_DATETIME_FROMDATE.date_label.class"
                                                                           for="{{Reporting.report_datetime.base_components.REPORT_DATETIME_FROMDATE.name}}">
                                                                        {{Reporting.report_datetime.base_components.REPORT_DATETIME_FROMDATE.date_label}}
                                                                    </label>
                                                                <!-- End : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : From Date : Label-->
                                                                <!-- Begin : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : From Date : Fields-->
                                                                    <div class="controls">
                                                                        <!-- Begin : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : From Date : Fields : From Date -->
                                                                            <div  class="span4-5 margin-right-50" data-ng-show="Reporting.report_datetime.base_components.REPORT_DATETIME_FROMDATE.show">
                                                                                <input placeholder="MM/DD/YYYY"
                                                                                       type="text"
                                                                                       id="{{Reporting.report_datetime.base_components.REPORT_DATETIME_FROMDATE.name}}"
                                                                                       name="{{Reporting.report_datetime.base_components.REPORT_DATETIME_FROMDATE.name}}"
                                                                                       data-sandata-input-text="date"
                                                                                       data-ng-readonly="Reporting.report_datetime.base_components.REPORT_DATETIME_FROMDATE.disabled"
                                                                                       auto-format="true"
                                                                                       data-ng-model="Reporting.fromDateNode"
                                                                                       data-ng-change="Reporting.onFromDateChange(this.Reporting)"
                                                                                       value="Reporting.report_datetime.base_components.REPORT_DATETIME_FROMDATE.data"
                                                                                       class="input-small"
                                                                                       data-required="Reporting.report_datetime.base_components.REPORT_DATETIME_FROMDATE.required"
                                                                                       data-regexp="^(0[1-9]|1[012])[//](0[1-9]|[12][0-9]|3[01])[//](19|20)\d\d$"
                                                                                       data-error-container="#hidden-area"
                                                                                       data-error-header="From Date"
                                                                                       data-error-message="Please enter the From Date in the correct format : MM/DD/YYYY"
                                                                                       data-trigger="change"
                                                                                       data-date-type="string"
                                                                                        />

                                                                            </div>
                                                                        <!-- End : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : From Date : Fields : From Date -->
                                                                        <!-- Begin : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : From Date : Fields : From Time -->
                                                                            <div  class="span4-5" data-ng-show="Reporting.report_datetime.base_components.REPORT_DATETIME_FROMTIME.show">
                                                                                <label class="hideText" for="{{Reporting.report_datetime.base_components.REPORT_DATETIME_FROMTIME.name}}" >From Time</label>
                                                                                <input type="text"
                                                                                       placeholder="HH:MM (AM|PM)"
                                                                                       id="{{Reporting.report_datetime.base_components.REPORT_DATETIME_FROMTIME.name}}"
                                                                                       name="{{Reporting.report_datetime.base_components.REPORT_DATETIME_FROMTIME.name}}"
                                                                                       data-ng-model="Reporting.fromTimeNode"
                                                                                       data-ng-change="Reporting.onFromTimeChange()"
                                                                                       data-sandata-input-text="time"
                                                                                       class="input-small"
                                                                                       data-military-time="{{Reporting.time_format.display_value}}"
                                                                                       disable-in-cell-tabbing="true"
                                                                                       title="Pick From Time"/>


                                                                             </div>
                                                                        <!-- End : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : From Date : Fields : From Time -->
                                                                    </div>
                                                                <!-- End : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : From Date : Select-->
                                                            <!-- End : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : From Date -->
                                                        </div>
                                                    </div>
                                                <!-- End : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time -->
                                                <!-- Begin : Reporting Form: Fieldsets : Date/Time : Body : To Date/Time -->
                                                    <div class="span4-5" data-ng-show="Reporting.report_datetime.show">
                                                        <!-- Begin : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : To Date-->
                                                            <div class="control-group">
                                                                <!-- Begin : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : To Date : Label-->
                                                                    <label
                                                                            class="control-label"
                                                                            data-ng-class="Reporting.report_datetime.base_components.REPORT_DATETIME_TODATE.label.class"
                                                                           for="todate_control_id">
                                                                        {{Reporting.report_datetime.base_components.REPORT_DATETIME_TODATE.date_label}}
                                                                    </label>
                                                                <!-- End : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : To Date : Label-->
                                                                <!-- Begin : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : To Date : Fields-->
                                                                    <div class="controls">

                                                                        <!-- Begin : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : To Date : Fields : To Date-->
                                                                            <div   class="span4-5 margin-right-50" data-ng-show="Reporting.report_datetime.base_components.REPORT_DATETIME_TODATE.show || Reporting.report_datetime.base_components.REPORT_DATETIME_TODATE.disabled">
                                                                                <input placeholder="MM/DD/YYYY"
                                                                                        type="text"
                                                                                       id="todate_control_id"
                                                                                       name="todate_control_id"
                                                                                       data-sandata-input-text="date"
                                                                                       data-ng-model="Reporting.toDateNode"
                                                                                       data-ng-change="Reporting.onToDateChange(this)"
                                                                                       class="input-small"
                                                                                       data-ng-readonly="Reporting.report_datetime.base_components.REPORT_DATETIME_TODATE.disabled"
                                                                                       data-regexp="^(0[1-9]|1[012])[//](0[1-9]|[12][0-9]|3[01])[//](19|20)\d\d$"
                                                                                       data-error-container="#hidden-area"
                                                                                       data-error-header="To Date"
                                                                                       data-error-message="Please enter the To Date in the correct format : MM/DD/YYYY"
                                                                                       data-trigger="change"
                                                                                       data-date-type="string"
                                                                                       auto-format="true"
                                                                                       end-date="{{Reporting.toDateEnd}}"
                                                                                       start-date="{{Reporting.toDateStart}}"
                                                                                       data-required="Reporting.report_datetime.base_components.REPORT_DATETIME_TODATE.required" />


                                                                            </div>
                                                                        <!-- End : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : To Date : Fields : To Date-->
                                                                        <!-- Begin : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : To Date : Fields : To Time-->
                                                                            <div class="span4-5" data-ng-show="Reporting.report_datetime.base_components.REPORT_DATETIME_TOTIME.show || Reporting.report_datetime.base_components.REPORT_DATETIME_TOTIME.disabled">
                                                                                <label class="hideText" for="totime_control_id">To Time</label>
                                                                                <input type="text"
                                                                                       placeholder="HH:MM (AM|PM)"
                                                                                       id="totime_control_id"
                                                                                       name="totime_control_id"
                                                                                       data-sandata-input-text="time"
                                                                                       data-ng-model="Reporting.toTimeNode"
                                                                                       data-ng-change="Reporting.onToTimeChange()"
                                                                                       class="input-small"
                                                                                       data-ng-readonly="Reporting.report_datetime.base_components.REPORT_DATETIME_TOTIME.disabled"
                                                                                       data-military-time="{{Reporting.time_format.display_value}}"
                                                                                       value="Reporting.toTimeNode"
                                                                                       disable-in-cell-tabbing="true"
                                                                                       title="Pick To Time"/>


                                                                            </div>
                                                                        <!-- End : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : To Date : Fields : To Time-->
                                                                    </div>
                                                                <!-- End : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : To Date : Fields-->
                                                         <!-- End : Reporting Form: Fieldsets : Date/Time : Body : From Date/Time : Field : To Date-->
                                                        </div>
                                                    </div>
                                                <!-- End : Reporting Form: Fieldsets : Date/Time : Body : To Date/Time -->
                                        </div>
                                    </div>
                                <!-- End : Reporting Form: Fieldsets : Date/Time : Body -->
                          </div>
                    </div>
                <!-- End : Reporting Form: Fieldsets : Date/Time -->
                <!-- Begin : Reporting Form: Fieldsets : Select Parameters -->
                     <div class="row-fluid sortable ui-sortable" data-ng-show="Reporting.report_parameters.show" data-section-name="Reporting.report_parameters">
                        <div class="box span12">
                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Header -->
                            <div  class="box-header">
                                <h2  ><em class="fa-icon-edit"></em><span class="break"></span> {{Reporting.report_parameters.title}}</h2>
                                <div class="box-icon"></div>
                            </div>
                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Header -->
                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body -->
                            <div class="box-content">
                                   <div class="row-fluid">
                                   <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets-->
                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column-->
                                            <div class="span4 selectParams">

                                                <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Contract Field -->
                                                    <div class="control-group">
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Contract Field : Label -->
                                                            <label
                                                                   class="control-label"
                                                                   data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_CONTRACT.show"
                                                                   for="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_CONTRACT.name}}">
                                                                {{Reporting.report_parameters.base_components.REPORT_PARAMETER_CONTRACT.select_label}}
                                                            </label>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Contract Field : Label -->
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Contract Field : Select Field-->
                                                            <div class="controls">
                                                                <select id="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_CONTRACT.name}}"
                                                                        name="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_CONTRACT.name}}"
                                                                        data-ng-model="Reporting.contractNode"
                                                                        data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_CONTRACT.show"
                                                                        data-ng-change="Reporting.selectContractChange(this)"
                                                                        data-ng-options="c.value for c in Reporting.contracts_list"
                                                                        title="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_CONTRACT.select_label}}"
                                                                        parsley-required-field="Reporting.report_parameters.base_components.REPORT_PARAMETER_CONTRACT.required">
                                                                    <option value="" selected></option>
                                                                </select>
                                                             </div>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Contract Field : Select Field -->
                                                    </div>
                                                <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Contract Field -->

                                                <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Program Field -->
                                                    <div class="control-group">
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Program Field : Label -->
                                                            <label
                                                                    class="control-label"
                                                                    data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_PROGRAM.show"
                                                                   for="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_PROGRAM.name}}">
                                                                {{Reporting.report_parameters.base_components.REPORT_PARAMETER_PROGRAM.select_label}}
                                                            </label>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Program Field : Label -->
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Program Field : Select Field -->
                                                            <div class="controls">
                                                                <select id="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_PROGRAM.name}}"
                                                                        name="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_PROGRAM.name}}"
                                                                        data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_PROGRAM.show"
                                                                        data-ng-model="Reporting.programNode"
                                                                        data-ng-change="Reporting.selectProgramChange(this)"
                                                                        data-ng-options="c.value for c in Reporting.programs_list"
                                                                        title="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_PROGRAM.select_label}}"
                                                                        parsley-required-field="Reporting.report_parameters.base_components.REPORT_PARAMETER_PROGRAM.required"
                                                                         > <!-- TODO: c.value ...should be c.label -->
                                                                    <option value="" selected></option>
                                                                </select>
                                                            </div>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Program Field : Select Field -->
                                                    </div>
                                                <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Program Field -->

                                                <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Service Field -->
                                                    <div class="control-group">
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Service Field : Label -->
                                                            <label
                                                                   class="control-label"
                                                                   data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_SERVICE.show"
                                                                   for="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_SERVICE.name}}">
                                                                {{Reporting.report_parameters.base_components.REPORT_PARAMETER_SERVICE.select_label}}
                                                            </label>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Service Field : Label -->
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Service Field : Select Field -->
                                                            <div class="controls">
                                                                <select id="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_SERVICE.name}}"
                                                                        name="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_SERVICE.name}}"
                                                                        data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_SERVICE.show"
                                                                        data-ng-model="Reporting.serviceNode"
                                                                        data-ng-change="Reporting.selectServiceChange(this)"
                                                                        data-ng-options="c.value for c in Reporting.services_list"
                                                                        title="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_SERVICE.select_label}}"
                                                                        parsley-required-field="Reporting.report_parameters.base_components.REPORT_PARAMETER_SERVICE.required"
                                                                         >
                                                                    <option value="" selected></option>
                                                                </select>
                                                            </div>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Service Field : Select Field -->
                                                    </div>
                                                <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Service Field -->

                                                <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Employee Field -->
                                                     <div class="control-group">
                                                         <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Employee Field : Label-->
                                                            <label
                                                                   class="control-label"
                                                                   data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_EMPLOYEE.show"
                                                                   for="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_EMPLOYEE.name}}">
                                                                {{Reporting.report_parameters.base_components.REPORT_PARAMETER_EMPLOYEE.select_label}}
                                                            </label>
                                                         <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Employee Field : Label-->
                                                         <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Employee Field : Select Field-->
                                                             <div class="controls">
                                                                 <select
                                                                         sandata-select-lazy-loader
                                                                         ng-model="Reporting.employeeNode"
                                                                         load="Reporting.employees_list"
                                                                         option-value="value"
                                                                         option-label="label"
                                                                         selected="{{Reporting.employeeNode.value}}"
                                                                         data-ng-change="Reporting.selectEmployeeChange()"
                                                                         id="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_EMPLOYEE.name}}"
                                                                         name="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_EMPLOYEE.name}}"
                                                                         title="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_EMPLOYEE.label}}"
                                                                         data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_EMPLOYEE.show"
                                                                         parsley-required-field="Reporting.report_parameters.base_components.REPORT_PARAMETER_EMPLOYEE.required"
                                                                         blank="true"
                                                                         >
                                                                 </select>
                                                            </div>
                                                         <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Employee Field : Select Field-->
                                                     </div>
                                                <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column : Employee Field -->

                                            </div>
                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Left Column-->
                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column-->
                                            <div class="span4 selectParams">

                                                <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Client Field-->
                                                    <div class="control-group">
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Client Field : Label -->
                                                             <label class="control-label"
                                                                    data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_CLIENT.show"
                                                                    for="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_CLIENT.name}}">
                                                                 {{Reporting.report_parameters.base_components.REPORT_PARAMETER_CLIENT.select_label}}
                                                             </label>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Client Field : Label -->
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Client Field : Select Field -->
                                                        <div class="controls">
                                                            <select
                                                                    sandata-select-lazy-loader
                                                                    ng-model="Reporting.clientNode"
                                                                    load="Reporting.clients_list"
                                                                    option-value="value"
                                                                    option-label="label"
                                                                    data-ng-change="Reporting.selectClientChange()"
                                                                    id="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_CLIENT.name}}"
                                                                    name="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_CLIENT.name}}"
                                                                    title="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_CLIENT.label}}"
                                                                    data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_CLIENT.show"
                                                                    parsley-required-field="Reporting.report_parameters.base_components.REPORT_PARAMETER_CLIENT.required"
                                                                    blank="true"
                                                                    >
                                                            </select>
                                                        </div>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Client Field : Select Field -->
                                                    </div>
                                                <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Client Field-->

                                                <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Client AR Field-->
                                                    <div class="control-group">
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Client AR Field : Label -->
                                                            <label class="control-label"
                                                                   data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_CLIENTAR.show"
                                                                   for="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_CLIENTAR.name}}">
                                                                {{Reporting.report_parameters.base_components.REPORT_PARAMETER_CLIENTAR.input_label}}
                                                            </label>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Client AR Field : Label -->
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Client AR Field : Select Field -->
                                                            <div class="controls">
                                                                <input type="text"
                                                                       id="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_CLIENTAR.name}}"
                                                                       data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_CLIENTAR.show"
                                                                       data-ng-model="Reporting.clientArNode"
                                                                       data-ng-change="Reporting.onClientArChange(this)"
                                                                       parsley-required-field="Reporting.report_parameters.base_components.REPORT_PARAMETER_CLIENTAR.required"
                                                                       title="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_CLIENTAR.input_label}}"
                                                                       select-on-click />
                                                            </div>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Client AR Field : Select Field -->
                                                    </div>
                                                <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Client AR Field-->

                                                <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Task Field-->
                                                    <div class="control-group">
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Task Field : Label-->
                                                            <label class="control-label"
                                                                   data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_TASK.show"
                                                                   for="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_TASK.name}}">
                                                                {{Reporting.report_parameters.base_components.REPORT_PARAMETER_TASK.input_label}}
                                                            </label>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Task Field : Label-->
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Task Field : Select Field-->
                                                            <div class="controls">
                                                                <input type="text"
                                                                       id="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_TASK.name}}"
                                                                       data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_TASK.show"
                                                                       data-ng-model="Reporting.taskNode"
                                                                       data-ng-change="Reporting.onTaskChange(this)"
                                                                       parsley-required-field="Reporting.report_parameters.base_components.REPORT_PARAMETER_TASK.required"
                                                                       title="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_TASK.input_label}}"
                                                                       select-on-click />
                                                            </div>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Task Field : Select Field-->
                                                    </div>
                                                <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Task Field-->

                                                <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Supervisor Field-->
                                                     <div class="control-group">
                                                         <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Supervisor Field : Label-->
                                                            <label
                                                                   class="control-label"
                                                                   data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_SUPERVISOR.show"
                                                                   for="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_SUPERVISOR.name}}">
                                                                {{Reporting.report_parameters.base_components.REPORT_PARAMETER_SUPERVISOR.select_label}}
                                                            </label>
                                                         <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Supervisor Field : Label-->
                                                         <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Supervisor Field : Select Field-->
                                                             <div class="controls">
                                                                <select id="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_SUPERVISOR.name}}"
                                                                        name="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_SUPERVISOR.name}}"
                                                                        data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_SUPERVISOR.show"
                                                                        data-ng-model="Reporting.supervisorNode"
                                                                        data-ng-change="Reporting.selectSupervisorChange(this)"
                                                                        data-ng-options="c.value for c in Reporting.supervisors_list"
                                                                        parsley-required-field="Reporting.report_parameters.base_components.REPORT_PARAMETER_SUPERVISOR.required"
                                                                        title="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_SUPERVISOR.select_label}}">
                                                                        <option value="" selected></option>
                                                                </select>
                                                            </div>
                                                         <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Supervisor Field : Select field-->
                                                     </div>
                                                <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Supervisor Field-->

                                                <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Department Field-->
                                                    <div class="control-group">
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Department Field : Label-->
                                                            <label
                                                                   class="control-label"
                                                                   data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_DEPARTMENT.show"
                                                                   for="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_DEPARTMENT.name}}">
                                                                {{Reporting.report_parameters.base_components.REPORT_PARAMETER_DEPARTMENT.select_label}}
                                                            </label>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Department Field : Label-->
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Department Field : Select Field-->
                                                            <div class="controls">
                                                                <select id="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_DEPARTMENT.name}}"
                                                                        name="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_DEPARTMENT.name}}"
                                                                        data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_DEPARTMENT.show"
                                                                        data-ng-model="Reporting.departmentNode"
                                                                        data-ng-change="Reporting.selectDepartmentChange(this)"
                                                                        parsley-required-field="Reporting.report_parameters.base_components.REPORT_PARAMETER_DEPARTMENT.required"
                                                                        title="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_DEPARTMENT.select_label}}"
                                                                        data-ng-options="c.label for c in Reporting.department_list"
                                                                        >
                                                                    <option value="" selected></option>
                                                                </select>
                                                            </div>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Department Field : Select Field-->
                                                    </div>
                                                <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Department Field-->

                                                <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Exception Field-->
                                                    <div class="control-group">
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Exception Field : Label -->
                                                            <label
                                                                   class="control-label"
                                                                   data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_EXCEPTION.show"
                                                                   for="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_EXCEPTION.name}}">
                                                                {{Reporting.report_parameters.base_components.REPORT_PARAMETER_EXCEPTION.select_label}}
                                                            </label>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Exception Field : Label -->
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Exception Field : Select Field -->
                                                            <div class="controls">
                                                                <select id="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_EXCEPTION.name}}"
                                                                        name="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_EXCEPTION.name}}"
                                                                        data-ng-show="rReporting.eport_parameters.base_components.REPORT_PARAMETER_EXCEPTION.show"
                                                                        data-ng-model="Reporting.exceptionNode"
                                                                        parsley-required-field="Reporting.report_parameters.base_components.REPORT_PARAMETER_EXCEPTION.required"
                                                                        title="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_EXCEPTION.select_label}}"
                                                                        data-ng-options="c.label for c in Reporting.report_parameters.base_components.REPORT_PARAMETER_EXCEPTION.option_components  | filter:{group:reportnameNode.value}"
                                                                        >
                                                                </select>
                                                            </div>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Exception Field : Select Field -->
                                                    </div>
                                                <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Exception Field-->

                                                <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Order Sequence Field-->
                                                    <div class="control-group">
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Order Sequence Field : Label-->
                                                            <label
                                                                   class="control-label"
                                                                   data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_ORDER_SEQUENCE.show"
                                                                   for="REPORT_PARAMETER_ORDER_SEQUENCE">
                                                                {{Reporting.report_parameters.base_components.REPORT_PARAMETER_ORDER_SEQUENCE.select_label}}
                                                            </label>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Order Sequence Field : Label-->
                                                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Order Sequence Field : Select Field-->
                                                            <div class="controls">
                                                                <select id="REPORT_PARAMETER_ORDER_SEQUENCE"
                                                                        name="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_ORDER_SEQUENCE.name}}"
                                                                        data-ng-show="Reporting.report_parameters.base_components.REPORT_PARAMETER_ORDER_SEQUENCE.show"
                                                                        data-ng-model="Reporting.orderSequenceNode"
                                                                        parsley-required-field="Reporting.report_parameters.base_components.REPORT_PARAMETER_ORDER_SEQUENCE.required"
                                                                        title="{{Reporting.report_parameters.base_components.REPORT_PARAMETER_ORDER_SEQUENCE.select_label}}"
                                                                        data-ng-options="c.label for c in Reporting.report_parameters.base_components.REPORT_PARAMETER_ORDER_SEQUENCE.option_components  | filter:{group:reportnameNode.value}"
                                                                        >
                                                                </select>
                                                            </div>
                                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Order Sequence Field : Select Field-->
                                                    </div>
                                                <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column : Order Sequence Field-->

                                             </div>
                                        <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Right Column-->
                                   <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets-->
                                   </div>
                                   <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Submit -->
                                        <div class="row-fluid submit-area">
                                              <div class="form-actions">
                                                    <div class="controls pull-right">
                                                         <input
                                                                 class="btn btn-flat-green"
                                                                 type="submit"
                                                                 data-ng-click=""
                                                                 data-ng-class="Reporting.submit.submit.class"
                                                                 data-ng-model="Reporting.submit"
                                                                 value="{{Reporting.submit_button.base_components.SUBMIT_BUTTON.button_label}}"

                                                                 accesskey="/"
                                                               title="{{Reporting.submit_button.base_components.SUBMIT_BUTTON.button_label}} - Report will open in a new window "/>

                                                    </div>
                                              </div>
                                         </div>
                                   <!-- End : Reporting Form: Fieldsets : Select Parameters : Body : Fieldsets : Submit -->
                            </div>
                        <!-- Begin : Reporting Form: Fieldsets : Select Parameters : Body -->
                         </div>
                    </div>
                <!-- End : Reporting Form: Fieldsets : Select Parameters -->
          </div>
         <!-- End : Reporting Form: Fieldsets-->
      </form>
    <!-- End : Reporting Form -->
</div>


<!-- start: Widgets Area -->
<div id="widgets-area" class="span2  hidden-phone" ng-show="sidePanel.show">
    <span class="ng-include:'includes/message-center.html'"></span>
    <div id="hidden-area" class="hidden"></div>
</div>
<!-- end: Widgets Area -->
<a id="widgets-area-button"
   aria-disabled="{{Reporting.MessageCenter.disabled}}"
   aria-expanded="{{Reporting.MessageCenter.expanded}}"
   aria-label="{{Reporting.MessageCenter.label}}"
   name="{{Reporting.MessageCenter.name}}"
   title="{{Reporting.MessageCenter.title}}"
   aria-controls="{{Reporting.MessageCenter.controls}}"
   class="hidden-tablet hidden-phone open"
   ng-click="toggleSidePanel()"
   tabindex="6"
   data-sandata-display-toggler="Reporting.MessageCenter">
    <em class="fa-icon-reorder"></em>
</a>