<div id="content" ng-class="sidePanel.content_class">
<div class="row-fluid">
    <div class="span8">
        <h1>{{Visits.title}}<small> >> {{Visits.VisitModal.title}}</small></h1>
    </div>
</div>
<hr class="medium">
<form class="form-horizontal" id="visitModalForm" data-validate="parsley"  data-ng-submit="Visits.submitAction('.form-horizontal')" novalidate >

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header">
            <h2>{{Visits.VisitModal.title}}</h2>
            <div class="box-icon">
                <a href="#"
                   title="Show or hide Reasons Section"
                   sandata-toggle-show-hide="ReasonsContentBox"
                   show-class="fa-icon-chevron-up"
                   hide-class="fa-icon-chevron-down"
                   ada-label="Click to hide visit form"
                   title="{{ReasonsContentBox.adaLabel}}"
                   name="{{ReasonsContentBox.adaLabel}}"
                   aria-label="{{ReasonsContentBox.adaLabel}}"
                   aria-disabled="false"
                   aria-expanded="{{ReasonsContentBox.show}}"
                   aria-controls="visit-form-area"
                   class="btn-minimize"
                   show="true"
                   ng-click="ReasonsContentBox.toggle()"><em ng-class="ReasonsContentBox.toggleIndicator" ></em></a>
            </div>

        </div>
        <div class="box-content" id="visit-form-area" ng-show="ReasonsContentBox.show">

        <div class="row-fluid">
        <div class="span12">
        <div>
        <ul class="messages-list">


        <!-- Begin: Date Select -->
        <li>
            <div class="row-fluid">
                <div class="control-group span3">
                    <label class="control-label" for="VisitDate">Date:</label> <!-- Missing: Label -->
                    <div class="controls">
                                                                                     <span>
                                                                                        <input placeholder="MM/DD/YYYY"
                                                                                               data-required="true"
                                                                                               data-regexp="{{Visits.REGEXP_FORMATS.date_regex_pattern}}"
                                                                                               data-error-header="Visit Date"
                                                                                               data-error-message="Please enter the 'Date' in the correct format: mm/dd/yyyy"
                                                                                               data-trigger="change"
                                                                                               data-error-container="#hidden-area"
                                                                                               type="text"  id="VisitDate" name="VisitDate" ng-model="Visits.VisitModal.VisitDate" data-sandata-input-text="date" class="input-small" data-ng-readonly="Visits.VisitModal.formDateDisabled"   data-date-type="string" aria-label="Visit Date"/>

                                                                                     </span>

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="overnight" style="margin-left: 30px;">Overnight:</label>
                    <div class="controls" style="margin-top:7px;">
                        <input accesskey="i" name="overnight" id="overnight" adalabel=""  role="checkbox" type="checkbox" data-sandata-override-checkbox adalabel="" is-readonly="{{Visits.VisitModal.formDisabled}}" data-click="Visits.toggleCheckboxModel('overnight')"           data-sandata-model="Visits.VisitModal.overnight"      is-checked="{{Visits.VisitModal.overnight}}"   color="#555">
                    </div>
                </div>
            </div>
        </li>
        <!-- End: Date Select -->

        <!-- Begin: Client/Employee/Service Selects -->
        <li>
            <div class="row-fluid">
                <div class="row-fluid">
                    <!-- Begin: Select Client -->
                    <div class="control-group span3" data-ng-show="Visits.VisitModal.clients.show">
                        <label class="control-label" id="modalClientSelect" for="addVisitClient">{{Visits.VisitModal.clients.select_label}}:</label>
                        <div class="controls">
                            <select id="addVisitClient"
                                    name="addVisitClient"
                                    data-ng-readonly="Visits.VisitModal.formDisabled"
                                    aria-labelledby="modalClientSelect"
                                    sandata-select-lazy-loader
                                    ng-model="Visits.VisitModal.addVisitClient"
                                    load="Visits.VisitModal.clients.option_components"
                                    option-value="value"
                                    option-label="label"

                                    >
                            </select>

                        </div>
                    </div>
                    <!-- End: Select Client -->

                    <!-- Begin: Select Employee -->
                    <div class="control-group span3" data-ng-show="Visits.VisitModal.employees.show">
                        <label class="control-label" id="modalEmployeeSelect" for="addVisitEmployee">{{Visits.VisitModal.employees.select_label}}:</label>
                        <div class="controls">
                            <select id="addVisitEmployee"
                                    name="addVisitEmployee"
                                    data-ng-readonly="Visits.VisitModal.formDisabled"
                                    aria-labelledby="modalEmployeeSelect"
                                    sandata-select-lazy-loader
                                    ng-model="Visits.VisitModal.addVisitEmployee"
                                    load="Visits.VisitModal.employees.option_components"
                                    option-value="value"
                                    option-label="label"

                                    >
                            </select>

                        </div>
                    </div>
                    <!-- End: Select Employee -->

                    <!-- Begin: Select Service -->
                    <div class="control-group span3" data-ng-show="Visits.VisitModal.services.show">
                        <label class="control-label" id="modalServicesSelect" for="addVisitService">{{Visits.VisitModal.services.select_label}}:</label>
                        <div class="controls">
                            <select id="addVisitService"
                                    name="addVisitService"
                                    data-ng-readonly="Visits.VisitModal.formDisabled"
                                    aria-labelledby="modalServicesSelect"
                                    sandata-select-lazy-loader
                                    ng-model="Visits.VisitModal.addVisitService"
                                    load="Visits.VisitModal.services.option_components"
                                    option-value="value"
                                    option-label="label">
                            </select>
                        </div>
                    </div>
                    <!-- End: Select Service -->
                </div>
            </div>
        </li>
        <!-- End: Client/Employee/Service Selects -->

        <!--Begin: EVV / ADJ -->
        <li>
            <div class="row-fluid">


                    <!-- Begin: EVV In --><div class="control-group span2" >
                    <div class="controls time-text-alignment" style="padding-top: 5px;">
                        &nbsp;EVV In: <span >&nbsp; </span>{{Visits.VisitModal.EVVIn}} <!-- Missing: Label-->
                    </div>
                </div>
                    <!-- End: EVV In -->

                    <!-- Begin: EVV Out -->
                    <div class="control-group span2">
                        <div class="controls time-text-alignment"  style="padding-top: 5px;">
                            &nbsp;EVV Out: <span >&nbsp; </span>{{Visits.VisitModal.EVVOut}}<!-- Missing: Label-->
                        </div>
                    </div>
                    <!-- End: EVV Out -->

                    <!-- Begin: EVV Hours -->
                    <div class="control-group span2" style="
    width: 10%;
">
                        <div class="controls time-text-alignment" style="margin-left: 50px;">
                            <div style="float: left;width: 140px;padding-top: 5px;text-align: right;margin-left:-160px;">
                                EVV Hours:
                            </div>
                            <div style="float:left;line-height: 30px;">
                                {{Visits.formatTime({
                                format:"decimal",
                                time_in:Visits.VisitModal.EVVIn,
                                time_out:Visits.VisitModal.EVVOut,
                                difference:true,
                                differenceOpts:{_24_hours:true,VisitDate:VisitDate}
                                })
                                }}<!-- Missing: Label-->
                            </div>
                        </div>
                    </div>
                    <!-- End: EVV Hours -->

                    <!-- Begin: ADJ In Hours -->
                    <div class="control-group span2">
                        <label  id="modalAdjIn" for="VisitADJIn" >ADJ In:</label><!-- Missing: Label-->
                        <div class="controls ">
                                                                                                           <span>
                                                                                                                <input  placeholder="HH:MM (AM|PM)"
                                                                                                                        data-required="true"
                                                                                                                        data-regexp="{{Visits.time_regex}}"
                                                                                                                        data-error-header="ADJ In"
                                                                                                                        data-error-message="{{Visits.time_format_message_adjin}}"
                                                                                                                        data-error-container="#hidden-area"
                                                                                                                        data-trigger="change"
                                                                                                                        disable-in-cell-tabbing="true"
                                                                                                                        value="Visits.VisitModal.VisitADJIn"
                                                                                                                        aria-labelledby="modalAdjIn"
                                                                                                                        data-ng-readonly="Visits.VisitModal.formDisabled"
                                                                                                                        type="text" id="VisitADJIn"
                                                                                                                        name="VisitADJIn"
                                                                                                                        data-ng-model="Visits.VisitModal.VisitADJIn"
                                                                                                                        data-sandata-input-text="time"
                                                                                                                        data-minute-step="1"
                                                                                                                        class="input-small"
                                                                                                                        data-military-time="{{Visits.time_format.display_value}}"
                                                                                                                        title="ADJ In  : {{Visits.time_format_message_adjin}}"
                                                                                                                        aria-label="ADJ In  :{{Visits.time_format_message_adjin}}"/><!-- Missing: Label-->
                                                                                                                </span>

                        </div>
                    </div>
                    <!-- End: ADJ In Hours -->

                    <!-- Begin: ADJ Out Hours -->
                    <div class="control-group span2">
                        <label id="modalAdjOut" for="VisitADJOut">ADJ Out:</label><!-- Missing: Label-->
                        <div class="controls">
                                                                                                            <span>
                                                                                                                <input  placeholder="HH:MM (AM|PM)"
                                                                                                                        data-required="true"
                                                                                                                        data-regexp="{{Visits.time_regex}}"
                                                                                                                        data-error-header="ADJ Out"
                                                                                                                        data-error-message="{{Visits.time_format_message_adjout}}"
                                                                                                                        data-error-container="#hidden-area"
                                                                                                                        data-trigger="change"
                                                                                                                        disable-in-cell-tabbing="true"
                                                                                                                        value="Visits.VisitModal.VisitADJOut"
                                                                                                                        aria-labelledby="modalAdjOut"
                                                                                                                        data-ng-readonly="Visits.VisitModal.formDisabled"
                                                                                                                        type="text"
                                                                                                                        id="VisitADJOut"
                                                                                                                        name="VisitADJOut"
                                                                                                                        data-ng-model="Visits.VisitModal.VisitADJOut"
                                                                                                                        data-sandata-input-text="time"
                                                                                                                        data-minute-step="1"
                                                                                                                        class="input-small"
                                                                                                                        data-military-time="{{Visits.time_format.display_value}}"
                                                                                                                        title="ADJ Out  : {{Visits.time_format_message_adjout}}"
                                                                                                                        aria-label="ADJ Out  : {{Visits.time_format_message_adjout}}"/><!-- Missing: Label-->
                                                                                                               </span>
                        </div>
                    </div>
                    <!-- End: ADJ Out Hours -->

                    <!-- Begin: ADJ Hours -->
                    <div class="control-group span2">
                        <div class="controls time-text-alignment"><!-- Missing: Label-->
                            <div style="float: left;padding-top: 5px;">
                                ADJ Hours:
                            </div>
                            &nbsp;&nbsp;
                            <div style="float:left;line-height: 30px;margin-left: 15px;" class="ng-binding">
                                {{Visits.formatTime({
                                                        format:"decimal",
                                                        time_in:Visits.VisitModal.VisitADJIn,
                                                        time_out:Visits.VisitModal.VisitADJOut,
                                                        difference:true,
                                                        differenceOpts:{_24_hours:true,VisitDate:Visits.VisitDate}
                                                        })
                                }}
                            </div>
                        </div>
                    <!-- End: ADJ Out Hours -->
                </div>

            </div>

        </li>
        <!--End: EVV / ADJ -->

        <!-- Begin: Visit  Notes Textarea -->
        <li>
            <label class="control-label" id="modalVisitNotes" for="VisitNotes">Visit Notes:</label>
            <textarea aria-describedby="visitNotesCounter" style="margin-left: 25px; resize: none;" data-ng-maxlength="512"  aria-labelledby="modalVisitNotes" class="span10" data-ng-readonly="Visits.VisitModal.formDisabled"  id="VisitNotes" name="VisitNotes" data-ng-model="Visits.VisitModal.VisitNotes" maxlength="512" data-minlength="1" data-ng-bind="Visits.VisitModal.VisitNotes"  > </textarea>
            <br/>
            <div id="visitNotesCounter" aria-live="assertive" aria-label="characters left in visit notes text field" class="span1 offset10" >{{512 - Visits.VisitModal.VisitNotes.length}} <span class="hideText">characters left in Visit Notes text field</span></div>
            <br/>

        </li>
        <!-- End: Visit  Notes Textarea -->

        <!-- Begin: Select Reason Code -->
        <li>
            <div class="control-group" data-ng-show="Visits.VisitModal.reasons.show">
                <label id="modalReasonCodes" for="selectReasonCode" class="control-label" style=" width:90px;text-align: left;">Reasons:</label>
                <div class="controls">
                    <select        data-sandata-no-options
                                   data-required="true"
                                   data-regexp="^([\d]*[0-9]+[\d]*)$"
                                   data-error-message="Select a reason code"
                                   data-error-header="Reasons Code"
                                   class="span10"
                                   data-error-container="#hidden-area"
                                   aria-labelledby="modalReasonCodes"
                                   data-ng-readonly="Visits.VisitModal.formDisabled"
                                   id="selectReasonCode"
                                   data-ng-model="Visits.VisitModal.addVisitReasonsModel"
                                   data-ng-options="reason.label for reason in Visits.VisitModal.reasons.option_components"  >

                    </select>
                </div>
            </div>
        </li>
        <!-- End: Select Reason Code -->

        <!-- Begin: Change Reason Textarea & Reason History -->
        <li>
            <label  class="control-label"  style="width:65px;" id="modalChangeResons"  for="ReasonExplanation">Change {{Visits.VisitModal.reasons.reasons_codes_label}}:</label><!-- Missing: Label-->
            <textarea aria-describedby="changeCounter" class="span10" style="margin-left: 25px;  resize: none;" data-ng-maxlength="512"  aria-labelledby="modalChangeResons" class="span7" data-ng-readonly="Visits.VisitModal.formDisabled" id="ReasonExplanation" data-ng-model="Visits.VisitModal.changeReasonsModel" maxlength="512" data-minlength="1"  ></textarea>
            <br/>
            <div id="changeCounter" aria-live="assertive" aria-label="characters left in change text field" class="span1 offset10" >{{512 - Visits.VisitModal.changeReasonsModel.length}} <span class="hideText">characters left in Change {{Visits.VisitModal.reasons.reasons_codes_label}} text field</span></div>
            <br/>

        </li>
            <!-- Begin: Reason History -->
              <span  ng-switch on="Visits.VisitModal.mode">
                        <span ng-switch-when="add"></span>
                        <span ng-switch-default >
                              <li>
                            <div class="visit-accordian-wrapper" >
                                <div accordion close-others="oneAtATime">
                                    <div   accordion-group ada-label="Show Reasons History" ada-controls="reasons-history-list" heading="View Reasons ({{Visits.VisitModal.changeReasonsList.length}})">
                                        <ol>
                                            <li class="visit-reason-list-item" data-ng-repeat="reason in Visits.VisitModal.changeReasonsList"><strong>Reason Code</strong>&nbsp;&nbsp;({{reason.code}}):&nbsp;&nbsp;{{reason.reason_code_date}}&nbsp;&nbsp;{{reason.reason_code_time}}<br/>{{reason.description}}</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                              </li>
                        </span>
                 </span>
            <!-- End: Reason History -->

        <!-- End: Change Reason Textarea & Reason History-->

        </ul>

        </div>
        </div>

        </div>

            <!--Begin: Switch to show and hide save,cancel,close and update buttons-->
            <div class="row-fluid submit-area">
                <div class="form-actions">
                    <div class="controls pull-right">
                                               <span ng-switch on="Visits.VisitModal.formDisabled">
                                                <!--
                                                        IF DIABLED FALSE THEN THIS
                                                -->
                                             <span ng-switch-when="false" >
                                                         <!--
                                                                IS THISE AN ADD VISIT OR EDIT VISIT FORM
                                                         -->
                                                         <span  ng-switch on="Visits.VisitModal.mode">
                                                                      <!--
                                                                        IF IS ADD VISIT FORM
                                                                    -->
                                                                <span ng-switch-when="add" >
                                                                    <button  class="btn btn-information btn-flat-green"  type="submit" data-ng-disabled="Visits.diabledSubmits"    title="Save" aria-label="Save"> <em class="fa-icon-ok"></em> Save</button><!-- Missing: Label -->
                                                                    <button   class="btn btn-information closeVisit btn-flat-green" data-ng-click="Visits.closeVisitModal()"   data-ng-disabled="Visits.diabledSubmits" title="Cancel"  aria-label="Cancel" ><em class="fa-icon-remove"></em>  Cancel</button><!-- Missing: Label -->
                                                                </span>
                                                                    <!--
                                                                        IF IS EDIT VISIT FORM
                                                                    -->
                                                                <span ng-switch-when="edit" >
                                                                    <button   class="btn btn-information btn-flat-green" type="submit"  data-ng-disabled="Visits.diabledSubmits"    title="Update" aria-label="Update"> <em class="fa-icon-ok"></em> Update</button><!-- Missing: Label -->
                                                                    <button   class="btn btn-information closeVisit btn-flat-green" data-ng-click="Visits.closeVisitModal()"    data-ng-disabled="Visits.diabledSubmits" title="Cancel" aria-label="Cancel" ><em class="fa-icon-remove"></em> Cancel</button><!-- Missing: Label -->
                                                                </span>
                                                        </span>

                                            </span>
                                                <!--
                                                        IF DISABLES TRUE THEN THIS
                                                 -->
                                            <span ng-switch-when="true">
                                                <button class="btn btn-information closeVisit btn-flat-green"  data-ng-click="Visits.closeVisitModal()" data-ng-disabled="Visits.diabledSubmits"  title="Close" aria-label="Close" ><em class="fa-icon-remove"></em> Close</button><!-- Missing: Label -->
                                            </span>
                                        </span>
                    </div>
                </div>
            </div>
            <!--End: Switch to show and hide save,cancel,close and update buttons-->
        </div>
    </div>
</div>

<!--End: Add/Edit Visit Modal Form -->
</form>
</div>


<!-- start: Widgets Area -->
<div id="widgets-area" class="span2 hidden-phone" ng-show="sidePanel.show">
    <span class="ng-include:'includes/message-center.html'"></span>
</div>
<!-- end: Widgets Area -->
<a id="widgets-area-button"
   aria-disabled="{{Visits.MessageCenter.disabled}}"
   aria-expanded="{{Visits.MessageCenter.expanded}}"
   aria-label="{{Visits.MessageCenter.label}}"
   name="{{Visits.MessageCenter.name}}"
   title="{{Visits.MessageCenter.title}}"
   aria-controls="{{Visits.MessageCenter.controls}}"
   class="hidden-tablet hidden-phone open"
   ng-click="toggleSidePanel()"
   tabindex="6"
   data-sandata-display-toggler="Visits.MessageCenter">
    <em class="fa-icon-reorder"></em>
</a>
<!--span load-lazy-loading-selects="client,employee" delay="1000" seperate-by ="4000" ></span-->