<div id="content" ng-class="sidePanel.content_class">
    <div class="row-fluid">
        <div class="span8">
               <h1>{{title}}</h1>
            </div>
        </div>
    <hr class="medium">

            <!-- Begin: Top Filters Area -->
            <span class="ng-include:'includes/visits/top-panel/filters.html'"></span>
            <!-- End: Top Filters Area -->


            <!-- Begin: Visits Grid -->
              <span class="ng-include:'includes/visits/body/grid.html'"></span>
            <!-- End: Visits Grid -->

            <!--Begin: Ignore Visit Confirmation Visit Modal -->
                <span class="ng-include:'includes/visits/modals/ignore_visit_confirmation.html'"></span>
            <!--End: Ignore Visit Confirmation Visit Modal -->

            <!--Begin: Approve Visit Confirmation Visit Modal -->
                <span class="ng-include:'includes/visits/modals/approved_visits.html'"></span>
            <!--End: Approve Visit  Confirmation Visit Modal -->




</div>


<!-- Begin: Filter-->
<span class="ng-include:'includes/visits/side-panel/filter.html'" ng-show="sidePanel.show"></span>
<!-- End: Filter-->
<a id="widgets-area-button"
   aria-disabled="{{Visits.MessageCenter.disabled}}"
   aria-expanded="{{Visits.MessageCenter.expanded}}"
   aria-label="{{Visits.MessageCenter.label}}"
   name="{{Visits.MessageCenter.name}}"
   title="{{Visits.MessageCenter.title}}"
   aria-controls="{{Visits.MessageCenter.controls}}"
   class="hidden-tablet hidden-phone open"
   ng-click="toggleSidePanel()"
   tabindex="6"
   data-sandata-display-toggler="Visits.MessageCenter">
    <em class="fa-icon-reorder"></em>
</a>
        <!--span load-lazy-loading-selects="client,employee" delay="1000" seperate-by ="4000" ></span-->