<div class="accordion-group">
  <div class="accordion-heading" transclude="heading,adaControls,adaLabel"><a href="#" class="accordion-toggle" ng-click="isOpen = !isOpen" tabindex="0" aria-expanded="{{isOpen}}"
                                     aria-label="{{adaLabel}}"
                                     name="{{adaLabel}}"
                                     title="{{adaLabel}}"
                                     aria-controls="{{adaControls}}"
                                     accordion-transclude="heading,adaControls,adaLabel">{{heading}}</a></div>
  <div class="accordion-body" collapse="!isOpen" id="{{adaControls}}">
    <div class="accordion-inner" ng-transclude></div>  </div>
</div>