<div class="pager" data-role="navigation" title="Pagination">
  <ul>
    <li ng-repeat="page in pages" ng-class="{disabled: page.disabled, previous: page.previous, next: page.next}"><a ng-click="selectPage(page.number)"  tabindex="0" title="{{page.text}}">{{page.text}}</a></li>
  </ul>
</div>
