<div class="pagination"  data-role="navigation" title="Pagination"><ul>
  <li ng-repeat="page in pages" ng-class="{active: page.active, disabled: page.disabled}">

          <a ng-if="!page.active" id="pagination_{{page.text}}" href="#" ng-click="selectPage(page.number)" tabindex="0" title="Page {{page.text}}" sandata-on-keydown="selectPage(page.number)" key-type="return" prevent-default="true">
              {{page.text}}
          </a>
          <a ng-if="page.active" id="pagination_{{page.text}}"  href="#"  ng-click="selectPage(page.number)" tabindex="0" title="Page {{page.text}} : Current Active Page" sandata-on-keydown="selectPage(page.number)" key-type="return" prevent-default="true">
              {{page.text}}
              <span> : Active </span>
          </a>

  </li>
  </ul>
</div>
