
    <div class="clearfix"></div>
<h2 class="invisible">Footer</h2>
    <span sandata-skip content="Go to top of main content" index="0"  element="h1"></span>
		<footer class="container">

			<small class="pull-right">Santrax &copy; Portal 1.2.0.0 operates under U.S. Patent Nos. 5,835,575 and 5,949,856, which are owned by Sandata Technologies, LLC
Copyright &copy;{{current_unix_date | date:'yyyy'}} Sandata Technologies, LLC.  All rights reserved.
</small>
            <div class="custSupportNumber"><small>{{custSupportNumberLabel}}: {{custSupportNumber}}</small></div>
		</footer>
