<span sandata-skip content="skip navigation and go to main content" index="1" element="h1"></span>
<h2 class="invisible">Account Menu</h2>
		<!-- start: Header -->
	<div class="navbar"  role="navigation">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse"  data-sandata-click-on-enter  accesskey="[" title="Show / Hide Main Navigation" aria-label="Show / Hide Main Navigation" >
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#/"   accesskey="0" title="Home" aria-label="Home" tabindex="3"><span>Sandata</span></a>
								
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
                    
					<ul class="nav pull-right"  role="menubar">
						<!-- start: User Dropdown -->
						<li class="dropdown"role="menuitem" aria-haspopup="true">
							<a class="btn dropdown-toggle" tabindex="4" data-toggle="dropdown" href="#"   accesskey="-"  name="{{Header.displayed_name}} Profile" title="{{Header.displayed_name}} Profile" aria-label="{{Header.displayed_name}} Profile">
								<em class="fa-icon-user"  ></em> {{Header.displayed_name}}
								<span class="fa-caret-down" ></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li role="menuitem"><a href="{{Header.base_url}}"   ><em class="fa-icon-off" accesskey="="  name="Logout" title="Logout" aria-label="Logout"></em> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
<a id="main-menu-toggle" class="hidden-phone open" accesskey="]" role="button" tabindex="2" data-sandata-click-on-enter
   href="#"
   aria-disabled="{{Header.leftNavToggler.aria.disabled}}"
   aria-expanded="{{Header.leftNavToggler.aria.expanded}}"
   aria-controls="{{Header.leftNavToggler.aria.controls}}"
   title="Click to Hide Main Navigation"
   name="Hide Main Navigation"
   aria-label="Click to Hide Main Navigation"
   data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse"
   data-focus-on="#sidebar-left div ul li:first-child a"
   data-sandata-display-toggler
   data-ng-click="Header.ToggleLeftNav()"><em class="fa-icon-reorder"></em></a>

	<!-- start: Header -->