<h2 class="invisible">Main Menu</h2>
            <span sandata-skip content="skip navigation and go to main content" index="0" element="h1"></span>
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span1" data-ng-show="MainMenu.menuShow">
				<div class="nav-collapse sidebar-nav" sandata-navbar role="navigation">
					<ul class="nav nav-tabs nav-stacked main-menu" role="menu">
						<li data-match-route="/dashboard"><a data-ng-click="navClick()" accesskey="1" role="menuitem"  href="#/dashboard"   aria-label="Dashboard" title="Dashboard"><em class="fa-icon-bar-chart"></em><span class="hidden-tablet"> Dashboard</span></a></li>
                        <li data-match-route="/visits(\/?(.*)?)"><a data-ng-click="navClick()" accesskey="2" role="menuitem" href="#/visits"   aria-label="Visits" title="Visits"><em class="fa-icon-time"></em><span class="hidden-tablet"> Visits</span></a></li>
                        <li data-match-route="/reporting"><a data-ng-click="navClick()" accesskey="3" role="menuitem" href="#/reporting"   aria-label="Reporting" title="Reporting"><em class="fa-icon-file"></em><span class="hidden-tablet"> Reporting</span></a></li>
					</ul>
				</div>
			</div>	
			<!-- end: Main Menu -->
