<span ng-if="messageCenter.length == undefined">

       <div  class="alert alert-info">

           <div class="row-fluid">
               <div class="span2">
                   <i class="fa-icon-info-sign fa-2"></i>
               </div>
               <div class="span8 ng-binding">
                   <h4 class="alert-title">No Messages</h4>
               </div>
           </div>

       </div>

   </span>
<span ng-if="messageCenter.length == 0">

       <div  class="alert alert-info">

           <div class="row-fluid">
               <div class="span2">
                   <i class="fa-icon-info-sign fa-2"></i>
               </div>
               <div class="span8 ng-binding">
                   <h4 class="alert-title">No Messages</h4>
               </div>
           </div>

       </div>

</span>
<span ng-if="messageCenter.length > 0">
       <span ng-repeat="message in messageCenter">
        <span ng-switch on="message.type">

                <div ng-switch-when="approved" ng-class="message.alert">

                    <button type="button" class="close" data-dismiss="alert"  data-ng-click="removeAlert($index)" name="Close {{message.header}} Alert" title="{{message.header}}. Click to close alert" aria-label=" {{message.header}}. Click to close alert">&times;</button>
                    <div class="row-fluid">
                        <div class="span2">
                            <i class="fa-icon-ok-circle fa-2"></i>
                        </div>
                        <div class="span8">

                            <h4 class="alert-title">{{message.header}}</h4>
                            <br/>{{message.text}}
                        </div>
                    </div>


                </div>
                <div ng-switch-when="error" ng-class="message.alert">
                    <button type="button" class="close" data-dismiss="alert"  data-ng-click="removeAlert($index)" name="Close {{message.header}} Alert" title="{{message.header}}. Click to close alert"   aria-label="{{message.header}}. Click to close alert">&times;</button>
                    <div class="row-fluid">
                        <div class="span2">
                            <i class="fa-icon-warning-sign fa-2"></i>
                        </div>
                        <div class="span8">

                            <h4 class="alert-title">{{message.header}}</h4>
                            <br/>{{message.text}}
                        </div>
                    </div>



                </div>
                <div ng-switch-when="info" ng-class="message.alert">

                    <button type="button" class="close" data-dismiss="alert"  data-ng-click="removeAlert($index)" name="Close {{message.header}} Alert" title="{{message.header}}. Click to close alert"    aria-label="{{message.header}}. Click to close alert">&times;</button>
                    <div class="row-fluid">
                        <div class="span2">
                            <i class="fa-icon-info-sign fa-2"></i>
                        </div>
                        <div class="span8">

                            <h4 class="alert-title">{{message.header}}</h4>
                            <br/>{{message.text}}
                        </div>
                    </div>

                </div>
            <div ng-switch-when="added" ng-class="message.alert">

                <button type="button" class="close" data-dismiss="alert"  data-ng-click="removeAlert($index)" name="Close {{message.header}} Alert" title="{{message.header}}. Click to close alert"    aria-label="{{message.header}}. Click to close alert">&times;</button>
                <div class="row-fluid">
                    <div class="span2">
                        <i class="fa-icon-ok-circle fa-2"></i>
                    </div>
                    <div class="span8">

                        <h4 class="alert-title">{{message.header}}</h4>
                        <br/>{{message.text}}
                    </div>
                </div>

            </div>

        </span>
    </span>
</span>
<span sandata-skip content="Click to go back to main content" index="0" element="h1"></span>