<div  id="page-tabs" class="row-fluid" >
                    <div class="span12">
                        <div class="tab-fixed-navbar"></div>
                        <ul>
                          <li class="span2">
                            <a href="#" class="active">
                              <img src="style/img/calendar.gif" alt="Daily Reports" />
                                <div class="tab-link-title"style="text-align: center;margin-top: 10px;">Daily Reports</div>
                            </a>
                          </li>
                            <li class="span2">
                            <a href="#">
                              <img src="style/img/calendar-month.gif" alt="Daily Reports" />
                                <div class="tab-link-title"style="text-align: center;margin-top: 10px;">Date Range</div>
                            </a>
                          </li>
                            <li class="span2">
                            <a href="#">
                              <img src="style/img/lightbulb.gif" alt="Daily Reports" />
                                <div class="tab-link-title"style="text-align: center;margin-top: 10px;">Business Intelligence</div>
                            </a>
                          </li>
                            <li class="span2">
                            <a href="#">
                              <img src="style/img/person.gif" alt="Daily Reports" />
                                <div class="tab-link-title"style="text-align: center;margin-top: 10px;">Power User</div>
                            </a>
                          </li>
                          
                        </ul>
                        
                    </div>
                
                </div>