.km-switch input[type=checkbox] {
  display: none;
}
.km-switch,
.km-checkbox {
  text-align: left;
  font-size: 1rem;
  display: inline-block;
  width: 6.4rem;
  height: 2rem;
  line-height: 2rem;
  position: relative;
  overflow: hidden;
}
.km-switch-wrapper,
.km-slider-wrapper {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.km-switch-background,
.km-slider-background {
  display: block;
  margin: 0 1px 1px -5em;
  height: 100%;
  width: 200%;
}
.km-switch-container {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-checkbox {
  width: 1.8rem;
  height: 1.8rem;
}
.km-checkbox-checked:after {
  content: "\a0";
  display: block;
  width: 100%;
  height: 100%;
}
.km-switch-handle {
  top: 0;
  left: 0;
  width: 2.72em;
  height: 100%;
  display: inline-block;
  margin: -1px 0 0 -1px;
  background-color: #000;
}
.km-switch-label-on,
.km-switch-label-off {
  display: block;
  width: 130%;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
}
.km-switch-label-off {
  left: 104%;
}
.km-switch-label-on {
  left: -134%;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.km-list .km-switch {
  position: absolute;
  top: 50%;
  right: .8rem;
  margin-top: -1rem;
}
/* Common Platform CSS */
@-ms-viewport {
  width: device-width;
  user-zoom: fixed;
  max-zoom: 1;
  min-zoom: 1;
}
@media (orientation: landscape) {
  .km-tablet .km-on-ios.km-horizontal.km-web:not(.km-ios-chrome) {
    position: fixed;
    bottom: 0;
  }
}
.km-root {
  font-size: .92em;
}
.km-root a {
  color: inherit;
}
.km-tablet {
  font-size: 1em;
}
.km-root *:focus {
  outline-width: 0;
}
.km-root,
.km-pane,
.km-pane-wrapper {
  width: 100%;
  height: 100%;
  -ms-touch-action: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  overflow-x: hidden;
}
.km-pane-wrapper {
  position: absolute;
}
.km-pane,
.km-shim {
  font-family: sans-serif;
}
.km-pane {
  overflow-x: hidden;
  position: relative;
}
.km-vertical .km-collapsible-pane {
  position: absolute;
  z-index: 2 !important;
  -webkit-transition: -webkit-transform 350ms ease-out;
  -ms-transition: -ms-transform 350ms ease-out;
  -webkit-transform: translatex(-100%);
  -moz-transform: translatex(-100%);
  -ms-transform: translatex(-100%);
  -o-transform: translatex(-100%);
  transform: translatex(-100%);
}
.km-vertical .km-expanded-splitview .km-collapsible-pane {
  -webkit-transform: translatex(0);
  -moz-transform: translatex(0);
  -ms-transform: translatex(0);
  -o-transform: translatex(0);
  transform: translatex(0);
}
.km-expanded-pane-shim {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.km-expanded-splitview .km-expanded-pane-shim {
  display: block;
  z-index: 1;
}
.km-root > * {
  margin: 0;
  padding: 0;
}
.km-root * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.km-content {
  display: block;
}
.km-view,
.km-split-content {
  top: 0;
  left: 0;
  position: absolute;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  vertical-align: top;
}
.k-ff .km-view,
.k-ff .km-pane {
  overflow: hidden;
}
.k-ff18 .km-view,
.k-ff18 .km-pane,
.k-ff19 .km-view,
.k-ff19 .km-pane,
.k-ff20 .km-view,
.k-ff20 .km-pane,
.k-ff21 .km-view,
.k-ff21 .km-pane {
  position: relative;
}
.k-ff .km-view {
  display: -moz-inline-box;
  display: inline-flex;
}
.km-content {
  min-height: 1px;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  flex-align: stretch;
  width: auto;
  overflow: hidden;
  position: relative;
}
.km-content p,
.km-content h1,
.km-content h2,
.km-content h3,
.km-content h4,
.km-content h5,
.km-content h6 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.km-header,
.km-footer {
  display: block;
  display: -moz-box;
  -moz-box-orient: vertical;
  width: 100%;
}
.km-header {
  padding: 0;
}
.km-footer {
  background: #1a1a1a;
}
[data-role="layout"] {
  display: none;
}
[data-role="view"],
[data-role="drawer"] {
  visibility: hidden;
}
.km-view {
  visibility: visible;
}
.km-header,
.km-footer {
  position: relative;
  z-index: 1;
}
@media all and (-webkit-min-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0) {
  .km-view {
    display: table;
  }
  .km-header,
  .km-footer,
  .km-content {
    display: table-row;
  }
  .km-header,
  .km-footer {
    height: 1px;
  }
}
.km-root .k-toolbar,
.km-navbar,
.km-button,
.km-buttongroup,
.km-tabstrip,
.km-blackberry li.km-actionsheet-cancel > a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-origin: border-box;
  position: relative;
  display: inline-block;
  padding: .4em .7em;
  margin: .1rem;
  overflow: visible;
  text-decoration: none;
}
.km-tabstrip,
.km-root .k-toolbar,
.km-navbar {
  display: block;
  padding: .8em;
  margin: 0;
  width: 100%;
  border-width: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-native-scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: pan-x pan-y;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-scroll-snap-type: proximity;
}
.km-default-content {
  padding: 1em;
}
.km-shim {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10001;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-root .km-shim {
  position: absolute;
}
.km-shim:before {
  content: "\a0";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.km-shim .k-animation-container {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
  width: auto;
}
/* Loader */
.km-loader {
  top: 50%;
  left: 50%;
  width: 180px;
  height: 130px;
  z-index: 100000;
  padding: 30px 30px;
  position: absolute;
  margin-top: -70px;
  margin-left: -90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}
.km-loader h1 {
  font-size: 1rem;
  color: white;
  text-align: center;
  vertical-align: middle;
}
.km-loader .km-loading,
.km-load-more .km-icon,
.km-scroller-refresh .km-icon {
  animation: km-spin 1s infinite linear;
  -moz-animation: km-spin 1s infinite linear;
  -webkit-animation: km-spin 1s infinite linear;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  font-size: 35px;
}
.km-loader .km-loading:after,
.km-load-more .km-icon:after {
  color: #ccc;
}
.km-loading-left,
.km-loading-right {
  display: none;
}
@-webkit-keyframes km-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes km-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes km-spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes km-spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes km-ios-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes km-ios-spin1 {
  from {
    -webkit-transform: rotate(-135deg);
  }
  to {
    -webkit-transform: rotate(225deg);
  }
}
@-moz-keyframes km-ios-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-moz-keyframes km-ios-spin1 {
  from {
    -moz-transform: rotate(-135deg);
  }
  to {
    -moz-transform: rotate(225deg);
  }
}
@keyframes km-ios-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes km-ios-spin1 {
  from {
    transform: rotate(-135deg);
  }
  to {
    transform: rotate(225deg);
  }
}
/* Stretched View */
.km-stretched-view {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.km-stretched-view > * {
  width: 100%;
}
.km-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 100000;
}
.km-root.km-native-scrolling,
.km-root.km-native-scrolling .km-view,
.km-root.km-native-scrolling .km-splitview .km-pane {
  min-height: 100%;
  height: auto;
  -webkit-transform: none;
  overflow-x: visible;
}
.km-native-scrolling .km-pane,
.km-native-scrolling .km-view {
  -ms-touch-action: auto;
  display: block;
}
.km-native-scrolling .km-content {
  -ms-flex: auto;
}
.km-native-scrolling .km-blackberry .km-content {
  min-height: auto;
}
/* Restore position:absolute during animation */
.km-native-scrolling .km-splitview {
  position: absolute;
}
.km-native-scrolling .km-header {
  position: fixed;
  top: 0;
}
.km-native-scrolling .km-android .km-header {
  top: auto;
  bottom: 0;
}
.km-native-scrolling .km-footer {
  position: fixed;
  bottom: 0;
}
.km-native-scrolling .km-android .km-footer {
  top: 0;
  bottom: auto;
}
.km-native-scrolling .km-badge {
  z-index: auto;
}
.km-native-scrolling .km-splitview .km-header,
.km-native-scrolling .km-splitview .km-footer,
.km-native-scrolling .km-popup.km-pane .km-header,
.km-native-scrolling .km-popup.km-pane .km-footer {
  position: absolute;
}
.km-native-scrolling .km-modalview .km-header,
.km-native-scrolling .km-modalview .km-footer {
  position: relative;
}
.km-native-scrolling .km-content {
  width: 100%;
}
.km-native-scrolling .km-shim,
.km-native-scrolling .km-popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  height: auto !important;
}
.km-native-scrolling .km-drawer {
  position: fixed;
  top: 0;
  height: 100% !important;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
}
.km-native-scrolling > .km-pane > .km-loader {
  position: fixed;
  top: 50%;
  margin-top: -2em;
}
.km-native-scrolling .km-header,
.km-native-scrolling .km-footer {
  z-index: 2;
}
/* Disabled states */
.km-state-disabled {
  opacity: 0.5;
}
.km-ios7 {
  font: normal 1em "HelveticaNeue Ultra Light", "Roboto Light", "Slate Light", "Segoe WP", NokiaPureTextLight, sans-serif;
}
/* override transform options for performance */
.km-root .km-ios7.km-pane,
.km-root .km-ios7 .km-view,
.km-root .km-ios7 .km-slider,
.km-root .km-ios7 .km-switch,
.km-root .km-ios7 .km-group-title,
.km-root .km-ios7 .km-filter-reset,
.km-root .km-ios7 .km-shim .k-animation-container {
  -webkit-transform: none;
}
.km-ios7 .km-navbar,
.km-ios7 .k-toolbar,
.km-ios7 .km-tabstrip {
  background-clip: border-box;
}
.km-ios7 .km-view:not([data-use-native-scrolling]),
.km-ios7 .km-splitview {
  overflow: hidden;
}
.km-ios7 .km-view:not([data-use-native-scrolling]) .km-content {
  overflow: visible !important;
}
.km-ios7,
.km-ios7 * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: content-box;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}
/* Revert box/clip for Web widgets */
.km-ios7 [class^=k-],
.km-ios7 .k-calendar th,
.km-ios7 .k-calendar td {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}
.km-ios7.km-on-android * {
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}
.km-ios7 .km-navbar,
.km-ios7 .k-toolbar,
.km-ios7 .km-tabstrip {
  border-style: solid;
  border-width: 0 0 1px;
}
.km-ios7 .km-footer .km-navbar,
.km-ios7 .km-footer .k-toolbar,
.km-ios7 .km-tabstrip {
  border-width: 1px 0 0;
}
.km-ios7 .km-navbar,
.km-ios7 .k-toolbar,
.km-ios7 .km-tabstrip,
.km-ios7 .km-tabstrip .km-button {
  border-radius: 0;
}
/* PopUp + ActionSheet */
.km-ios7 .km-actionsheet,
.km-ios7 .km-popup .k-popup {
  background: transparent;
  padding: 0 .5em;
}
.km-ios7 .km-popup .k-popup {
  font-size: 1em;
}
.km-ios7 .km-popup .k-item,
.km-ios7 .km-actionsheet > li > a {
  font-size: 1.3em;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  padding: .3em 0;
  border: 0;
  border-radius: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-ios7 .km-popup {
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-ios7 .km-popup .k-list-container {
  width: 100% !important;
  height: auto !important;
}
.km-ios7 .km-actionsheet,
.km-ios7 .km-popup .k-list-container {
  max-height: 80%;
}
.km-ios7 .km-actionsheet-wrapper,
.km-ios7 .km-popup .k-list-container {
  background: transparent;
  bottom: 0;
  border: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-ios7 .km-popup .k-item:last-child,
.km-ios7 .km-actionsheet > li:last-child > a {
  border: 0;
}
.km-ios7 .km-shim .k-animation-container {
  left: 0;
  top: auto;
  bottom: 0;
}
.km-ios7 .km-popup .k-item:first-child,
.km-ios7 .km-actionsheet > li:nth-child(2) > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.km-ios7 .km-popup .k-item:last-child,
.km-ios7 .km-actionsheet > li:nth-last-child(2) > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.km-ios7 .km-popup .k-item:last-child {
  margin: 0 0 .5em;
}
.km-ios7 .km-popup-wrapper {
  padding: 15px;
}
.km-ios7 .km-actionsheet-wrapper.km-popup {
  padding: 2px 0;
}
/* Loader */
.km-ios7.km-pane > .km-loader,
.km-ios7 .km-pane > .km-loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.km-ios7 .km-loader:before {
  content: "\a0";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.km-ios7 .km-load-more,
.km-ios7 .km-scroller-pull {
  font-size: 1em;
}
.km-ios7 .km-scroller-pull {
  opacity: .5;
}
.km-ios7 .km-list > .km-load-more {
  border-top: 0;
}
.km-ios7 .km-loader h1,
.km-ios7 .km-scroller-refresh .km-template {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2em;
}
.km-ios7 .km-scroller-pull .km-template {
  min-width: 0;
}
.km-ios7 .km-loading,
.km-ios7 .km-loader .km-loading-left,
.km-root .km-ios7 .km-load-more.km-scroller-refresh .km-icon,
.km-root .km-ios7 .km-scroller-pull.km-scroller-refresh .km-icon,
.km-ios7 .km-scroller-refresh .km-loading-left {
  display: inline-block;
  top: auto;
  left: auto;
  width: 8px;
  height: 2px;
  font-size: 1em;
  margin: 0;
  border: 0;
  border-radius: 5px;
  vertical-align: middle;
  -webkit-transform-origin: 150% 50%;
  -moz-transform-origin: 150% 50%;
  -ms-transform-origin: 150% 50%;
  -o-transform-origin: 150% 50%;
  transform-origin: 150% 50%;
  background: currentcolor;
  animation: km-ios-spin 1.5s infinite steps(8);
  -moz-animation: km-ios-spin 1.5s infinite steps(8);
  -webkit-animation: km-ios-spin 1.5s infinite steps(8);
  box-shadow: 16px 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 16px 0 rgba(0, 0, 0, 0.6);
}
.km-ios7 .km-loading,
.km-ios7 .km-loader .km-loading-left {
  margin: 2px 0 0;
}
.km-ios7 .km-loading:before,
.km-ios7 .km-loading:after,
.km-ios7 .km-load-more.km-scroller-refresh .km-icon:after,
.km-ios7 .km-load-more.km-scroller-refresh .km-icon:before,
.km-ios7 .km-scroller-pull.km-scroller-refresh .km-icon:after,
.km-ios7 .km-scroller-pull.km-scroller-refresh .km-icon:before {
  color: inherit;
  content: "\a0";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 0;
  margin-top: 0;
  -webkit-transform-origin: inherit;
  -moz-transform-origin: inherit;
  -ms-transform-origin: inherit;
  -o-transform-origin: inherit;
  transform-origin: inherit;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: inherit;
  box-shadow: 16px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 16px 0 rgba(0, 0, 0, 0.5);
}
.km-ios7 .km-loading:after,
.km-ios7 .km-load-more.km-scroller-refresh .km-icon:after,
.km-ios7 .km-scroller-pull.km-scroller-refresh .km-icon:after {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  box-shadow: 16px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 16px 0 rgba(0, 0, 0, 0.4);
}
.km-ios7 .km-loader .km-loading-left,
.km-ios7 .km-scroller-refresh .km-loading-left {
  margin-left: -8px;
  box-shadow: 16px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 16px 0 rgba(0, 0, 0, 0.3);
  animation: km-ios-spin1 1.5s infinite steps(8);
  -moz-animation: km-ios-spin1 1.5s infinite steps(8);
  -webkit-animation: km-ios-spin1 1.5s infinite steps(8);
}
.km-ios7 .km-loading-left:after,
.km-ios7 .km-loading-left:before,
.km-ios7 .km-loading-right {
  display: none;
}
.km-ios7 .km-loading,
.km-ios7 .km-loading:after,
.km-ios7 .km-loading:before {
  color: black;
}
.km-ios7 .km-loading:before {
  color: rgba(0, 0, 0, 0.9);
}
.km-ios7 .km-loading:after {
  color: rgba(0, 0, 0, 0.8);
}
.km-ios7 .km-loading-left {
  color: rgba(0, 0, 0, 0.7);
}
/* Color Template */
.km-ios7 .km-navbar,
.km-ios7 .k-toolbar,
.km-ios7 .km-tabstrip {
  background-color: rgba(244, 244, 244, 0.95);
}
.km-ios7,
.km-ios7.km-pane .km-content {
  color: #000000;
  background-color: #ffffff;
}
.km-ios7 .km-splitview > .km-pane:first-child {
  border-right-color: rgba(180, 180, 180, 0.5);
}
/* NavBar */
.km-ios7 .km-navbar,
.km-ios7 .k-toolbar,
.km-ios7 .km-tabstrip {
  border-color: rgba(180, 180, 180, 0.5);
}
.km-ios7 .km-view-title {
  color: #000000;
}
/* Button */
.km-ios7 .km-button {
  background: rgba(0, 0, 0, 0);
}
.km-ios7 .km-state-active[style*=background] {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}
.km-ios7 .km-back:before {
  -webkit-box-shadow: inset 0.25rem -0.25rem 0 #007aff;
  box-shadow: inset 0.25rem -0.25rem 0 #007aff;
}
.km-ios7 .km-detail {
  color: #007aff;
  background-color: #ffffff;
}
.km-ios7 .km-detail:active,
.km-ios7 .km-state-active .km-detail {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
}
.km-ios7 .km-detail.km-rowinsert {
  color: green;
}
.km-ios7 .km-detail.km-rowdelete {
  color: red;
}
/* Switch */
.km-ios7 .km-switch-wrapper {
  background-color: #bababa;
}
.km-ios7 .km-switch-background,
.km-ios7 .k-slider-selection {
  background-image: linear-gradient("webkit", top #ffffff #ffffff);
  background-image: linear-gradient("blink", top #ffffff #ffffff);
  background-image: linear-gradient("moz", top #ffffff #ffffff);
  background-image: linear-gradient("ms", top #ffffff #ffffff);
  background-image: linear-gradient("o", top #ffffff #ffffff);
}
.km-ios7 .km-switch-handle {
  background: #ffffff;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4), 0 0 0 1px currentcolor;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4), 0 0 0 1px currentcolor;
}
.km-ios7 .km-switch-off .km-switch-handle {
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4), 0 0 0 1px #ffffff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4), 0 0 0 1px #ffffff;
}
.km-ios7 .km-switch-container,
.km-ios7 .km-switch-wrapper {
  border-color: #efeff4;
}
/* Slider */
.km-ios7 .k-slider .k-draghandle,
.km-ios7 .k-slider .k-draghandle:hover {
  box-shadow: 0 5px 5px #d9d9d9, inset 0 0 0 1px rgba(180, 180, 180, 0.5);
}
.km-ios7 .k-slider-track {
  background-color: #bababa;
}
/* ListView */
.km-ios7 .km-list > li {
  color: #000000;
  border-top-color: rgba(180, 180, 180, 0.5);
  border-image: -webkit-linear-gradient(left, transparent 1em, rgba(180, 180, 180, 0.5) 1em, rgba(180, 180, 180, 0.5) 100%) 1 stretch;
  border-image: -moz-linear-gradient(left, transparent 1em, rgba(180, 180, 180, 0.5) 1em, rgba(180, 180, 180, 0.5) 100%) 1 stretch;
  border-image: -ms-linear-gradient(left, transparent 1em, rgba(180, 180, 180, 0.5) 1em, rgba(180, 180, 180, 0.5) 100%) 1 stretch;
}
.km-ios7 .km-list > li:last-child {
  box-shadow: inset 0 -1px 0 rgba(180, 180, 180, 0.5);
  -webkit-box-shadow: inset 0 -1px 0 rgba(180, 180, 180, 0.5);
}
.km-ios7 .km-listview-link:after {
  color: #999ea9;
  -webkit-box-shadow: inset -0.2rem 0.2rem 0 #999ea9;
  box-shadow: inset -0.2rem 0.2rem 0 #999ea9;
}
.km-ios7 .km-group-title {
  color: rgba(104, 104, 104, 0.5);
  border-bottom-color: rgba(180, 180, 180, 0.5);
  background: #efeff4;
}
.km-ios7 .km-listgroup .km-group-title,
.km-ios7 .km-listgroupinset .km-group-title {
  border-top-color: #efeff4;
}
.km-ios7 .km-filter-form {
  color: #efeff4;
  background-image: linear-gradient("webkit", top rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("blink", top rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("moz", top rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("ms", top rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.3));
  background-image: linear-gradient("o", top rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.3));
}
.km-ios7 .km-filter-wrap > input {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
}
.km-ios7 .km-filter-wrap:before,
.km-ios7 .km-filter-reset .km-clear {
  color: rgba(0, 0, 0, 0.4);
}
/* Scroller */
.km-ios7 .km-touch-scrollbar {
  background-color: #919191;
}
/* Shim */
.km-ios7 .km-shim,
.km-ios7 .km-popup-overlay {
  background: rgba(0, 0, 0, 0.4);
}
/* PopUp */
.km-ios7 .km-popup .k-item,
.km-ios7 .km-actionsheet > li > a,
.km-ios7 .k-overflow-container a.km-state-disabled,
.km-ios7 .k-overflow-container .km-state-disabled:active {
  background: #f7f7f8;
  border-bottom-color: rgba(180, 180, 180, 0.5);
}
.km-ios7 .km-popup {
  background: rgba(0, 0, 0, 0.4);
}
.km-ios7 .km-popup.km-pane,
.km-tablet .km-ios7 .km-actionsheet-wrapper {
  background-color: #f7f7f8;
}
/* PopOver */
.km-ios7 .km-popup.km-pane {
  box-shadow: 0 0 0 1px rgba(180, 180, 180, 0.5);
  -webkit-box-shadow: 0 0 0 1px rgba(180, 180, 180, 0.5);
}
.km-ios7 .k-split-wrapper .km-popup,
.km-ios7 .k-overflow-wrapper .km-popup {
  box-shadow: 0 0 5px rgba(180, 180, 180, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(180, 180, 180, 0.5);
}
.km-ios7 .km-popup-arrow:after {
  border-color: #f7f7f8 transparent;
}
.km-ios7 .km-left .km-popup-arrow:after,
.km-ios7 .km-right .km-popup-arrow:after {
  border-color: transparent #f7f7f8;
}
/* Loader */
.km-ios7.km-pane > .km-loader,
.km-ios7 .km-pane > .km-loader {
  background: rgba(0, 0, 0, 0.1);
}
.km-ios7 .k-split-wrapper .km-actionsheet-wrapper,
.km-ios7 .k-overflow-wrapper .km-actionsheet-wrapper {
  background: rgba(0, 0, 0, 0.2);
}
.km-ios7 .km-loader h1,
.km-ios7 .km-scroller-refresh .km-template {
  color: #222;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.km-ios7 .km-scroller-pull .km-template {
  color: #363940;
}
/* Forms */
.km-ios7 .km-list select:not([multiple]) option {
  color: #333;
}
/* Active States */
.km-ios7 .km-badge,
.km-ios7 .k-slider .k-draghandle,
.km-ios7 .k-slider .k-draghandle:hover,
.km-ios7 .km-buttongroup .km-state-active .km-icon,
.km-ios7 .km-state-active .km-text,
.km-ios7 .km-state-active.km-detail:after,
.km-ios7 .km-state-active.km-detail .km-icon:after,
.km-ios7 .km-switch-handle.km-state-active {
  color: #ffffff;
}
.km-ios7 .km-tabstrip .km-state-active .km-text,
.km-ios7 .k-toolbar .km-state-active .km-text,
.km-ios7 .k-overflow-container .km-state-active .km-text {
  color: inherit;
}
.km-ios7 .k-slider .k-draghandle,
.km-ios7 .k-slider .k-draghandle:hover {
  background: #ffffff;
}
.km-ios7 span.km-switch {
  color: #4cda64;
}
.km-ios7 .km-badge {
  background: #fd472b;
}
.km-ios7 .km-popup .k-state-hover,
.km-ios7 .km-popup .k-state-focused,
.km-ios7 .km-popup .k-state-selected,
.km-ios7 .km-actionsheet > li > a:active,
.km-ios7 li.km-state-active .km-listview-link,
.km-ios7 li.km-state-active .km-listview-label {
  background: #d9d9d9;
}
.km-ios7 .km-tabstrip .km-button:not(.km-state-active),
.km-ios7 li.km-state-active .km-listview-link,
.km-ios7 li.km-state-active .km-listview-label {
  color: #000000;
}
.km-ios7 .k-list,
.km-ios7 .k-slider,
.km-ios7 .km-widget {
  color: #007aff;
}
/* Active States */
.km-ios7 .km-tabstrip .km-button,
.km-ios7 .km-popup .k-item,
.km-ios7 .k-slider-selection,
.km-ios7 .km-actionsheet > li > a {
  color: inherit;
}
.km-ios7 .km-state-active .km-badge {
  -webkit-text-fill-color: initial;
}
.km-ios7 .km-state-active,
.km-ios7 .k-slider-selection,
.km-ios7 .km-pages .km-current-page,
.km-ios7 .k-split-container .km-state-active,
.km-ios7 .k-overflow-container .km-state-active,
.km-ios7 .k-split-container li > a:active,
.km-ios7 .k-overflow-container li > a:active {
  background: currentcolor;
}
.km-ios7 .k-overflow-container .km-state-disabled .km-text {
  opacity: .5;
}
.km-ios7 .km-leftitem .km-button.km-state-active,
.km-ios7 .km-rightitem .km-button.km-state-active {
  background: none;
  opacity: .4;
}
.km-ios7 .k-toolbar > .km-state-active,
.km-ios7 .k-toolbar .k-split-button .km-state-active {
  background: none;
  text-shadow: .5px 0 1px currentcolor;
  -webkit-text-fill-color: initial;
}
.km-root .km-ios7 .k-toolbar .km-state-disabled {
  text-shadow: none;
}
/* transitions */
.km-root .km-ios7.k-fx-slide {
  /* left reverse */
  /* right */
}
.km-root .km-ios7.k-fx-slide.k-fx-end .k-fx-current .km-content {
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  transform: translatex(-50%);
  -webkit-filter: brightness(70%);
}
.km-root .km-ios7.k-fx-slide.k-fx-reverse.k-fx-end .k-fx-next {
  box-shadow: none;
}
.km-root .km-ios7.k-fx-slide.k-fx-reverse.k-fx-end .k-fx-current .km-content {
  -webkit-transform: translatex(100%);
  -moz-transform: translatex(100%);
  -ms-transform: translatex(100%);
  -o-transform: translatex(100%);
  transform: translatex(100%);
  -webkit-filter: none;
}
.km-root .km-ios7.k-fx-slide.k-fx-reverse.k-fx-start .k-fx-next .km-content {
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  transform: translatex(-50%);
  -webkit-filter: brightness(70%);
}
.km-root .km-ios7.k-fx-slide.k-fx-right {
  /* right reverse */
}
.km-root .km-ios7.k-fx-slide.k-fx-right.k-fx-end .k-fx-current .km-content {
  -webkit-transform: translatex(50%);
  -moz-transform: translatex(50%);
  -ms-transform: translatex(50%);
  -o-transform: translatex(50%);
  transform: translatex(50%);
}
.km-root .km-ios7.k-fx-slide.k-fx-right.k-fx-reverse.k-fx-end .k-fx-current .km-content {
  -webkit-transform: translatex(-100%);
  -moz-transform: translatex(-100%);
  -ms-transform: translatex(-100%);
  -o-transform: translatex(-100%);
  transform: translatex(-100%);
  -webkit-filter: none;
}
.km-root .km-ios7.k-fx-slide.k-fx-right.k-fx-reverse.k-fx-start .k-fx-next .km-content {
  -webkit-transform: translatex(50%);
  -moz-transform: translatex(50%);
  -ms-transform: translatex(50%);
  -o-transform: translatex(50%);
  transform: translatex(50%);
}
/* Switch */
.km-ios7 .km-switch {
  width: 3.6rem;
  height: 2.2rem;
  overflow: visible;
}
.km-ios7 .km-switch-wrapper {
  overflow: hidden;
}
.km-ios7 .km-switch-background,
.km-ios7 .k-slider-selection {
  background-position: 4.25em 0;
  background-repeat: no-repeat;
  background-color: currentcolor;
  margin-left: -3.4rem;
}
.km-ios7 .km-switch-container {
  overflow: visible;
  border-width: 0;
  padding: 0 0 0 1px;
}
.km-ios7 .km-switch-handle {
  width: 2.2em;
  -webkit-transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  -ms-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear;
  margin: 0 3px 0 0;
}
.km-ios7 .km-switch-handle.km-state-active {
  width: 2.6em;
}
.km-ios7 .km-switch-label-on,
.km-ios7 .km-switch-label-off {
  display: none;
}
.km-ios7 .km-switch-handle,
.km-ios7 .km-switch-wrapper,
.km-ios7 .km-switch-container,
.km-ios7 .km-switch-background {
  border-radius: 3em;
}
.km-ios7 .km-switch-container,
.km-ios7 .km-switch-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  background-clip: content-box;
}
.km-ios7 .km-switch-on .km-switch-container {
  border-color: currentcolor;
}
