<table class="well well-large">
  <thead>
    <tr class="text-center">
      <th><button class="btn pull-left" ng-click="move(-1)"><i class="fa-icon-chevron-left"></i></button></th>
      <th colspan="{{rows[0].length - 2 + showWeekNumbers}}"><button class="btn btn-block" ng-click="toggleMode()"><strong>{{title}}</strong></button></th>
      <th><button class="btn pull-right" ng-click="move(1)"><i class="fa-icon-chevron-right"></i></button></th>
    </tr>
    <tr class="text-center" ng-show="labels.length > 0">
      <th ng-show="showWeekNumbers">#</th>
      <th ng-repeat="label in labels">{{label}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in rows">
      <td ng-show="showWeekNumbers" class="text-center"><em>{{ getWeekNumber(row) }}</em></td>
      <td ng-repeat="dt in row" class="text-center">
        <button style="width:100%;" class="btn" ng-class="{'btn-info': dt.isSelected}" ng-click="select(dt.date)" ng-disabled="dt.disabled"><span ng-class="{muted: ! dt.isCurrent}">{{dt.label}}</span></button>
      </td>
    </tr>
  </tbody>
</table>
